<div class="container mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <form [formGroup]="extendDurationNamespaceForm" (ngSubmit)="extendDuration()">
    <div class="row ">
      <div class="col-11 col-lg-8 mb-2rem mt-1rem">
        <div class="row">
          <!-- MSG ERROR INSUFFICIENT BALANCE -->
          <div class="col-11 mb-1rem mx-auto box-transparent-border-red" *ngIf="insufficientBalance">
            <div class="txt-a-center">
              <img src="assets/images/img/icon-restriction-white.svg" style="filter: invert(50%)" alt="" width="30">
            </div>
            <p class="fs-08rem txt-a-center mt-05rem mb-0 lh-1-1em">
              Insufficient balance.
            </p>
          </div>
        </div>

        <!-- MSG ERROR NOT HAVE NAMESPACE -->
        <div class="row">
          <div class="col-11 mb-1rem mx-auto box-transparent-border-red mb-1rem"
            *ngIf="noNamespace && !insufficientBalance">
            <div class="txt-a-center">
              <img src="assets/images/img/icon-restriction-white.svg" style="filter: invert(50%)" alt="" width="30">
            </div>
            <p class="fs-08rem txt-a-center mt-05rem mb-0 lh-1-1em">
              This account has not created any namespaces.
            </p>
          </div>
        </div>

        <!-- SELECT ACCOUNT -->
        <ng-container *ngIf="showSelectAccount">
          <app-select-account class="mb-2rem" [publicKeyToSelect]="accountToSelect"
            (accountDebitFunds)="selectAccountDebitFunds($event)" (cosignatoryEvent)="selectCosignatory($event)"
            (isMultisgEvent)="isMultisig = $event"></app-select-account>
        </ng-container>

        <!-- SELECT  NAMESPACE-->
        <div class="row">
          <div class="col-11 mx-auto">
            <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [searchable]="false"
              [validateError]="true" class="selectWrapper" [items]="arrayselect" formControlName="namespaceRoot"
              bindLabel="label" bindValue="value" placeholder="Select Namespace" (change)="optionSelected($event)">
            </ng-select>
            <mdb-error class="ml-1rem mt-05rem"
              *ngIf="validateInput('namespaceRoot').invalid && (validateInput('namespaceRoot').dirty || validateInput('namespaceRoot').touched)">
              <span>Select Namespace</span>
            </mdb-error>
          </div>
        </div>

        <!-- DURATION -->
        <div class="row">
          <div class="col-11 mx-auto">
            <div class="md-form form-sm">
              <img class="form-control-feedback"
                src="assets/images/img/icon-duration-green-16h-proximax-sirius-wallet.svg" alt="">
              <input mask="0*" formControlName="duration" required mdbInputDirective mdbValidate autocomplete="off"
                [validateSuccess]="true" [validateError]="true" type="text" id="duration"
                class="form-control form-control-sm input-border txt-a-right" placeholder=""
                (keyup)="limitDuration($event)">
              <span class="label-i-icon pl-2rem">Duration (number of days)</span>
              <!-- VALIDATION -->
              <mdb-error
                *ngIf="validateInput('duration', '').invalid && (validateInput('duration', '').dirty || validateInput('duration', '').touched)">
                <span class="fs-08rem fw-600 color-error-message">Required Field</span>
              </mdb-error>
              <mdb-error *ngIf="exceededDuration">
                <span class="fs-08rem fw-600 color-error-message">Duration Exceeded</span>
              </mdb-error>

              <mdb-error
                *ngIf="!exceededDuration && validateInput('duration', '').valid && insufficientBalanceDuration">
                <span class="fs-08rem fw-600 color-error-message">Insufficient balance</span>
              </mdb-error>
            </div>
          </div>
        </div>

        <!-- FEE & RENTAL FEE -->
        <div class="row">
          <div class="col-11 mx-auto">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" width="20"
                alt="">&nbsp;
              <span class="fs-08rem">
                Unconfirmed/Recommended Fee:&nbsp;
                <a [innerHTML]="getQuantity(fee)"></a> XPX
              </span>
            </div>
          </div>

          <div class="col-11 mx-auto">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" width="20"
                alt="">&nbsp;
              <span class="fs-08rem">
                Rental Fee:&nbsp;
                <a [innerHTML]="getQuantity(calculateRentalFee)"></a> XPX
              </span>
            </div>
          </div>

          <div class="col-11 mx-auto" *ngIf="isMultisig">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12 d-flex align-items-center">
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg"
                    width="20" alt="">&nbsp;

                  <span class="fs-08rem">
                    LockFund:&nbsp;
                    <a [innerHTML]="getQuantity('10.000000')"></a> XPX <br>

                    Unconfirmed/Recommended Fee:&nbsp;
                    <a [innerHTML]="getQuantity('0.044500')"></a> XPX
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- PASSWORD -->
        <div class="row">
          <div class="col-11 mx-auto">
            <div class="md-form form-sm">
              <img class="form-control-feedback"
                src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
              <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
              <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
              <input [maxlength]="configurationForm.passwordWallet.maxLength"
                [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" required
                mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" [type]="passwordMain"
                id="password" class="form-control form-control-sm input-border" placeholder="Enter Wallet Password">

              <!-- VALIDATION -->
              <mdb-error
                *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                <span>Password Required</span>
              </mdb-error>
            </div>
          </div>
        </div>

        <!-- BUTTONS -->
        <div class="row">
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
            <button [disabled]="insufficientBalance" mdbBtn type="button" rounded="true" mdbWavesEffect
              class="btn-proximax" size="md" (click)="clearForm()">
              <span class="fs-1-2em color-white">Clear</span>
            </button>
          </div>

          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
            <button mdbBtn type="submit" rounded="true" [disabled]="insufficientBalanceCosignatory || noNamespace || extendDurationNamespaceForm.invalid || insufficientBalance ||
            insufficientBalanceDuration || exceededDuration || invalidDuration" mdbWavesEffect class="btn-proximax"
              size="md">
              <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                *ngIf="blockBtnSend"></span>
              <span class="fs-1-2em color-white">Create</span>
            </button>
          </div>
        </div>
      </div>

      <!-- Start block, Current block, End block -->
      <div class="col-11 col-lg-4 description-p-module mt-1-5rem mb-2rem">
        <div class="row">
          <!-- Start block  -->
          <div class="col-4">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <img class="form-control-feedback" src="assets/images/img/icon-namespace-mosaic-duration-01.svg" alt=""
                  style="width: 80px;">
              </div>

              <div class="col-12 d-flex justify-content-center overflow-ellipsis-nowrap" style="padding-top: 70px;">
                <span class="description-information">Start block:</span>
              </div>

              <div class="col-12 d-flex justify-content-center">
                <span class="description-information">{{startHeight}}</span>
              </div>
            </div>
          </div>

          <!-- Current Block -->
          <div class="col-4">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <img class="form-control-feedback" src="assets/images/img/icon-namespace-mosaic-duration-02.svg" alt=""
                  style="width: 80px">
              </div>
              <div class="col-12 d-flex justify-content-center overflow-ellipsis-nowrap" style="padding-top: 70px;">
                <span class="description-information">Current block:</span>
              </div>
              <div class="col-12 d-flex justify-content-center">
                <span class="description-information">{{block}}</span>
              </div>
            </div>
          </div>

          <!-- End block  -->
          <div class="col-4">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <img class="form-control-feedback" src="assets/images/img/icon-namespace-mosaic-duration-03.svg" alt=""
                  style="width: 80px">
              </div>
              <div class="col-12 d-flex justify-content-center overflow-ellipsis-nowrap" style="padding-top: 70px;">
                <span class="description-information">End block:</span>
              </div>
              <div class="col-12 d-flex justify-content-center">
                <span class="description-information">{{endHeight}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
