<app-header [params]="paramsHeader"></app-header>

<div class="container mt-3rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-1-7rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{title}}</span>
    </div>
    <div class="col-11 col-md-10 mx-auto">
      <hr class="mt-05rem mb-1rem">
    </div>
    <div class="col-12 d-flex justify-content-center mb-1rem">
      <span class="fs-08rem txt-a-center line-h-1-2em ">{{description}}</span>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-8 d-flex justify-content-center mx-auto"> -->
  <!-- BOX LIST WALLETS -->
  <div class="row">
    <ng-container *ngFor="let wallet of wallets">
      <div class="col-11 col-sm-10 col-md-9 col-lg-8 mx-auto box-list-account-gray fs-08rem pb-1rem">
        <div class="row">
          <!-- {{wallet}} -->
          <div class="col-12 col-sm-10 col-md-9 col-lg-10 col-xl-10 text-center text-sm-left pt-1rem w-b-a">
            Name: <span class="fw-bold">{{wallet.name}}</span><br>
            Accounts: <span class="fw-bold">{{wallet.accounts.length}}</span>
          </div>
          <div class="col-12 col-sm-2 col-md-3 col-lg-2 col-xl-2 d-flex align-items-center
                             justify-content-center
                              justify-content-sm-end
                              justify-content-md-end
                            justify-content-lg-end
                             justify-content-xl-end pt-1rem">
            <!-- Delete-->
            <img src="assets/images/img/icon-wallet-export-blue.svg" class="cursor-p" width="40"
              title=" Export" (click)="exportWallet(wallet)">
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>