<div class="mt-3rem mb-3rem animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 mx-auto">
        <mdb-card>
          <mdb-card-header class="background-proxiwallet white-text text-align-center py-4">
            <img src="assets/images/logo/ProximaX-logotype.png" style="width: 150px;">
          </mdb-card-header>

          <ng-container >
            <mdb-card-body class="px-lg-5 backg-beige">

              <div class="row">
                <div class="col-xs-12 col-sm-6  col-md-6 col-lg-6">

                      <!-- Password -->
                      <div class="md-form mt-5" >
                        <i class="fa fa-user prefix text-gris"></i>
                        <input type="password" autocomplete="off"  required  id="password" class="form-control" mdbInputDirective >
                        <label for="password">password</label>
                      </div>

                      <!-- Tags -->
                      <div class="md-form mt-5">
                        <i class="fa fa-user prefix text-gris"></i>
                        <input type="text" autocomplete="off" required  id="password" class="form-control" mdbInputDirective >
                        <label for="password">Tags</label>
                      </div>

                      <!--  Hash Function -->

                      <div class="md-form  mt-5">
                      <i class="fa fa-user prefix text-gris"></i>
                      <mdb-select [options]="optionsCrypto" placeholder="Hash Function"   class="colorful-select dropdown-default"  ></mdb-select>

                      </div>
                    <!--  Storage -->

                    <div class="md-form  mt-5">
                      <i class="fa fa-user prefix text-gris"></i>
                      <mdb-select [options]="optionsStorage" placeholder=" "   class="colorful-select dropdown-default"  ></mdb-select>

                    </div>
                  <div class="mt-4rm">
                    <div class="row ">
                      <div class="mx-auto">
                        <div class="row">
                          <div class="col-xs-12">
                            <button mdbBtn type="button" color="default" rounded="true" class="waves-light" mdbWavesEffect type="submit">Send</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



              </div>

              <div class="col-xs-12 col-sm-6  col-md-6 col-lg-6  ">
                <!-- Nav tabs -->
                <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-4 background-proxiwallet white mb-2'" [contentClass]="'card'">
                  <!--Panel 1-->
                  <mdb-tab heading="<i class='fa fa-copy fa-1x'></i>">
                    <div class="row">
                      <div class="col-12 align-self-center">
                        <div class="box text-align-center ">
                          <button (click)="openInput()"  mdbBtn type="button" size="lg"  color="default" outline="true" mdbWavesEffect><mdb-icon icon="cloud-upload" size="5x" class="mr-1"></mdb-icon></button>
                          <input id="fileInput" [hidden]="true" type="file"    (change)="fileChange($event.target.files,$event)">
                        </div>


                        <div class="box text-align-center ">
                          <p class="box" id="nameFile"> {{nameFile}} </p>
                        </div>
                      </div>
                    </div>
                  </mdb-tab>
                  <!--Panel 2-->
                  <mdb-tab heading="<i class='fa fa-edit fa-1x'></i>">
                    <div class="row">
                      <div class="col-12">

                        <!-- Document titlle -->
                        <div class="md-form mt-5">
                          <i class="fa fa-user prefix text-gris"></i>
                          <input type="text" autocomplete="off" required  id="password"  placeholder="Document titlle" class="form-control" mdbInputDirective >
                          <label for="password">Document titlle</label>
                        </div>

                        <!-- Document titlle -->
                        <div class="md-form mt-5">
                          <i class="fa fa-pencil prefix"></i>
                          <textarea type="text" id="form8" class="md-textarea form-control" mdbInputDirective></textarea>
                          <label for="form8">Icon Prefix</label>
                        </div>


                      </div>
                    </div>
                  </mdb-tab>


                </mdb-tabset>

              </div>


              </div>




            </mdb-card-body>
          </ng-container>


        </mdb-card>
      </div>
    </div>
  </div>
</div>
