<header>
  <mdb-side-nav #sidenav class="background-header" [fixed]="false">
    <mdb-navbar-brand>
      <li>
        <div class="logo-wrapper waves-light">
          <a href="#">
              <img src="assets/images/logo/logo-white.png" class="img-my-header">
          </a>
        </div>
      </li>
    </mdb-navbar-brand>
    <links>
      <li>
        <app-header-vertical [header]=verticalHeader [showMenu]=showOnlyLogged (logout)="logout($event)"></app-header-vertical>
      </li>
    </links>
    <div class="sidenav-bg mask-strong"></div>
  </mdb-side-nav>
  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav z-depth-0 background-header-inverse"
    [containerInside]="false">
    <navlinks class="navbar-container">
      <div class="float-left">
        <a (click)="sidenav.show()" class="button-collapse hidden-nav-button-collapse color-text-gris">
            <i class="fa fa-bars"></i>
        </a>
      </div>
    </navlinks>
    <mdb-navbar-brand>
      <div class="breadcrumbs breadcrumbs-hidden-nav breadcrumb-dn mr-auto">
        <img src="assets/images/logo/logo.png" style="width: 130px;">
      </div>
    </mdb-navbar-brand>
    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav">
        <app-header-horizontal [header]=horizontalHeader [showMenu]=showOnlyLogged (logout)="logout($event)"></app-header-horizontal>
      </ul>
    </navlinks>
  </mdb-navbar>
</header>

<div class="row-fluid">
  <div class="route-name background-header"> {{nameRoute}} </div>
</div>
