<mat-toolbar class="background-banner">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" fxShow="true" fxHide.gt-sm>
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>Responsive Navigation</span>
    <span class="example-spacer"></span>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex fxShow="true" fxHide.lt-md="true">
      <a href="#" [routerLink]="'/login'" mat-button>
        <mat-icon>lock_open</mat-icon>
        INGRESAR
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

