  <!-- Footer -->
  <footer class="page-footer font-small ">
    <div class="wrapper">
      <!-- Footer Links -->
      <div class="container-fluid">
        <!-- Grid row-->
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
          <!-- Grid column -->
          <div class="col-md-8 col-12 mt-5">
            <p style="line-height: 1.7rem">
              Note: Wallet is still in early phase development. Please report issues
              <a
                href="https://trello.com/invite/b/nVu5ZxqN/e5dad0a439548aa226a61b2c14c5eebb/proximaxtestnetwallet">here</a>.
              All services does not require fees at the moment. Make sure to clear cache or launch in Incognito/Private
              browsing mode.
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <a href="https://mdbootstrap.com/education/bootstrap/">© ProximaX </a>2019
      </div>
      <!-- Copyright -->
    </div>
  </footer>
  <!-- Footer -->
