<div class="container mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <form [formGroup]="contactForm" (ngSubmit)="saveContact()">

    <div class="row">
      <div class="col-11 col-sm-10 col-lg-8 mx-auto">
        <div class="md-form form-sm">
          <input formControlName="user" required mdbInputDirective mdbValidate [validateSuccess]="true"
            [validateError]="true" type="text" id="user" maxlength="30" class="form-control form-control-sm input-border"
            placeholder="Name">

          <!-- VALIDATION -->
          <mdb-error
            *ngIf="validateInput('user', '').invalid && (validateInput('address', '').dirty || validateInput('address', '').touched)">
            <span>Input invalid</span>
          </mdb-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-11 col-sm-10 col-lg-8 mx-auto">
        <div class="md-form form-sm">
          <input formControlName="address" required mdbInputDirective mdbValidate [validateSuccess]="true"
            [validateError]="true" type="text" id="address" maxlength="46" class="form-control form-control-sm input-border"
            placeholder="address">

          <!-- VALIDATION -->
          <mdb-error
            *ngIf="validateInput('address', '').invalid && (validateInput('address', '').dirty || validateInput('address', '').touched)">
            <span>Input invalid</span>
          </mdb-error>
          <mdb-error *ngIf="msgErrorUnsupported !== ''">
            <span>{{msgErrorUnsupported}}</span>
          </mdb-error>
        </div>
      </div>
    </div>
    <!-- BUTTONS -->
    <div class="row">
      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
        <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
          size="md" (click)="clearForm()">
          <span class="fs-1-2em color-white">CLEAR</span>
        </button>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
        <button mdbBtn type="submit" rounded="true" mdbWavesEffect [disabled]="blockSendButton || !contactForm.valid"
          class="f-w-600 background-btn pl-2rem pr-2rem" size="md">
          <span class="fs-1-2em color-white">SAVE</span>
        </button>
      </div>
    </div>
  </form>

</div>