<div class="container mt-3rem mb-1rem animated fadeIn">
  <div class="row">
    <div class="col-12 col-md-6 col-sm-12 d-flex align-items-end">
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey">{{params.moduleName}}&nbsp;</span>
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey">></span>
      <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">&nbsp;{{params.componentName}}</span>
    </div>

    <div class="col-12 col-md-6 col-sm-12 d-flex justify-content-start justify-content-md-end">
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey option">Option >&nbsp;</span>
      <span class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">
        <a class="color-blue-intermedio" [routerLink]="[params.routerExtraButton]" *ngIf="params.extraButton">
          <span>{{params.extraButton}}</span>
        </a>
      </span>
      <span class="pr-1rem-left-right">
        <div class="line-separator h-100porcent"></div>
      </span>
      <span class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">
        <a  class="color-blue-intermedio" [routerLink]="[goBack]">
          <span>Back to Services</span>
        </a>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class="mt-03rem mb-05rem">
    </div>
  </div>
</div>