<div class="container mt-3rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-1-7rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{title}}</span>
    </div>
    <div class="col-11 col-md-10 mx-auto">
      <hr class="mt-05rem mb-06rem">
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-08rem txt-a-center line-h-1-2em">{{description}}</span>
    </div>
  </div>


  <form [formGroup]="importWalletForm" (ngSubmit)="importSimpleWallet()">
    <div class="row mt-1-5rem">
      <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" class="selectWrapper"
          [items]="typeNetwork" bindLabel="label" bindValue="value" placeholder="Select network"
          formControlName="network">
        </ng-select>
        <mdb-error class="ml-1rem"
          *ngIf="validateInput('network').invalid && (validateInput('network').dirty || validateInput('network').touched)">
          <span>Select network</span>
        </mdb-error>
      </div>
    </div>

    <div class="row">
      <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <div class="md-form form-sm mt-1rem mb-0rem">
          <input mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="text"
            id="privateKey" class="form-control form-control-sm input-border" placeholder="Private key"
            formControlName="privateKey">
          <mdb-error
            *ngIf="validateInput('privateKey').invalid && (validateInput('privateKey').dirty || validateInput('privateKey').touched)">
            <span>Input invalid</span>
          </mdb-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <div class="md-form form-sm mt-1rem mb-0rem">
          <input mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="text"
            id="name-wallet{{errorWalletExist}}" class="form-control form-control-sm input-border"
            placeholder="Wallet name" formControlName="nameWallet">
          <mdb-error
            *ngIf="validateInput('nameWallet').invalid && (validateInput('nameWallet').dirty || validateInput('nameWallet').touched)">
            <span>Input invalid</span>
          </mdb-error>

          <mdb-error *ngIf="validateInput('nameWallet').valid && validateNameWallet()">
            <span>Wallet name already exists</span>
          </mdb-error>
          <!-- <mdb-success *ngIf="input.valid && (input.dirty || input.touched)">Input valid</mdb-success> -->
        </div>
      </div>
    </div>

    <div formGroupName="passwords">
      <div class="row">
        <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 mx-auto">
              <div class="md-form form-sm mt-1rem mb-0rem">
                <input formControlName="password" mdbInputDirective mdbValidate [validateSuccess]="true"
                  [validateError]="true" type="password" id="password{{errorMatchPassword}}"
                  class="form-control form-control-sm input-border" placeholder="Password">

                <!-- VALIDATION -->
                <mdb-error *ngIf="
                validateInput('password', 'passwords').invalid &&
                (validateInput('password', 'passwords').dirty || validateInput('password', 'passwords').touched)">
                  <span>Input invalid</span>
                </mdb-error>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mx-auto">
              <div class="md-form form-sm mt-1rem mb-0rem">
                <input formControlName="confirm_password" mdbInputDirective mdbValidate [validateSuccess]="true"
                  [validateError]="true" type="password" id="confirm-password{{errorMatchPassword}}"
                  class="form-control form-control-sm input-border" placeholder="Confirm password">

                <!-- VALIDATION -->
                <mdb-error
                  *ngIf="
                  validateInput('confirm_password', 'passwords').invalid &&
                  (validateInput('confirm_password', 'passwords').dirty || validateInput('confirm_password', 'passwords').touched)">
                  <span>Input invalid</span>
                </mdb-error>

                <mdb-error *ngIf="validateMatchPassword()">
                  <span>Password doesn't match</span>
                </mdb-error>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto box-grey">
        <span class="fs-075rem">
          <input type="checkbox">
          The private key provided belongs to an account in nem.
        </span>
      </div>
    </div>

    <div class="row mt-2rem">
      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
        <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
          size="md" (click)="clearForm()">
          <span class="fs-1-2em color-white">CLEAR</span>
        </button>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
        <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
          size="md" (click)="spinnerVisibility = true">
          <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
            *ngIf="spinnerVisibility"></span>
          <span class="fs-1-2em color-white">CREATE</span>
        </button>
      </div>
    </div>
  </form>
</div>
