<div class="container mt-1-5rem mb-2rem animated fadeIn">
  <div class="row">
    <ng-container *ngFor="let item of objectKeys(servicesList)">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3rem">
        <!-- Icon and Title -->
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <img class="h-60px" src="assets/images/img/{{servicesList[item].image}}" [ngClass]="servicesList[item].className">
          </div>
          <div class="col-12 txt-a-center mt-1rem">
            <span class="fs-1rem fw-600" [ngClass]="servicesList[item].className">{{servicesList[item].title}}</span>
          </div>
        </div>

        <!-- Description -->
        <div class="row height-box-description">
          <div class="col-12 txt-a-center line-h-1em">
            <span class="fs-08rem" [ngClass]="servicesList[item].className">{{servicesList[item].description}}</span>
          </div>
        </div>
        <hr class="mb-0 mt-01rem border-hr" style="width: 50%;">
        <!-- Options -->
        <div class="dropdown  txt-a-center" mdbDropdown *ngIf="servicesList[item].viewChildren === true">
          <button mdbDropdownToggle mdbBtn color="transparent" class="dropdown-toggle waves-light" type="button"
            mdbWavesEffect style="padding: 0px; box-shadow: 0px 0px transparent;">
          </button>
          <div class="dropdown-menu row mb-1rem" style="position: absolute; left: 60px; padding: .5rem 0 .5rem 0 !important;">
            <ng-container *ngFor="let itm of objectKeys(servicesList[item]['children'])">
              <div class="col-12 txt-a-center line-h-1em">
                <a class="dropdown-item fs-075rem" [routerLink]="['/'+servicesList[item].children[itm].route]" [ngClass]="[
                servicesList[item].children[itm].show ? 'active-text cursor-p' : 'inactive-text cursor-n-a']">
                  <span class="fs-08rem">{{servicesList[item].children[itm].title}}</span>
                </a>
              </div>
            </ng-container>
          </div>
        </div>

         <!-- <ng-container *ngIf="servicesList[item].viewChildren === true">
          <div class="row mb-1rem">
            <ng-container *ngFor="let itm of objectKeys(servicesList[item]['children'])">
              <div class="col-12 txt-a-center line-h-1em">
                <hr class="mb-03rem mt-03rem border-hr">
                <a [routerLink]="['/'+servicesList[item].children[itm].route]" [ngClass]="[
                servicesList[item].children[itm].show ? 'active-text cursor-p' : 'inactive-text cursor-n-a']">
                  <span class="fs-08rem">{{servicesList[item].children[itm].title | uppercase }}</span>
                </a>
              </div>
            </ng-container>
          </div>
        </ng-container> -->
      </div>
    </ng-container>
  </div>
</div>
