<div class="container mt-3rem mb-1rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <!-- HEADER SEARCH -->
  <div class="container-fluid background-header-grey pb-1rem pt-1rem">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="row">
          <!-- SELECT -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-5 mx-auto pt-07rem">
            <div class="md-form mt-1rem mb-1rem caja-gris">
              <!-- <img class="icono" src="assets/images/img/icon-address-green-book-16h-proximax-sirius-wallet.svg" alt=""> -->
              <mdb-select placeholder="Select search type" [(ngModel)]="typeSearch" [options]="optionTypeSearch"
                required class="colorful-select dropdown-default" mdbInputDirective [validateSuccess]="false"
                [validateError]="false">
              </mdb-select>
            </div>
          </div>

          <!-- Keyword or number -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-5 mx-auto d-flex align-items-center pt-05rem">
            <input [(ngModel)]="paramSearch" type="text" autocomplete="off" id="searchTransaction" class="form-control"
              mdbInputDirective [validateSuccess]="false" [validateError]="false" placeholder="Keyword or number">
          </div>

          <div
            class="col-12 col-md-12 col-lg-2 d-flex align-items-center justify-content-center background-dark-green-plus pt-05rem">
            <button mdbBtn type="submit" rounded="true" mdbWavesEffect
              class="f-w-600 background-btn overflow-ellipsis-nowrap" size="md" (click)="searchData()">
              <span class="fs-1em color-white">SEARCH</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="searching">
    <div class="col-10 mx-auto mt-1rem">
      <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
      </mdb-progress-bar>
    </div>
  </ng-container>

  <!-- TABLE -->
  <!-- TABLE -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center mx-auto">
      <div class="datatable-style max-w-table">
        <table mdbTable #tableEl="mdbTable" mdbTableScroll scrollX="true" striped="true">
          <!-- <table mdbTable #tableEl="mdbTable" id="mdbTable" striped="true"
            class="table table-hover table-bordered table-hover table-sm z-depth-0" cellspacing="0" width="100%"
            borderless="true"> -->

          <!--Table head-->
          <thead>
            <tr class="header-backg">
              <th *ngFor="let head of headElements" scope="col" class="fs-075rem txt-a-center ">{{head}} </th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody class="background-white">
            <ng-container *ngFor="let el of elements; let i = index">
              <tr class="white-space-pre cursor-p" (click)="dataSelected = el; basicModal.show();">
                <!-- Type transaction -->
                <td class="th-sm fs-07rem" scope="row description-dark-green">
                  <ng-container *ngIf="el.nameType === 'ProximaX Swap';">
                    <span style="color: #e6b219;">
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                  </ng-container>
                  {{el.nameType}}
                </td>

                <!-- timestamp -->
                <td class="th-sm description-dark-green fs-07rem">{{el.timestamp}}</td>

                <!-- fee -->
                <td class="text-center th-sm description-dark-green fs-07rem">{{el.fee}}</td>

                <!-- address -->
                <td class="text-center th-md description-dark-green fs-07rem"><i
                    [ngStyle]="{'color': el.receive === true ? 'green' : 'red' }" style="padding-right: 10px;"
                    class="fa fa-send" aria-hidden="true"></i>
                  <span>{{el.senderAddress}}</span>
                </td>

                <!-- recipíent -->
                <ng-container *ngIf="el?.recipientAddress !== null; else recipientRentalFee">
                  <td class="text-center th-md description-dark-green fs-07rem">
                    <span>{{el.recipientAddress}}</span>
                  </td>
                </ng-container>

                <!-- recipient rental fee -->
                <ng-template #recipientRentalFee>
                  <td class="text-center th-sm description-dark-green fs-07rem">
                    <span>{{el.recipientRentalFeeSink}}</span>
                  </td>
                </ng-template>
              </tr>
            </ng-container>
            <ng-container *ngIf="elements.length === 0 && !searching">
              <tr>
                <td colspan="5" class="txt-a-center">nothing to show</td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot class="lighten-5 w-100">
            <tr>
              <td colspan="5">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div class="d-flex align-items-center">
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basicModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex align-items-center" role="document">
      <div class="modal-content form-elegant bord-rad-1-5rem">
        <div class="modal-header text-center box-modal-white b-t-r-r-1-5rem b-t-l-r-1-5rem p-05rem">
          <span class="modal-title w-100" id="myModalLabel">
            <strong class="title-modal-blue">Transaction Information</strong>
          </span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <ng-container *ngIf="dataSelected !== null">
            <!-- TYPE TRANSFER TRANSACTION -->
            <app-transfer-type [transferTransaction]="dataSelected"
              *ngIf="dataSelected.data.type === typeTransactions.transfer.id">
            </app-transfer-type>
            <!-- TYPE REGISTER NAMESPACE TRANSACTION -->
            <app-register-namespace-type [registerNamespaceTransaction]="dataSelected"
              *ngIf="dataSelected.data.type === typeTransactions.registerNameSpace.id">
            </app-register-namespace-type>
            <!-- TYPE MOSAIC DEFINITION TRANSACTION -->
            <app-mosaic-definition-type [mosaicDefinition]="dataSelected"
              *ngIf="dataSelected.data.type === typeTransactions.mosaicDefinition.id">
            </app-mosaic-definition-type>
            <!-- TYPE MOSAIC SUPPLY CHANGE TRANSACTION -->
            <app-mosaic-supply-change-type [mosaicSupplyChange]="dataSelected"
              *ngIf="dataSelected.data.type === typeTransactions.mosaicSupplyChange.id">
            </app-mosaic-supply-change-type>
            <!-- TYPE AGGREGATE COMPLETE TRANSACTION-->
            <app-aggregate-complete-type [aggregateComplete]="dataSelected"
              *ngIf="dataSelected.data.type === typeTransactions.aggregateComplete.id">
            </app-aggregate-complete-type>
            <!-- TYPE AGGREGATE BONDED -->
            <app-aggregate-bonded-type [aggregateBonded]="dataSelected"
              *ngIf="dataSelected.data.type === typeTransactions.aggregateBonded.id">
            </app-aggregate-bonded-type>
            <!-- MOSAIC ALIAS -->
            <app-mosaic-alias [mosaicAlias]="dataSelected"
              *ngIf="dataSelected.data.type === typeTransactions.mosaicAlias.id">
            </app-mosaic-alias>
            <!--  ADDRESS ALIAS-->
            <app-address-alias-type [addressAlias]="dataSelected"
              *ngIf="dataSelected.data.type === typeTransactions.addressAlias.id">
            </app-address-alias-type>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
