<div class="container mt-3rem mb-1rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <!-- HEADER SEARCH -->
  <div class="container-fluid background-header-grey pb-1rem pt-1rem">
    <div class="row">
      <div class="col-11 mx-auto">
        <div class="row">
          <!-- SELECT -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-5 mx-auto pt-07rem">
            <div class="md-form mt-1rem mb-1rem caja-gris">
              <!-- <img class="icono" src="assets/images/img/icon-address-green-book-16h-proximax-sirius-wallet.svg" alt=""> -->
              <mdb-select placeholder="Select search type" [(ngModel)]="typeSearch" [options]="optionTypeSearch"
                required class="colorful-select dropdown-default" mdbInputDirective [validateSuccess]="false"
                [validateError]="false">
              </mdb-select>
            </div>
          </div>

          <!-- Keyword or number -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-5 mx-auto d-flex align-items-center pt-05rem">
            <input [(ngModel)]="paramSearch" type="text" autocomplete="off" id="searchTransaction" class="form-control"
              mdbInputDirective [validateSuccess]="false" [validateError]="false" placeholder="Enter keyword">
          </div>

          <div
            class="col-12 col-md-12 col-lg-2 d-flex align-items-center justify-content-center background-dark-green-plus pt-05rem">
            <button mdbBtn type="submit" rounded="true" mdbWavesEffect
              class="btn-proximax" size="md" (click)="searchData()">
              <span class="fs-1em color-white">Search</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="searching">
    <div class="col-10 mx-auto mt-1rem">
      <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
      </mdb-progress-bar>
    </div>
  </ng-container>

  <!-- TABLE -->
  <div class="row mt-1rem">
    <div class="col-12 mx-auto d-flex justify-content-center">
      <div class="datatable-style max-w-table">
        <table mdbTable mdbTableScroll scrollX="true" striped="true">
          <thead>
            <tr class="header-backg">
              <th *ngFor="let head of headElements" scope="col" class="fs-075rem txt-a-center ">{{head}}
              </th>
            </tr>
          </thead>

          <tbody class="background-white">
            <ng-container *ngFor="let el of elements | paginate: configExplorer">
              <tr class="white-space-pre cursor-p" (click)="openModal(el);">
                <td class="th-sm fs-07rem" scope="row description-dark-green">
                  <ng-container *ngIf="el.nameType === 'ProximaX Swap'; else elseSwap">
                    <span style="color: #e6b219;"><i class="fa fa-star" aria-hidden="true"></i></span>
                  </ng-container>
                  <ng-template #elseSwap>
                    &nbsp; &nbsp;
                  </ng-template>
                  {{el.nameType}}
                </td>

                <!-- address -->
                <td class="text-center th-md description-dark-green fs-07rem">
                  <img src="assets/images/img/arrow-transaction-receive-green-proximax-sirius-explorer.svg" alt=""
                    width="25" *ngIf="el.receive">
                  <img src="assets/images/img/arrow-transaction-sender-orange-proximax-sirius-explorer.svg" alt=""
                    width="25" *ngIf="!el.receive">
                </td>

                <!-- address -->
                <td class="th-md description-dark-green fs-07rem">
                  <span>{{el.senderAddress}}</span>
                </td>

                <!-- recipíent -->
                <ng-container *ngIf="el?.recipientAddress !== null; else recipientRentalFee">
                  <td class="th-md description-dark-green fs-07rem">
                    <span>{{el.recipientAddress}}</span>
                  </td>
                </ng-container>

                <!-- recipient rental fee -->
                <ng-template #recipientRentalFee>
                  <td class="th-sm description-dark-green fs-07rem">
                    <span>{{el.recipientRentalFeeSink}}</span>
                  </td>
                </ng-template>
              </tr>
            </ng-container>

            <ng-container *ngIf="elements.length === 0 && !searching">
              <tr>
                <td colspan="6" class="txt-a-center">nothing to show</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12 pt-1rem pb-3rem d-flex justify-content-center mx-auto">
      <pagination-controls [id]="configExplorer.id" (pageChange)="configExplorer.currentPage = $event">
      </pagination-controls>
    </div>
  </div>
</div>

<!-- MODAL -->
<div class="d-flex align-items-center">
  <div mdbModal #modalExplorer="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalExplorer"
    aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex align-items-center" role="document">
      <div class="modal-content form-elegant bord-rad-1-5rem">
        <div class="modal-header text-center box-modal-white b-t-r-r-1-5rem b-t-l-r-1-5rem p-05rem">
          <span class="modal-title w-100" id="myModalLabel">
            <strong class="title-modal-blue">Transaction Information</strong>
          </span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalExplorer.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <ng-container *ngIf="dataSelected">

            <!-- TRANSFER -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.transfer.id">
              <app-transfer-type [transferTransaction]="dataSelected">
              </app-transfer-type>
            </ng-container>

            <!-- TYPE REGISTER NAMESPACE TRANSACTION -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.registerNameSpace.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- TYPE REGISTER NAMESPACE TRANSACTION -->
                    <div class="col-12 col-md-7">
                      <app-register-namespace-type [registerNamespaceTransaction]="dataSelected">
                      </app-register-namespace-type>
                    </div>

                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-5">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>


            <!-- TYPE MOSAIC SUPPLY CHANGE TRANSACTION -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.mosaicSupplyChange.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- TYPE REGISTER NAMESPACE TRANSACTION -->
                    <div class="col-12 col-md-7">
                      <app-mosaic-supply-change-type [mosaicSupplyChange]="dataSelected">
                      </app-mosaic-supply-change-type>
                    </div>
                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-5">
                      <app-box-data-signer-hash [dataSelected]="dataSelected"></app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- TYPE AGGREGATE COMPLETE TRANSACTION-->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.aggregateComplete.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- AGGREGATE BONDED TYPE -->
                    <div class="col-12 col-md-7">
                      <app-aggregate-complete-type [aggregateComplete]="dataSelected">
                      </app-aggregate-complete-type>
                    </div>

                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-5">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- TYPE AGGREGATE BONDED -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.aggregateBonded.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- AGGREGATE BONDED TYPE -->
                    <div class="col-12 col-md-7">
                      <app-aggregate-bonded-type [aggregateBonded]="dataSelected">
                      </app-aggregate-bonded-type>
                    </div>

                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-5">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- MOSAIC ALIAS -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.mosaicAlias.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- TYPE LOCK -->
                    <div class="col-12 col-md-7">
                      <app-mosaic-alias [mosaicAlias]="dataSelected"></app-mosaic-alias>
                    </div>

                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-5">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!--  ADDRESS ALIAS-->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.addressAlias.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- TYPE LOCK -->
                    <div class="col-12 col-md-7">
                      <app-address-alias-type [addressAlias]="dataSelected"></app-address-alias-type>
                    </div>

                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-5">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- TYPE LOCK -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.lock.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- TYPE LOCK -->
                    <div class="col-12 col-md-7">
                      <app-lock-type [transactionLock]="dataSelected"
                        *ngIf="dataSelected.data.type === typeTransactions.lock.id"></app-lock-type>
                    </div>
                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-5">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <!-- TYPE MODIFY MULTISIG ACCOUNT TRANSACTION
                            <app-modify-multisig-account-type
                                *ngIf="dataSelected.data.type === typeTransactions.modifyMultisigAccount.id">
                            </app-modify-multisig-account-type>-->

            <!-- TYPE SECRET LOCK TRANSACTION
                            <app-secret-lock-type *ngIf="dataSelected.data.type === typeTransactions.secretLock.id">
                            </app-secret-lock-type>-->
            <!-- TYPE SECRET PROOF TRANSACTION
                            <app-secret-proof *ngIf="dataSelected.data.type === typeTransactions.secretProof.id"></app-secret-proof>-->
            <!-- </div>
                        </div>
                        </div> -->
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
