<div class="container-fluid mt-11rem mb-3rem animated fadeIn">
  <div class="row">
    <div class="col-11 col-sm-10 mx-auto">
      <!-- Title -->
      <div class="row">
        <div class="col-11 col-sm-10 mx-auto">
          <span class="d-flex justify-content-center align-items-center wallet-name">
            <img class="mr-05rem h2-3em" src="assets/images/img/icon-transactions-white.svg" alt="">
            <span class="f-w-bold fs-2em">Explorer</span>
          </span>
          <h5 class="f-w-bold color-yellow text-align-center wallet-description">
            << Go to All Services </h5> </div> <div class="col-11 col-sm-10 mx-auto">
              <hr class="background-divisor">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-11 col-sm-8 col-md-10 mx-auto">
      <div class="row box-form mt-1rem pt-0 pb-0 pr-0 pl-0">

        <!-- Type search -->
        <div class="col-12 col-md-6 col-lg-3">
          <div class="md-form">
            <mdb-select placeholder="Select type search" [(ngModel)]="typeSearch" [options]="optionTypeSearch" required
              class="colorful-select dropdown-default" mdbInputDirective [validateSuccess]="false"
              [validateError]="false">
            </mdb-select>
          </div>
        </div>

        <!-- Keyword or number -->
        <div class="col-12 col-md-6 col-lg-6">
          <div class="md-form" id="container-walletname">
            <input [(ngModel)]="paramSearch" type="text" autocomplete="off" id="walletname" class="form-control"
              mdbInputDirective [validateSuccess]="false" [validateError]="false">
            <label for="walletname">Keyword or number</label>
          </div>
        </div>

        <!-- Button Search -->
        <div
          class="col-12 col-md-12 col-lg-3 d-flex align-items-center justify-content-center background-dark-green-plus">
          <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 btn-white-transparent" size="sm"
            (click)="searchData()">
            <span>SEARCH</span>
          </button>
        </div>

      </div>

      <div class="row mt-05rem">
        <div class="col-12">
          <hr class="background-divisor">
        </div>
      </div>

      <div class="row mt-05rem">
        <div class="col-12">
          <span>
            <h4 class="subtitle-dark-green text-center">{{objectKeys(elements).length}} results for "Keyword or Number"
            </h4>
          </span>
        </div>
      </div>



      <div class="row mt-05rem">
        <!-- <div class="col-12 box-form pt-0 pb-0 pr-0 pl-0">
          <div class="md-form">
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
            <label for="search">Search</label>
          </div>
        </div> -->

        <ng-container *ngIf="searching">
          <div class="col-12 mt-1rem">
            <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
            </mdb-progress-bar>
          </div>
        </ng-container>

        <div class="col-12">
          <div class="table-responsive table-hover">
            <table mdbTable #tableEl="mdbTable" id="mdbTable" striped="true"
              class="table table-hover table-bordered table-hover table-sm z-depth-0" borderless="true">
              <!--Table head-->
              <thead>
                <tr class="header-backg">
                  <ng-container *ngFor="let head of headElements; let i = index">
                    <th scope="col" class="text-center">{{head}}</th>
                  </ng-container>
                </tr>
              </thead>
              <!--Table head-->

              <tbody class="background-white ">
                <ng-container *ngFor="let el of elements; let i = index">
                  <tr class="mouse-pointer" (click)="dataSelected = el; basicModal.show();">
                    <!-- Type transaction -->
                    <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                      class="th-sm" scope="row description-dark-green">{{el.nameType}}</th>

                    <!-- timestamp -->
                    <td class="th-sm description-dark-green"
                      *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                      {{el.timestamp}}</td>

                    <!-- fee -->
                    <td class="text-center th-sm description-dark-green"
                      *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                      {{el.fee}}</td>

                    <!-- address -->
                    <td class="text-center th-md description-dark-green"
                      *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                      <i [ngStyle]="{'color': el.isRemitent === true ? 'green' : 'red' }" style="padding-right: 10px;"
                        class="fa fa-send" aria-hidden="true"></i>
                      <span>{{el.sender.address.pretty()}}</span>
                    </td>

                    <!-- recipíent -->
                    <ng-container *ngIf="el?.recipient !== null; else recipientRentalFee">
                      <td class="text-center th-md description-dark-green"
                        *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                        <span>{{el.recipient.pretty()}}</span>
                      </td>
                    </ng-container>

                    <!-- recipient rental fee -->
                    <ng-template #recipientRentalFee>
                      <td class="text-center th-sm description-dark-green"
                        *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                        <span>{{el.recipientRentalFeeSink}}</span>
                      </td>
                    </ng-template>
                  </tr>
                </ng-container>
              </tbody>

              <tfoot class="lighten-5 w-100">
                <tr>
                  <td colspan="5">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                  </td>
                </tr>
              </tfoot>

            </table>
            <!--Table-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- MODAL -->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content form-elegant b-r-08rem">
      <div class="modal-header text-center box-modal-grey b-t-r-r-08rem b-t-l-r-08rem">
        <h6 class="modal-title w-100 dark-grey-text" id="myModalLabel">
          <strong class="title-modal-grey">Transaction information</strong>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <ng-container *ngIf="dataSelected !== null">
          <!-- TYPE TRANSFER TRANSACTION -->
          <app-transfer-type [transferTransaction]="dataSelected"
            *ngIf="dataSelected.data.type === typeTransactions.transfer.id">
          </app-transfer-type>
          <!-- TYPE REGISTER NAMESPACE TRANSACTION -->
          <app-register-namespace-type [registerNamespaceTransaction]="dataSelected"
            *ngIf="dataSelected.data.type === typeTransactions.registerNameSpace.id">
          </app-register-namespace-type>
          <!-- TYPE MOSAIC DEFINITION TRANSACTION -->
          <app-mosaic-definition-type [mosaicDefinition]="dataSelected"
            *ngIf="dataSelected.data.type === typeTransactions.mosaicDefinition.id">
          </app-mosaic-definition-type>
          <!-- TYPE MOSAIC SUPPLY CHANGE TRANSACTION -->
          <app-mosaic-supply-change-type [mosaicSupplyChange]="dataSelected"
            *ngIf="dataSelected.data.type === typeTransactions.mosaicSupplyChange.id">
          </app-mosaic-supply-change-type>
          <!-- TYPE AGGREGATE COMPLETE TRANSACTION-->
          <app-aggregate-complete-type [aggregateComplete]="dataSelected"
            *ngIf="dataSelected.data.type === typeTransactions.aggregateComplete.id">
          </app-aggregate-complete-type>
          <!-- TYPE AGGREGATE BONDED -->
          <app-aggregate-bonded-type [aggregateBonded]="dataSelected"
            *ngIf="dataSelected.data.type === typeTransactions.aggregateBonded.id">
          </app-aggregate-bonded-type>
        </ng-container>
      </div>
    </div>
  </div>
</div>
