<div class="container-fluid mt-3rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-11 col-xl-8 mx-auto">
      <!-- HEADER MODULE -->
      <div class="row">
        <!-- NAME MODULE -->
        <div class="col-12 col-md-6 col-lg-4">
          <span class="fs-1rem txt-a-center line-h-1-2em color-grey">{{moduleName}}</span>
          <span class="fs-1rem txt-a-center line-h-1-2em color-grey"> > </span>
          <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{componentName}}</span>
        </div>

        <!-- ITEMS MENU -->
        <div class="col-12 col-md-6 col-lg-8 d-flex justify-content-start justify-content-md-end">
          <a class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio" [routerLink]="[routes.back]">
            <span>Back to select type</span>
          </a>

          <div class="ml-04rem mr-04rem">
            <span class="line-separator-gray"></span>
          </div>

          <a class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio"
            [routerLink]="[routes.backToService]">
            <span>Back to Services</span>
          </a>
        </div>
      </div>

      <!-- BORDER SEPARATOR -->
      <div class="row">
        <div class="col-12">
          <hr class="mt-03rem mb-05rem">
        </div>
      </div>

      <!-- BOX LIST ACCOUNT -->
      <div class="row">
        <div class="col-12 col-md-10 col-lg-9 col-xl-10 mx-auto">
          <form [formGroup]="formCreateAccount" (ngSubmit)="createAccount()">

            <ng-container *ngIf="fromPrivateKey">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="md-form form-sm mt-1rem mb-0rem">
                    <img class="form-control-feedback"
                      src="assets/images/img/icon-private-key-green-16h-proximax-sirius-wallet.svg" alt="">
                    <input mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="text"
                      id="privateKey" class="form-control form-control-sm input-border"
                      [maxLength]="configurationForm.privateKey.maxLength"
                      [minlength]="configurationForm.privateKey.minlength" placeholder="Enter private key"
                      formControlName="privateKey">
                    <mdb-error
                      *ngIf="validateInput('privateKey').invalid && (validateInput('privateKey').dirty || validateInput('privateKey').touched)">
                      <span>Required field</span>
                    </mdb-error>
                  </div>
                </div>
              </div>

              <div class="row mt-1rem mb-1rem txt-a-center">
                <div class="col-11 mx-auto">
                  <mdb-checkbox (click)="switchSaveNis1()"> Check this box if you wish to swap with this private key.<i
                      class="fa fa-info-circle color-gray-strong"></i></mdb-checkbox>
                </div>
              </div>
            </ng-container>


            <div class="row">
              <div class="col-11 mx-auto">
                <div class="md-form form-sm mt-1rem mb-0rem">
                  <img class="form-control-feedback"
                    src="assets/images/img/icon-wallet-name-green-16h-proximax-sirius-wallet.svg" alt="">
                  <input mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="text"
                    id="name-wallet{{errorWalletExist}}" class="form-control form-control-sm input-border"
                    placeholder="Account name" formControlName="nameWallet"
                    [maxLength]="configurationForm.nameWallet.maxLength"
                    [minlength]="configurationForm.nameWallet.minLength">
                  <mdb-error
                    *ngIf="validateInput('nameWallet').invalid && (validateInput('nameWallet').dirty || validateInput('nameWallet').touched)">
                    <span>Required field</span>
                  </mdb-error>

                  <mdb-error *ngIf="validateInput('nameWallet').valid && validateNameAccount()">
                    <span>Account name already exists</span>
                  </mdb-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-11 mx-auto">
                <div class="md-form form-sm">
                  <img class="form-control-feedback"
                    src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
                  <input [maxlength]="configurationForm.passwordWallet.maxLength"
                    [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" required
                    mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="password"
                    id="password" class="form-control form-control-sm input-border"
                    [maxLength]="configurationForm.passwordWallet.maxLength"
                    [minlength]="configurationForm.passwordWallet.minlength" placeholder="Enter wallet password">

                  <!-- VALIDATION -->
                  <mdb-error
                    *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                    <span>Required field</span>
                  </mdb-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
                <button mdbBtn type="button" rounded="true" mdbWavesEffect
                  class="f-w-600 background-btn pl-2rem pr-2rem" size="md" (click)="clearForm()">
                  <span class="fs-1-2em color-white">Clear</span>
                </button>
              </div>

              <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                <button mdbBtn type="submit" rounded="true" mdbWavesEffect
                  class="f-w-600 background-btn pl-2rem pr-2rem" size="md"
                  [disabled]="formCreateAccount.invalid || !isValid">
                  <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                    *ngIf="spinnerButton"></span>
                  <span class="fs-1-2em color-white">{{buttonSend}}</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
