.not-margin {
  margin-left: 0px !important;
}

.color-submenu:hover {
  background-color: #24474e !important;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #24474e !important;
}

.dropdown-menu {
  padding: 0 !important;
  margin: 0 !important;
}

.dropdown .dropdown-menu,
.dropup .dropdown-menu,
.dropleft .dropdown-menu,
.dropright .dropdown-menu {
  padding: 0 !important;
}
