<ul class="collapsible collapsible-accordion">
  <mdb-accordion [multiple]="false" aria-multiselectable="false">
    <ng-container *ngFor="let key of keyObject(header)">
      <ng-container *ngIf="header[key]['rol'] === showMenu && header[key]['show']">
        <mdb-accordion-item class="no-collase" *ngIf="header[key]['type'] !== 'dropdown'">
          <mdb-accordion-item-head mdbWavesEffect>
            <a class="waves-effect font-header" mdbWavesEffect [routerLink]="[header[key]['link']]">
              <i [ngClass]="header[key]['icon']"></i> {{header[key]['name'] | uppercase}}
            </a>
          </mdb-accordion-item-head>
          <mdb-accordion-item-body></mdb-accordion-item-body>
        </mdb-accordion-item>
        <mdb-accordion-item *ngIf="header[key]['type'] === 'dropdown'">
          <mdb-accordion-item-head mdbWavesEffect>
            <i [ngClass]="header[key]['icon']"></i> {{header[key]['name'] | uppercase}}</mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <ng-container *ngFor="let k of keyObject(header[key]['submenu'])">
              <ng-container *ngIf="header[key]['submenu'][k]['show']">
                <ul>
                  <li>
                    <a class="waves-effect font-header" mdbWavesEffect [routerLink]="[header[key]['submenu'][k]['link']]">{{header[key]['submenu'][k]['name'] }}</a>
                  </li>
                </ul>
              </ng-container>
            </ng-container>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </ng-container>
    </ng-container>
  </mdb-accordion>
</ul>