.not-margin {
  margin-left: 0px !important;
}

.color-submenu:hover {
  background-color: #c4aa7d !important;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #c4aa7d !important;
}
