<navlinks>
  <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav">
    <ng-container *ngFor="let key of keyObject(header)">
      <ng-container *ngIf="header[key]['rol'] === showMenu && header[key]['show']">
        <ng-container *ngIf="header[key]['type'] === 'dropdown'">
          <li dropdown
            [ngClass]="[header[key]['selected'] ? 'nav-item dropdown box-header-selected' : 'nav-item dropdown']">
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light text-white" mdbWavesEffect>
              <ng-container *ngIf="header[key]['icon'] !== ''">
                <i [ngClass]="header[key]['icon']"></i>
              </ng-container>

              <span class=" d-md-inline-block font-header">
                {{header[key]['name'] | uppercase}} <span class="caret"></span>
              </span>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown not-margin background-dark-green text-center" role="menu">
              <ng-container *ngFor="let k of keyObject(header[key]['submenu'])">
                <ng-container *ngIf="header[key]['submenu'][k]['show']">
                  <a class="dropdown-item waves-light font-header text-white"
                    [routerLink]="[header[key]['submenu'][k]['link']]">
                    <i [ngClass]="header[key]['submenu'][k]['icon']"></i>
                    <span class="ml-0-2rem">{{header[key]['submenu'][k]['name'] | uppercase}}</span>
                  </a>
                </ng-container>
              </ng-container>
            </div>
          </li>
        </ng-container>

        <ng-container *ngIf="header[key]['type'] !== 'dropdown'">
          <li [ngClass]="[header[key]['selected'] ? 'nav-item box-header-selected' : 'nav-item']">
            <ng-container *ngIf="key !== 'signout'">
              <a *ngIf="header[key]['type'] != 'dropdown'" class="nav-link waves-light" mdbWavesEffect
                [routerLink]="[header[key]['link']]">
                <ng-container>
                  <i [ngClass]="header[key]['icon']"></i>
                </ng-container>

                <span class=" d-md-inline-block font-header" class="ml-0-2rem">
                  {{header[key]['name'] | uppercase}}
                </span>
              </a>
            </ng-container>
            <ng-container *ngIf="key === 'signout'">
              <a *ngIf="header[key]['type'] != 'dropdown'" class="nav-link waves-light" mdbWavesEffect
                (click)="logoutEvent(header[key]['link'])">
                <ng-container>
                  <i [ngClass]="header[key]['icon']"></i>
                </ng-container>

                <span class=" d-md-inline-block font-header" class="ml-0-2rem">{{header[key]['name'] | uppercase}}
                </span>
              </a>
            </ng-container>
          </li>
        </ng-container>

      </ng-container>
    </ng-container>
  </ul>
</navlinks>
