<div class="mt-3rem mb-3rem animated fadeIn">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
        <mdb-card>
          <mdb-card-header class="background-gold white-text text-align-center py-4">
            <img src="assets/images/logo/logo-white.png" class="size-img-card-header">
          </mdb-card-header>
          <ng-container>
            <mdb-card-body class="px-lg-5 backg-beige">

              <form [formGroup]="namespaceForm" (ngSubmit)="create()">
                <div class="row">
                  <div class="col-xs-12 col-sm-6  col-md-10 col-lg-6 ">


                    <div class="md-form mt-5">
                      <div class="row">
                        <div class="col-xs-9 col-xl-9 col-lg-9 col-md-9 col-sm-9">
                          <i class="fa fa-address-book prefix text-gris"></i>
                          <input type="text" autocomplete="off" formControlName="name" required id="name" class="form-control"
                            mdbInputDirective mdbInputDirective data-success="Valid name" [errorMessage]="getError('name')">
                          <label style="margin-left: 3.5rem;" for="name">name</label>
                        </div>
                        <div style="margin-top: 0.3rem !important;" class="col-xs-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
                          <button mdbBtn size="sm" color="default" rounded="true" class="waves-light" mdbWavesEffect>Search</button>
                        </div>
                      </div>
                    </div>
                    <!-- Password -->
                    <div class="md-form mt-5">
                      <i class="fa fa-address-book prefix text-gris"></i>
                      <input type="password" autocomplete="off" formControlName="password" required id="password" class="form-control"
                        mdbInputDirective data-success="Valid password" [errorMessage]="getError('password')">
                      <label for="password">password</label>
                    </div>
                  </div>


                </div>


                <div class="mt-4rm align-self-center">
                  <div class="row ">
                    <div class="mx-auto">
                      <div class="row">
                        <div class="col-xs-12">
                          <button mdbBtn color="default" size="lg" rounded="true" class="waves-light" mdbWavesEffect
                            type="submit">Create</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </form>
            </mdb-card-body>
          </ng-container>
        </mdb-card>
      </div>
    </div>
  </div>
</div>