<div class="mt-3rem mb-3rem animated fadeIn">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mx-auto">


        <form [formGroup]="namespaceForm" (ngSubmit)="createNamespace()">
          <div class="row">
            <div class="col-xs-12 col-sm-12  col-md-12 col-lg-6 ">
              <!-- name -->
              <div class="md-form mt-5">
                <i class="fa fa-address-book prefix text-gris"></i>
                <input type="text" autocomplete="off" formControlName="name" required id="name" class="form-control"
                  mdbInputDirective data-success="Valid name" [errorMessage]="getError('name')">
                <label for="name">name</label>
              </div>
              <!-- Parent Namespace -->
              <div class="row">
                <div class="col-xs-8 col-xl-8 col-lg-8 col-md-8 col-sm-9">
                  <div class="md-form  mt-3">
                    <i class="fa fa-user prefix text-gris"></i>
                    <mdb-select [options]="arrayselect" formControlName="namespace" class="colorful-select dropdown-default"
                      mdbInputDirective [errorMessage]="getError('namespace')" (selected)="optionSelected($event)"></mdb-select>
                  </div>
                </div>
                <div class="col-xs-4 col-xl-4 col-lg-4 col-md-4 col-sm-4">
                  <button (click)="basicModal.show()" class="pointer" mdbBtn color="default" size="lg" type="button"
                    mdbWavesEffect mdbTooltip="see state or renew namespace" placement="top" [disabled]="statusbuttonNamespace">
                    <mdb-badge *ngIf="!status" warning="true">Expire</mdb-badge>
                    <mdb-badge *ngIf="status" success="true">Active</mdb-badge>
                    | Renovate
                  </button>
                </div>
              </div>
              <!-- Duration -->
              <div class="md-form mt-5" [hidden]="showDuration">
                <i class="fa fa-address-book prefix text-gris"></i>
                <input formControlName="duration" mdbInputDirective type="number" min="1" pattern="^[0-9]+" name="duration"
                  id="duration" class="form-control" data-success="Valid duration" [errorMessage]="getError('duration')">
                <label for="duration" class="">Duration</label>
              </div>
              <!-- Fee -->
              <div class="md-form mt-5">
                <div class="row">
                  <div class="col-xs-12 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <i class="fa fa-address-book prefix text-gris"></i>
                    <label class="form-label" for="">Fee:</label>
                    <div class="alert background-info white-text form-label-alert-m80" role="alert">
                      {{fee}}
                    </div>
                  </div>
                  <div class="col-xs-12 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <i class="fa fa-address-book prefix text-gris"></i>

                    <label class="form-label" for="">Rental fee:</label>
                    <div class="alert background-info white-text form-label-alert-m140" role="alert">
                      {{fee}}
                    </div>
                  </div>

                </div>
              </div>
              <!-- Password -->
              <div class="md-form mt-5">
                <i class="fa fa-address-book prefix text-gris"></i>
                <input type="password" autocomplete="off" formControlName="password" required id="password" class="form-control"
                  mdbInputDirective data-success="Valid password" [errorMessage]="getError('password')">
                <label for="password">password</label>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12  col-md-12 col-lg-6 ">
              <p class="text-justify">Namespaces have certain restrictions with respect to the characters being
                allowed in the parts as well as the length of a part. A root namespace may have a length of 16
                characters while sub-namespaces may have a length of 64 characters. Valid characters are:</p>
              <div class="alert background-info white-text" role="alert">
                a, b, c, ..., z, 0, 1, 2, ..., 9, _ , -
              </div>
              <p class="text-justify">However a part is only allowed to begin with a letter of the alphabet or a
                number, thus 'alice' is an allowed part for a root namespace while '_alice' is not. Certain
                strings are reserved and thus not allowed as namespace parts. Among the disallowed namespace
                parts are:</p>
              <div class="alert background-info white-text" role="alert">
                xpx, nem, user, account, org, com, biz, net, edu, mil, gov and info.
              </div>
              <p class="text-justify">This list is not final and can be extended in the future. Thus 'user.alice'
                or 'alice.user' are not allowed in the XPX namespace system. The namespace may have up to 3
                parts, thus 'qm.metals.silver' is valid while 'qm.metals.silver.coin' is not.</p>
              <p>
                where it shows the status of the
                namespace could renew. with just select it
                <button class="pointer" mdbBtn color="default" size="sm" type="button" disabled>
                  <mdb-badge success="true">Active</mdb-badge>
                  | Renovate
                </button>
              </p>
            </div>
          </div>

          <div class="mt-4rm align-self-center">
            <div class="row ">
              <div class="mx-auto">
                <div class="row">
                  <div class="col-xs-12">
                    <button mdbBtn color="default" size="lg" rounded="true" class="waves-light" mdbWavesEffect type="submit">Create</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div mdbModal #basicModal="mdbModal" style="overflow-y: auto" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content form-elegant">
      <div class="modal-header text-center background-header-box">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong class="color-white">Renovate
            namespace</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="namespaceRenewForm" (ngSubmit)="renewNamespace()">
        <div class="modal-body mx-4">
          <div class="row ">
            <div class="col-xs-12 col-sm-12  col-md-12 col-lg-6">

              <!-- name -->
              <div class="md-form mt-5">
                <i class="fa fa-address-book prefix text-gris"></i>
                <input type="text" autocomplete="off" formControlName="name" required id="name2" class="form-control"
                  mdbInputDirective data-success="Valid name" [errorMessage]="getError('name')">
                <label for="name">Namespaces: </label>
              </div>

              <!-- Duration -->
              <div class="md-form mt-5">
                <i class="fa fa-address-book prefix text-gris"></i>
                <input formControlName="duration" mdbInputDirective type="number" min="1" pattern="^[0-9]+" name="duration"
                  id="duration2" class="form-control" data-success="Valid duration" [errorMessage]="getError('duration')">
                <label for="duration" class="">Duration</label>
              </div>

              <!-- fee -->
              <div class="md-form mt-5">
                <div class="row">
                  <div class="col-xs-12 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <i class="fa fa-address-book prefix text-gris"></i>
                    <label class="form-label" for="">Fee:</label>
                    <div class="alert background-info white-text form-label-alert-m80" role="alert">
                      {{fee}}
                    </div>
                  </div>
                  <div class="col-xs-12 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <i class="fa fa-address-book prefix text-gris"></i>
                    <label class="form-label" for="">Rental fee:</label>
                    <div class="alert background-info white-text form-label-alert-m140" role="alert">
                      {{fee}}
                    </div>
                  </div>
                </div>
              </div>
              <!-- Password -->
              <div class="md-form mt-5">
                <i class="fa fa-address-book prefix text-gris"></i>
                <input type="password" autocomplete="off" formControlName="password" required id="password2" class="form-control"
                  mdbInputDirective data-success="Valid password" [errorMessage]="getError('password')">
                <label for="password">password</label>
              </div>
            </div>

            <div class="col-xs-12 col-sm-12  col-md-12 col-lg-6 ">
              <div class="row text-center mt-5">
                <h4> Namespace information </h4>
              </div>
              <div class="row text-center">
                <div class="col-sm">
                  <i class="fa fa-hourglass-start  text-gris fa-3x"></i>
                  <p>Start block: <span class="font-weight-bold">{{startHeight}} </span></p>
                </div>
                <div class="col-sm">
                  <i class="fa fa-hourglass-end  text-gris fa-3x"></i>
                  <p>End block: <span class="font-weight-bold">{{endHeight}}</span></p>
                </div>
                <div class="col-sm">
                  <i class="fa fa-hourglass-half text-gris fa-3x"></i>
                  <p>Current block: <span class="font-weight-bold animated rotateIn infinite">{{block}} </span></p>
                </div>
              </div>
              <h5> Fees </h5>
              <p class="text-justify">
                Renewing a namespace costs the same amount as registering a new namespace, 0 XPX.
              </p>
              <h5> Root Namespaces </h5>
              <p class="text-justify">
                Only root namespaces need to be renewed. All sub-namepsaces will be renewed automatically upon renewal
                of
                the root namespace.
              </p>
              <h5> Renewal Period</h5>
              <p class="text-justify">
                The namespace contracts are leases and last according to the amount of the block you rent. by default
                they are 100 (one block is generated every 15 seconds)
              </p>
              <p class="text-justify">
                If not renewed in time, all sub-namespaces and mosaics created under it will be lost.
              </p>
            </div>
          </div>
          <div class="mt-4rm align-self-center">
            <div class="row ">
              <div class="mx-auto">
                <div class="row">
                  <div class="col-xs-6">
                    <button mdbBtn type="button" rounded="true" class="waves-light btn-reverse" mdbWavesEffect type="button"
                      (click)="basicModal.hide()">Close</button>
                  </div>
                  <div class="col-xs-6">
                    <button mdbBtn type="submit" color="default" rounded="true" class="waves-light" mdbWavesEffect type="submit">renew</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
