<div class="mt-3rem mb-3rem animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-md-8 col-sm-12 mx-auto">
        <mdb-card>
          <mdb-card-header class="background-header-box white-text text-align-center py-4">
            <img src="assets/images/logo/logo-white.png" style="width: 300px;">
          </mdb-card-header>

          <mdb-card-body class="px-lg-5 backg-beige">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="" style="color: #757575;">
              <div class="md-form  mt-5">
                <i class="fa fa-user prefix text-gris"></i>
                <mdb-select [options]="wallets" placeholder="Name wallet" required formControlName="wallet" class="colorful-select dropdown-default"
                  (selected)="optionSelected($event)" mdbInputDirective [errorMessage]="getError('wallet')"></mdb-select>
              </div>
              <div class="md-form mt-5" formGroupName="common">
                <i class="fa fa-lock prefix text-gris"></i>
                <input type="password" autocomplete="off" required formControlName="password" id="password" class="form-control" data-success="Valid password"
                  mdbInputDirective [errorMessage]="getErrorGroup('common','password')">
                <label for="password">password</label>
              </div>
              <div class="mt-4rm">
                <div class="row ">
                  <div class="mx-auto">
                    <div class="row">
                      <div class="col-xs-6">
                        <button mdbBtn type="button" color="default" rounded="true" class="waves-light" mdbWavesEffect type="submit">Login</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
