<ng-container *ngIf="viewBox; else: viewInnerTransaction">
  <div class="row mt-04rem mr-1rem ml-1rem">
    <!-- Data -->
    <div class="col-12 col-lg-7 d-flex align-items-start">
      <div class="row">
        <!-- Type transfer -->
        <div class="col-12 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-2rem">{{mosaicDefinition.nameType}} -
            <strong>({{ typeTransactionHex }})</strong></span>
        </div>

        <!-- Timestamp -->
        <div class="col-12 mt-05rem overflow-ellipsis-nowrap">
          <span class="color-dark-green fs-07rem fw-500">{{mosaicDefinition?.timestamp}}</span>
        </div>

        <!-- Fee -->
        <div class="col-12 mb-1rem">
          <div class="row">
            <div class="col-3 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-bold fs-1-3rem">Fee: </span>
            </div>
            <div class="col-9 overflow-ellipsis-nowrap row">
              <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" width="20" alt="">            
              <span class="color-dark-green fw-400 fs-1-3rem">{{mosaicDefinition.fee}} XPX</span>
            </div>
          </div>
        </div>

        <!-- Namespace Id -->
        <ng-container *ngIf="viewNamespaceId">
          <div class="col-12">
            <div class="row">
              <div class="col-4 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-bold fs-08rem">Namespace Id</span>
              </div>
              <div class="col-8 overflow-ellipsis-nowrap">
                <span class=" color-dark-green fw-400 fs-08rem">
                  {{mosaicDefinition?.data['parentId'].id.toHex()}}
                </span>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- Divisibility -->
        <div class="col-12 mt-04rem">
          <div class="row">
            <div class="col-4 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-bold fs-08rem">Divisibility: </span>
            </div>
            <div class="col-8 overflow-ellipsis-nowrap">
              <span
                class="color-dark-green fw-400 fs-08rem">{{mosaicDefinition?.data['mosaicProperties'].divisibility}}</span>
            </div>
          </div>
        </div>

        <!-- Version -->
        <div class="col-12 mt-04rem">
          <div class="row">
            <div class="col-4 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-bold fs-08rem">Version: </span>
            </div>
            <div class="col-8 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-400 fs-08rem">{{mosaicDefinition?.data['version']}}</span>
            </div>
          </div>
        </div>

        <!-- Supply Mutable -->
        <div class="col-12 mt-04rem">
          <div class="row">
            <div class="col-4 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-bold fs-08rem">Supply Mutable: </span>
            </div>
            <div class="col-8 overflow-ellipsis-nowrap">
              <span *ngIf="mosaicDefinition?.data['mosaicProperties'].supplyMutable === true"><i
                  class="fa fa-check-circle green-c" aria-hidden="true"></i></span>
              <span *ngIf="mosaicDefinition?.data['mosaicProperties'].supplyMutable !== true"><i
                  class="fa fa-minus-circle color-red" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>

        <!-- Levy Mutable -->
        <div class="col-12 mt-04rem">
          <div class="row">
            <div class="col-4 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-bold fs-08rem">Levy Mutable: </span>
            </div>
            <div class="col-8 overflow-ellipsis-nowrap">
              <span *ngIf="mosaicDefinition?.data['mosaicProperties'].levyMutable === true"><i
                  class="fa fa-check-circle green-c" aria-hidden="true"></i></span>
              <span *ngIf="mosaicDefinition?.data['mosaicProperties'].levyMutable !== true"><i
                  class="fa fa-minus-circle color-red" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>

        <!-- Transferable -->
        <div class="col-12 mt-04rem">
          <div class="row">
            <div class="col-4 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-bold fs-08rem">Transferable: </span>
            </div>
            <div class="col-8 overflow-ellipsis-nowrap">
              <span *ngIf="mosaicDefinition?.data['mosaicProperties'].transferable === true"><i
                  class="fa fa-check-circle green-c" aria-hidden="true"></i></span>
              <span *ngIf="mosaicDefinition?.data['mosaicProperties'].transferable !== true"><i
                  class="fa fa-minus-circle color-red" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>

        <!-- Duration -->
        <ng-container *ngIf="mosaicDefinition['data']['duration'] !== undefined">
          <div class="col-12 mt-04rem">
            <div class="row">
              <div class="col-4 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-bold fs-08rem">Duration: </span>
              </div>
              <div class="col-8 overflow-ellipsis-nowrap">
                <span class=" color-dark-green fw-400 fs-08rem">
                  <strong>
                    (Blocks: {{mosaicDefinition?.data['mosaicProperties'].duration.compact()}})
                  </strong> -
                  {{transactionService.calculateDuration(mosaicDefinition?.data['mosaicProperties'].duration)}}
                </span>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- MOSAIC INFO -->
        <div class="col-12 mt-04rem">
          <div class="row">
            <div class="col-4 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-bold fs-08rem">Mosaic: </span>
            </div>
            <div class="col-8 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-400 fs-08rem">
                <!-- Mosaic Name -->
                <ng-container *ngIf="
                mosaicDefinition['mosaicsStorage'] !== null &&
                mosaicDefinition['mosaicsStorage']['mosaicNames']['names'].lenght > 0;
                else viewId">
                  {{ mosaicDefinition.mosaicsStorage['mosaicNames']['names'][0] }}
                </ng-container>

                <!-- Mosaic Id -->
                <ng-template #viewId>
                  {{ mosaicId }}
                </ng-template>
              </span>
            </div>
          </div>
        </div>

        <!-- MOSAIC NONCE -->
        <ng-container *ngIf="mosaicDefinition.data['nonce'] !== undefined">
          <div class="col-12 mt-04rem">
            <div class="row">
              <div class="col-4 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-bold fs-08rem">Nonce: </span>
              </div>
              <div class="col-8 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-400 fs-08rem">
                  {{ mosaicDefinition.data['nonce'] }}
                </span>
              </div>
            </div>
          </div>
        </ng-container>


      </div>
    </div>
    <!-- Box signer, signature, hash -->
    <div class="col-12 col-lg-5" id="boxHashSignerSignature">
      <div class="row gray-color-transparent lh-1em">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <span class="fs-08rem fw-bolder w-w-b-w"><b>Signer:</b></span>
            </div>
            <div class="col-12">
              <span class="fs-07rem fw-bolder w-w-b-w">{{mosaicDefinition?.data.signer.publicKey}}</span>
            </div>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-12">
              <span class="fs-08rem fw-bolder w-w-b-w"><b>Signature:</b></span>
            </div>
            <div class="col-12">
              <span class="fs-07rem fw-bolder w-w-b-w">{{mosaicDefinition?.data.signature}}</span>
            </div>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-12">
              <span class="fs-08rem fw-bolder w-w-b-w"><b>Hash:</b></span>
            </div>
            <div class="col-12">
              <span class="fs-07rem fw-bolder w-w-b-w">{{mosaicDefinition?.data.transactionInfo.hash}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #viewInnerTransaction>
  <div class="row">
    <!-- Fee -->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-08rem">Fee: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap mx-auto">
          <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" width="20" alt="">&nbsp;
          <span class="color-dark-green fw-400 fs-08rem">{{mosaicDefinition.fee}} XPX</span>
        </div>
      </div>
    </div>

    <!-- Type Hex -->
    <div class="col-12 mt-2rem">
      <ng-container *ngIf="mosaicDefinition?.transactionInfo?.height">
          <div class="row">
              <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-bold fs-08rem">Height: </span>
              </div>
              <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-400
                        fs-08rem">{{mosaicDefinition?.transactionInfo?.height?.compact()}}</span>
              </div>
            </div>
      </ng-container>


      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-08rem">Type: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-400
              fs-08rem">{{typeTransactionHex}}</span>
        </div>
      </div>
    </div>

    <!-- Mosaic Id-->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-08rem">Mosaic Id: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-400 fs-08rem">{{ mosaicId }}</span>
        </div>
      </div>
    </div>

    <!-- Namespace Id-->
    <!-- <ng-container *ngIf="viewNamespaceId">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-bold fs-08rem">Namespace Id: </span>
          </div>
          <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-400 fs-08rem">{{mosaicDefinition['parentId'].id.toHex()}}</span>
          </div>
        </div>
      </div>
    </ng-container> -->

    <ng-container *ngIf="
                mosaicDefinition['mosaicsStorage'] !== null &&
                mosaicDefinition['mosaicsStorage']['mosaicNames']['names'].lenght > 0;
                else viewId">
      <!-- Mosaic Name-->
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-bold fs-08rem">Mosaic: </span>
          </div>
          <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-400 fs-08rem">
              {{ mosaicDefinition.mosaicsStorage['mosaicNames']['names'][0] }}
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- MOSAIC NONCE -->
    <ng-container *ngIf="mosaicDefinition['nonce'] !== undefined">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-bold fs-08rem">Nonce: </span>
          </div>
          <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-400 fs-08rem"> {{ mosaicDefinition['nonce'] }}</span>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-08rem">Divisibility: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-400 fs-08rem">{{mosaicDefinition['mosaicProperties'].divisibility}}</span>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-08rem">Version: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-400 fs-08rem">{{mosaicDefinition['version']}}</span>
        </div>
      </div>
    </div>


    <!-- Duration -->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-08rem">Duration: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
          <span class="color-dark-green fw-400 fs-08rem">
            <strong>
              (Blocks: {{mosaicDefinition['mosaicProperties'].duration.compact()}})
            </strong> -
            {{transactionService.calculateDuration(mosaicDefinition['mosaicProperties'].duration)}}
          </span>
        </div>
      </div>
    </div>

    <!-- Supply Mutable -->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-08rem">Supply Mutable: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
          <span *ngIf="mosaicDefinition['mosaicProperties'].supplyMutable === true"><i
              class="fa fa-check-circle green-c" aria-hidden="true"></i></span>
          <span *ngIf="mosaicDefinition['mosaicProperties'].supplyMutable !== true"><i
              class="fa fa-minus-circle color-red" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>

    <!-- Levy Mutable -->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-08rem">Levy Mutable: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
          <span *ngIf="mosaicDefinition['mosaicProperties'].levyMutable === true"><i class="fa fa-check-circle green-c"
              aria-hidden="true"></i></span>
          <span *ngIf="mosaicDefinition['mosaicProperties'].levyMutable !== true"><i
              class="fa fa-minus-circle color-red" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>

    <!-- Transferable -->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-08rem">Transferable: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
          <span *ngIf="mosaicDefinition['mosaicProperties'].transferable === true"><i class="fa fa-check-circle green-c"
              aria-hidden="true"></i>
          </span>
          <span *ngIf="mosaicDefinition['mosaicProperties'].transferable !== true"><i
              class="fa fa-minus-circle color-red" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>

  </div>
</ng-template>
