<container>
  <div class="row">
    <div class="col-md-3">
      <span class="fs-08rem fw-bolder w-w-b-w w-w-b-w"><b>Type transaction:</b></span>
    </div>
    <div class="col-md-9">
      <span class="fs-08rem fw-bolder w-w-b-w w-w-b-w">{{mosaicDefinition.nameType}}</span>
    </div>
  </div>
  <hr>
</container>

<!-- MOSAIC INFO -->
<ng-container>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Fee:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicDefinition?.fee}} (XPX)</span>
      </div>
    </div>
  </div>

  <ng-container *ngIf="viewNamespaceId">
    <div class="mt-3">
      <div class="row">
        <div class="col-md-3">
          <span class="fs-08rem fw-bolder w-w-b-w"><b>Namespace Id:</b></span>
        </div>
        <div class="col-md-9">
          <span class="fs-08rem fw-bolder w-w-b-w">
            {{mosaicDefinition?.data['parentId'].id.toHex()}}
          </span>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Mosaic:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">

          <ng-container *ngIf="mosaicDefinition?.namespaceName">
            {{mosaicDefinition?.namespaceName}}:
          </ng-container>

          <ng-container>
            {{mosaicDefinition.data.mosaicName}}
          </ng-container>
        </span>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Divisibility:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicDefinition?.data.mosaicProperties.divisibility}}</span>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Supply Mutable:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w"
          *ngIf="mosaicDefinition?.data.mosaicProperties.supplyMutable === true"><i class="fa fa-check-circle green-c"
            aria-hidden="true"></i></span>
        <span class="fs-08rem fw-bolder w-w-b-w"
          *ngIf="mosaicDefinition?.data.mosaicProperties.supplyMutable !== true"><i class="fa fa-minus-circle color-red"
            aria-hidden="true"></i></span>
      </div>
    </div>
  </div>


  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Levy Mutable:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w" *ngIf="mosaicDefinition?.data.mosaicProperties.levyMutable === true"><i
            class="fa fa-check-circle green-c" aria-hidden="true"></i></span>
        <span class="fs-08rem fw-bolder w-w-b-w" *ngIf="mosaicDefinition?.data.mosaicProperties.levyMutable !== true"><i
            class="fa fa-minus-circle color-red" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Transferable:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w"
          *ngIf="mosaicDefinition?.data.mosaicProperties.transferable === true"><i class="fa fa-check-circle green-c"
            aria-hidden="true"></i></span>
        <span class="fs-08rem fw-bolder w-w-b-w"
          *ngIf="mosaicDefinition?.data.mosaicProperties.transferable !== true"><i class="fa fa-minus-circle color-red"
            aria-hidden="true"></i></span>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Duration:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w"><strong>(Blocks:
            {{mosaicDefinition?.data.mosaicProperties.duration.compact()}})</strong>
          {{transactionService.calculateDuration(mosaicDefinition?.data.mosaicProperties.duration)}}</span>
      </div>
    </div>
  </div>
  <hr>
</ng-container>

<!-- SIGNER INFO-->
<container>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Signer:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicDefinition?.data.signer.publicKey}}</span>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Signature:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicDefinition?.data.signature}}</span>
      </div>
    </div>
  </div>
  <hr>
</container>

<!-- TIMESTAMP & HASH INFO -->
<container>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Deadline:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicDefinition?.timestamp}}</span>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Hash:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicDefinition?.data.transactionInfo.hash}}</span>
      </div>
    </div>
  </div>
</container>
