<ng-container *ngIf="!viewBox">
  <div class="row">
    <!-- Type-->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-black fw-bold fs-08rem">Type: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
          <span class="color-black fw-400 fs-08rem">{{ typeTransactionHex }}</span>
        </div>
      </div>
    </div>

    <!-- Mosaic Id-->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-black fw-bold fs-08rem">Mosaic ID: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
          <span class="color-black fw-400 fs-08rem">{{ mosaicId }}</span>
        </div>
      </div>
    </div>

    <!-- Mosaic name -->
    <ng-container *ngIf="
                mosaicDefinition['mosaicsStorage'] !== null &&
                mosaicDefinition['mosaicsStorage']['mosaicNames']['names'].lenght > 0;">
      <!-- Mosaic Name-->
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
            <span class="color-black fw-bold fs-08rem">Mosaic: </span>
          </div>
          <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
            <span class="color-black fw-400 fs-08rem">
              {{ mosaicDefinition.mosaicsStorage['mosaicNames']['names'][0] }}
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- MOSAIC NONCE -->
    <ng-container *ngIf="mosaicDefinition['nonce'] !== undefined">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
            <span class="color-black fw-bold fs-08rem">Nonce: </span>
          </div>
          <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
            <span class="color-black fw-400 fs-08rem"> {{ mosaicDefinition['nonce'] }}</span>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-black fw-bold fs-08rem">Divisibility: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
          <span class="color-black fw-400 fs-08rem">{{mosaicDefinition['mosaicProperties'].divisibility}}</span>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-black fw-bold fs-08rem">Version: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
          <span class="color-black fw-400 fs-08rem">{{mosaicDefinition['version']}}</span>
        </div>
      </div>
    </div>


    <!-- Duration -->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-black fw-bold fs-08rem">Duration: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
          <ng-container *ngIf="mosaicDefinition['mosaicProperties'].duration; else durationUndefined">
            <span class="color-black fw-400 fs-08rem">
              <strong>
                (Blocks: {{mosaicDefinition['mosaicProperties'].duration.compact()}})
              </strong> -
              {{transactionService.calculateDuration(mosaicDefinition['mosaicProperties'].duration)}}
            </span>
          </ng-container>
          <ng-template #durationUndefined>
            <span class="color-black fw-400 fs-08rem">
              <strong>Does not expire</strong>
            </span>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- Supply Mutable -->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-black fw-bold fs-08rem">Supply Mutable: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
          <span *ngIf="mosaicDefinition['mosaicProperties'].supplyMutable === true"><i
              class="fa fa-check-circle green-c" aria-hidden="true"></i></span>
          <span *ngIf="mosaicDefinition['mosaicProperties'].supplyMutable !== true"><i
              class="fa fa-minus-circle color-red" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>


    <!-- Transferable -->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-black fw-bold fs-08rem">Transferable: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
          <span *ngIf="mosaicDefinition['mosaicProperties'].transferable === true"><i class="fa fa-check-circle green-c"
              aria-hidden="true"></i>
          </span>
          <span *ngIf="mosaicDefinition['mosaicProperties'].transferable !== true"><i
              class="fa fa-minus-circle color-red" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>

  </div>
</ng-container>
