<!-- BALANCE & BUTTONS -->
<div class="container-fluid">
  <div class="row">
    <div class="col-11 col-lg-10 mx-auto">
      <div class="row d-center">
        <!-- FIRST PART -->
        <div class="col-12 col-md-6 mt-2rem border-right-1px max-w100porcent">
          <div class="row">
            <!-- NAME ACCOUNT -->
            <div class="col-12 d-flex align-items-start d-center">
              <i class="fa fa-sort-desc cursor-p pr-03rem" aria-hidden="true" (click)="modalAccounts.show()"></i>
              <span class="fw-600 color-black cursor-p" (click)="modalAccounts.show()"> {{currentAccount.name}}</span>
              <span class="ml-05rem  title-tab-blue pt-03rem">
                <i>- Current default </i>
              </span>
            </div>

            <!-- ADDRESS -->
            <div class="col-12 d-flex align-items-center mt-02rem d-center">
              <span class="fs-07rem ls-002rem" style="white-space:nowrap;">{{currentAccount.address}} &nbsp; </span>
              <img src="assets/images/img/icon-copy-clipboard-gray-proximax-sirius-wallet.svg" class="icono cursor-p"
                alt="Copy" width="20" (click)="copyMessage('Address')" ngxClipboard
                [cbContent]="currentAccount.address">
              <img src="assets/images/img/icon-qr-code.svg" class="icono cursor-p" alt="Address QR" width="20"
                (click)="modalQR.show()">
            </div>

            <!-- BALANCE -->
            <div class="col-12 mt-02rem a-center">
              <img class="icono" src="assets/images/img/icon-prx-xpx-blue.svg" width="20">
              <span class="fs-08rem color-black">{{vestedBalance?.part1}}</span>
              <span class="fs-07rem color-black">{{vestedBalance?.part2}}</span>
              <span class="fs-08rem color-black">&nbsp;XPX</span>
              &nbsp; &nbsp;
              <img class="icono" src="assets/images/img/icon-usd-blue.svg" width="20">
              <span class="fs-08rem color-black">USD {{ coinUsd | number : '1.2-6'}}</span>
            </div>
          </div>
        </div>

        <!-- SEGUNDA PARTE -->
        <div class="col-12 col-md-6 mt-2rem max-w100porcent">
          <div class="row">
            <div class="col-12 d-flex align-items-center d-center">
              <span class="fs-1-2rem">Transactions: &nbsp;</span>
              <span class="fs-09rem fw-600 color-black"> {{cantConfirmed + cantUnconfirmed}}</span>
            </div>

            <div class="col-12 d-center">
              <div class="row pl-15px">
                <div class="innerBtn" (click)="selectTransactions(1)" title="Confirmed">
                  <div class="btn-confirmed">
                    <div class="d-flex flex-row justify-content-around">
                      <div>
                        <img class="icono" src="assets/images/img/icon-transaction-confirmed-white.svg" width="18">
                      </div>
                      <div>
                        <span class="txt-btn-dashboard">
                          {{cantConfirmed}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="innerBtn" title="Unconfirmed">
                  <div (click)="selectTransactions(0)" [ngClass]="{'cursor-n-a': transactionsUnconfirmed.length === 0}">
                    <div class="btn-unconfirmed">
                      <div class="d-flex flex-row justify-content-around">
                        <div>
                          <img class="icono" src="assets/images/img/icon-transaction-unconfirmed-white.svg" width="18">
                        </div>
                        <div>
                          <span class="txt-btn-dashboard">{{cantUnconfirmed}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="innerBtn" title="Partials">
                  <div [ngClass]="{'cursor-n-a': partialTransactions === 0}">
                    <a [routerLink]="[viewDetailsPartial]">
                      <div class="btn-partial">

                        <div class="d-flex flex-row justify-content-around">
                          <div>
                            <img class="icono" src="assets/images/img/icon-transaction-partial-white.svg" width="18">
                          </div>
                          <div>
                            <span class="txt-btn-dashboard">
                              {{partialTransactions}}
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <ng-container *ngIf="swapTransactions > 0">
                  <div class="innerBtn" title="Swap">
                    <div [ngClass]="{'cursor-n-a': swapTransactions === 0}">
                      <a [routerLink]="[viewSwapTransactions]">
                        <div class="btn-swap">
                          <div class="d-flex flex-row justify-content-around">
                            <div>
                              <img class="icono" src="assets/images/img/icon-transaction-swap-process-white.svg"
                                width="18">
                            </div>
                            <div>
                              <span class="txt-btn-dashboard">{{swapTransactions}}</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TABLE -->
<div class="container-fluid">
  <!-- FIELD SEARCH -->
  <div class="row">
    <div class="col-11 col-lg-10 mx-auto">
      <input [(ngModel)]="searchTransaction" type="text" autocomplete="off" id="searchTransaction"
        class="md-form form-control mb-0" mdbInputDirective [validateSuccess]="false" [validateError]="false"
        placeholder="Search">
    </div>
  </div>

  <!-- Searching and icon reload -->
  <div class="row mt-2rem" *ngIf="searching">
    <div class="col-11 col-lg-10 mx-auto">
      <!-- Searching -->
      <ng-container>
        <div class="col-12 txt-a-center">
          <mdb-spinner spinnerType="small" spinnerColor="blue"></mdb-spinner>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Searching and icon reload -->
  <div class="row mt-2rem txt-a-right">
    <div class="col-11 col-lg-10 mx-auto">
      <!-- Icon Reload -->
      <ng-container *ngIf="iconReloadDashboard && !searching">
        <div class="col-12 t-a-r">
          <i class="fa fa-repeat btn-reload cursor-pointer" aria-hidden="true" mdbTooltip="Reload" placement="bottom"
            (click)="getRecentTransactions(true)"></i>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- TABLE -->
  <div class="row">
    <div class="col-11 col-lg-10 mx-auto d-flex justify-content-center">
      <div class="datatable-style max-w-table">
        <table mdbTable mdbTableScroll scrollX="true" striped="true">
          <thead>
            <tr class="header-backg">
              <th *ngFor="let head of headElements" scope="col" class="fs-075rem txt-a-left ">{{head}}
              </th>
            </tr>
          </thead>

          <tbody class="background-white">
            <ng-container *ngFor="let el of transactions | paginate: configFilesDashboard">
              <tr class="white-space-pre cursor-p" (click)="openModal(el);">
                <td class="th-sm fs-07rem" scope="row description-dark-green">
                  <ng-container *ngIf="el.nameType === 'ProximaX Swap';">
                    <span style="color: #e6b219;"><i class="fa fa-star" aria-hidden="true"></i></span>
                  </ng-container>
                  {{el.nameType}}
                </td>

                <!-- address -->
                <td class="text-a-center th-md description-dark-green fs-07rem">
                  <img src="assets/images/img/arrow-transaction-receive-green-proximax-sirius-explorer.svg" alt=""
                    width="25" *ngIf="el.receive">
                  <img src="assets/images/img/arrow-transaction-sender-orange-proximax-sirius-explorer.svg" alt=""
                    width="25" *ngIf="!el.receive">
                </td>

                <!-- address -->
                <td class="th-md description-dark-green fs-07rem">
                  <span>{{el.senderAddress}}</span>
                </td>

                <!-- recipíent -->
                <ng-container *ngIf="el?.recipientAddress !== null; else recipientRentalFee">
                  <td class="th-md description-dark-green fs-07rem">
                    <span>{{el.recipientAddress}}</span>
                  </td>
                </ng-container>

                <!-- recipient rental fee -->
                <ng-template #recipientRentalFee>
                  <td class="th-sm description-dark-green fs-07rem">
                    <span>{{el.recipientRentalFeeSink}}</span>
                  </td>
                </ng-template>
              </tr>
            </ng-container>

            <ng-container *ngIf="transactions.length === 0 && !searching">
              <tr>
                <td colspan="6" class="txt-a-center">nothing to show</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12 pt-1rem pb-3rem d-flex justify-content-center mx-auto">
      <pagination-controls [id]="configFilesDashboard.id" (pageChange)="configFilesDashboard.currentPage = $event">
      </pagination-controls>
    </div>
  </div>

  <!-- Btn Top -->
  <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <a mdbBtn floating="true" size="md" mdbWavesEffect class="background-btn" (click)="scrollToTop()">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </a>
  </div>
</div>

<!-- TRANSACTION INFORMATION DETAILS -->
<div class="d-flex align-items-center">
  <div mdbModal #modalDashboard="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="modalDashboard" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex align-items-center" role="document">
      <div class="modal-content form-elegant bord-rad-1-5rem">
        <div class="modal-header text-center box-modal-white b-t-r-r-1-5rem b-t-l-r-1-5rem p-05rem">
          <span class="modal-title w-100" id="myModalLabel">
            <strong class="title-modal-blue">Transaction Information</strong>
          </span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalDashboard.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <ng-container *ngIf="dataSelected">

            <!-- TYPE MOSAIC DEFINITION TRANSACTION -->
            <!-- <app-mosaic-definition-type [mosaicDefinition]="dataSelected"
              *ngIf="dataSelected.data.type === typeTransactions.mosaicDefinition.id">
            </app-mosaic-definition-type> -->


            <!-- TRANSFER -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.transfer.id">
              <app-transfer-type [transferTransaction]="dataSelected"></app-transfer-type>
            </ng-container>

            <!-- TYPE REGISTER NAMESPACE TRANSACTION -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.registerNameSpace.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- TYPE REGISTER NAMESPACE TRANSACTION -->
                    <div class="col-12 col-md-6 col-lg-7">
                      <app-register-namespace-type [registerNamespaceTransaction]="dataSelected">
                      </app-register-namespace-type>
                    </div>

                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-6 col-lg-5 box-modal-grey pt-01rem">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- TYPE MOSAIC SUPPLY CHANGE TRANSACTION -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.mosaicSupplyChange.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- TYPE REGISTER NAMESPACE TRANSACTION -->
                    <div class="col-12 col-md-6 col-lg-7">
                      <app-mosaic-supply-change-type [mosaicSupplyChange]="dataSelected">
                      </app-mosaic-supply-change-type>
                    </div>
                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-6 col-lg-5 box-modal-grey pt-01rem">
                      <app-box-data-signer-hash [dataSelected]="dataSelected"></app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- TYPE AGGREGATE COMPLETE TRANSACTION-->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.aggregateComplete.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- AGGREGATE BONDED TYPE -->
                    <div class="col-12 col-md-6 col-lg-7">
                      <app-aggregate-complete-type [aggregateComplete]="dataSelected">
                      </app-aggregate-complete-type>
                    </div>

                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-6 col-lg-5 box-modal-grey pt-01rem">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- TYPE AGGREGATE BONDED -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.aggregateBonded.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- AGGREGATE BONDED TYPE -->
                    <div class="col-12 col-md-6 col-lg-7">
                      <app-aggregate-bonded-type [aggregateBonded]="dataSelected">
                      </app-aggregate-bonded-type>
                    </div>

                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-6 col-lg-5 box-modal-grey pt-01rem">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- MOSAIC ALIAS -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.mosaicAlias.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- TYPE LOCK -->
                    <div class="col-12 col-md-6 col-lg-7">
                      <app-mosaic-alias [mosaicAlias]="dataSelected"></app-mosaic-alias>
                    </div>

                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-6 col-lg-5 box-modal-grey pt-01rem">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!--  ADDRESS ALIAS-->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.addressAlias.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- TYPE LOCK -->
                    <div class="col-12 col-md-6 col-lg-7">
                      <app-address-alias-type [addressAlias]="dataSelected"></app-address-alias-type>
                    </div>

                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-6 col-lg-5 box-modal-grey pt-01rem">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- TYPE LOCK -->
            <ng-container *ngIf="dataSelected.data.type === typeTransactions.lock.id">
              <div class="row">
                <div class="col-11 mx-auto">
                  <div class="row">
                    <!-- TYPE LOCK -->
                    <div class="col-12 col-md-6 col-lg-7">
                      <app-lock-type [transactionLock]="dataSelected"
                        *ngIf="dataSelected.data.type === typeTransactions.lock.id"></app-lock-type>
                    </div>
                    <!-- BOX DATA SIGNER HASH -->
                    <div class="col-12 col-md-6 col-lg-5 box-modal-grey pt-01rem">
                      <app-box-data-signer-hash [dataSelected]="dataSelected">
                      </app-box-data-signer-hash>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <!-- TYPE MODIFY MULTISIG ACCOUNT TRANSACTION
                        <app-modify-multisig-account-type
                            *ngIf="dataSelected.data.type === typeTransactions.modifyMultisigAccount.id">
                        </app-modify-multisig-account-type>-->

            <!-- TYPE SECRET LOCK TRANSACTION
                        <app-secret-lock-type *ngIf="dataSelected.data.type === typeTransactions.secretLock.id">
                        </app-secret-lock-type>-->
            <!-- TYPE SECRET PROOF TRANSACTION
                        <app-secret-proof *ngIf="dataSelected.data.type === typeTransactions.secretProof.id"></app-secret-proof>-->
            <!-- </div>
                    </div>
                    </div> -->
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL CERTIFICATE -->
<div class="d-flex align-items-center">
  <div mdbModal #modalAccounts="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAccounts"
    aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex align-items-center" role="document">
      <div class="modal-content form-elegant bord-rad-1-5rem">
        <div class="modal-header text-center box-modal-white b-t-r-r-1-5rem b-t-l-r-1-5rem p-05rem">
          <span class="modal-title w-100" id="myModalLabel">
            <strong class="title-modal-blue">Voting Certificate</strong>
          </span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalAccounts.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ACCOUNT -->
<div class="d-flex align-items-center">
  <div mdbModal #modalAccounts="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAccounts"
    aria-hidden="true">
    <div class="modal-dialog  align-items-center" role="document">
      <div class="modal-content form-elegant bord-rad-1-5rem">
        <div class="modal-header text-center box-modal-white b-t-r-r-1-5rem b-t-l-r-1-5rem p-1-5rem">
          <div class="d-flex w-100">
            <div class="flex-column justify-content-center w-100">
              <div class="modal-title fw-600"><strong class="title-modal-blue-1-7">Accounts</strong></div>
              <div class="modal-title"><strong class="title-modal ">Account available in wallet:</strong></div>
            </div>
          </div>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalAccounts.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- TABLE LIST ACCOUNTS -->
          <div class="row">
            <div class="col-10 d-flex justify-content-center mx-auto">
              <div class="table-responsive" style="max-height: 400px; overflow: auto; ">
                <table mdbTable hover="true" striped="true" class="z-depth-0 result">
                  <tbody #tableResult>
                    <ng-container *ngFor="let account of currentWallet.accounts; let i = index">
                      <tr mdbTableCol class="white-space-pre cursor-p" (click)="changeAsPrimary(account.name)">
                        <td style="width:1%">
                          <span class="fs-08rem txt-a-center line-h-1-2em fw-600  mb-06rem">{{account.name}}</span>
                          <br>
                          <span class="fs-08rem txt-a-center line-h-1-2em  mb-06rem">{{
                            account.address}}</span>
                        </td>
                        <td>
                          <div class="d-flex flex-row mt-05rem">
                            <div *ngIf="account.default" class="p-2">
                              <span class="title-tab-blue">
                                <i>-Current default </i>
                              </span>
                            </div>
                            <div *ngIf="account.isMultisign !== null && account.isMultisign.cosignatories.length > 0"
                              class="p-2">
                              <span class="title-tab-blue ">
                                <i>-Multisig </i>
                              </span>
                            </div>
                            <div *ngIf="[undefined, null].includes(account.nis1Account) === false" class="p-2">
                              <span class="title-tab-blue ">
                                <i>-Swap </i>
                              </span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL QR -->
<div class="d-flex align-items-center">
  <div mdbModal #modalQR="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalQR"
    aria-hidden="true">
    <div class="modal-dialog modal-sm align-items-center" role="document">
      <div class="modal-content form-elegant bord-rad-1-5rem">
        <div class="modal-header d-flex justify-content-center p-05rem">
          <div class="modal-title fw-600">
            <span class="title-modal-blue-1-7" style="font-size: 1rem !important;">Current Default Address</span>
          </div>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalQR.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" style="padding: 0 5rem;">
          <!-- TABLE LIST ACCOUNTS -->
          <div class="row mb-1-5rem">
            <div class="col-10 d-flex justify-content-center mx-auto">
              <div class="mx-auto">
                <img [src]="qr" width="250">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
