<!-- <div class="mt-3rem">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="card classic-admin-card background-gold">
          <div class="height-body-card card-body">
            <div class="pull-right"><i class="fa fa-money logo-item-classic-card"></i></div>
            <p class="white-text">Current Balance</p>
            <h2>2000 <strong>XPX</strong></h2>
          </div>
          <hr>
          <div class="card-body">
            <p>Better than last week (25%)</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="card classic-admin-card background-gold">
          <div class="height-body-card card-body">
            <div class="pull-right"><i class="fa fa-money logo-item-classic-card"></i></div>
            <p class="white-text">Current Balance</p>
            <h4>2000 <strong>XPX</strong></h4>
          </div>
          <hr>
          <div class="card-body">
            <p>Better than last week (25%)</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="card classic-admin-card background-gold">
          <div class="height-body-card card-body">
            <div class="pull-right"><i class="fa fa-money logo-item-classic-card"></i></div>
            <p class="white-text">Current Balance</p>
            <h4>2000 <strong>XPX</strong></h4>
          </div>
          <hr>
          <div class="card-body">
            <p>Better than last week (25%)</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="card classic-admin-card background-gold">
          <div class="height-body-card card-body">
            <div class="pull-right"><i class="fa fa-money logo-item-classic-card"></i></div>
            <p class="white-text">Current Balance</p>
            <h4>2000 <strong>XPX</strong></h4>
          </div>
          <hr>
          <div class="card-body">
            <p>Better than last week (25%)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="mt-4rm">
  <mdb-tabset [buttonClass]="'classic-tabs background-gold'" [contentClass]="'card'" class="classic-tabs">
    <mdb-tab heading="<i class='fa fa-exchange fa-1x'></i><br>Confirmed">
      <app-transactions></app-transactions>
    </mdb-tab>

    <mdb-tab heading="<i class='fa fa-exchange fa-1x'></i><br>Unconfirmed">
      <app-transactions></app-transactions>
    </mdb-tab>
  </mdb-tabset>
</div>
