
.style {
    border-radius: 1rem;
    background-color: #306eb5;
}

.dropdown-toggle:empty::after {
  margin-left: 0!important;
}

 @media (max-width: 575px) {
  .dropup, .dropright, .dropdown, .dropleft {
    position: static !important;
  }
  
  }
