<div class="container-fluid mt-11rem mb-3rem animated fadeIn">
  <div class="row">
    <div class="col-11 col-sm-10 mx-auto">
      <!-- Title -->
      <div class="row">
        <div class="col-11 col-sm-10 mx-auto">
          <h1 class="text-align-center wallet-name">
            <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
          </h1>

          <hr class="background-divisor">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-11 col-md-10 col-lg-8 mx-auto">
      <div class="row">
        <!-- BOX BALANCE -->
        <div class="col-12 col-md-6 col-lg-7 no-p-l">
          <div class="box-form-white mb-1rem size-box">
            <div class="row">
              <div class="col-sm-6 col-md-12 col-lg-9">
                <span class="title-transactions f-s-title-transactions">{{vestedBalance}}</span>
              </div>

              <div class="col-sm-6 col-md-12 col-lg-9">
                <span>USD 0.000000</span><br>
              </div>

              <div class="col-12 overflow-ellipsis-nowrap" id="addressBox">
                <span class="f-s-dashboard-transactions">{{myAddress.address}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- BOX TRANSACTIONS -->
        <div class="col-12 col-md-6 col-lg-5 no-p-r">
          <div class="box-form-white mb-1rem size-box">
            <div class="row">
              <div class="col-6 col-md-12">
                <span class="title-transactions f-s-title-transactions">Transactions</span>
              </div>

              <div class="col-6 col-md-6">
                <span class="title-transactions f-s-title-transactions">{{cantConfirmed + cantUnconfirmed}}</span>
              </div>

              <!-- Confirmed and Unconfirmed -->
              <div class="col-6 col-sm-6 col-md-6" id="boxConfirmedUnconfirmed">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 text-center d-flex align-items-center">
                    <span class="f-s-dashboard-transactions f-w-400">CONFIRMED: </span>
                    <span class="f-s-dashboard-transactions f-w-600">{{cantConfirmed}}</span>
                  </div>

                  <div class="col-12 col-sm-12 col-md-12 text-center d-flex align-items-center">
                    <span class="f-s-dashboard-transactions f-w-400">UNCONFIRMED: </span>
                    <span class="f-s-dashboard-transactions f-w-600">{{cantUnconfirmed}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-11 col-md-10 col-lg-8 mx-auto">
      <div class="row box-form mt-1rem p-t-0 p-b-0 p-r-0 p-l-0">
        <!-- Keyword or number -->
        <div class="col-12 col-md-7">
          <div class="md-form" id="container-walletname">
            <input [(ngModel)]="searchTransaction" type="text" autocomplete="off" id="searchTransaction"
              class="form-control" mdbInputDirective [validateSuccess]="false" [validateError]="false">
            <label for="searchTransaction">Search</label>
          </div>
        </div>

        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
          <h5 class="mt-1rem f-w-400 color-white">20.000 Results | Order by: ASC</h5>
        </div>
      </div>
    </div>
  </div>
</div>
