<div class="container mt-3rem mb-1rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <!-- HEADER SEARCH -->
  <div class="container-fluid background-header-grey pb-1rem pt-1rem">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="row">
          <!-- Keyword or number -->
          <div class="col-12 col-lg-10 mx-auto d-flex align-items-center pt-05rem">
            <input [(ngModel)]="searchContact" type="text" autocomplete="off" id="searchTransaction"
              class="form-control" mdbInputDirective [validateSuccess]="false" [validateError]="false"
              placeholder="Search">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Progress bar -->
  <div class="row">
    <div class="col-12">
      <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate" *ngIf="searching">
      </mdb-progress-bar>
    </div>
  </div>

  <div class="container">
    <div class="row mt-2rem">
      <div class="col-12 mx-auto">
        <div class="table-responsive table-hover">
          <table mdbTable #tableEl="mdbTable" id="mdbTable" striped="true"
            class="table table-hover table-bordered table-hover table-sm z-depth-0" cellspacing="0" width="100%"
            borderless="true">

            <!--Table head-->
            <thead>
              <tr class="header-backg">
                <ng-container *ngFor="let head of headElements; let i = index">
                  <th scope="col" class="text-center fw-400 th-sm">{{head}}</th>
                </ng-container>
              </tr>
            </thead>

            <!--Table body-->
            <tbody class="background-white">
              <ng-container *ngFor="let contact of contacts | paginate: { itemsPerPage: 5, currentPage: p }">
                <tr class="mouse-pointer">
                  <th class="th-sm text-center" scope="row description-dark-green">{{contact.label}}</th>
                  <td class="text-center th-sm description-dark-green">
                    {{contact.value}}</td>
                  <td>
                    <span class="table-remove text-center d-flex justify-content-center">
                      <button *ngIf="!contact.walletContact" type="button" mdbBtn class="background-btn" title="Edit"
                        rounded="true" size="sm" class="my-0" (click)="navigate(contact.label)"><i
                          class="fa fa-edit"></i></button>
                      <button *ngIf="!contact.walletContact" type="button" mdbBtn color="blue" rounded="true"
                        title="Delete" size="sm" class="my-0" (click)="remove(contact.label)"><i
                          class="fa fa-trash"></i></button>
                      <span class="contact-not-edit" *ngIf="contact.walletContact">N/A (Internal Contact)</span>
                    </span>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="contacts.length === 0 && !searching">
                <tr>
                  <td colspan="3" class="txt-a-center">nothing to show</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <div class="col-12 d-flex justify-content-center mx-auto">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content form-elegant b-r-08rem">
        <div class="modal-header text-center box-modal-grey b-t-r-r-08rem b-t-l-r-08rem">
          <h6 class="modal-title w-100 dark-grey-text" id="myModalLabel">
            <strong class="title-modal-grey">Delete contact</strong>
          </h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row mt-1rem mb-1rem">
          <div class="col-11 col-sm-12 col-md-11 mx-auto">
            <p class="fs-1-5rem fw-400 txt-a-center mt-05rem mb-1rem lh-1-1em">
              Are you sure you want to delete {{labelRemove}} contact?
            </p>
          </div>
          <!-- BUTTONS -->
          <div class="row mx-auto">
            <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
              <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax"
                size="md" (click)="basicModal.hide()">
                <span class="color-white">No</span>
              </button>
            </div>

            <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
              <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax"
                (click)="deleteContact()" size="md">
                <span class="color-white">Yes</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>