<div class="container mt-3rem mb-2rem animated fadeIn">
    <app-header [params]="paramsHeader"></app-header>
    <!--TITLLES -->
    <div class="row mt-1-5rem">
        <div *ngIf="currenAccount" class="col-8 d-flex justify-content-center mt-05rem mb-05rem mx-auto">
            <span class="fs-1-7rem fw-600 txt-a-center line-h-1-2em">
                {{currenAccount.name}}
            </span>
        </div>
        <div class="col-8 d-flex justify-content-center mb-1rem mx-auto">
            <span class="fs-1-7rem txt-a-center line-h-1-2em  mb-06rem ">{{tittle}}</span>
        </div>
        <!-- <div class="col-8 d-flex justify-content-center mb-1rem mx-auto">
            <span class="fs-08rem txt-a-center line-h-1-2em  mb-06rem">{{tittle2}}</span>
          </div>
          <div class="col-8 d-flex justify-content-center mb-1rem mx-auto">
            <span class="fs-08rem txt-a-center line-h-1-2em  mb-06rem">{{tittle3}}</span>
          </div> -->
        <!-- Information -->
        <div class="col-8 d-flex justify-content-center mb-1rem mx-auto box-transparent-border-orange">
            <span class="fs-08rem txt-a-center line-h-1-2em  mb-06rem fw-600">{{Information}}</span>
        </div>

    </div>



    <form [formGroup]="validatingForm">

        <!--PASSWORD -->
        <div class="row">
            <div class="col-8  mx-auto">
                <div class="md-form form-sm">
                    <img class="form-control-feedback" src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg"
                        alt="">

                    <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)" src="assets/images/img/icon-show-hide-password.svg"
                        *ngIf="passwordMain === 'password'">
                    <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)" src="assets/images/img/icon-show-hide-password-grey.svg"
                        *ngIf="passwordMain === 'text'">
                    <input [maxlength]="configurationForm.passwordWallet.maxLength" [minlength]="configurationForm.passwordWallet.minLength"
                        formControlName="password" mdbInputDirective mdbValidate [validateSuccess]="true"
                        [validateError]="true" type="password" [type]="passwordMain" id="password" class="form-control form-control-sm input-border"
                        placeholder="Enter wallet password">
                    <!-- VALIDATION -->
                    <mdb-error *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                        <span>Required to enable options</span>
                    </mdb-error>
                </div>

            </div>
        </div>
        <!-- CHECKBOX-->
        <div class="row">
            <div class="col-7 d-flex justify-content-center mt-05rem mb-05rem mx-auto">


                <mdb-checkbox formControlName="checked"> <span class="fs-08rem txt-a-center line-h-1-2em  mb-06rem">

                        {{texAlert}}
                    </span></mdb-checkbox>

            </div>
        </div>

    </form>

    <!-- TEXT ALET -->
    <!-- <div class="row mt-1-5rem">
          <div class="col-6 d-flex justify-content-center mb-1rem mx-auto">
            <span class="fs-1-5rem txt-a-center line-h-1-2em  mb-06rem">{{texAlert}}</span>
          </div>
        </div> -->
    <!--BUTTONS -->
    <div class="row  d-flex justify-content-center">
        <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem" size="md"
            [routerLink]="[routes.viewAllAccount]">
            <span class="fs-1-2em color-white">Cancel</span>
        </button>
        <button mdbBtn type="button" [disabled]="validatingForm.invalid" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
            size="md" (click)="deleteAccount()">
            <span class="fs-1-2em color-white">Delete now</span>
        </button>
    </div>
</div>