<app-header [params]="paramsHeader"></app-header>
<div [hidden]="true" class="row">
   <div class="col-11 col-md-10 col-lg-8 mx-auto">
      <div class="row">
         <div class="col-12 text-center">
            <canvas id="idCanvas" width="502" height="326"></canvas>
         </div>

      </div>
   </div>
</div>

<div class="container mt-3rem mb-2rem animated fadeIn">

   <form [formGroup]="createGift" (ngSubmit)="sendTransfer()">
      <div class="row" *ngIf="!showViewsConfirm">
         <div class="col-8 mx-auto">
            <!-- SELECT ACCOUNT -->
            <div class="row">
               <div class="col-12 mx-auto">
                  <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [searchable]="false" [clearable]="false"
                     [validateError]="true" class="selectWrapper" [items]="currentAccounts" formControlName="selectAccount"
                     bindLabel="label" placeholder="Select your account" (change)="selectAccount($event)">
                     <ng-template ng-option-tmp let-item="item" let-index="index">
                        <b>{{item.label}}</b>
                     </ng-template>
                  </ng-select>
                  <!-- VALIDATION -->
                  <mdb-error class="ml-1rem mt-06rem">
                     <span *ngIf="validateInput('selectAccount').invalid && (validateInput('selectAccount').dirty || validateInput('selectAccount').touched)"
                        class="fs-08rem color-error-message">Select your account</span>
                  </mdb-error>
               </div>
            </div>
            <!-- MESSAGE INFO -->
            <div class="row" *ngIf="valueValidateAccount?.disabledItem">
               <div class="col-12 mx-auto mb-1rem  box-transparent-border-red">
                  <div class="txt-a-center">
                     <img src="assets/images/img/icon-restriction-white.svg" style="filter: invert(50%)" alt="" width="30">
                  </div>
                  <h6 *ngIf="valueValidateAccount?.info !==''" class="fw-600">{{valueValidateAccount.info}}</h6>
               </div>
            </div>
            <!-- AMOUNT & TO BE SENT -->
            <div class="row">
               <!-- Card -->
               <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6  mx-auto">

                  <div class="md-form form-sm mt-1rem mb-0rem">
                     <img class="form-control-feedback" src="assets/images/img/icon-card-green-16h-proximax-sirius-wallet.svg"
                        alt="">
                     <input mask="0*" formControlName="cantCard" required mdbInputDirective mdbValidate
                        [validateSuccess]="true" [validateError]="true" type="text" id="cantCard" class="form-control form-control-sm input-border txt-a-right input-amount"
                        placeholder="Number of Gift Cards" (keyup)="limitDuration($event)">
                     <span class="label-i-icon pl-2rem"></span>

                     <!-- VALIDATION -->
                     <mdb-error *ngIf="validateInput('cantCard', '').invalid && (validateInput('cantCard', '').dirty || validateInput('cantCard', '').touched)">
                        <span>Number required</span>
                     </mdb-error>


                  </div>
               </div>
               <!-- Amount Input -->
               <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6  mx-auto">
                  <div class="md-form form-sm mt-1rem mb-0rem">
                     <img class="form-control-feedback" src="assets/images/img/icon-amount-green-16h-proximax-sirius-wallet.svg"
                        alt="">
                     <input pattern="^[+]?([0-9]*[.])?[0-9]+$" currencyMask [options]="optionsXPX" mdbInputDirective
                        mdbValidate [validateSuccess]="true" [maxlength]="configurationForm.amount.maxLength"
                        [validateError]="true" type="text" class="form-control form-control-sm input-border input-amount"
                        placeholder="Amount Per Gift Card" formControlName="amountXpx">
                     <span class="label-i-icon pl-2rem"></span>

                     <mdb-error *ngIf="validateInput('amountXpx').invalid && (validateInput('amountXpx').dirty || validateInput('amountXpx').touched)">
                        <span class="fs-08rem  color-error-message">Invalid amount</span>
                     </mdb-error>

                  </div>
               </div>
            </div>
            <!-- MESSAGE -->
            <div class="row">
               <div class="col-12 mx-auto">
                  <div class="md-form form-sm mt-1rem mb-0rem">
                     <img class="form-control-feedback" src="assets/images/img/icon-messenger-green-16h-proximax-sirius-wallet.svg"
                        alt="">
                     <input mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="text"
                        id="message" class="form-control form-control-sm input-border" mdbInput placeholder="Message On Gift Cards"
                        formControlName="message" [maxlength]="messageMaxLength">
                     <span class="fs-08rem text-cl-m d-flex justify-content-end">{{ charRest }} / {{ messageMaxLength
                        }}</span>
                     <mdb-error *ngIf="validateInput('message').invalid && (validateInput('message').dirty || validateInput('message').touched)">
                        <span>Message required</span>
                     </mdb-error>
                  </div>
               </div>
            </div>

            <!-- FEE -->
            <div class="row">
               <div class="col-12 mx-auto">
                  <div class="box-grey d-flex justify-content-center pt-09rem pb-09rem">
                     <div class="row">
                        <div class="col-12 text-center">
                           <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg"
                              width="20" alt="">
                           <span class="fs-08rem">
                              Unconfirmed/Recommended Fee:&nbsp;
                              <a [innerHTML]="getQuantity(fee)"></a> XPX
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>


            <!-- PASSWORD -->
            <div class="row">
               <div class="col-12 mx-auto">
                  <div class="md-form form-sm">
                     <img class="form-control-feedback" src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg"
                        alt="">
                     <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)" src="assets/images/img/icon-show-hide-password.svg"
                        *ngIf="passwordMain === 'password'">
                     <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)" src="assets/images/img/icon-show-hide-password-grey.svg"
                        *ngIf="passwordMain === 'text'">
                     <input [maxlength]="configurationForm.passwordWallet.maxLength" [minlength]="configurationForm.passwordWallet.minLength"
                        formControlName="password" required mdbInputDirective mdbValidate [validateSuccess]="true"
                        [validateError]="true" [type]="passwordMain" id="password" class="form-control form-control-sm input-border"
                        placeholder="Enter Wallet Password">

                     <!-- VALIDATION -->
                     <mdb-error *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                        <span>Password required</span>
                     </mdb-error>
                  </div>
               </div>
            </div>
            <!-- BUTTONS -->
            <div class="row">
               <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
                  <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md" (click)="clearForm()">
                     <span class="fs-1-2em color-white">Clear</span>
                  </button>
               </div>
               <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                  <button [disabled]="createGift.invalid && !reloadBtn" mdbBtn type="submit" rounded="true"
                     mdbWavesEffect class="btn-proximax" size="md">
                     <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                        *ngIf="reloadBtn"></span>
                     <span class="fs-1-2em color-white">Generate</span>
                  </button>
               </div>
               <!-- <div class="col-12  d-flex justify-content-center justify-content-sm-center">
                  <button [disabled]="!save" (click)="donwnload()" mdbBtn type="button" rounded="true" mdbWavesEffect
                     class="btn-proximax" size="md">
                     <span class="fs-1-2em color-white">Save (Copy)</span>
                  </button>
               </div> -->
            </div>
         </div>
      </div>

   </form>

   <div class="row" *ngIf="showViewsConfirm">
      <div class="col-12">
         <!-- CERTIFICATE -->
         <div class="row">
            <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
               <div class="row">
                  <div class="col-12 txt-a-center">
                     <span class="fs-1-7rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">Congratulations!</span>
                     <br>
                     <span>Gift card(s) ready.</span>
                  </div>

                  <div class="col-11 col-md-10 mx-auto">
                     <hr class="mt-05rem mb-06rem">
                  </div>
               </div>

               <div class="row mt-1rem">
                  <div class="col-12 txt-a-center mt-04rem">
                     <span class="fs-1-1rem fw-600">Sirius Gift for X{{cantCard}}</span>
                  </div>
                  <div class="col-12 txt-a-center">
                     <span class="fs-1-1rem">
                        {{amountFormatterSimple(realAmount)}} XPX
                     </span>
                  </div>
                  <div class="col-12 txt-a-center">
                     <span class="fs-075rem ">{{descrip}}</span>
                  </div>
                  <div class="col-12 mt-04rem">
                     <hr class="mt-03rem mb-05rem">
                  </div>
               </div>
            </div>
         </div>
         <!-- END CERTIFICATE -->

         <!-- WARNING -->
         <div class="row mt-2rem">
            <div class="col-md-10 col-lg-8 col-xl-8 mx-auto box-transparent-border-orange">
               <div class="txt-a-center">
                  <img src="assets/images/img/icon-transaction-unconfirmed-white.svg" style="filter: invert(50%)" alt=""
                     width="30">
               </div>
               <p class="fs-08rem txt-a-center mt-05rem mb-0 lh-1-1em">
                  Make sure you download the file.
               </p>
            </div>
         </div>
         <!-- END WARNING -->

         <div class="row mt-1rem">
            <div class="col-11 col-sm-10 col-lg-9 col-xl-8 mx-auto txt-a-center">
               <mdb-checkbox [(ngModel)]="checked" [checked]="checked"> I confirm that I have saved the gift card file.
               </mdb-checkbox>
            </div>
         </div>

         <!-- BUTTON -->
         <div class="row mt-1rem">
            <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
               <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md" (click)="builGitf()">
                  <span class="color-white">Save</span>
               </button>
            </div>

            <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
               <button mdbBtn rounded="true" mdbWavesEffect [disabled]="!checked" (click)="showViewsConfirmFunc()"
                  class="btn-proximax" size="md">
                  <span class="color-white">Continue</span>
               </button>
            </div>
         </div>


      </div>

   </div>

</div>
