<div class="container-fluid mt-11rem mb-3rem pt-0 pb-0">
  <div class="row">
    <div class="col-11 col-sm-10 mx-auto">
      <!-- Title -->
      <div class="row">
        <div class="col-11 col-sm-10 mx-auto">
          <span class="d-flex justify-content-center align-items-center wallet-name">
            <img class="mr-05rem h2-3em" src="assets/images/img/icon-namespaces-white.svg">
            <span class="f-w-bold fs-1-5rem title-module">Alias a namespace to a mosaic</span>
          </span>
        </div>
        <div class="col-11 col-sm-10 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>
    </div>

    <div class="col-11 col-sm-10 mx-auto">
      <form [formGroup]="linkingNamespaceToMosaic" (ngSubmit)="send()">

        <!-- Namespace -->
        <div class="row box-form mt-1rem pr-0 pl-0 pt-0 pb-0">
          <div class="col-3 col-sm-2 col-md-1 d-flex align-items-center justify-content-end justify-content-sm-end">
            <img class="h1-5em" src="assets/images/img/icon-namespaces-white.svg" alt="">
          </div>

          <div class="col-9 col-sm-10 col-md-11">
            <div class="md-form">
              <ng-select [items]="namespaceSelect" formControlName="namespace" bindLabel="label" bindValue="value"
                placeholder="Select or write namespace">
              </ng-select>
            </div>
          </div>
        </div>

        <!-- Mosaics -->
        <div class="row box-form mt-1rem pr-0 pl-0 pt-0 pb-0">
          <div class="col-3 col-sm-2 col-md-1 d-flex align-items-center justify-content-end justify-content-sm-end">
            <img class="h1-5em" src="assets/images/img/icon-mosaics-white.svg" alt="">
          </div>

          <div class="col-9 col-sm-10 col-md-11">
            <div class="md-form">
              <ng-select [items]="mosaicSelect" formControlName="mosaic" bindLabel="label" bindValue="value"
                placeholder="Select or write mosaic">
              </ng-select>
            </div>
          </div>
        </div>

        <!-- Password -->
        <div class="row box-form mt-1rem pr-0 pl-0 pt-0 pb-0">
          <div class="col-3 col-sm-2 col-md-1 d-flex align-items-center justify-content-end justify-content-sm-end">
            <img class="h1-5em" src="assets/images/img/icon-password-white.svg" alt="">
          </div>

          <div class="col-9 col-sm-10 col-md-11">
            <div class="md-form">
              <input formControlName="password" type="password" autocomplete="off" required id="password"
                class="form-control" mdbInputDirective [validateSuccess]="false" [validateError]="false">
              <label for="password">Enter your wallet password</label>
              <!-- VALIDATIONS -->
              <mdb-error class="text-danger fw-500"
                *ngIf="input.invalid && (input.dirty || input.touched) && input.value === ''">Invalid
                password</mdb-error>


              <mdb-error class="text-danger fw-500"
                *ngIf="input.value !== '' && input.value.length >= 1 && input.value.length <= 7">
                The password must be greater than 8 characters
              </mdb-error>

              <mdb-success class="text-success fw-500"
                *ngIf="input.valid && (input.dirty || input.touched) && input.value.length >= 8">Valid password
              </mdb-success>

              <!-- FIN VALIDATIONS -->
            </div>
          </div>
        </div>

        <!-- BUTTONS -->
        <div class="row mt-1rem mb-1rem">
          <div class="col-6 t-a-r">
            <button mdbBtn size="md" type="button" rounded="true" mdbWavesEffect class="f-w-600 btn-white"
              (click)="resetForm()">
              CLEAN
            </button>
          </div>
          <div class="col-6">
            <button mdbBtn size="md" type="submit" rounded="true" mdbWavesEffect class="f-w-600 btn-dark-green-prx">
              SEND
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
