<div class="container-fluid mt-3rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-11 col-xl-8 mx-auto">
      <!-- HEADER MODULE -->
      <div class="row">
        <!-- NAME MODULE -->
        <div class="col-12 col-md-6 col-lg-4">
          <span class="fs-1rem txt-a-center line-h-1-2em color-grey">{{moduleName}}</span>
          <span class="fs-1rem txt-a-center line-h-1-2em color-grey"> > </span>
          <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{componentName}}</span>
        </div>

        <!-- ITEMS MENU -->
        <div class="col-12 col-md-6 col-lg-8 d-flex justify-content-start justify-content-md-end">
          <a class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio"
            [routerLink]="[routes.backToService]">
            <span>Back to Services</span>
          </a>
        </div>
      </div>

      <!-- BORDER SEPARATOR -->
      <div class="row">
        <div class="col-12">
          <hr class="mt-03rem mb-05rem">
        </div>
      </div>

      <!-- DETAILS -->
      <div class="row">
        <!-- Name -->
        <div class="col-12 col-md-10 col-lg-9 col-xl-10 mx-auto box-list-account-gray fs-08rem pb-1rem mb-1rem">
          <div class="row">
            <div class="col-12 col-sm-10 col-md-9 col-lg-10 col-xl-10 pt-1rem w-b-a">
              Name: <br>
              {{name}}
            </div>
            <!-- <div
              class="col-12 col-sm-2 col-md-3 col-lg-2 col-xl-2 d-flex align-items-center justify-content-start justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end pt-1rem">
              <i class="fa fa-pencil-square-o cursor-p fs-1-5rem" aria-hidden="true"></i>
            </div> -->
          </div>
        </div>

        <!-- Address -->
        <div class="col-12 col-md-10 col-lg-9 col-xl-10 mx-auto box-list-account-gray fs-08rem pb-1rem">
          <div class="row">
            <div class="col-12 col-sm-10 col-md-9 col-lg-10 col-xl-10 pt-1rem w-b-a">
              Address: <br>
              {{address}}
            </div>
            <div
              class="col-12 col-sm-2 col-md-3 col-lg-2 col-xl-2 d-flex align-items-center justify-content-start justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end pt-1rem">
              <img src="assets/images/img/icon-copy-clipboard-gray-proximax-sirius-wallet.svg" class="cursor-p"
                title="Copy" width="20" (click)="copyMessage('Address')" ngxClipboard [cbContent]="address">
            </div>
          </div>
        </div>

        <!-- Public key  -->
        <ng-container *ngIf="viewPublicKey">
          <div class="col-12 col-md-10 col-lg-9 col-xl-10 mx-auto box-list-account-gray fs-08rem pb-1rem">
            <div class="row">
              <div class="col-12 col-sm-10 col-md-9 col-lg-10 col-xl-10 pt-1rem w-b-a">
                Public key: <br>
                {{publicKey}}
              </div>
              <div
                class="col-12 col-sm-2 col-md-3 col-lg-2 col-xl-2 d-flex align-items-center justify-content-start justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end pt-1rem">
                <img src="assets/images/img/icon-copy-clipboard-gray-proximax-sirius-wallet.svg" class="cursor-p"
                  title="Copy" width="20" (click)="copyMessage('Public Key')" ngxClipboard [cbContent]="publicKey">
              </div>
            </div>
          </div>
        </ng-container>

        <!-- privateKey key  -->
        <ng-container *ngIf="viewPrivateKey">
          <div class="col-12 col-md-10 col-lg-9 col-xl-10 mx-auto box-list-account-gray fs-08rem pb-1rem">
            <div class="row">
              <div class="col-12 col-sm-10 col-md-9 col-lg-10 col-xl-10 pt-1rem w-b-a">
                Private key: <br>
                {{privateKey}}
              </div>
              <div
                class="col-12 col-sm-2 col-md-3 col-lg-2 col-xl-2 d-flex align-items-center justify-content-start justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end pt-1rem">
                <img src="assets/images/img/icon-copy-clipboard-gray-proximax-sirius-wallet.svg" class="cursor-p"
                  title="Copy" width="20" (click)="copyMessage('Private Key')" ngxClipboard [cbContent]="privateKey">
              </div>
            </div>
          </div>
        </ng-container>

        <div class="col-12 col-md-10 col-lg-9 col-xl-10 mx-auto fs-07rem mt-05rem pb-1rem txt-a-center">
          <span class="fw-600 fs-07rem">{{information}}</span>
        </div>
      </div>

      <!-- buttons create and clear -->
      <div class="row mt-2rem">
        <div class="col-11 col-sm-4 d-flex justify-content-center justify-content-sm-end">
          <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax"
            size="md" (click)="viewPrivateKey = !viewPrivateKey">
            <span class="color-white" *ngIf="viewPrivateKey">HIDE PRIVATE KEY</span>
            <span class="color-white" *ngIf="!viewPrivateKey">SHOW PRIVATE KEY</span>
          </button>
        </div>

        <div class="col-11 col-sm-4 d-flex justify-content-center">
          <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax"
            size="md" (click)="printAccountInfo()">
            <span class="color-white">SAVE PAPER WALLET</span>
          </button>
        </div>

        <div class="col-11 col-sm-4 d-flex justify-content-center justify-content-sm-start">
          <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax"
            size="md" (click)="goToRoute()" [disabled]="disabledContinue">
            <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
              *ngIf="disabledContinue"></span>
            <span class="color-white">CONTINUE</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>