<div class="row mt-04rem mr-1rem ml-1rem">
  <!-- Data -->
  <div class="col-12 d-flex align-items-start">
    <div class="row">
      <!-- Type transfer -->
      <div class="col-12 overflow-ellipsis-nowrap">
        <span class="color-dark-green fw-bold fs-1-2rem">{{registerNamespaceTransaction.nameType}}</span>
      </div>

      <!-- Timestamp -->
      <div class="col-12" *ngIf="registerNamespaceTransaction?.timestamp">
        <span class="color-dark-green fs-07rem fw-500 w-w-b-w">{{registerNamespaceTransaction?.timestamp}}</span>
      </div>

      <!-- Fee -->
      <ng-container *ngIf="registerNamespaceTransaction?.effectiveFee">
        <div class="col-12 mt-03rem">
          <span class="fw-600 fs-095rem color-dark-green">Fee:&nbsp;&nbsp;</span>
          <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg">
          <span class="fw-600 fs-095rem color-blue-light">{{registerNamespaceTransaction?.effectiveFee.part1}}</span>
          <span class="fw-600 fs-075rem color-blue-light">{{registerNamespaceTransaction?.effectiveFee.part2}}</span>
          <span class="fw-600 fs-095rem color-blue-light"> XPX </span>
        </div>
      </ng-container>

      <!-- HEIGHT -->
      <ng-container *ngIf="registerNamespaceTransaction?.data.transactionInfo.height.compact() > 0">
        <div class="col-12 mt-03rem">
          <span class="fw-600 fs-08rem color-dark-green">Height:&nbsp;&nbsp;</span>
          <span
            class="fs-07rem fw-400 color-dark-green">{{registerNamespaceTransaction?.data.transactionInfo.height.compact()}}</span>
        </div>
      </ng-container>

      <!-- TYPE -->
      <div class="col-12 mt-03rem">
        <span class="fw-600 fs-08rem color-dark-green">Type:&nbsp;&nbsp;</span>
        <span class="fs-07rem fw-400 color-dark-green">{{typeTransactionHex}}</span>
      </div>

      <!-- ID -->
      <div class="col-12 mt-03rem">
        <span class="fw-600 fs-08rem color-dark-green">Id:&nbsp;&nbsp;</span>
        <span
          class="fs-07rem fw-400 color-dark-green">{{registerNamespaceTransaction?.data.namespaceId.id.toHex()}}</span>
      </div>

      <!-- Name -->
      <div class="col-12 mt-03rem">
        <span class="fw-600 fs-08rem color-dark-green">Name:&nbsp;&nbsp;</span>
        <span class="fs-07rem fw-400 color-dark-green">{{nameNamespace}}</span>
      </div>

      <!-- Namespace type -->
      <div class="col-12 mt-03rem">
        <span class="fw-600 fs-08rem color-dark-green">Namespace type:&nbsp;&nbsp;</span>
        <span class="fs-07rem fw-400 color-dark-green" *ngIf="registerNamespaceTransaction?.data.namespaceType === 0">
          {{registerNamespaceTransaction?.data.namespaceType}} - ROOT_NS
        </span>

        <span class="fs-07rem fw-400 color-dark-green" *ngIf="registerNamespaceTransaction?.data.namespaceType !== 0">
          {{registerNamespaceTransaction?.data.namespaceType}} - SUB_NS
        </span>
      </div>

      <!-- Duration -->
      <ng-container *ngIf="registerNamespaceTransaction?.data.duration !== undefined">
        <div class="col-12 mt-03rem">
          <span class="fw-600 fs-08rem color-dark-green">Duration:&nbsp;&nbsp;</span>
          <span class="fs-07rem fw-400 color-dark-green">
            <strong>
              (Blocks: {{registerNamespaceTransaction?.data.duration.compact()}})
            </strong> -
            {{transactionService.calculateDuration(registerNamespaceTransaction?.data.duration)}}
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
