// .md-form .prefix~mdb-select {
//   margin-left: 2.4rem;
//   width: 92%;
//   width: -webkit-calc(100% - 2rem);
//   width: calc(100% - 3rem);
// }

// .md-form .prefix {
//   top: 0.85rem;
//   font-size: 1.45rem;
// }

// .separed-label {
//   margin-left: .9rem !important;
// }

// .size-icon {
//   font-size: 1.45rem;
// }

// .card {
//   box-shadow: none !important;
// }

// mdb-select mdb-select-dropdown>div .options ul .disabled {
//   background-color: #e2e2e2 !important;
//   color: #fff !important;
//   cursor: default !important;
//   pointer-events: none !important;
// }

// .part-properties {
//   font-weight: 500;
//   margin-right: 10px;
//   font-size: 1rem;
// }



.md-form .prefix~mdb-select {
  margin-left: 2.4rem;
  width: 92%;
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 3rem);
}

.md-form .prefix {
  top: 0.85rem;
  font-size: 1.45rem;
}

.separed-label {
  margin-left: .9rem !important;
}

.size-icon {
  font-size: 1.45rem;
}

.card {
  box-shadow: none !important;
}
