<div class="container mt-3rem mb-1rem animated fadeIn">
  <div class="row lh-01em">
    <div class="col-12 col-md-8">
      <span class="fs-095rem txt-a-center line-h-1-2em color-grey">Dashboard</span>
      <span class="fs-095rem txt-a-center line-h-1-2em color-grey"> > </span>
      <span class="fs-095rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">Swap</span>
    </div>

    <div class="col-12 col-md-4 d-flex justify-content-start justify-content-md-end">
      <a class="fs-08rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio" [routerLink]="[goBack]">
        <span>Back to Dashboard</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class="mt-03rem mb-05rem">
    </div>
  </div>
</div>

<div class="container-fluid pb-1rem pt-1rem">
  <div class="row d-flex justify-content-center">
    <div class="col-8 col-md-10 mx-auto">
      <input mdbInputDirective [validateSuccess]="false" [validateError]="false" class="w-100porcent form-control"
        type="text" placeholder="Enter search text" autocomplete="off" [(ngModel)]="filter">
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="col-11 col-lg-10 mx-auto">
    <div class="row d-flex justify-content-start align-items-stretch mb-1rem">
      <div class="col-12 col-md-6 col-xl-4 d-flex mt-1rem audit-back"
        *ngFor="let item of transactions |  stringFilter: filter | paginate: configFilesSelected ">

        <div class="audit-front d-flex" placement="top">
          <div class="col-8 p-05rem background-white">
            <div>
              <p class="audit-title">{{ item.siriusAddres }}</p>
            </div>
            <div>
              <p class="audit-subtitle">NIS1 Transacction hash</p>
              <p class="audit-value text-cl-m cursor-p" (click)="goToNemExplorer(item.nis1TransactionHash)">{{ item.nis1TransactionHash }}</p>
            </div>
            <div>
              <p class="audit-subtitle">NIS1 Timestamp</p>
              <p class="audit-value">{{ item.nis1Timestamp }}</p>
            </div>
          </div>
          <div
            class="col-4 audit-medal mx-auto background-blue-gradient d-flex flex-column justify-content-center align-items-center cursor-p"
            (click)="printCertificate(item)" mdbTooltip="Click to download certificate">
            <figure class="mt-05rem">
              <img src="assets/images/img/badge-silver-proximax-sirius-wallet.svg" alt="" width="100">
            </figure>
            <div class="mb-05rem">
              <p class="color-white m-0 txt-a-center fw-bold fs-09rem">Unconfirmed</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 pt-2rem pb-1rem d-flex justify-content-center mx-auto">
        <pagination-controls [id]="configFilesSelected.id" (pageChange)="configFilesSelected.currentPage = $event">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
