<navlinks>
  <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav">
    <ng-container *ngFor="let key of keyObject(header)">
      <ng-container *ngIf="header[key]['rol'] === showMenu && header[key]['show']">
        <li class="nav-item dropdown btn-group" dropdown *ngIf="header[key]['type'] == 'dropdown'">
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light font-header" mdbWavesEffect>
            <i [ngClass]="header[key]['icon']"></i> {{header[key]['name'] | uppercase}}
          </a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <ng-container *ngFor="let k of  keyObject(header[key]['submenu'])">
              <ng-container *ngIf="header[key]['submenu'][k]['show']">
                <a class="dropdown-item" [routerLink]="[header[key]['submenu'][k]['link']]">{{header[key]['submenu'][k]['name'] }}
                  <i [ngClass]="header[key]['submenu'][k]['icon']"></i>
                </a>
              </ng-container>
            </ng-container>
          </div>
        </li>
        <li class="nav-item">
          <ng-container *ngIf="key != 'signout'">
            <a *ngIf="header[key]['type'] != 'dropdown'" class="nav-link waves-light" mdbWavesEffect [routerLink]="[header[key]['link']]">
              <i [ngClass]="header[key]['icon']"></i>
              <span class="clearfix d-none d-sm-inline-block font-header"> {{header[key]['name'] | uppercase}}</span>
            </a>
          </ng-container>
          <ng-container *ngIf="key === 'signout'">
            <a *ngIf="header[key]['type'] != 'dropdown'" class="nav-link waves-light" mdbWavesEffect (click)="logout(header[key]['link'])">
                <i [ngClass]="header[key]['icon']"></i>
                <span class="clearfix d-none d-sm-inline-block font-header">{{header[key]['name'] | uppercase}}</span>
              </a>
          </ng-container>
        </li>

      </ng-container>
    </ng-container>
  </ul>
</navlinks>