<div class="container mt-3rem mb-1rem animated fadeIn">
  <div class="row">
    <div class="col-12 col-md-8">
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey">{{moduleName}}</span>
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey"> > </span>
      <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{componentName}}</span>
    </div>

    <div class="col-12 col-md-4 d-flex justify-content-start justify-content-md-end">
      <a class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio" [routerLink]="[goBack]">
        <span>Back to Services</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class="mt-03rem mb-05rem">
    </div>
  </div>
</div>

<!-- HEADER SEARCH -->
<div class="container-fluid background-header-grey pb-1rem pt-1rem">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row">
        <!-- SELECT -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-5 mx-auto pt-07rem">
          <div class="md-form mt-1rem mb-1rem caja-gris">
            <!-- <img class="icono" src="assets/images/img/icon-address-green-book-16h-proximax-sirius-wallet.svg" alt=""> -->
            <mdb-select placeholder="Select type search" [(ngModel)]="typeSearch" [options]="optionTypeSearch" required
              class="colorful-select dropdown-default" mdbInputDirective [validateSuccess]="false"
              [validateError]="false">
            </mdb-select>
          </div>
        </div>

        <!-- Keyword or number -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-5 mx-auto d-flex align-items-center pt-05rem">
          <input [(ngModel)]="paramSearch" type="text" autocomplete="off" id="searchTransaction" class="form-control"
            mdbInputDirective [validateSuccess]="false" [validateError]="false" placeholder="Keyword or number">
        </div>

        <div
          class="col-12 col-md-12 col-lg-2 d-flex align-items-center justify-content-center background-dark-green-plus pt-05rem">
          <button mdbBtn type="submit" rounded="true" mdbWavesEffect
            class="f-w-600 background-btn overflow-ellipsis-nowrap" size="md" (click)="searchData()">
            <span class="fs-1em color-white">SEARCH</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="searching">
  <div class="col-10 mx-auto mt-1rem">
    <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
    </mdb-progress-bar>
  </div>
</ng-container>

<!-- TABLE -->
<div class="container">
  <div class="row mt-2rem">
    <div class="col-12 mx-auto">
      <div class="table-responsive table-hover">
        <table mdbTable #tableEl="mdbTable" id="mdbTable" striped="true"
          class="table table-hover table-bordered table-hover table-sm z-depth-0" cellspacing="0" width="100%"
          borderless="true">

          <!--Table head-->
          <thead>
            <tr class="header-backg">
              <ng-container *ngFor="let head of headElements; let i = index">
                <th scope="col" class="text-center fw-400 th-sm">{{head}}</th>
              </ng-container>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody class="background-white">
            <ng-container *ngFor="let el of elements; let i = index">
              <tr>
                <!-- timestamp -->
                <td class="th-sm text-center description-dark-green fs-0-8-rem">{{el.timestamp}}</td>

                <!-- name -->
                <th class="th-sm description-dark-green fs-0-8-rem">
                  <img src="{{el.contentTypeIcon}}" width="25" alt="">
                  {{el.name}}</th>
                
                <!-- action -->
                <th class="th-sm text-center description-dark-green fs-0-8-rem mouse-pointer">
                   <img src="assets/images/img/icon-download-green-16h-proximax-sirius-wallet.svg" width="25" alt="download" title="Download"  (click)="dataSelected = el; basicModal.show();">
                </th>
              </tr>
            </ng-container>
            <ng-container *ngIf="elements.length === 0 && !searching">
              <tr>
                <td colspan="3" class="txt-a-center">nothing to show</td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot class="lighten-5 w-100">
            <tr>
              <td>
                 <button mdbBtn type="button" rounded="true" mdbWavesEffect [disabled]="fromTransactionId === undefined" (click)="getFiles()"
                  class="f-w-600  w-100porcent background-btn pl-2rem pr-2rem" size="sm">
                  <span class="fs-1-2em color-white">Next</span>
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- MODAL -->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content form-elegant b-r-08rem">
      <div class="modal-header text-center box-modal-grey b-t-r-r-08rem b-t-l-r-08rem">
        <h6 class="modal-title w-100 dark-grey-text" id="myModalLabel">
          <strong class="title-modal-grey">Download</strong>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <ng-container *ngIf="dataSelected !== null">
          Test
        </ng-container>
      </div>
    </div>
  </div>
</div>