<div class="container mt-3rem mb-2rem animated fadeIn">

  <app-header [params]="paramsHeader"></app-header>


  <!-- TITLE AND DESCRIPTION -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-08rem txt-a-center line-h-1-2em">This is a list of your imported NIS1 accounts available in
        this wallet.</span>
    </div>
  </div>
  <!-- END TITLE AND DESCRIPTION -->

  <!-- ACCOUNTS LIST -->
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 col-xl-10 mx-auto">
      <div class="col-12 d-flex justify-content-center pt-2rem pb-1rem">
        <span class="fs-1-5rem fw-500 txt-a-center line-h-1-2em color-black">Please select a NIS1 account</span>
      </div>
      <ng-container *ngFor="let account of accountsNis1; let i = index">
        <div class="row" *ngIf="account.nis1Account !== null">
          <div class="col-11 col-md-12 mx-auto d-flex align-items-center box-grey">
            <div class="col-9 col-sm-10 word-break-all">
              <span class="color-black"><b>{{ account.name }}</b></span>
              <span class="font-small d-flex color-black">{{ account.nis1Account.publicKey }}</span>
            </div>
            <div class="col-3 col-sm-2 text-center w-e-nowrap">
              <span class="color-blue-intermedio font-small cursor-p" (click)="accountSelected(account, i)"><span
                class="spinner-border spinner-border-sm text-light mr-sm-2 loading-blue" role="status"
                aria-hidden="true" *ngIf="searchItem[i]"></span>SELECT ></span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- END ACCOUNT LIST -->

</div>