<div class="container mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto d-flex justify-content-center">
      <span class="fs-08rem txt-a-center line-h-1-2em">
        Your imported private key has assets on the NIS1 blockchain.
      </span>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-11 col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto mt-1rem txt-a-center">
      <span class="fs-1-5rem fw-500 line-h-1-2em color-black">Would you like to swap over assets from NIS1
        blockchain to Sirius blockchain? </span>
    </div>
    <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto mx-auto box-transparent-border-orange mt-2rem">
      <span class="fs-075rem fw-500 txt-a-center line-h-1-2em color-black">
        Please note! Swap process may take several hours to complete. If you wish to proceed, you will receive a
        certificate containing your transaction hash for you records.
      </span>
    </div>
  </div>


  <!-- BUTTON -->
  <div class="row mt-2rem">
    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
      <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax"
        (click)="goToBack()" size="md">
        <span class="color-white">Not Interested</span>
      </button>
    </div>

    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
      <button mdbBtn rounded="true" mdbWavesEffect class="btn-proximax" size="md"
        (click)="goToRoute()">
        <span class="color-white">Yes, Please</span>
      </button>
    </div>
  </div>
  <!-- END BUTTON -->
</div>
