<div class="container mt-3rem mb-2rem animated fadeIn">
  <!-- <div class="row">
    <div class="col-12 col-md-8">
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey">{{moduleName}}</span>
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey"> > </span>
      <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{componentName}}</span>
    </div>

    <div class="col-12 col-md-4 d-flex justify-content-start justify-content-md-end">
      <a class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio" [routerLink]="[list]">
        <span>List</span>
      </a>
      <div class="col-2 d-flex justify-content-center">
        <div class="col-6">
          <div class="line-separator h-100porcent"></div>
        </div>
      </div>
      <a class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio" [routerLink]="[goBack]">
        <span>Back to Services</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class="mt-03rem mb-05rem">
    </div>
  </div> -->

  <!-- TITLE AND DESCRIPTION -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-1-7rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">Swap Process</span>
    </div>
    <div class="col-11 col-md-10 mx-auto">
      <hr class="mt-05rem mb-06rem">
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-08rem txt-a-center line-h-1-2em">You recently imported Private Key</span>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-08rem txt-a-center line-h-1-2em">((( PUBLIC KEY )))</span>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-08rem txt-a-center line-h-1-2em">Has some assets on the NIS1 Blockchain</span>
    </div>
  </div>
  <!-- END TITLE AND DESCRIPTION -->

  <!-- ACCOUNTS LIST -->
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 col-xl-10 mx-auto">
      <div class="col-md-8 col-lg-8 mx-auto d-flex justify-content-center pt-2rem">
        <span class="fs-2rem fw-500 txt-a-center line-h-1-2em color-black">Would you like to your assets to your Sirius Wallet?</span>
      </div>
      <div class="col-md-8 col-lg-8 mx-auto d-flex justify-content-center pt-2rem box-transparent-border-orange">
        <span class="fs-075rem fw-500 txt-a-center line-h-1-2em color-black">Warning! This process might take few hours. If you choose to proceed, you will receive a ticket with the transaction hash for your reference and follow up.</span>
      </div>
    </div>
  </div>
  <!-- END ACCOUNT LIST -->

  <!-- BUTTON -->
  <div class="row mt-2rem">
    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
      <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem" size="md">
        <span class="fs-1-2em color-white">NO INTERESTED</span>
      </button>
    </div>

    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
      <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem" size="md">
        <span class="fs-1-2em color-white">YES, PLEASE</span>
      </button>
    </div>
  </div>
  <!-- END BUTTON -->

</div>