

  .msgSuccess {
    font-size: .8rem;
    font-weight: 700;
    color: #306EB5;
  }

  .iconInactive{
    -webkit-filter: grayscale(100%) opacity(50%);
      filter: grayscale(100%) opacity(50%);
      color: gray;
  }
