<div class="container mt-3rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-11 d-flex justify-content-center">
      <span class="fs-1-7rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{title}}</span>
    </div>
    <div class="col-11 d-flex justify-content-center">
      <span class="txt-a-center line-h-1-2em">{{titleDescription}}</span>
    </div>
    <div class="col-11 col-md-10 mx-auto">
      <hr class="mt-05rem mb-06rem">
    </div>
    <div class="col-11 d-flex justify-content-center mt-05rem mb-05rem">
      <span class="fs-1-7rem txt-a-center line-h-1-2em">{{subtitle}}</span>
    </div>
  </div>
  <!-- address -->
  <div class="row">
    <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex align-items-center box-grey">
      <div class="col-10">
        <span>Address: </span><br>
        <span class="font-small d-flex">{{address}}</span>
      </div>
      <div class="col-2 text-right">
        <img src="assets/images/img/icon-copy-clipboard-gray-proximax-sirius-wallet.svg" class="cursor-p" alt="Copy"
          width="20" (click)="copyMessage('Address')" ngxClipboard [cbContent]="address">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto box-transparent-border-orange">
      <div>
        <span class="fw-600">Make sure you store your private key in a safe place.</span><br>
        <span class="fw-600">Access to your digital assets cannot be recovered without it.</span>
      </div>
    </div>
  </div>
  <!-- private key -->
  <ng-container *ngIf="viewPrivateKey">
    <div class="row animated fadeIn">
      <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex align-items-center box-grey">
        <div class="col-10">
          <span>Private Key: </span><br>
          <span class="font-small d-flex">{{ privateKey }}</span>
        </div>
        <div class="col-2 text-right">
          <img src="assets/images/img/icon-copy-clipboard-gray-proximax-sirius-wallet.svg" class="cursor-p" alt="Copy"
            width="20" (click)="copyMessage('Private Key')" ngxClipboard [cbContent]="privateKey">
        </div>
      </div>
    </div>
  </ng-container>

  <!-- buttons create and clear -->
  <div class="row mt-2rem d-flex justify-content-center">
    <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
      size="md" (click)="goToRoute()">
      <span class="fs-1-2em color-white"><i class="fa fa-arrow-circle-left"></i> CONTINUE</span>
    </button>

    <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
      size="md" (click)="viewPrivateKey = !viewPrivateKey">
      <span class="fs-1-2em color-white" *ngIf="viewPrivateKey"><i class="fa fa-magic mr-1"></i> HIDE PRIVATE KEY</span>
      <span class="fs-1-2em color-white" *ngIf="!viewPrivateKey"><i class="fa fa-magic mr-1"></i> SHOW PRIVATE KEY</span>
    </button>

    <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem" size="md"
      (click)="printAccountInfo()">
      <span class="fs-1-2em color-white"><i class=""></i> PRINT PAPER WALLET</span>
    </button>
  </div>
</div>
