<div class="container mt-3rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-12 col-md-8">
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey">Polls</span>
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey"> > </span>
      <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">Votes & Results</span>
    </div>

    <div class="col-12 col-md-4 d-flex justify-content-start justify-content-md-end">

      <a class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio" [routerLink]="[routes.viewAll]">
        <span>View All Poll</span>
      </a>

      <div class="ml-04rem mr-04rem">
        <span class="line-separator-gray"></span>
      </div>
      <a class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio" [routerLink]="[routes.backToService]">
        <span>Back to Services</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class="mt-03rem mb-05rem">
    </div>
  </div>

  <div class="row">
    <div class="col-12 justify-content-center txt-a-center">
      <!-- ACCOUNT EDIT -->
      <div class="row ml-01rem" *ngIf="pollSelected">
        <div class="col-11 col-md-10 col-lg-8 mx-auto">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center"><span class="fs-2rem fw-600">{{pollSelected.name}}</span>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center"><span class="fs-1rem">{{pollSelected.desciption}}</span>
            </div>
          </div>
          <hr style="border-top: 3px solid rgba(0, 0, 0, 0.1)" class="mt-03rem mb-05rem">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <span class="fs-1rem fw-600"> {{statusPoll(pollSelected.endDate ,pollSelected.startDate)}} &nbsp;
              </span>
              <span class="fs-1rem ">> &nbsp; </span>
              <span class="fs-1rem "> Finish &nbsp;</span>
              <span class="fs-1rem "> > &nbsp;</span>
              <span class="fs-1rem "> {{formtDate(pollSelected.endDate)}} &nbsp;</span>
            </div>
          </div>
          <hr style="border-top: 3px solid rgba(0, 0, 0, 0.1)" class="mt-03rem mb-05rem">
        </div>
      </div>




      <!-- Searching and icon reload -->
      <div class="row mt-2rem">
        <div class="col-11 col-sm-11 col-lg-10 mx-auto">
          <!-- Searching -->
          <ng-container *ngIf="searching">
            <div class="col-12">
              <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
              </mdb-progress-bar>
            </div>
          </ng-container>
        </div>
      </div>


      <div class="row mt-2rem" [ngSwitch]="statusValidate">
        <div class="col-9 col-md-8 col-lg-6  mx-auto" *ngSwitchCase="'finishedPoll'">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <span class="fs-2rem fw-600">You did not vote in this poll
              </span>
            </div>
          </div>
        </div>
        <div class="col-9 col-md-8 col-lg-6  mx-auto" *ngSwitchCase="'noWitheList'">

          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <span class="fs-2rem fw-600">
                you are not on the list
              </span>
            </div>
          </div>
        </div>
        <div class="col-9 col-md-8 col-lg-6  mx-auto" *ngSwitchCase="'memberVoted'">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <span class="fs-2rem fw-600">
                You have successfully voted on this poll
              </span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 col-lg-12  mx-auto cursor-p" *ngSwitchCase="'viewCertificate'" (click)="openCertificateModal()">
          <!-- <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <table class="certificate" style="width: 100%;">
                <tr>
                  <td [innerHTML]="qrImg">

                  </td>
                  <td>
                    <div class="break-all">
                      <span class="fs-09rem fw-600">
                        transaction hash:

                      </span>
                      <span class="fs-075rem">
                        {{hashCertificate}}
                      </span>
                    </div>
                  </td>
                  <td class="vote-background">
                    <img class="w-130px" src="assets/images/img/badge-silver-proximax-sirius-wallet.svg">
                  </td>
                </tr>
              </table>
            </div>
          </div> -->



          <div class="row">
              <div class="col-12 col-md-10 col-lg-9 col-xl-8 mx-auto">
                <div class="row mr-ml-mt-mb bordb-2px-solid-gray">
                  <!-- QR & FILE HASH -->
                  <div class="col-12 col-md-9 col-lg-8 p-1rem">
                    <div class="row">
                      <div class="col-12 col-sm-4 col-md-3 d-flex justify-content-start justify-content-sm-center">
                        <div class="mx-auto"   >
                          <img [src]="qrImg" width="90">

                          
                        </div>
                      </div>
        
                      <div class="col-12 col-sm-8 col-md-9 lh-1em pt-04rem">
                        <div>
                          <span class="w-b-a fw-600">hash</span>
                        </div>
                        <div>
                          <span class="w-b-a fs-08rem mt-1rem"> {{hashCertificate}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <!-- CERTIFIED -->
                  <div class="col-12 col-md-3 col-lg-4 vote-background p-1rem">
                    <div class="row">
                      <div class="col-12 d-flex justify-content-center">
                        <div class="mx-auto">
                          <img src="assets/images/img/badge-silver-proximax-sirius-wallet.svg" width="90">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>










        </div>

        <div class="col-9 col-md-8 col-lg-6  mx-auto" *ngSwitchCase="'voting'">

          <ng-container *ngIf="isMultipe">
            <ng-container *ngFor="let item of pollSelected?.options; let i = index">
              <div class="d-flex  custom-control custom-checkbox custom-control-inline custom-control-right">
                <!-- <div class="custom-control custom-checkbox custom-control-inline custom-control-right"> -->
                <input ([ngModel])="item?.name" (change)="checkOptionPoll($event, item?.name)" type="checkbox" id="{{i}}"
                  value="" class="custom-control-input">
                <label class="custom-control-label" for="{{i}}">{{item?.name}}</label>
                <!-- </div> -->
              </div>
            </ng-container>

          </ng-container>


          <ng-container *ngIf="!isMultipe">

            <ng-container *ngFor="let item of pollSelected?.options; let j = index">
              <div class="col align-self-star">
                <div class="form-check" style="display: flex;">
                  <input type="radio" (change)="radioOptionPoll($event, item?.name)" class="form-check-input with-gap"
                    id="{{j}}" name="groupOfRadioGap" mdbInput ([ngModel])="item?.name">
                  <label class="form-check-label" for="{{j}}">{{item?.name}}</label>
                </div>
                <!-- <div class="elemento">
                  <div class="p note note-danger">
                    <ng-container *ngFor="let i of pollSelected['PollOptions'][j]['GroupMembers']; let t = index">
                      <p>{{i}}</p>
                    </ng-container>
                  </div>
                </div> -->
              </div>
            </ng-container>

          </ng-container>

        </div>

      </div>

      <div class="row">
        <div class="col-12 justify-content-center txt-a-center">
          <form action="" [formGroup]="votingInPoll" (ngSubmit)="sendForm()">
            <!-- PASSWORD -->
            <div class="row">
              <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto">

                <div class="row">'
                  <div class="col-11 mx-auto">
                    <div class="md-form form-sm">
                      <input style="" [maxlength]="configurationForm.passwordWallet.maxLength" [minlength]="configurationForm.passwordWallet.minLength"
                        formControlName="password" required mdbInputDirective mdbValidate [validateSuccess]="true"
                        [validateError]="true" type="password" id="password" class="form-control form-control-sm input-border"
                        placeholder="Enter password">
                      <mdb-error *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                        <span>Input invalid</span>
                      </mdb-error>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- BUTTON -->
            <div class="row">
              <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto">
                <div class="row">
                  <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
                    <button [disabled]="btnBlock" mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
                      size="md">
                      <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                        *ngIf="blockSend"></span>
                      <span class="fs-1-2em color-white">VOTE</span>
                    </button>
                  </div>
                  <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                    <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
                      size="md" [disabled]="btnResult" (click)="getResult('RESULTS')">
                      <span class="fs-1-2em color-white">RESULTS</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL  Optios-->
<div class="d-flex align-items-center">
  <div mdbModal #modalInfo="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalInfo"
    aria-hidden="true">
    <div class="modal-dialog modal-md d-flex align-items-center" role="document">
      <div class="modal-content form-elegant bord-rad-1-5rem">
        <div class="modal-header text-center box-modal-white b-t-r-r-1-5rem b-t-l-r-1-5rem p-05rem">
          <span class="modal-title w-100" id="myModalLabel">
            <strong class="title-modal-blue">{{pollSelected.name}}</strong>
          </span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalInfo.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Searching and icon reload -->
          <div class="row">
            <div class="col-11 col-sm-11 col-lg-10 mx-auto">
              <!-- Searching -->
              <ng-container *ngIf="showResultProgress">
                <div class="col-12">
                  <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
                  </mdb-progress-bar>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="row mt-2rem">
            <div class="col-sm mx-auto">
              <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
            </div>
            <div class="col-sm mx-auto">
              <div class="table-responsive" style="margin-button: 20px; height: 200px; overflow: auto; ">
                <table mdbTable hover="true" striped="true" class="z-depth-0 result">
                  <thead class="sticky-top">
                    <tr class="header-backg">
                      <th class="text-align-center" *ngFor="let head of headResults; let i = index" scope="col">
                        {{head}}
                      </th>
                    </tr>
                  </thead>
                  <tbody #tableResult>
                    <tr mdbTableCol *ngFor="let result of pollResultVoting; let i = index" class="text-align-center">
                      <td>{{result.name}}</td>
                      <!-- <td> {{result.emirates}}</td> -->
                      <td>{{result.y}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Searching and icon reload -->
          <div class="row">
            <div class="col-11 col-sm-11 col-lg-10 mx-auto d-flex justify-content-center">
              <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
                size="md" [disabled]="showResultProgress" (click)="getResult('REFRESH')">
                <span class="fs-1-2em color-white">REFRESH</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL -->
<div class="d-flex align-items-center">
  <div mdbModal #certificationModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="certificationModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex align-items-center" role="document">
      <div class="modal-content form-elegant bord-rad-1-5rem">
        <div class="modal-header text-center box-modal-white b-t-r-r-1-5rem b-t-l-r-1-5rem p-05rem">
          <span class="modal-title w-100" id="myModalLabel">
            <strong class="title-modal-blue">Voting Certification</strong>
          </span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="certificationModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-container *ngIf="dataTransaction">
            <app-vote-type [transactionInfo]="dataTransaction"></app-vote-type>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>