<div class="container mt-3rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-1-7rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{title}}</span>
    </div>
    <div class="col-11 col-md-10 mx-auto">
      <hr class="mt-05rem mb-06rem">
    </div>
  </div>

  <!-- <div class="row pt-3rem">
    <div class="col-12 d-flex justify-content-center">
      <span>Select a type of account to create</span>
    </div>
  </div> -->

  <div class="row mt-3rem pb-2rem">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="row">
        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
          <button [routerLink]="['/'+link.createAccount]" mdbBtn type="button" rounded="true" mdbWavesEffect
            class="btn-proximax" size="md">
            <span class="color-white">New</span>
          </button>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
          <button [routerLink]="['/'+link.importAccount]" mdbBtn type="button" rounded="true" mdbWavesEffect
            class="btn-proximax" size="md">
            <span class="color-white">From a Private Key</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
