<div class="container mt-3rem mb-1rem animated fadeIn">
  <div class="row lh-01em">
    <div class="col-12 col-md-8">
      <span class="fs-095rem txt-a-center line-h-1-2em color-grey">{{moduleName}}</span>
      <span class="fs-095rem txt-a-center line-h-1-2em color-grey"> > </span>
      <span class="fs-095rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{componentName}}</span>
    </div>

    <div class="col-12 col-md-4 d-flex justify-content-start justify-content-md-end">
      <a class="fs-08rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio" [routerLink]="[goBack]">
        <span>Back to Services</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class="mt-05rem mb-03rem">
    </div>
  </div>
</div>

<div class="container-fluid">
  <!-- FIELD SEARCH -->
  <div class="row">
    <div class="col-11 col-lg-10 mx-auto">
      <input mdbInputDirective [validateSuccess]="false" [validateError]="false" class="w-100porcent form-control"
        type="text" placeholder="Search" autocomplete="off" [(ngModel)]="filter">
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-2rem">
    <div class="col-11 col-lg-10 mx-auto">
      <span class="fw-600 d-flex justify-content-center">{{aggregateTransactions.length}} Results Found</span>
    </div>
  </div>
</div>


<div class="container-fluid mt-2rem">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mx-auto">
      <div class="datatable-style max-w-table">
        <table mdbTable mdbTableScroll scrollX="true" striped="true">
          <thead>
            <tr class="header-backg">
              <th *ngFor="let head of headElements" scope="col" class="fs-075rem txt-a-center ">{{head}} </th>
            </tr>
          </thead>

          <tbody class="background-white">
            <ng-container
              *ngFor="let transaction of aggregateTransactions | stringFilter: filter | paginate: configAdvance">
              <tr class="white-space-pre cursor-p text-center" mdbTableCol
                [ngClass]="!transaction ? 'background-pending': ''" (click)="find(transaction)">
                <td class="fs-07rem" title="Signatures of my accounts">
                  <i [ngClass]="[transaction['isSigned'] ? 'color-dark-green' : 'color-red']" class="fa fa-circle"
                    aria-hidden="true"></i> - ({{transaction['totalSigned']}})
                </td>
                <td class="fs-07rem">{{transaction['deadline']}}</td>
                <td class="fs-07rem">{{transaction.senderAddress}}</td>
                <td class="fs-07rem">{{transaction.data.transactionInfo.hash}}</td>
              </tr>
            </ng-container>

            <ng-container *ngIf="aggregateTransactions.length === 0">
              <tr>
                <td colspan="5" class="txt-a-center">Nothing to Show</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12 pt-1rem pb-3rem d-flex justify-content-center mx-auto">
      <pagination-controls [id]="configAdvance.id" (pageChange)="configAdvance.currentPage = $event">
      </pagination-controls>
    </div>
  </div>
</div>

<!-- MODAL -->
<div class="d-flex align-items-center">
  <div mdbModal #modalPartialTransaction="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="modalPartialTransaction" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex align-items-center" role="document">
      <div class="modal-content form-elegant bord-rad-1-5rem">
        <div class="modal-header text-center box-modal-white b-t-r-r-1-5rem b-t-l-r-1-5rem p-03rem">
          <span class="modal-title w-100" id="myModalLabel">
            <strong class="title-modal-blue">Transaction Information</strong>
          </span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="modalPartialTransaction.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <ng-container *ngIf="dataSelected">
            <div class="row">
              <div class="col-11 mx-auto">
                <div class="row d-flex justify-content-center">
                  <div class="col-12 col-md-6">
                    <div class="row">
                      <!-- Partial -->
                      <div class="col-12">
                        <span class="fw-600 fs-1-2rem">Aggregate Bonded</span>
                      </div>

                      <!-- Fee -->
                      <ng-container *ngIf="dataSelected?.effectiveFee">
                        <div class="col-12 mt-05rem">
                          <span class="fw-600 fs-095rem color-black">Effective Fee:&nbsp;&nbsp;</span>
                          <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg">
                          <span class="fw-600 fs-095rem color-black">{{dataSelected?.effectiveFee.part1}}</span>
                          <span class="fw-600 fs-075rem color-black">{{dataSelected?.effectiveFee.part2}}</span>
                          <span class="fw-600 fs-095rem color-black"> XPX </span>
                        </div>
                      </ng-container>

                      <!-- Deadline -->
                      <div class="col-12 mt-05rem line-h-09em">
                        <span class="fw-600 fs-08rem">Deadline:&nbsp;&nbsp;</span>
                        <span class="fs-065rem"> {{deadline}}</span>
                      </div>

                      <!-- Type -->
                      <div class="col-12 mt-05rem line-h-09em">
                        <span class="fw-600 fs-08rem">Type:&nbsp;&nbsp;</span>
                        <span class="fs-065rem">{{dataSelected?.data['type'].toString(16).toUpperCase()}}</span>
                      </div>

                      <!-- Height -->
                      <ng-container *ngIf="dataSelected?.data.transactionInfo.height.compact() > 0">
                        <div class="col-12 mt-05rem line-h-09em">
                          <span class="fw-600 fs-08rem">Height:&nbsp;&nbsp;</span>
                          <span class="fs-065rem">{{dataSelected?.data.transactionInfo.height.compact()}}</span>
                        </div>
                      </ng-container>

                      <!-- Signer -->
                      <div class="col-12 mt-05rem line-h-09em">
                        <span class="fw-600 fs-08rem">Signer:</span> <br>
                        <span class="fs-065rem w-w-b-w">{{dataSelected?.senderAddress}}</span>
                      </div>

                      <!-- Hash -->
                      <div class="col-12 mt-05rem line-h-09em">
                        <span class="fw-600 fs-08rem" *ngIf="!nis1hash">Hash:</span>
                        <span class="fw-600 fs-08rem" *ngIf="nis1hash">Sirius Hash:</span> <br>
                        <span class="fs-065rem w-w-b-w">{{dataSelected?.data.transactionInfo.hash}}</span>
                      </div>

                      <!-- HASH NIS1  -->
                      <div class="col-12 mt-05rem line-h-09em" *ngIf="nis1hash">
                        <span class="fw-600 fs-08rem">NIS1 Hash:</span> <br>
                        <span class="fs-065rem w-w-b-w">
                          <a [href]="routeNis1Hash+nis1hash" class="color-gray-dark cursor-p"
                            target="_blank">{{nis1hash | uppercase}}</a>
                        </span>
                      </div>

                      <!-- Transactions -->
                      <div class="col-12 mt-1-5rem">
                        <div class="row d-flex align-items-center">
                          <div class="col-12">
                            <span class="fw-600 fs-095rem">Transactions</span>
                          </div>
                        </div>
                        <hr class="mt-0">
                      </div>

                      <!-- Inner transaction -->
                      <div class="col-12 mb-1rem">
                        <mdb-accordion [multiple]="false" aria-multiselectable="true">
                          <mdb-accordion-item [collapsed]="true"
                            *ngFor="let innerTransaction of dataSelected?.data.innerTransactions">
                            <mdb-accordion-item-head>{{innerTransaction['nameType']}}
                            </mdb-accordion-item-head>
                            <mdb-accordion-item-body class="scroll-accounts">
                              <app-modify-multisig-account-type
                                *ngIf="innerTransaction.type === typeTransactions.modifyMultisigAccount.id"
                                [multisigAccount]="innerTransaction">
                              </app-modify-multisig-account-type>

                              <app-transfer-type-bonded *ngIf="innerTransaction.type === typeTransactions.transfer.id"
                                [transferTransactionBonded]="innerTransaction" [msg]="msg" [signer]="dataSelected">
                              </app-transfer-type-bonded>

                              <app-register-namespace-type-bonded
                                *ngIf="innerTransaction.type === typeTransactions.registerNameSpace.id"
                                [registerNamespaceTransaction]="innerTransaction" [msg]="msg" [signer]="dataSelected">
                              </app-register-namespace-type-bonded>
                            </mdb-accordion-item-body>
                          </mdb-accordion-item>
                        </mdb-accordion>
                      </div>
                    </div>
                  </div>

                  <!-- Action Required -->
                  <div class="col-12 col-md-6">
                    <div class="row">
                      <ng-container *ngIf="showSwap">
                        <div class="col-12 background-gray-light pt-1rem">
                          <div class="row lh-1em mb-06rem">
                            <div class="col-12 d-flex justify-content-center">
                              <img class="mr-1rem ml-1rem h-90px"
                                src="assets/images/img/badge-gold-proximax-sirius-wallet.svg">
                            </div>

                            <div class="col-12 d-flex justify-content-center pt-1rem">
                              <span class="fw-bold">ProximaX Swap</span>
                            </div>
                          </div>
                        </div>
                      </ng-container>

                      <div
                        class="col-12 background-orange h-50px d-flex align-items-center justify-content-center txt-a-center">
                        <div class="row">
                          <div class="col-12">
                            <span class="fw-600 color-white">Action Required</span>
                          </div>
                        </div>
                      </div>

                      <!-- Accounts -->
                      <div class="col-12 pt-1rem background-gray-light">
                        <div class="row lh-1em mb-03rem">
                          <div class="col-12">
                            <span class="fw-600 fs-065rem">Signer Cosignatory Account: </span>
                          </div>
                          <div class="col-12">
                            <span class="fs-065rem">{{dataSelected?.senderAddress}}</span>
                          </div>
                        </div>

                        <ng-container
                          *ngIf="dataSelected?.data['cosignatures'] && dataSelected?.data['cosignatures'].length > 0">
                          <div class="row lh-1em mt-05rem mb-1rem">
                            <div class="col-12">
                              <span class="fw-600 fs-065rem">Others cosignatories:</span>
                            </div>
                            <ng-container *ngFor="let dataSigner of dataSelected.data['cosignatures']">
                              <div class="col-12 mb-03rem">
                                <!-- <span class="fw-600 fs-065rem">({{dataSelected?.data['cosignatures'].length}}) Others
                                  cosignatories</span> -->
                                <span class="fs-065rem w-w-b-w"
                                  [title]="'Public key: '+dataSigner.signer.publicKey">{{dataSigner.signer.address.pretty()}}</span>
                              </div>
                            </ng-container>
                          </div>
                        </ng-container>
                      </div>

                      <ng-container *ngIf="arraySelect.length > 0 && !hideSign || onlySigner">
                        <div class="col-12 mt-1rem">
                          <!-- SELECT ACCOUNT -->
                          <div class="row" *ngIf="!onlySigner; else showCosignerToSign">
                            <div class="col-12">
                              <ng-select class="selectWrapper" [(ngModel)]="account" [items]="arraySelect"
                                bindLabel="label" bindValue="value" placeholder="Select Account"
                                [title]="accountSelected" (change)="selectAccount($event)">
                              </ng-select>
                            </div>
                          </div>

                          <ng-template #showCosignerToSign>
                            <div class="row">
                              <div class="col-12">
                                <span class="fs-075rem fw-600">Cosignatory account signing below: <br></span>
                                <span class="fs-075rem">{{account.address}}</span>
                              </div>
                            </div>
                          </ng-template>


                          <!-- PASSWORD -->
                          <div class="row d-flex justify-content-center">
                            <div class="col-12">
                              <div class="md-form form-sm">
                                <img class="form-control-feedback"
                                  src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
                                <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                                  src="assets/images/img/icon-show-hide-password.svg"
                                  *ngIf="passwordMain === 'password'">
                                <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                                  src="assets/images/img/icon-show-hide-password-grey.svg"
                                  *ngIf="passwordMain === 'text'">
                                <input [maxlength]="configurationForm.passwordWallet.maxLength"
                                  [minlength]="configurationForm.passwordWallet.minLength" [(ngModel)]="password"
                                  required mdbInputDirective [validateSuccess]="false" [validateError]="false"
                                  [type]="passwordMain" id="password" class="form-control form-control-sm input-border"
                                  placeholder="Enter Wallet Password">
                              </div>
                            </div>

                            <div class="col-12 d-flex justify-content-center">
                              <button (click)="sendTransaction()" autocomplete="false" [disabled]="validateAccount || password === '' || password.length <
                                  this.configurationForm.passwordWallet.minLength || password.length>
                                  this.configurationForm.passwordWallet.maxLength" mdbBtn type="button" rounded="true"
                                mdbWavesEffect class="btn-proximax" size="sm">
                                <span class="fs-1-2em color-white">Approve to Continue</span>
                              </button>
                            </div>

                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
