<div class="container-fluid mt-6rem animated fadeIn">
  <div class="row">
    <div class="col-12 col-sm-10 mx-auto">
      <!-- TITLE -->
      <div class="row">
        <div class="col-10 mx-auto">
          <h1 class="text-align-center wallet-name">{{nameModule}}</h1>
        </div>

        <div class="col-10 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>

      <div class="row mt-1rem">
        <div class="container-fluid">
          <div class="col-xl-7 col-md-11 mx-auto">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="container box-form-inverse">
                <div class="md-form">
                  <div class="row">
                    <div class="col-2 col-sm-2 col-md-1 d-flex align-items-center">
                      <img class="h1-5em" src="assets/images/img/icon-wallet-name-light-gray.svg" alt="">
                    </div>

                    <div class="col-10 col-sm-10 col-md-11">
                      <ng-select [items]="wallets" formControlName="wallet" bindLabel="value.name" bindValue="value"
                        placeholder="Select account">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="md-form mt-5" formGroupName="common">
                  <div class="row">
                    <div class="col-2 col-sm-2 col-md-1 d-flex align-items-center">
                      <img class="h1-5em" src="assets/images/img/icon-password-light-gray.svg" alt="">
                    </div>
                    <div class="col-10 col-sm-10 col-md-11">
                      <input type="password" autocomplete="off" required formControlName="password" id="password"
                        class="form-control" data-success="Valid password" mdbInputDirective
                        [errorMessage]="getErrorGroup('common','password')">
                      <label for="password">password</label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- BUTTONS -->
              <div class="container mt-1rem">
                <div class="row mt-1rem mb-1rem">
                  <div class="col-6 t-a-r">
                    <button size="md" mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 btn-white btn btn-rounded"
                      (click)="clearForm()">
                      Clear
                    </button>
                  </div>
                  <div class="col-6">
                    <button size="md" mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 btn-dark-green-prx btn btn-rounded">
                      SIGN IN
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-10 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>


      <div class="row mt-1rem mb-1rem">
        <div class="col-6 t-a-r mt-1rem">
          <button size="md" [routerLink]="['/'+link.createWallet]" mdbBtn type="button" rounded="true" mdbWavesEffect
            class="f-w-600 btn-dark-green-prx">
            <img class="mr-1rem h2em" src="assets/images/img/icon-wallet-import-white.svg" alt="">
            <span class="fs-1-2em">CREATE</span>
          </button>
        </div>
        <div class="col-6 mt-1rem">
          <button size="md" [routerLink]="['/'+link.importWallet]" mdbBtn type="button" rounded="true" mdbWavesEffect
            class="f-w-600 btn-dark-green-prx">
            <img class="mr-1rem h2em" src="assets/images/img/icon-wallet-import-white.svg" alt="">
            <span class="fs-1-2em">IMPORT</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
