<div class="container mt-1rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-1-4rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{title}}</span>
    </div>
  </div>

  <form [formGroup]="authForm" (ngSubmit)="auth()">
    <!-- wallet name -->
    <div class="row mt-2-5rem">
      <div class="col-11 mx-auto">
        <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [searchable]="false" [validateError]="true"
          class="selectWrapper" [items]="wallets" formControlName="wallet" bindLabel="label" bindValue="value"
          placeholder="Select a Wallet">
        </ng-select>
        <mdb-error class="mt-03rem ml-1rem"
          *ngIf="validateInput('wallet').invalid && (validateInput('wallet').dirty || validateInput('wallet').touched)">
          <span class="fw-600">Select a wallet</span>
        </mdb-error>
      </div>
    </div>

    <!-- password -->
    <div formGroupName="common">
      <div class="row">
        <div class="col-11 mx-auto">
          <div class="md-form form-sm mt-1rem mb-0rem">
            <img class="form-control-feedback"
              src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
            <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
              src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
            <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
              src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
            <input [maxlength]="configurationForm.passwordWallet.maxLength"
              [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" mdbInputDirective
              mdbValidate [validateSuccess]="true" [validateError]="true" [type]="passwordMain" id="passwordAuth"
              class="form-control form-control-sm input-border" placeholder="Enter Wallet Password">

            <!-- VALIDATION -->
            <mdb-error *ngIf="
                  validateInput('password', 'common').invalid &&
                  (validateInput('password', 'common').dirty || validateInput('password', 'common').touched)">
              <span class="fw-600">Password required</span>
            </mdb-error>
          </div>
        </div>
      </div>
    </div>

    <!-- buttons create and clear -->
    <div class="row mt-2rem">
      <div class="col-11 col-sm-6 d-flex justify-content-center justify-content-sm-end">
        <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="sm" (click)="clearForm()">
          <span class="color-white">Clear</span>
        </button>
      </div>

      <div class="col-11 col-sm-6 d-flex justify-content-center justify-content-sm-start">
        <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="btn-proximax" size="sm"
          [disabled]="authForm.invalid || spinnerButton">
          <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
            *ngIf="spinnerButton"></span>
          <span class="color-white">Sign In</span>
        </button>
      </div>
    </div>
  </form>
</div>
