<div class="container mt-7rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-1-7rem fw-500 txt-a-center line-h-1-2em">{{title}}</span>
    </div>
  </div>

  <form [formGroup]="authForm" (ngSubmit)="auth()">
    <!-- wallet name -->
    <div class="row mt-2rem">
      <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" class="selectWrapper"
          [items]="wallets" formControlName="wallet" bindLabel="value.name" bindValue="value"
          placeholder="Select a wallet">
        </ng-select>
        <mdb-error class="mt-1rem ml-1rem"
          *ngIf="validateInput('wallet').invalid && (validateInput('wallet').dirty || validateInput('wallet').touched)">
          <span>Select a wallet</span>
        </mdb-error>
      </div>
    </div>

    <!-- password -->
    <div formGroupName="common">
      <div class="row">
        <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto">
          <div class="md-form form-sm mt-1rem mb-0rem">
            <input [maxlength]="configurationForm.passwordWallet.maxLength" [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" mdbInputDirective mdbValidate [validateSuccess]="true"
              [validateError]="true" type="password" id="password"
              class="form-control form-control-sm input-border" placeholder="Enter password">

            <!-- VALIDATION -->
            <mdb-error *ngIf="
                validateInput('password', 'common').invalid &&
                (validateInput('password', 'common').dirty || validateInput('password', 'common').touched)">
              <span>Input invalid</span>
            </mdb-error>
          </div>
        </div>
      </div>
    </div>

    <!-- buttons create and clear -->
    <div class="row mt-2rem">
      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
        <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
          size="md" (click)="clearForm()">
          <span class="fs-1-2em color-white">CLEAR</span>
        </button>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
        <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
          size="md">
          <span class="fs-1-2em color-white">SIGN IN</span>
        </button>
      </div>
    </div>
  </form>
</div>
