<div class="container mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <form [formGroup]="linkingNamespaceToMosaic" (ngSubmit)="sendTransaction()">

    <div class="row mt-1-5rem">
      <div class="col-11 col-sm-10 col-lg-8 mx-auto">
        <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" [searchable]="false"
          class="selectWrapper" [items]="typeAction" formControlName="typeAction" bindLabel="label" bindValue="value"
          placeholder="Select action" (change)="buildSelectNamespace($event); captureAction()"></ng-select>
        <mdb-error class="ml-1rem"
          *ngIf="validateInput('typeAction').invalid && (validateInput('typeAction').dirty || validateInput('typeAction').touched)">
          <span class="fs-08rem fw-600 color-error-message">Select action</span>
        </mdb-error>
      </div>
    </div>

    <div class="row pt-1rem">
      <div class="col-11 col-sm-10 col-lg-8 mx-auto">
        <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" [searchable]="false"
          class="selectWrapper" [items]="namespaceSelect" formControlName="namespace" bindLabel="label"
          bindValue="value" placeholder="Select namespace" (change)="captureNamespace($event)"></ng-select>
        <mdb-error class="ml-1rem"
          *ngIf="validateInput('namespace').invalid && (validateInput('namespace').dirty || validateInput('namespace').touched)">
          <span class="fs-08rem fw-600 color-error-message">Select namespace</span>
        </mdb-error>
      </div>
    </div>

    <ng-container *ngIf="!viewLinked; else viewLinkeded">
      <div class="row pt-1rem">
        <div class="col-11 col-sm-10 col-lg-8 mx-auto">
          <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" [searchable]="false"
            class="selectWrapper" [items]="mosaicSelect" formControlName="mosaic" bindLabel="label" bindValue="value"
            placeholder="Select mosaic" (change)="captureMmosaic()"></ng-select>
          <mdb-error class="ml-1rem"
            *ngIf="validateInput('mosaic').invalid && (validateInput('mosaic').dirty || validateInput('mosaic').touched)">
            <span class="fs-08rem fw-600 color-error-message">Select mosaic</span>
          </mdb-error>
        </div>
      </div>
    </ng-container>

    <ng-template #viewLinkeded>
      <ng-container *ngIf="linked !== null">
        <div class="row pt-1rem">
          <div class="col-11 col-sm-10 col-lg-8 mx-auto">
            Linked to namespace: {{linked.label}}
          </div>
        </div>
      </ng-container>
    </ng-template>



    <div class="row  pt-1rem">
      <div class="col-11 col-sm-10 col-lg-8 mx-auto">
        <div class="box-grey txt-a-center">
          <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" width="20"
            alt="">&nbsp;
          <span>Fee: {{ fee }} XPX</span>
        </div>
      </div>
    </div>

    <div class="row  pt-05rem">
      <div class="col-11 col-sm-10 col-lg-8 mx-auto">
        <div class="md-form form-sm">
          <img class="form-control-feedback" src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg"
            alt="">
          <input [maxlength]="configurationForm.passwordWallet.maxLength"
            [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" required
            mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="password" id="password"
            class="form-control form-control-sm input-border" placeholder="Enter password">

          <!-- VALIDATION -->
          <mdb-error
            *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
            <span class="fs-08rem fw-600 color-error-message">Required field</span>
          </mdb-error>
        </div>
      </div>
    </div>

    <!-- BUTTONS -->
    <div class="row mt-2rem">
      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
        <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
          size="md" (click)="clearForm()">
          <span class="fs-1-2em color-white">Clear</span>
        </button>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
        <button mdbBtn type="submit" rounded="true" [disabled]="!linkingNamespaceToMosaic.valid" mdbWavesEffect
          class="f-w-600 background-btn pl-2rem pr-2rem" size="md">
          <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
            *ngIf="blockSend"></span>
          <span class="fs-1-2em color-white">Create</span>
        </button>
      </div>
    </div>
  </form>
</div>