<div class="mt-5px mb-1rem">
  <div class="row">
    <div class="col-8 mx-auto">
      <h5 class="text-align-center wallet-description">
        Warning! before proceeding, make sure store your private key in a safe place. Access to your digital assets
        cannot be recovered without it.
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-9 mx-auto">
      <div class="row box-form mt-1rem">
        <div class="col-12 mt-5px">
          <h4 class="fw-500">
            <span class="gray-color">Wallet name: </span> {{walletName}}
          </h4>
        </div>

        <div class="col-12 mb-5px">
          <div class="row mt-3px">
            <div class="col-10 col-md-10 col-lg-11 overflow-ellipsis-nowrap">
              <div class="row">
                <div class="col-3 col-lg-2">
                  <span class="fs-1rem gray-color fw-400">Address: </span>
                </div>
                <div class="col-9 col-lg-10">
                  <span class="fs-1rem fw-500">{{address}}</span>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-2 col-lg-1 d-flex align-items-center">
              <i mdbWavesEffect (click)="copyMessage('Address')" ngxClipboard [cbContent]="address"
                style="font-size: 1.5rem;" class="fa fa-paste prefix cursor-pointer"></i>
            </div>
          </div>

          <div class="row mt-3px">
            <div class="col-10 col-md-10 col-lg-11 overflow-ellipsis-nowrap">
              <div class="row">
                <div class="col-3 col-lg-2">
                  <span class="fs-1rem gray-color fw-400">Public Key: </span>
                </div>
                <div class="col-9 col-lg-10">
                  <span class="fs-1rem fw-500">{{publicKey}}</span>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-2 col-lg-1 d-flex align-items-center">
              <i mdbWavesEffect (click)="copyMessage('Public Key')" ngxClipboard [cbContent]="publicKey"
                style="font-size: 1.5rem;" class="fa fa-paste prefix cursor-pointer"></i>
            </div>
          </div>

          <ng-container *ngIf="privateKeyIsShow">
            <div class="row mt-3px">
              <div class="col-10 col-md-10 col-lg-11 overflow-ellipsis-nowrap">
                <div class="row">
                  <div class="col-3 col-lg-2">
                    <span class="fs-1rem gray-color fw-400">Private Key: </span>
                  </div>
                  <div class="col-9 col-lg-10">
                    <span class="fs-1rem fw-500">{{privateKey}}</span>
                  </div>
                </div>
              </div>
              <div class="col-2 col-md-2 col-lg-1 d-flex align-items-center">
                <i mdbWavesEffect (click)="copyMessage('Private key')" ngxClipboard [cbContent]="privateKey"
                  style="font-size: 1.5rem;" class="fa fa-paste prefix cursor-pointer"></i>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1rem mb-1rem mx-auto">

    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
      <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 btn-white" size="sm"
        [routerLink]="['/'+link.login]">
        <i class="fa fa-arrow-circle-left"></i> Finish
      </button>
    </div>

    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
      <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 btn-dark-green-prx" size="sm"
        (click)="showHidePvkAddress()">
        <i class="fa fa-magic mr-1"></i> {{messageShowPvk}}
      </button>
    </div>
  </div>
</div>
