<div class="container mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <form [formGroup]="formMosaicSupplyChange" (ngSubmit)="send()">
    <div class="row mt-1rem">
      <div class="col-12 col-md-8 col-xl-7 mb-2rem">
        <!-- Parent Mosaic -->
        <div class="row">
          <div class="col-11 mx-auto">
            <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true"
              class="selectWrapper" [items]="parentMosaic" formControlName="parentMosaic" bindLabel="label"
              bindValue="value" placeholder="Select or write mosaic" (change)="optionSelected($event)"></ng-select>
            <mdb-error class="ml-1rem"
              *ngIf="validateInput('parentMosaic').invalid && (validateInput('parentMosaic').dirty || validateInput('parentMosaic').touched)">
              <span>Select or write mosaic</span>
            </mdb-error>
          </div>
        </div>

        <!-- mosaicSupplyType -->
        <div class="row mt-05rem">
          <div class="col-11 mx-auto">
            <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true"
              class="selectWrapper" [items]="mosaicSupplyType" formControlName="mosaicSupplyType" bindLabel="label"
              bindValue="value" placeholder="Increase or decrease"></ng-select>
            <mdb-error class="ml-1rem"
              *ngIf="validateInput('mosaicSupplyType').invalid && (validateInput('mosaicSupplyType').dirty || validateInput('mosaicSupplyType').touched)">
              <span>Increase or decrease</span>
            </mdb-error>
          </div>
        </div>

        <!-- Supply -->
        <div class="row mt-05rem">
          <div class="col-11 mx-auto">
            <div class="md-form form-sm mt-1rem mb-0rem">
              <img class="form-control-feedback" src="assets/images/img/icon-amount-green-16h-proximax-sirius-wallet.svg" alt="">
              <input formControlName="deltaSupply" currencyMask [options]="optionsSupply" mdbInputDirective mdbValidate
                [validateSuccess]="true" [validateError]="true" type="text" id="supply{{errorSupply}}"
                [maxlength]="maxLengthSupply" class="form-control form-control-sm input-border input-amount"
                placeholder="Quantity of increase/decrease">

              <mdb-error
                *ngIf="validateInput('deltaSupply', '').invalid && (validateInput('deltaSupply', '').dirty || validateInput('deltaSupply', '').touched) || invalidSupply">
                <span>Input invalid</span>
              </mdb-error>
            </div>
          </div>
        </div>


        <!-- FEE -->
        <div class="row ml-01rem">
          <div class="col-11 mx-auto">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12">
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" alt="">
                  <span>Fee: 0.000000 XPX</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- RENTAL FEE
        <div class="row ml-01rem">
          <div class="col-11 mx-auto">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12">
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" alt="">
                  <span> Rental Fee: 0.000000 XPX</span>
                </div>
              </div>
            </div>
          </div>
        </div>-->

        <!-- Password -->
        <div class="row">
          <div class="col-11 mx-auto">
            <div class="md-form form-sm mt-1rem mb-0rem">
              <img class="form-control-feedback"
                src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
              <input [maxlength]="configurationForm.passwordWallet.maxLength"
                [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" required
                mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="password"
                id="password" class="form-control form-control-sm input-border" placeholder="Enter password">

              <mdb-error
                *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                <span>Input invalid</span>
              </mdb-error>
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="row mt-1rem mb-0rem ">
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
            <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
              size="md" (click)="clearForm()">
              <span class="fs-1-2em color-white">CLEAR</span>
            </button>
          </div>

          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
            <button mdbBtn type="submit" rounded="true" [disabled]="!formMosaicSupplyChange.valid || blockBtn"
              mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem" size="md">
              <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                *ngIf="blockButton"></span>
              <span class="fs-1-2em color-white">CREATE</span>
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-xl-5 description-p-module mt-1-5rem mb-2rem">
        <div class="row">
          <div class="col-12">
            <span class="title-information">Properties</span>
            <hr class="background-divisor mt-05rem">
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-6 col-sm-4 col-md-6 col-lg-7 col-xl-4">
                <span class="description-information">Supply: </span>
              </div>
              <div class="col-6 col-sm-8 col-md-6 col-lg-5 col-xl-8">
                <span class="description-information color-dark-green">{{supply}}</span>
              </div>
            </div>
          </div>

          <div class="col-12 mt-05rem">
            <div class="row">
              <div class="col-6 col-sm-4 col-md-6 col-lg-7 col-xl-4">
                <span class="description-information">Duration: </span>
              </div>
              <div class="col-6 col-sm-8 col-md-6 col-lg-5 col-xl-8">
                <span class="description-information color-dark-green">{{duration}}</span>
              </div>
            </div>
          </div>

          <div class="col-12 mt-05rem">
            <div class="row">
              <div class="col-6 col-sm-4 col-md-6 col-lg-7 col-xl-4">
                <span class="description-information">Divisibility: </span>
              </div>
              <div class="col-6 col-sm-8 col-md-6 col-lg-5 col-xl-8">
                <span class="description-information color-dark-green">{{divisibility}}</span>
              </div>
            </div>
          </div>

          <div class="col-12 mt-05rem">
            <div class="row">
              <div class="col-6 col-sm-4 col-md-6 col-lg-7 col-xl-4">
                <span class="description-information">Levy Mutable: </span>
              </div>
              <div class="col-6 col-sm-8 col-md-6 col-lg-5 col-xl-8 d-flex align-items-center">
                <ng-container *ngIf="levyMutable !== null">
                  <i *ngIf="levyMutable" class="fa fa-check-square prefix text-success"></i>
                  <i *ngIf="!levyMutable" class="fa fa-minus-square prefix text-danger"></i>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="col-12 mt-05rem">
            <div class="row">
              <div class="col-6 col-sm-4 col-md-6 col-lg-7 col-xl-4">
                <span class="description-information">Transferable: </span>
              </div>
              <div class="col-6 col-sm-8 col-md-6 col-lg-5 col-xl-8 d-flex align-items-center">
                <ng-container *ngIf="transferable !== null">
                  <i *ngIf="transferable" class="fa fa-check-square prefix text-success"></i>
                  <i *ngIf="!transferable" class="fa fa-minus-square prefix text-danger"></i>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="col-12 mt-05rem">
            <div class="row">
              <div class="col-6 col-sm-4 col-md-6 col-lg-7 col-xl-4">
                <span class="description-information">Supply Mutable: </span>
              </div>
              <div class="col-6 col-sm-8 col-md-6 col-lg-5 col-xl-8 d-flex align-items-center">
                <ng-container *ngIf="supplyMutable !== null">
                  <i *ngIf="supplyMutable" class="fa fa-check-square prefix text-success"></i>
                  <i *ngIf="!supplyMutable" class="fa fa-minus-square prefix text-danger"></i>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
