<div class="container mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <form [formGroup]="formMosaicSupplyChange" (ngSubmit)="send()">
    <div class="row mt-1rem">
      <div class="col-12 col-md-8 col-xl-7 mb-2rem">
        <!-- Parent Mosaic -->
        <div class="row">
          <div class="col-11 mx-auto">
            <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true"
              [searchable]="false" class="selectWrapper" [items]="parentMosaic" formControlName="parentMosaic"
              bindLabel="label" bindValue="value" placeholder="Select Mosaic" (change)="optionSelected($event)">
            </ng-select>
            <mdb-error class="ml-1rem"
              *ngIf="validateInput('parentMosaic').invalid && (validateInput('parentMosaic').dirty || validateInput('parentMosaic').touched)">
              <span>Select Mosaic</span>
            </mdb-error>
          </div>
        </div>

        <!-- mosaicSupplyType -->
        <div class="row mt-05rem">
          <div class="col-11 mx-auto">
            <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true"
              [searchable]="false" class="selectWrapper" [items]="mosaicSupplyType" formControlName="mosaicSupplyType"
              bindLabel="label" bindValue="value" placeholder="Increase or Decrease" (change)="type($event)">
            </ng-select>
            <mdb-error class="ml-1rem"
              *ngIf="validateInput('mosaicSupplyType').invalid && (validateInput('mosaicSupplyType').dirty || validateInput('mosaicSupplyType').touched)">
              <span>Increase or Decrease</span>
            </mdb-error>
          </div>
        </div>

        <!-- Supply -->
        <div class="row mt-05rem">
          <div class="col-11 mx-auto">
            <div class="md-form form-sm mt-1rem mb-0rem">
              <img class="form-control-feedback"
                src="assets/images/img/icon-amount-green-16h-proximax-sirius-wallet.svg" alt="">
              <input formControlName="deltaSupply" currencyMask [options]="optionsSupply" mdbInputDirective mdbValidate
                [validateSuccess]="true" [validateError]="true" type="text" id="supply{{errorSupply}}"
                [maxlength]="maxLengthSupply" class="form-control form-control-sm input-border input-amount"
                placeholder="Quantity of Increase/Decrease">

              <mdb-error
                *ngIf="validateInput('deltaSupply', '').invalid && (validateInput('deltaSupply', '').dirty || validateInput('deltaSupply', '').touched) || invalidSupply">
                <span>Invalid supply</span>
              </mdb-error>
              <mdb-error *ngIf="errSupply">
                <span>Supply maximum increase 9,000,000,000</span>
              </mdb-error>
              <mdb-error *ngIf="errSupplyMin">
                <span> Supply maximum decrease {{supply}}</span>
              </mdb-error>
              <br>
            </div>
          </div>
        </div>




        <!-- CALCULATE SUPPLY -->
        <div class="row ml-01rem" *ngIf='showTotal'>
          <div class="col-11 mx-auto">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12">
                  <img class="icono" src="assets/images/img/icon-amount-green-16h-proximax-sirius-wallet.svg" alt="">
                  <span class="fs-08rem">
                    Total Supply:&nbsp;
                    <a [innerHTML]="getQuantity(totalSupply)"></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- FEE -->
        <div class="row ml-01rem">
          <div class="col-11 mx-auto">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12">
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" alt="">
                  <span class="fs-08rem">
                    Fee:&nbsp;
                    <a [innerHTML]="getQuantity(fee)"></a> XPX
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Password -->
        <div class="row">
          <div class="col-11 mx-auto">
            <div class="md-form form-sm mt-1rem mb-0rem">
              <img class="form-control-feedback"
                src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
              <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
              <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
              <input [maxlength]="configurationForm.passwordWallet.maxLength"
                [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" required
                mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" [type]="passwordMain"
                id="password" class="form-control form-control-sm input-border" placeholder="Enter Wallet Password">

              <mdb-error
                *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                <span>Password Required</span>
              </mdb-error>
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="row mt-1rem mb-0rem ">
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
            <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
              (click)="clearForm()">
              <span class="color-white">Clear</span>
            </button>
          </div>

          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
            <button mdbBtn type="submit" rounded="true"
              [disabled]="!formMosaicSupplyChange.valid || blockBtn || deltaSupply === 0" mdbWavesEffect
              class="btn-proximax" size="md">
              <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                *ngIf="blockButton"></span>
              <span class="color-white">Create</span>
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-xl-5 description-p-module mt-1-5rem mb-2rem">
        <div class="row">
          <div class="col-12">
            <span class="title-information">Properties</span>
            <hr class="background-divisor mt-05rem">
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-6 col-sm-4 col-md-6 col-lg-7 col-xl-4">
                <span class="description-information">Supply: </span>
              </div>
              <div class="col-6 col-sm-8 col-md-6 col-lg-5 col-xl-8">
                <span class="description-information color-black"><a [innerHTML]="getQuantity(supply)"></a></span>
              </div>
            </div>
          </div>

          <div class="col-12 mt-05rem">
            <div class="row">
              <div class="col-6 col-sm-4 col-md-6 col-lg-7 col-xl-4">
                <span class="description-information">Duration: </span>
              </div>
              <div class="col-6 col-sm-8 col-md-6 col-lg-5 col-xl-8">
                <span class="description-information color-black">{{duration}}</span>
              </div>
            </div>
          </div>

          <div class="col-12 mt-05rem">
            <div class="row">
              <div class="col-6 col-sm-4 col-md-6 col-lg-7 col-xl-4">
                <span class="description-information">Divisibility: </span>
              </div>
              <div class="col-6 col-sm-8 col-md-6 col-lg-5 col-xl-8">
                <span class="description-information color-black">{{divisibility}}</span>
              </div>
            </div>
          </div>

          <div class="col-12 mt-05rem">
            <div class="row">
              <div class="col-6 col-sm-4 col-md-6 col-lg-7 col-xl-4">
                <span class="description-information">Transferable: </span>
              </div>
              <div class="col-6 col-sm-8 col-md-6 col-lg-5 col-xl-8 d-flex align-items-center">
                <ng-container *ngIf="transferable !== null">
                  <i *ngIf="transferable" class="fa fa-check-square prefix text-success"></i>
                  <i *ngIf="!transferable" class="fa fa-minus-square prefix text-danger"></i>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="col-12 mt-05rem">
            <div class="row">
              <div class="col-6 col-sm-4 col-md-6 col-lg-7 col-xl-4">
                <span class="description-information">Supply Mutable: </span>
              </div>
              <div class="col-6 col-sm-8 col-md-6 col-lg-5 col-xl-8 d-flex align-items-center">
                <ng-container *ngIf="supplyMutable !== null">
                  <i *ngIf="supplyMutable" class="fa fa-check-square prefix text-success"></i>
                  <i *ngIf="!supplyMutable" class="fa fa-minus-square prefix text-danger"></i>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
