<div class="container-fluid mt-3rem mb-2rem animated fadeIn">
  <div class="row mb-1rem">
    <div class="col-12 col-md-11 col-lg-9 mx-auto">
      <div class="row">
        <div class="col-12 col-md-6 col-sm-12 d-flex align-items-end">
          <span class="fs-1rem txt-a-center line-h-1-2em color-grey">{{paramsHeader.moduleName}}&nbsp;</span>
          <span class="fs-1rem txt-a-center line-h-1-2em color-grey">></span>
          <span
            class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">&nbsp;{{paramsHeader.componentName}}</span>
        </div>

        <div class="col-12 col-md-6 col-sm-12 d-flex justify-content-start justify-content-md-end">
          <span class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">
            <a class="color-blue-intermedio" [routerLink]="[goBack]">
              <span>Back to Services</span>
            </a>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hr class="mt-03rem mb-05rem">
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="formTransfer" (ngSubmit)="sendTransfer()">
    <!-- Accounts -->
    <ng-container *ngIf="accounts.length > 1">
      <div class="row mt-1rem mb-1rem">
        <div class="col-11 col-md-10 col-lg-8 mx-auto">
          <!-- Title select -->
          <div class="row">
            <div class="col-12 color-black cursor-p" (click)="test.toggle()">
              <span class="fw-600 fs-08rem">{{sender.name}}</span>
              <!-- Is Multisig -->
              <ng-container
                *ngIf="sender && sender.isMultisign && sender.isMultisign.cosignatories.length > 0 && !sender.level">
                <span class="fs-07rem color-blue-intermedio tag-account">- Multisig</span>
              </ng-container>
              <!-- Is MultiLevel -->
              <ng-container
                *ngIf="sender && sender.isMultisign && sender.isMultisign.cosignatories.length > 0 && sender.level">
                <span class="fs-07rem color-blue-intermedio tag-account">- MultiLevel</span>
              </ng-container><br>
              <span class="fw-300 fs-08rem color-grey">
                {{sender.address}}
              </span>
            </div>
          </div>

          <!-- Separator -->
          <div class="row">
            <div class="col-12 mx-auto">
              <hr class="m-0">
            </div>
          </div>

          <!-- Inner select -->
          <div class="row" mdbCollapse [isCollapsed]="true" #test="bs-collapse">
            <ng-container *ngFor="let account of accounts; let i=index">
              <div class="col-12">
                <span [ngClass]="[account.active ? 'nav-link active isActiveBoxAccount' : 'nav-link']"
                  class="cursor-p item-multi-account" (click)="changeSender(account.value); test.toggle()"
                  [title]="'Address: '+account.value.address">
                  <span class="check-default-account" *ngIf="account.active"></span>&nbsp;{{account.value.name}}
                  <!-- Is current default -->
                  <ng-container *ngIf="account.value.default">
                    <span class="ml-05rem title-tab-blue pt-03rem" [ngClass]="{'isActiveBoxAccount': account.active}">
                      <i>- Current Default </i>
                    </span>
                  </ng-container>
                  <!-- Is Multisig -->
                  <ng-container
                    *ngIf="account.value && account.value.isMultisign && account.value.isMultisign.cosignatories.length > 0 && !account.value.level">
                    <span class="fs-07rem color-blue-intermedio tag-account">- Multisig</span>
                  </ng-container>
                  <!-- Is MultiLevel -->
                  <ng-container
                    *ngIf="account.value && account.value.isMultisign && account.value.isMultisign.cosignatories.length > 0 && account.value.level">
                    <span class="fs-07rem color-blue-intermedio tag-account">- MultiLevel</span>
                  </ng-container>
                </span>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- COSIGNATORY ACCOUNT -->
        <ng-container *ngIf="listCosignatorie.length === 1">
          <div class="col-11 col-md-10 col-lg-8 mx-auto d-flex justify-content-start pt-1-5rem pb-05rem lh-1em cursor-p"
            [title]="'Address: '+cosignatorie?.account?.address">
            <span class="fs-08rem fw-400">Cosignatory: &nbsp;</span>
            <span class="fs-08rem">{{cosignatorie?.label}}</span>
          </div>

          <!-- INSUFFICIENT BALANCE -->
          <ng-container *ngIf="listCosignatorie[0].disabled">
            <div
              class="col-11 col-md-10 col-lg-8 mx-auto d-flex justify-content-start pt-1-5rem pb-05rem lh-1em cursor-p"
              [title]="'Address: '+cosignatorie?.account?.address">
              <span class="fs-08rem fw-400 color-error-message">Cosignatory: &nbsp;</span>
              <span class="fs-08rem color-error-message">{{listCosignatorie[0].info}}</span>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

    <!-- MSG ERROR - ACCOUNT NOT ALLOWED -->
    <ng-container *ngIf="disabledAllField">
      <div class="row">
        <div class="col-11 col-md-10 col-lg-8 mx-auto d-flex justify-content-start pt-05rem pb-05rem">
          <span class="fs-08rem fw-600 color-error-message">
            Only a cosignatory can initiate a transfer.
          </span>
        </div>
      </div>
    </ng-container>

    <!-- COSIGNATORIES -->
    <ng-container *ngIf="listCosignatorie.length > 1">
      <div class="row mt-1rem">
        <div class="col-11 col-md-10 col-lg-8 mx-auto">
          <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [searchable]="false" [clearable]="false"
            [validateError]="true" class="selectWrapper" [items]="listCosignatorie" formControlName="cosignatorie"
            bindLabel="label" bindValue="value" placeholder="Cosignatories" (change)="selectCosignatorie($event)">
            <ng-template ng-option-tmp let-item="item" let-index="index">
              <b>{{item.label}}</b>
              <b class="color-error-message" *ngIf="item.info !== ''"> - {{item.info}}</b>
            </ng-template>
            <ng-template ng-footer-tmp>
              <span class="fs-08rem color-blue-light fw-600" [innerHtml]="msgLockfungCosignatorie"></span>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </ng-container>

    <!-- Contacts -->
    <ng-container *ngIf="showContacts && listContacts.length > 0">
      <div class="row mt-1rem">
        <div class="col-11 col-md-10 col-lg-8 mx-auto">
          <ng-select mdbInputDirective mdbValidate formControlName="contact" class="selectWrapper"
            [items]="listContacts" placeholder="Contact" (change)="selectContact($event)">
            <ng-template ng-option-tmp let-item="item" let-index="index">
              {{item.label}}
              <b *ngIf="item.walletContact"> - Owner account</b>
              <b *ngIf="!item.walletContact"> - Contact</b>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </ng-container>

    <!-- RECIPIENT -->
    <div class="row">
      <div class="col-11 col-md-10 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-8 col-sm-9 col-md-10">
            <div class="md-form form-sm mt-1rem mb-0rem">
              <img class="form-control-feedback"
                src="assets/images/img/icon-address-green-book-16h-proximax-sirius-wallet.svg" alt="" width="43"
                height="43">
              <input mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="text"
                class="form-control form-control-sm input-border" style="border: 2px solid #306EB5;" #accountRecipient (input)="accountRecipient.value=$event.target.value.toUpperCase()"
                placeholder="Recipient" formControlName="accountRecipient" id="recipient-invalid-{{invalidRecipient}}"
                [maxlength]="configurationForm.address.maxLength" [minlength]="configurationForm.address.minLength"
                (change)="getValueAndVerify()">
              <mdb-error
                *ngIf="validateInput('accountRecipient').invalid && (validateInput('accountRecipient').dirty || validateInput('accountRecipient').touched)">
                <span class="fs-08rem color-error-message">Invalid recipient</span>
              </mdb-error>

              <mdb-error *ngIf="msgErrorUnsupported !== ''">
                <span class="fs-08rem color-error-message">{{msgErrorUnsupported}}</span>
              </mdb-error>
            </div>
          </div>

          <!-- Show Contacts -->
          <ng-container>
            <div class="col-4 col-sm-3 col-md-2 d-flex justify-content-center align-items-center pt-10px">
              <div class="background-gray-icons p-12px bord-rad-25px cursor-p"
                (click)="showContacts = (listContacts.length > 0) ? !showContacts : showContacts"
                [title]="(!showContacts) ? 'Show contacts': 'Hide contacts'">
                <img class="w-30px" [src]="(!showContacts && listContacts.length === 0) ?
                  'assets/images/img/icon-address-book-gray-28h-proximax-sirius-wallet.svg' :
                  'assets/images/img/icon-address-green-book-16h-proximax-sirius-wallet.svg'
                  ">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- SEPARED -->
    <div class="row">
      <div class="col-12 col-md-11 col-lg-9 mx-auto">
        <hr>
      </div>
    </div>

    <!-- MOSAIC & AMOUNT -->
    <div class="row">
      <div class="col-11 col-md-10 col-lg-8 mx-auto">
        <div class="border-separator">
          <!-- MOSAIC XPX -->
          <div class="box-grey m-0">
            <div class="row">
              <div class="col-12 d-flex align-items-center">
                <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" alt="">
                <span class="fw-500">{{mosaicXpx.name | uppercase}} > Balance:&nbsp;</span>
                <span class="" [innerHTML]="getQuantity(balanceXpx)"></span>
              </div>
            </div>
          </div>

          <!-- AMOUNT & TO BE SENT -->
          <div class="row d-flex align-items-center">
            <!-- Amount Input -->
            <div class="col-12 mx-auto">
              <div class="md-form form-sm mt-1rem mb-0rem">
                <img class="form-control-feedback"
                  src="assets/images/img/icon-amount-green-16h-proximax-sirius-wallet.svg" alt="">
                <input pattern="^[+]?([0-9]*[.])?[0-9]+$" currencyMask [options]="optionsXPX" mdbInputDirective
                  mdbValidate [validateSuccess]="true" [maxlength]="configurationForm.amount.maxLength"
                  [validateError]="true" type="text" class="form-control form-control-sm input-border input-amount"
                  placeholder="Enter Amount" formControlName="amountXpx">
                <span class="label-i fw-600 pl-2rem">Send</span>

                <mdb-error
                  *ngIf="validateInput('amountXpx').invalid && (validateInput('amountXpx').dirty || validateInput('amountXpx').touched)">
                  <span class="fs-08rem  color-error-message">Invalid amount</span>
                </mdb-error>

                <!-- Message Error Insufficient balance-->
                <mdb-error *ngIf="insufficientBalance">
                  <span class="fs-08rem  color-error-message">Insufficient balance</span>
                </mdb-error>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN XPX -->

    <!--  OTHER MOSAICS -->
    <ng-container *ngIf="boxOtherMosaics.length > 0">
      <ng-container *ngFor="let otherMosaic of boxOtherMosaics; let i = index">
        <!-- MOSAIC & AMOUNT -->
        <div class="row mt-2rem">
          <div class="col-11 col-md-10 col-lg-8 mx-auto">
            <div class="border-separator">
              <!-- MOSAIC XPX -->
              <div class="row">
                <div class="col-12 mx-auto">
                  <ng-select class="custom" mdbInputDirective mdbValidate class="selectWrapper"
                    [items]="otherMosaic.selectOtherMosaics" bindLabel="label" bindValue="value"
                    placeholder="Select Mosaic" (change)="otherMosaicsChange($event, i)" clearAllText="Clean"
                    [disabled]="disabledAllField">
                  </ng-select>
                </div>
              </div>

              <ng-container *ngIf="otherMosaic.balance !== ''">
                <div class="row d-flex align-items-center">
                  <!-- Amount Input -->
                  <div class="col-12 mx-auto">
                    <div class="md-form form-sm mt-0 mb-0rem">
                      <img class="form-control-feedback"
                        src="assets/images/img/icon-amount-green-16h-proximax-sirius-wallet.svg" alt="">
                      <input currencyMask [options]="boxOtherMosaics[i].config" mdbInputDirective mdbValidate
                        [maxlength]="configurationForm.amount.maxLength" type="text"
                        class="form-control form-control-sm input-border input-amount"
                        [(ngModel)]="boxOtherMosaics[i].amount" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="amountOtherMosaicChanged($event, otherMosaic.id, i)"
                        placeholder="Enter quantity" [disabled]="disabledAllField">
                      <span class="label-i fw-600 pl-2rem">Send</span>

                      <!-- Message Error Insufficient balance-->
                      <mdb-error *ngIf="otherMosaic.errorBalance">
                        <span class="fs-08rem  color-error-message">Insufficient balance</span>
                      </mdb-error>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <!--  FIN MOSAICS -->

    <!-- Add mosaics -->
    <div class="row mt-1rem">
      <div class="col-12 d-flex justify-content-center">
        <button
          [disabled]="currentBlock === 0 || disabledBtnAddMosaic || selectOtherMosaics.length === 0 || disabledAllField"
          mdbBtn type="button" rounded="true" mdbWavesEffect class="background-btn-inverse pl-2rem pr-2rem" size="md"
          (click)="pushedOtherMosaics()">
          <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
            *ngIf="currentBlock === 0 && !disabledBtnAddMosaic"></span>
          <span class="fs-1-2em text-cl-m fw-700">(+) Add Mosaics </span>
        </button>
      </div>
    </div>

    <!-- SEPARED -->
    <div class="row">
      <div class="col-11 col-md-10 col-lg-8 mx-auto">
        <hr>
      </div>
    </div>

    <!-- MESSAGE SELECTOR -->
    <div class="row">
      <div class="col-11 col-md-10 col-lg-8 mx-auto">
        <div class="box-grey d-flex justify-content-center pt-09rem pb-09rem">
          <div class="row">
            <div class="col-12 col-sm-6 fw-600 d-flex justify-content-center justify-content-sm-end">
              <div class="form-check form-check-inline">
                <input type="radio" [(ngModel)]="typeMessage" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="changeMessageType($event)" value="1" class="form-check-input" id="plainMessage"
                  name="typeMessage" checked>
                <label class="form-check-label" for="plainMessage">Regular</label>
              </div>
            </div>

            <div class="col-12 col-sm-6 fw-600 d-flex justify-content-center justify-content-sm-center">
              <div class="form-check form-check-inline">
                <input type="radio" [(ngModel)]="typeMessage" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="changeMessageType($event)" value="2" class="form-check-input" id="hexMessage"
                  name="typeMessage">
                <label class="form-check-label" for="hexMessage">Hexadecimal</label>
              </div>
            </div>

            <!-- <div class="col-12 col-sm-4 fw-600 d-flex justify-content-center justify-content-sm-start">
              <div class="form-check form-check-inline">
                <input type="radio" [(ngModel)]="typeMessage" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="changeMessageType($event)" value="3" class="form-check-input" id="encrypMessage"
                  name="typeMessage" [disabled]="encryptedMsgDisable">
                <label class="form-check-label" for="encrypMessage">Encrypted</label>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- MESSAGE ENCRYPTED -->
    <div class="row" *ngIf="typeMessage === '1' && encryptedMsgDisable === false">
      <div class="col-11 col-md-10 col-lg-8 mx-auto">
        <div class="box-grey d-flex justify-content-center pt-09rem pb-09rem">
          <div class="row">
            <div class="col-12 fw-600 d-flex justify-content-center justify-content-sm-end">
              <div class="form-check form-check-inline">
                <mdb-checkbox [(ngModel)]="messageWillBeEncrypted" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="setMessageToEncrypted()">
                  <span class="fs-08rem txt-a-center line-h-1-2em mb-06rem">Encrypted</span>
                </mdb-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MESSAGE -->
    <div class="row">
      <div class="col-11 col-md-10 col-lg-8 mx-auto">
        <div class="md-form form-sm mt-1rem mb-0rem">
          <img class="form-control-feedback" src="assets/images/img/icon-messenger-green-16h-proximax-sirius-wallet.svg"
            alt="" style="padding: 30px 10px !important">
          <textarea mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="text"
            id="message" class="md-textarea form-control" mdbInput placeholder="Message" formControlName="message"
            [maxlength]="messageMaxLength"></textarea>
          <span class="fs-08rem text-cl-m d-flex justify-content-end">{{ charRest }} / {{ messageMaxLength }}</span>
          <mdb-error
            *ngIf="validateInput('message').invalid && (validateInput('message').dirty || validateInput('message').touched)">
            <span>Invalid recipient</span>
          </mdb-error>
        </div>
      </div>
    </div>

    <!-- FEE + LOCKFUND -->
    <ng-container
      *ngIf="sender?.isMultisign && sender?.isMultisign.cosignatories && sender?.isMultisign.cosignatories.length > 0; else showOnlyFee">
      <div class="row">
        <div class="col-11 col-md-10 col-lg-8 mx-auto">
          <div class="row">
            <div class="col-12 mx-auto">
              <div class="box-grey d-flex justify-content-center pt-1-3rem pb-1-3rem">
                <div class="row">
                  <div class="col-12 text-center">
                    <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg"
                      width="20" alt="">
                    <!-- <span class="fs-07rem">Unconfirmed/Recommended Fee: {{fee}} XPX <br></span> -->
                    <span class="fs-08rem">
                      Unconfirmed/Recommended Fee:&nbsp;
                      <a [innerHTML]="getQuantity(fee)"></a> XPX
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 mx-auto">
              <div class="box-grey pt-08rem pb-08rem d-flex justify-content-center">
                <div class="row">
                  <div class="col-12 d-flex align-items-center">
                    <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg"
                      width="20" alt="">

                    <span class="fs-08rem">
                      LockFund:&nbsp;
                      <a [innerHTML]="getQuantity('10.000000')"></a> XPX <br>

                      Unconfirmed/Recommended Fee:&nbsp;
                      <a [innerHTML]="getQuantity('0.044500')"></a> XPX
                    </span>
                    <!-- <span class="fs-07rem">LockFund: 10.000000 XPX <br> Unconfirmed/Recommended Fee: 0.044500 XPX</span>  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- ONLY FEE -->
    <ng-template #showOnlyFee>
      <!-- FEE -->
      <div class="row">
        <div class="col-11 col-md-10 col-lg-8 mx-auto">
          <div class="box-grey d-flex justify-content-center pt-09rem pb-09rem">
            <div class="row">
              <div class="col-12 text-center">
                <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" width="20"
                  alt="">
                <span class="fs-08rem">
                  Unconfirmed/Recommended Fee:&nbsp;
                  <a [innerHTML]="getQuantity(fee)"></a> XPX
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- password -->
    <div class="row">
      <div class="col-11 col-md-10 col-lg-8 mx-auto">
        <div class="md-form form-sm">
          <img class="form-control-feedback" src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg"
            alt="">
          <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
            src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
          <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
            src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
          <input [maxlength]="configurationForm.passwordWallet.maxLength"
            [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" required
            mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" [type]="passwordMain"
            id="password" class="form-control form-control-sm input-border" placeholder="Enter Wallet Password">

          <!-- VALIDATION -->
          <mdb-error
            *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
            <span>Password required</span>
          </mdb-error>
        </div>
      </div>
    </div>


    <!-- BUTTONS -->
    <div class="row">
      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
        <button [disabled]="disabledAllField" mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax"
          size="md" (click)="clearForm()">
          <span class="fs-1-2em color-white">Clear</span>
        </button>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
        <button [disabled]="
            (formTransfer.invalid ||
            errorOtherMosaics ||
            disabledAllField ||
            insufficientBalance) ||
            (sender.isMultisign &&
            sender.isMultisign.cosignatories &&
            sender.isMultisign.cosignatories.length > 0 &&
            !cosignatorie) ||
            (listCosignatorie &&
            listCosignatorie.length === 1 &&
            listCosignatorie[0].disabled) && !reloadBtn" mdbBtn type="submit" rounded="true" mdbWavesEffect
          class="btn-proximax" size="md">
          <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
            *ngIf="reloadBtn"></span>
          <span class="fs-1-2em color-white">Send</span>
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content form-elegant b-r-08rem">
      <div class="modal-header text-center box-modal-grey b-t-r-r-08rem b-t-l-r-08rem">
        <h6 class="modal-title w-100 dark-grey-text" id="myModalLabel">
          <strong class="title-modal-grey">Add Contact</strong>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row mt-1rem mb-1rem" *ngIf="!saveContact">
        <div class="col-11 col-sm-12 col-md-11 mx-auto">
          <div class="col-12 d-flex flex-column align-items-center">
            <span class="fs-1-2rem d-flex text-center">Do you want to save this address?</span>
          </div>
        </div>
        <!-- BUTTONS -->
        <div class="row mx-auto">
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
            <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
              (click)="basicModal.hide()">
              <span class="fs-1-2em color-white">No</span>
            </button>
          </div>

          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
            <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" (click)="saveContact = true"
              size="md">
              <span class="fs-1-2em color-white">Yes</span>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="saveContact">
        <form>
          <div class="modal-body mx-4">

            <div class="row">
              <div class="col-11 col-sm-10 col-lg-8 mx-auto">
                <div class="md-form form-sm">
                  <input required mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true"
                    type="text" id="user" [(ngModel)]="formContact.name" [ngModelOptions]="{standalone: true}"
                    class="form-control form-control-sm input-border" placeholder="Name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-11 col-sm-10 col-lg-8 mx-auto">
                <div class="md-form form-sm">
                  <input required mdbInputDirective readonly mdbValidate [validateSuccess]="true" [validateError]="true"
                    type="text" [(ngModel)]="formContact.address" [ngModelOptions]="{standalone: true}" id="address"
                    class="form-control form-control-sm input-border" placeholder="address">
                </div>
              </div>
            </div>

            <div class="row mx-auto">
              <div class="col-12 d-flex justify-content-center">
                <button mdbBtn type="button" [disabled]="formContact.name === ''" rounded="true" mdbWavesEffect
                  class="f-w-600 background-btn pl-2rem pr-2rem" size="md" (click)="saveContactNew()">
                  <span class="fs-1-2em color-white">Save</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
