.ng-arrow-wrapper::after {
  border: 0;
}

.ng-select-container:after {
  border: 0;
}

#recipient-invalid-true {
  box-shadow: none !important;
  border: 2px solid #e06e38 !important;
}

.border-separator {
  border-left: .5rem solid #f4f4f4;
  padding-left: .6rem;
}
