/* ---------- GLOBAL ----------

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap&subset=latin-ext');

.v-application, html, body {
    font-family: 'Lato', 'Arial', 'Helvetica', 'sans-serif' !important;
}

.theme--light.v-application {
    background: white !important;
}

hr {
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.text-transform-none {
    text-transform: none !important;
}