<ng-container *ngIf="transactionBuilder?.data">
  <div class="row">
    <div class="col-12 lh-1em">
      <!-- RECIVE -->
      <ng-container *ngIf="transactionBuilder.receive">
        <span class="fw-600 fs-065rem color-blue-light">Transaction Received&nbsp;</span>
        <img src="assets/images/img/arrow-transaction-receive-green-proximax-sirius-explorer.svg" alt="" width="15">
      </ng-container>
      <!-- SEND -->
      <ng-container *ngIf="!transactionBuilder.receive">
        <span class="fw-600 fs-065rem color-orange">Transaction Sent&nbsp;</span>
        <img src="assets/images/img/arrow-transaction-sender-orange-proximax-sirius-explorer.svg" alt="" width="15">
      </ng-container>
    </div>
  </div>

  <div class="col-12 mt-05rem" *ngIf="mosaicAlias?.timestamp">
    <span class="color-black fs-065rem fw-500 w-w-b-w">{{mosaicAlias?.timestamp}}</span>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">Type: &nbsp;</span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data['type'].toString(16).toUpperCase()}}</span>
    </div>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <app-mosaics-info (changeSearch)="searching = false;" [mosaicsArray]="transactionBuilder.data['mosaics']"
        [transferTransaction]="transactionBuilder.data" [simple]="false">
      </app-mosaics-info>
    </div>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">From:&nbsp;</span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data.signer.address.pretty()}}</span>
    </div>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">To:&nbsp;</span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data.recipient.pretty()}}</span>
    </div>
  </div>

  <ng-container *ngIf="message && message.payload !== ''">
    <div class="row mt-05rem" *ngIf="message.type === 0">
      <div class="col-12 lh-1em">
        <span class="fw-600 fs-065rem">Message:&nbsp;</span>
        <span class="fs-065rem w-w-b-w">{{ message.payload }}</span>
      </div>
    </div>

    <div class="row mt-05rem" *ngIf="message.type === 1 && showEncryptedMessage === false">
      <div class="col-12 lh-1em">
        <span class="fw-600 fs-065rem">Message:&nbsp;</span>
        <span class="fw-600 fs-065rem">Encrypted</span>
      </div>
    </div>

    <div class="row mt-05rem" *ngIf="message.type === 1 && showEncryptedMessage === true">
      <div class="col-12 lh-1em">
        <span class="fw-600 fs-065rem">Encrypted Message:&nbsp;</span>
      </div>

      <div class="col-12 word-break-all box-grey" *ngIf="panelDecrypt === 0">
        <div class="txt-a-center">
          <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax-mini" size="sm"
            (click)="panelDecrypt = 1">
            <span class="color-white">Decrypt Message</span>
          </button>
        </div>
      </div>

      <div class="col-12 word-break-all box-grey" *ngIf="panelDecrypt === 1">
        <div class="md-form form-sm mt-1rem mb-0rem">
          <img class="form-control-feedback" src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg"
            alt="">
          <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
            src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
          <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
            src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
          <input maxlength="30" minlength="8" mdbInputDirective mdbValidate [validateSuccess]="true" [(ngModel)]="password"
            [validateError]="true" [type]="passwordMain" id="password" class="form-control form-control-sm input-border"
            placeholder="Enter Wallet Password">
        </div>
        <div class="txt-a-center">
          <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax-mini" size="sm"
            (click)="hideMessage()">
            <span class="color-white">Cancel</span>
          </button>
          <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax-mini" size="sm"
            (click)="decryptMessage()">
            <span class="color-white">Decrypt</span>
          </button>
        </div>
      </div>

      <div class="col-12 word-break-all box-grey" *ngIf="panelDecrypt === 2">
        <span class="fs-065rem w-w-b-w">{{ decryptedMessage.payload }}</span>
        <div class="txt-a-center">
          <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax-mini" size="sm"
            (click)="hideMessage()">
            <span class="color-white">Hide Message</span>
          </button>
        </div>
      </div>

      <!-- <div class="col-12 lh-1em box-grey" *ngIf="transactionBuilder.data['message'].type === 1">
        <span class="fs-065rem w-w-b-w">{{transactionBuilder.data['message'].payload}}</span>
      </div> -->

    </div>
  </ng-container>

  <ng-container *ngIf="transactionBuilder.data['transactionInfo']">
    <div class="row mt-05rem">
      <div class="col-12 lh-1em">
        <span class="fw-600 fs-065rem">Aggregate Id:&nbsp;</span>
        <span class="fs-065rem w-w-b-w">{{transactionBuilder.data['transactionInfo']['aggregateId']}}</span>
      </div>
    </div>
  </ng-container>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">Signer Address:&nbsp;</span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data?.signer.address.pretty()}}</span>
    </div>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">Signer Public Key: <br></span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data?.signer.publicKey}}</span>
    </div>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">Signature: <br></span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data?.signature}}</span>
    </div>
  </div>
</ng-container>
