<ng-container *ngIf="transactionBuilder?.data">
  <div class="row">
    <div class="col-12 lh-1em">
      <!-- RECIVE -->
      <ng-container *ngIf="transactionBuilder.receive">
        <span class="fw-600 fs-065rem color-blue-light">Transaction Received&nbsp;</span>
        <img src="assets/images/img/arrow-transaction-receive-green-proximax-sirius-explorer.svg" alt="" width="15">
      </ng-container>
      <!-- SEND -->
      <ng-container *ngIf="!transactionBuilder.receive">
        <span class="fw-600 fs-065rem color-orange">Transaction Send&nbsp;</span>
        <img src="assets/images/img/arrow-transaction-sender-orange-proximax-sirius-explorer.svg" alt="" width="15">
      </ng-container>
    </div>
  </div>

  <div class="col-12 mt-05rem" *ngIf="mosaicAlias?.timestamp">
    <span class="color-black fs-065rem fw-500 w-w-b-w">{{mosaicAlias?.timestamp}}</span>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">Type: &nbsp;</span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data['type'].toString(16).toUpperCase()}}</span>
    </div>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <app-mosaics-info (changeSearch)="searching = false;" [mosaicsArray]="transactionBuilder.data['mosaics']"
        [transferTransaction]="transactionBuilder.data" [simple]="false">
      </app-mosaics-info>
    </div>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">From:&nbsp;</span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data.signer.address.pretty()}}</span>
    </div>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">To:&nbsp;</span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data.recipient.pretty()}}</span>
    </div>
  </div>

  <ng-container *ngIf="transactionBuilder.data['message'] && transactionBuilder.data['message'].payload !== ''">
    <div class="row mt-05rem">
      <div class="col-12 lh-1em">
        <span class="fw-600 fs-065rem">Message:&nbsp;</span>
        <span class="fs-065rem w-w-b-w">{{transactionBuilder.data['message'].payload}}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionBuilder.data['transactionInfo']">
    <div class="row mt-05rem">
      <div class="col-12 lh-1em">
        <span class="fw-600 fs-065rem">Aggregate Id:&nbsp;</span>
        <span class="fs-065rem w-w-b-w">{{transactionBuilder.data['transactionInfo']['aggregateId']}}</span>
      </div>
    </div>
  </ng-container>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">Signer Address:&nbsp;</span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data?.signer.address.pretty()}}</span>
    </div>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">Signer Public Key: <br></span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data?.signer.publicKey}}</span>
    </div>
  </div>

  <div class="row mt-05rem">
    <div class="col-12 lh-1em">
      <span class="fw-600 fs-065rem">Signature: <br></span>
      <span class="fs-065rem w-w-b-w">{{transactionBuilder.data?.signature}}</span>
    </div>
  </div>
</ng-container>
