<div class="container mt-11rem mb-3rem animated fadeIn">
  <!-- TITLE -->
  <div class="row">
    <div class="col-11 mx-auto">
      <!-- Title and Divir -->
      <div class="row">
        <div class="col-12 col-sm-11 mx-auto">
          <span class="d-flex justify-content-center align-items-center wallet-name">
            <img class="mr-05rem h2-3em" src="assets/images/img/icon-storage-white.svg" alt="">
            <span class="f-w-bold fs-1-5rem title-module">Storage</span>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>
    </div>
  </div>

  <!-- New or enter data and search -->
  <div class="row">
    <div class="col-11 mx-auto">
      <div class="row">
        <div class="col-3 col-md-3 d-flex justify-content-center align-items-center">
          <div class="btn-create-new" (click)="openRecordDialog()">
            <img class="mr-05rem " src="assets/images/img/icon-docs-file-white.svg" alt=""> NEW
          </div>

          <!-- <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 btn-dark-green-prx"
            (click)="openRecordDialog()">
            <span><i class="fa fa-user" aria-hidden="true"></i> NEW</span>
          </button> -->
        </div>

        <div class="col-9 col-md-8 ">
          <div class="row">
            <div class="col-8 background-dark-green-plus b-l-0-6rem">
              <div class="md-form" id="container-transaction-search">
                <input [(ngModel)]="searchName" type="text" autocomplete="off" id="transactionHash" class="form-control"
                  mdbInputDirective [validateSuccess]="false" [validateError]="false">
                <label for="walletname">Search by title</label>
              </div>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center background-dark-green b-r-0-6rem">
              <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 btn-white-transparent" size="sm"
                (click)="searchRecord()">
                <span>SEARCH</span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container mt-11rem mb-3rem animated fadeIn">
  <div class="row">
    <div class="col-11 col-sm-10 mx-auto">

      <!- Title and Divir --
      <div class="row">
        <div class="col-11 col-sm-10 mx-auto">
          <h1 class="text-align-center wallet-name"><i class="fa fa-user" aria-hidden="true"></i> Storage</h1>
        </div>
        <div class="col-12 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>

      <!- New or enter data and search --
      <div class="row">
        <div class="col-3 d-flex justify-content-center align-items-center">
          <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 btn-dark-green-prx"
            (click)="openRecordDialog()">
            <span><i class="fa fa-user" aria-hidden="true"></i> NEW</span>
          </button>
        </div>

        <div class="col-9">
          <div class="row">
            <div class="col-8 background-dark-green-plus b-l-0-6rem">
              <div class="md-form" id="container-transaction-search">
                <input [(ngModel)]="searchName" type="text" autocomplete="off" id="transactionHash" class="form-control"
                  mdbInputDirective [validateSuccess]="false" [validateError]="false">
                <label for="walletname">Search by title</label>
              </div>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center background-dark-green b-r-0-6rem">
              <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 btn-white-transparent" size="sm"
                (click)="searchRecord()">
                <span>SEARCH</span>
              </button>
            </div>
          </div>

        </div>
      </div>

      <!- Second divisor --
      <div class="row">
        <div class="col-12 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>


      <!- Results --
      <div class="row mt-1rem mb-1rem">
        <div class="col-12 d-flex justify-content-center align-items-center" id="titleCantResults">
          <h5 class="f-w-bold color-dark-green">{{transactionResults.length}} results for "Search by title"</h5>
        </div>
      </div>

      <!- Progress bar --
      <div class="row">
        <div class="col-12">
          <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate" *ngIf="searching">
          </mdb-progress-bar>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mx-auto">
          <div class="table-responsive table-hover">
            <table mdbTable #tableEl="mdbTable" id="mdbTable" striped="true"
              class="table table-hover table-bordered table-hover table-sm z-depth-0" borderless="true">
              <!-Table head-->
<!-- <thead>
  <tr class="header-backg">
    <ng-container *ngFor="let head of headElements; let i = index">
      <th scope="col" class="text-center fw-400">{{head}}</th>
    </ng-container>
  </tr>
</thead> -->
<!--Table head--

              <!-Table body--
              <tbody>
                <ng-container *ngFor="let r of transactionResults.slice().reverse(); let i=index">
                  <tr class="mouse-pointer">
                    <!- Type transaction --
                    <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                      class="th-sm" scope="row description-dark-green">{{r.title}}</th>

                    <!- timestamp --
                    <td class="align-right th-sm description-dark-green"
                      *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                      {{r.transactionHash}}</td>

                    <td class="mx-auto th-sm description-dark-green"
                      *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                      <ng-container>
                        <i [ngClass]="r.isEncrypted?'fa fa-lock fa-lg mr-1rem':'fa fa-unlock fa-lg mr-1rem'"></i>
                        <i class="fa fa-download fa-lg"
                          (click)="downloadRecord(r.dataHash,r.type,r.title,r.transactionHash,r.privacy)"></i>
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
              </tbody>

              <tfoot class="lighten-5 w-100">
                <tr>
                  <td colspan="5">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="transactionResults.slice().reverse()">
                    </mdb-table-pagination>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3rem w-w-b-w">
  <!- Download modal --
  <div mdbModal #dlframe="mdbModal" class="modal fade left" id="dlFrameModal" tabindex="-1" role="dialog"
    aria-labelledby="myDlModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header background-gold">
          <p class="heading lead" style="font-weight: 500;">Download file(s)</p>
          <button type="button" class="close" data-dismiss="modal" (click)="dlframe.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="downloadRecordForm" style="color: #757575;" action="#">
            <input type="hidden" formControlName="downloadDatahash" id="downloadDatahash" class="form-control"
              mdbInputDirective />
            <div *ngIf="showDecryptionPassword">
              <div class="row">
                <div class="col-8">
                  <div class="md-form " id="container-decryption-password-key">
                    <input type="password" [validateSuccess]="false" autocomplete="off"
                      formControlName="decryptionPassword" id="decryptionPassword" class="form-control"
                      mdbInputDirective required minlength="10" />
                    <label for="decryptionPassword">Enter your decryption password</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="md-form">
                    <button mdbBtn type="button" size="sm" color="default" rounded="true" class="waves-light"
                      mdbWavesEffect (click)="downloadWithDecryptionPassword()">Download</button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="showDecryptionKeyPair">
              <div class="md-form mt-4" id="container-decryption-private-key">
                <input type="text" [validateSuccess]="false" autocomplete="off" formControlName="decryptionPrivateKey"
                  id="decryptionPrivateKey" class="form-control" mdbInputDirective>
                <label for="decryptionPrivateKey">Enter decryption private key </label>
              </div>
              <div class="md-form mt-4" id="container-decryption-public-key">
                <input type="text" [validateSuccess]="false" autocomplete="off" formControlName="decryptionPublicKey"
                  id="decryptionPublicKey" class="form-control" mdbInputDirective>
                <label for="decryptionPublicKey">Enter decryption public key </label>
              </div>
              <div class="md-form">
                <button mdbBtn type="button" size="sm" color="default" rounded="true" class="waves-light" mdbWavesEffect
                  (click)="downloadWithDecryptionKeyPair()">Download</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!- Record modal--
  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
      <div class="modal-content">

        <!- header--
        <div class="modal-header background-gold">
          <p class="heading lead" style="font-weight: 500;">Add a new file</p>
          <button type="button" class="close" data-dismiss="modal" (click)="frame.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!- Body--
        <div class="modal-body">
          <form [formGroup]="addRecordForm" (ngSubmit)="addRecord()" style="color: #757575;" action="#">
            <div *ngIf="showPassword">
              <div class="row">
                <div class="col-8">
                  <div class="md-form " id="container-password-key">
                    <input type="password" [validateSuccess]="false" autocomplete="off" formControlName="password"
                      id="password" class="form-control" mdbInputDirective required
                      [errorMessage]="getError('password')">
                    <label for="password">Enter your password</label>

                  </div>
                </div>
                <div class="col-4">
                  <div class="md-form">
                    <button mdbBtn type="button" size="sm" color="default" rounded="true" class="waves-light"
                      mdbWavesEffect (click)="showRecordEntryPassword()">OK</button>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="showRecordEntry">
              <div class="md-form mt-4" id="container-title">
                <input type="text" autocomplete="off" formControlName="title" id="title" class="form-control"
                  mdbInputDirective [validateSuccess]="false">
                <label for="title">Enter title</label>
              </div>
              <div class="file-field md-form mt-4" id="container-file-input">
                <div mdbBtn color="default" rounded="true" size="sm" class="waves-light" mdbWavesEffect>
                  <span>Choose file</span>
                  <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
                </div>
              </div>

              <div class="md-form  mt-4" id="container-encryption">
                <mdb-select [options]="optionsEncryptionMethods" placeholder="Select encryption method"
                  class="colorful-select dropdown-default" required formControlName="encryptionMethod"
                  [errorMessage]="getError('encryptionMethod')" (selected)="onEncryptionMethodSelected($event)">
                </mdb-select>
              </div>

              <div class="md-form mt-4" id="container-encryption-password" *ngIf="showEncryptionPassword">
                <input type="password" [validateSuccess]="false" autocomplete="off" formControlName="encryptionPasword"
                  id="encryptionPasword" class="form-control" mdbInputDirective>
                <label for="encryptionPasword">Enter the encryption password</label>
              </div>
              <div *ngIf="showEncryptionKeyPair">
                <div class="md-form mt-4" id="container-encryption-private-key">
                  <input type="password" [validateSuccess]="false" autocomplete="off"
                    formControlName="recipientPrivateKey" id="recipientPrivateKey" class="form-control" disabled
                    mdbInputDirective>
                  <label for="recipientPrivateKey">Current encryption private key </label>
                </div>
                <div class="md-form mt-4" id="container-encryption-public-key">
                  <input type="text" [validateSuccess]="false" autocomplete="off" formControlName="recipientPublicKey"
                    id="recipientPublicKey" class="form-control" disabled mdbInputDirective>
                  <label for="recipientPublicKey">Current encryption public key </label>
                </div>
              </div>

              <div class="mt-3">
                <div class="row ">
                  <div class="mx-auto">
                    <div class="row">
                      <div class="col-xs-6">
                        <button mdbBtn type="button" rounded="true" class="waves-light btn-reverse" mdbWavesEffect
                          type="submit" (click)="cleanForm()">Reset</button>
                      </div>
                      <div class="col-xs-6">
                        <button mdbBtn type="button" color="default" rounded="true" class="waves-light" mdbWavesEffect
                          type="submit">Upload</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
-->
