<div class="container mt-3rem mb-1rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>
</div>

<!-- HEADER SEARCH -->
<div class="container-fluid background-header-grey pb-1rem pt-1rem">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row">
        <!-- SELECT -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mx-auto mt-1rem mb-1rem">
          <ng-select mdbInputDirective mdbValidate [(ngModel)]="typeSearch" [searchable]="false" class="selectWrapper"
            [items]="optionTypeSearch" bindLabel="label" bindValue="value" placeholder="Select type search">
          </ng-select>
        </div>

        <!-- Keyword or number -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-5 mx-auto d-flex align-items-center pt-05rem">
          <input [(ngModel)]="paramSearch" type="text" autocomplete="off" id="searchTransaction" class="form-control"
            mdbInputDirective [validateSuccess]="false" [validateError]="false" placeholder="File Name Or Data Hash" />
        </div>

        <div
          class="col-12 col-md-12 col-lg-2 d-flex align-items-center justify-content-center background-dark-green-plus pt-05rem">
          <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
            (click)="searchData()">
            <span class="fs-1em color-white">Search</span>
          </button>
        </div>
        <!-- <div
          class="col-12 col-md-12 col-lg-2 d-flex align-items-center justify-content-start background-dark-green-plus pt-05rem">
          <button mdbBtn type="submit" rounded="true" mdbWavesEffect
            class="f-w-600 background-btn overflow-ellipsis-nowrap" size="md" (click)="clearData()">
            <span class="fs-1em color-white">REFRESH</span>
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="searching">
  <div class="col-10 mx-auto mt-1rem">
    <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
    </mdb-progress-bar>
  </div>
</ng-container>

<!-- TABLE -->
<div class="container">
  <div class="row mt-2rem">

    <div class="col-12 d-flex justify-content-center background-dark-green-plus pt-05rem">
      <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="btn-proximax" size="md" (click)="clearData()">
        <span class="fs-1em color-white">Refresh</span>
      </button>
    </div>

    <div class="col-12 mx-auto">
      <div class="table-responsive table-hover">
        <table mdbTable #tableEl="mdbTable" id="mdbTable" striped="true"
          class="table table-hover table-bordered table-hover table-sm z-depth-0" cellspacing="0" width="100%"
          borderless="true">
          <!--Table head-->
          <thead>
            <tr class="header-backg">
              <ng-container *ngFor="let head of headElements; let i = index">
                <th scope="col" class="text-center fw-400 th-sm">{{ head }}</th>
              </ng-container>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody class="background-white">
            <ng-container *ngFor="let el of elements; let i = index">
              <tr>
                <!-- timestamp -->
                <td class="th-sm text-center description-dark-green fs-0-8-rem">
                  {{ el.timestamp }}
                </td>

                <!-- name -->
                <th class="th-sm description-dark-green fs-0-8-rem">
                  <img src="{{ el.contentTypeIcon }}" width="25" alt="" />
                  {{ el.name }}
                </th>

                <!-- action -->
                <th class="th-sm text-center description-dark-green fs-0-8-rem mouse-pointer">
                  <img src="assets/images/img/icon-download-green-16h-proximax-sirius-wallet.svg" width="25"
                    alt="download" title="Download" (click)="dataSelected = el; basicModal.show()" />
                </th>
              </tr>
            </ng-container>
            <ng-container *ngIf="elements.length === 0 && !searching">
              <tr>
                <td colspan="3" class="txt-a-center">nothing to show</td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot class="lighten-5 w-100">
            <tr class="row">
              <td class="col-12 col-sm-6 d-flex justify-content-center">
                <button mdbBtn type="button" rounded="true" mdbWavesEffect [disabled]="fromTransactionId === undefined"
                  (click)="getFiles()" class="btn-proximax" size="md">
                  <span class="fs-1-2em color-white">Next</span>
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div mdbModal #basicModal="mdbModal" id="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" (open)="onDownloadFormOpen($event)">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content form-elegant b-r-08rem">
      <div class="modal-header text-center box-modal-grey b-t-r-r-08rem b-t-l-r-08rem">
        <h6 class="modal-title w-100 dark-grey-text" id="myModalLabel">
          <strong class="title-modal-grey">Download</strong>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <ng-container *ngIf="dataSelected !== null">
          <form [formGroup]="downloadForm" (ngSubmit)="download(dataSelected)">
            <div *ngIf="dataSelected.encryptionType !== 1001 && dataSelected.encryptionType !== 1004">
              <span class="title">Your file "<strong>{{ dataSelected.name }}</strong>" is not available for
                download.</span>
            </div>
            <div *ngIf="dataSelected.encryptionType === 1001">
              <span class="title">Your file "<strong>{{ dataSelected.name }}</strong>" is ready for download.</span>
            </div>
            <div *ngIf="dataSelected.encryptionType === 1004">
              <span class="title">Your file "<strong>{{ dataSelected.name }}</strong>" has been encrypted with
                <strong>PASSWORD</strong>.</span>

              <div class="row">
                <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto">
                  <div class="md-form form-sm mt-1rem mb-0rem">
                    <input [maxlength]="configurationForm.passwordWallet.maxLength"
                      [minlength]="configurationForm.passwordWallet.minLength" formControlName="encryptionPassword"
                      mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="password"
                      id="encryptionPassword" class="form-control form-control-sm input-border"
                      placeholder="Enter Wallet Password" />

                    <!-- VALIDATION -->
                    <mdb-error *ngIf="
                          validateInput('encryptionPassword')
                            .invalid &&
                          (validateInput('encryptionPassword')
                            .dirty ||
                            validateInput('encryptionPassword')
                              .touched)
                        ">
                      <span>Password required</span>
                    </mdb-error>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2rem">
              <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end mx-auto"
                *ngIf="dataSelected.encryptionType === 1004">
                <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
                  (click)="clearForm()">
                  <span class="fs-1-2em color-white">Reset</span>
                </button>
              </div>
              <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start mx-auto">
                <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="btn-proximax"
                  [disabled]="dataSelected.encryptionType !== 1001 && dataSelected.encryptionType !== 1004" size="md">
                  <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                    *ngIf="downloading"></span>
                  <span class="fs-1-2em color-white">Download</span>
                </button>
              </div>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- MODAL PASSWORD -->
<div mdbModal #mdbModalPassword="mdbModal" id="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="mdbModalPassword" aria-hidden="true" (open)="onDownloadFormOpen($event)">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content form-elegant b-r-08rem">
      <div class="modal-header text-center box-modal-grey b-t-r-r-08rem b-t-l-r-08rem">
        <h6 class="modal-title w-100 dark-grey-text" id="myModalLabel">
          <strong class="title-modal-grey">Password</strong>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="mdbModalPasswordClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <ng-container *ngIf="downloadPrivate">

          <!-- {{configurationForm.passwordWallet | json}} -->
          <form [formGroup]="passwordForm" (ngSubmit)="getFilesCustom()">
            <div class="row">
              <div class="col-11 mx-auto">
                <div class="md-form form-sm mt-1rem mb-0rem">
                  <img class="form-control-feedback"
                    src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
                  <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                    src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
                  <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                    src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
                  <input [maxlength]="configurationForm.passwordWallet.maxLength"
                    [minlength]="configurationForm.passwordWallet.minLength" formControlName="password"
                    mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" [type]="passwordMain"
                    id="passwordWallet" class="form-control form-control-sm input-border"
                    placeholder="Enter Wallet Password">
                  <mdb-error
                    *ngIf="
                        validateInputPasswordForm('password').invalid &&
                        (validateInputPasswordForm('password').dirty || validateInputPasswordForm('password').touched)">
                    <span>Password required</span>
                  </mdb-error>
                </div>
              </div>
            </div>
            <!-- buttons create and clear -->
            <div class="row mt-2rem">
              <div class="col-11 col-sm-6 d-flex justify-content-center justify-content-sm-end">
                <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="sm"
                  (click)="passwordForm.reset()">
                  <span class="color-white">Clear</span>
                </button>
              </div>

              <div class="col-11 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="btn-proximax" size="sm"
                  [disabled]="passwordForm.invalid">
                  <!-- <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                    *ngIf="spinnerButton"></span> -->
                  <span class="color-white">Search</span>
                </button>
              </div>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </div>
</div>