.service-description {
  text-align: justify;
  color: dimgrey;
  font-size: .8rem;
}

.box-service-description {
  overflow-y: auto;
  max-height: 80px;
}

.box-general {
  height: 260px;
}

.box-icon-title-description {
  height: 140px;
}
