<div class="container-fluid mt-11rem mb-3rem animated fadeIn">
  <div class="row">
    <div class="col-11 col-sm-10 mx-auto">
      <!-- Title -->
      <div class="row">
        <div class="col-11 col-sm-10 mx-auto">
          <h1 class="text-align-center wallet-name"><i class="fa fa-user" aria-hidden="true"></i> Services</h1>
        </div>
        <div class="col-11 col-sm-10 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1rem">
    <div class="col-12 mx-auto">
      <div class="row">
        <ng-container *ngFor="let item of keyObject(services)">
          <ng-container *ngIf="services[item].show">
            <div class="col-12 col-md-6 col-lg-4 mb-1rem">
              <div class="box-form-white box-general" style="border: 1px solid #023c421c;">
                <div class="row box-icon-title-description">
                  <div class="col-3 col-sm-3 col-md-4 col-lg-3 d-flex align-items-center">
                    <div class="{{services[item].icon}} size-icon-services" aria-hidden="true"></div>
                  </div>

                  <div class="col-9 col-sm-9 col-md-8 col-lg-9 d-flex align-items-center">
                    <div class="row">
                      <div class="col-12">
                        <span class="title-text">{{services[item].title}}</span>
                      </div>
                      <div class="col-12 box-service-description">
                        <span class="color-dark-green service-description">{{services[item].text}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <hr class="background-divisor-separate-content">
                  </div>
                </div>

                <div class="row">
                  <ng-container *ngFor="let r of keyObject(services[item].route)">
                    <div class="col-6 d-flex justify-content-center align-items-center">
                      <a class="btn-dark-green-sm" mdbWavesEffect
                        [routerLink]="services[item].route[r].link">{{services[item].route[r].name}}</a>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
