.size-icon-services{
  font-size: 60px;
  color: #000000;
}

.border-service{
  margin-top: 1rem !important;
  border-top: 1px solid #ceb27f !important;
}

.separation{
  padding-right: 50px;
  padding-left: 50px;
}

.item-route{
  font-size: 18px;
  color: #696969;
  font-weight: 600;
}

.item-route:hover{
  cursor: pointer;
  color: #ceb27f;
  font-weight: 600;
}

.title-text{
  color: #616161;
  font-weight: bold;
  font-size: 1.3rem;
}

.h-description{
  height: 70px;
}

.img-node{
  height: 60px;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/images/networking.png");
}

.img-apostille{
  height: 60px;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/images/apostille.png");
}

.img-add-node{
  height: 60px;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/images/add-node.png");
}

.img-explorer-file{
  height: 60px;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/images/explorer-file.png");
}

.img-transaction{
  height: 60px;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/images/transaction.png");
}

