.service-description {
  text-align: justify;
  color: dimgrey;
  font-size: .8rem;
  color: #023C42;
  font-weight: 400;
}

.box-service-description {
  line-height: 0.9em;
  /* overflow-y: auto;
  max-height: 80px;*/
}

.box-general {
  height: 260px;
}

.box-icon-title-description {
  height: 140px;
}
