<div class="mt-3rem w-w-b-w">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 col-offset-1 mx-auto">
        <div class="mt-3r">
          <mdb-card>
            <mdb-card-header class="background-header-box white-text text-align-center py-4">
              <img src="assets/images/logo/logo-white.png" style="width: 300px;">
            </mdb-card-header>

            <mdb-card-body class="backg-beige">

              <div class="row">
                <div class="col-5">
                  <div class="md-form ml-3">
                    <mdb-select [(ngModel)]="typeNode" [options]="nodes" placeholder="Select type node" class="colorful-select dropdown-default white-forever"></mdb-select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="md-form" id="container-walletname">
                    <input [(ngModel)]="hash" type="text" autocomplete="off" id="walletname" class="form-control" mdbInputDirective [mdbValidate]="false">
                    <label for="walletname">Add id or hash</label>
                  </div>
                </div>
                <div class="col-1">
                  <div class="mt-3">
                    <a style="background: #565656" mdbBtn floating="true" size="sm" mdbWavesEffect (click)="searchData()">
                      <mdb-icon icon="search"></mdb-icon>
                    </a>
                  </div>
                </div>
                <div class="col-1">
                  <div class="mt-3">
                    <a style="background: #d1b076" mdbBtn floating="true" size="sm" mdbWavesEffect [routerLink]="[route.addNode]">
                      <mdb-icon icon="plus-circle"></mdb-icon>
                    </a>
                  </div>
                </div>
              </div>

              <div class="table-responsive table-striped">
                <table mdbTable id="tablePreview" class="table table-hover table-bordered table-striped table-sm z-depth-0">
                  <thead>
                    <tr>
                      <th *ngFor="let head of headElements; let i = index" scope="col" class="text-center">{{head}}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!--  -->
                    <tr class="mouse-pointer" *ngFor="let el of elements; let i = index" (click)="basicModal.show(); dataSelected = elements[i]">
                      <th *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" class="th-sm">{{el.address}}</th>
                      <td class="align-right th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.amount}}</td>
                      <td class="text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.mosaic}}</td>
                      <td class="text-center th-lg" *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.date}}</td>
                    </tr>
                  </tbody>
                  <tfoot class="background-gris w-100">
                    <tr>
                      <td colspan="6">
                        <mdb-table-pagination (nextPageClick)="onNextPageClick($event)" (previousPageClick)="onPreviousPageClick($event)">
                        </mdb-table-pagination>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>

  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header background-gold">
          <p class="heading lead" style="font-weight: 500;">Block info</p>
          <button type="button" class="close" data-dismiss="modal" (click)="basicModal.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
        </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <span class="fs-08rem fw-bolder"><b>From:</b></span>
            </div>
            <div class="col-md-9">
              <span class="fs-08rem fw-bolder">{{dataSelected?.signer.address.address}}</span>
            </div>
          </div>

          <div class="mt-3">
            <div class="row">
              <div class="col-md-3">
                <span class="fs-08rem fw-bolder"><b>To:</b></span>
              </div>
              <div class="col-md-9">
                <span class="fs-08rem fw-bolder">{{dataSelected?.recipient.address}}</span>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <span class="fs-08rem fw-bolder"><b>Amount:</b></span>
            </div>
            <div class="col-md-9">
              <span class="fs-08rem fw-bolder">{{dataSelected?.amount}}</span>
            </div>
          </div>

          <div class="mt-3">
            <div class="row">
              <div class="col-md-3">
                <span class="fs-08rem fw-bolder"><b>Fee:</b></span>
              </div>
              <div class="col-md-9">
                <span class="fs-08rem fw-bolder">{{dataSelected?.fee}}</span>
              </div>
            </div>
          </div>
          <hr>
          <div class="mt-3">
            <div class="row">
              <div class="col-md-3">
                <span class="fs-08rem fw-bolder"><b>Message:</b></span>
              </div>
              <div class="col-md-9">
                <span class="fs-08rem fw-bolder">{{dataSelected?.message.payload}}</span>
              </div>
            </div>
          </div>
          <hr>
          <div class="mt-3">
            <div class="row">
              <div class="col-md-3">
                <span class="fs-08rem fw-bolder"><b>Mosaic:</b></span>
              </div>
              <div class="col-md-9">
                <span class="fs-08rem fw-bolder">proximax:xpx</span>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="row">
              <div class="col-md-3">
                <span class="fs-08rem fw-bolder"><b>Hash:</b></span>
              </div>
              <div class="col-md-9">
                <span class="fs-08rem fw-bolder">{{dataSelected?.transactionInfo.hash}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
</div>
