<div class="container mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <form [formGroup]="uploadForm" (ngSubmit)="upload()">
    <div class="row mt-1-5rem">
      <div class="col-11 col-sm-10 col-lg-8 mx-auto">
        <div class="file-field md-form form-sm mt-1rem mb-0rem">
          <div mdbBtn rounded="true" outline="true" color="info" size="sm" mdbWavesEffect>
            <span class="pt-1">Choose file</span>
            <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" />
          </div>
          <div class="file-path-wrapper mt-2">
            <img class="form-control-feedback" src="assets/images/img/icon-storage-green-16h-proximax-sirius-wallet.svg" alt="">
            <input class="form-control form-control-sm input-border" [validateSuccess]="false" id="filePath" type="text"
              placeholder="Upload your file" [value]="showFiles()"  readonly mdbInputDirective>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-1rem">
      <div class="col-11 col-sm-10 col-lg-8 mx-auto">
        <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" [searchable]="false" class="selectWrapper"
          [items]="optionsEncryptionMethods" formControlName="encryptionMethod" bindLabel="name" bindValue="value"
          placeholder="Select encryption method" (change)="encryptionMethodSelect($event)"></ng-select>
      </div>
    </div>


    <div class="row pt-05rem" *ngIf="showEncryptionPassword" formGroupName="encryptionPasswords">
      <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto">
        <div class="md-form form-sm mt-1rem mb-0rem">
          <img class="form-control-feedback" src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg"
            alt="">
          <input [maxlength]="configurationForm.passwordEncriptionFile.maxLength"
            [minlength]="configurationForm.passwordEncriptionFile.minLength" formControlName="password"
            mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="password"
            id="password{{errorMatchPassword}}" class="form-control form-control-sm input-border"
            placeholder="Enter file encryption password" mdbPopover="At least {{configurationForm.passwordEncriptionFile.minLength}} characters, must include UPPER CASE
              letters and numbers" placement="top" triggers="focus" mdbPopoverHeader="Password suggestion">

          <!-- VALIDATION -->
          <mdb-error
            *ngIf="validateInput('password', 'encryptionPasswords').invalid &&
            (validateInput('password', 'encryptionPasswords').dirty || validateInput('password', 'encryptionPasswords').touched)">
            <span>Invalid encryption password</span>
          </mdb-error>
        </div>
      </div>

      <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto">
        <div class="md-form form-sm mt-1rem mb-0rem">
          <img class="form-control-feedback" src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
          <input [maxlength]="configurationForm.passwordEncriptionFile.maxLength"
            [minlength]="configurationForm.passwordEncriptionFile.minLength" formControlName="confirm_password"
            mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="password"
            id="confirm-password{{errorMatchPassword}}" class="form-control form-control-sm input-border"
            placeholder="Confirm file encryption password" mdbPopover="At least {{configurationForm.passwordEncriptionFile.minLength}} characters, must include UPPER CASE
                letters and numbers" placement="top" triggers="focus" mdbPopoverHeader="Password suggestion">

          <!-- VALIDATION -->
          <mdb-error
            *ngIf="validateInput('confirm_password', 'encryptionPasswords').invalid &&
          (validateInput('confirm_password', 'encryptionPasswords').dirty || validateInput('confirm_password', 'encryptionPasswords').touched)">
            <span>Invalid encryption password</span>
          </mdb-error>

          <mdb-error *ngIf="validateMatchPassword()">
            <span>Password doesn't match</span>
          </mdb-error>
        </div>
      </div>
    </div>

    <div class="row pt-05rem">
      <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto">
        <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
          <div class="row">
            <div class="col-12">
              <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" alt="">
              <span>Fee: 0.000000 XPX</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-1rem">
      <div class=" col-11 col-sm-10 col-lg-8 mx-auto">
        <div class="md-form form-sm mt-1rem mb-0rem">
          <img class="form-control-feedback" src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
          <input [maxlength]="configurationForm.passwordWallet.maxLength"
            [minlength]="configurationForm.passwordWallet.minLength" formControlName="walletPassword" required
            mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="password"
            id="walletPassword" class="form-control form-control-sm input-border" placeholder="Enter wallet password">

          <!-- VALIDATION -->
          <mdb-error
            *ngIf="validateInput('walletPassword', '').invalid && (validateInput('walletPassword', '').dirty || validateInput('walletPassword', '').touched)">
            <span>Required field</span>
          </mdb-error>
        </div>
      </div>
    </div>

    <!-- BUTTONS -->
    <div class="row mt-2rem">
      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
        <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax"
          size="md" (click)="clearForm()">
          <span class="fs-1-2em color-white">Clear</span>
        </button>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
        <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="btn-proximax"
          size="md" [disabled]="!uploadForm.valid || files.length === 0 || !noEncripted">
          <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
            *ngIf="blockUpload"></span>
          <span class="fs-1-2em color-white">Upload</span>
        </button>
      </div>
    </div>
  </form>
</div>
