
<div class="container mt-3rem mb-2rem animated fadeIn">

  <!-- CERTIFICATE -->
  <div class="row mt-2rem">
    <div class="col-12 col-md-10 col-lg-9 col-xl-10 mx-auto">
      <div class="row">
        <div class="col-md-9 col-lg-9 col-xl-9 mx-auto">
          <div class="row audit-front d-flex flex-md-row justify-content-start mx-auto flex-sm-column">
            <div class="background-white col-sm-12 col-md-8 col-lg-8">
              <div class="row p-1rem">
                <div class="col-12">
                  <span class="word-break-all fs-08rem"><b class="fw-bold">Timestamp: </b>{{ timestamp }}</span>
                </div>
                <div class="col-12 mb-1rem">
                  <span class="word-break-all fs-08rem"><b class="fw-bold">NIS1 Public Key: </b>{{ publicKey }}</span>
                </div>
                <div class="col-12">
                  <span class="word-break-all fs-08rem"><b class="fw-bold">Transation Hash: </b>{{ transactionHash }}</span>
                </div>
                <div class="col-12 txt-a-center ">
                  <img [src]="qrSrc" alt="qrCode">
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center background-blue-gradient col-sm-12 col-md-4 col-lg-4">
              <figure class="p-05rem m-0 row">
                <img src="assets/images/img/badge-silver-proximax-sirius-wallet.svg" alt="Medal" width="100px">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END CERTIFICATE -->

  <!-- WARNING -->
  <div class="row mt-2rem">
    <div class="col-md-10 col-lg-8 col-xl-8 mx-auto">
      <div class="row box-transparent-border-orange">
        <div class="col-md-9 col-lg-9 col-xl-9 mx-auto">
          <span class="fs-075rem fw-bold">You might print your ticket and keep it a safe place while the transfer is beingdone.</span>
        </div>
        <div class="col-md-9 col-lg-9 col-xl-9 mx-auto">
          <span class="fs-075rem fw-bold">You can use it as a referencefor any error of your asset transfer.</span>
        </div>
      </div>
    </div>
  </div>
  <!-- END WARNING -->

  <!-- BUTTON -->
  <div class="row mt-1rem">
    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
      <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem" size="md" (click)="printCertificate()">
        <span class="fs-1-2em color-white">PRINT</span>
      </button>
    </div>

    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
      <button mdbBtn rounded="true" mdbWavesEffect (click)="navToRoute()"
        class="f-w-600 background-btn pl-2rem pr-2rem" size="md">
        <span class="fs-1-2em color-white">CONTINUE</span>
      </button>
    </div>
  </div>
  <!-- END BUTTON -->

</div>