<div class="container-fluid mt-11rem mb-3rem animated fadeIn">
  <!-- TITLE -->
  <div class="row">
    <div class="col-12 mx-auto">
      <!-- Title and Divir -->
      <div class="row">
        <div class="col-9 col-sm-10 mx-auto">
          <span class="d-flex justify-content-center align-items-center wallet-name">
            <img class="mr-05rem h2-3em" src="assets/images/img/icon-namespaces-white.svg" alt="">
            <span class="f-w-bold fs-1-5rem title-module">Renew Namespace</span>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1rem">
    <!-- FORM -->
    <div class="col-12 col-md-6 mb-3rem">
      <form [formGroup]="renovateNamespaceForm" (ngSubmit)="renovateNamespace()">
        <div class="row d-flex justify-content-center">

          <!-- FIRST BOX -->
          <div class="col-11">
            <div class="box-form pt-0 pb-0">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <!-- Select namespace -->
                    <div class="col-12">
                      <div class="row d-flex justify-content-center">
                        <div
                          class="col-3 col-sm-2 col-md-2 d-flex align-items-center justify-content-end justify-content-sm-center">
                          <img class="h1-5em" src="assets/images/img/icon-namespaces-white.svg" alt="">
                        </div>

                        <div class="col-9 col-sm-10 col-md-10">
                          <div class="md-form">
                            <ng-select [items]="namespaceSelect" formControlName="rootNamespace" bindLabel="label"
                              bindValue="value" placeholder="Select namespace" (change)="optionSelected($event)">
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Duration -->
                <div class="col-12">
                  <div class="row d-flex justify-content-center">
                    <div
                      class="col-3 col-sm-2 col-md-2 d-flex align-items-center justify-content-end justify-content-sm-center">
                      <img class="h1-5em" src="assets/images/img/icon-duration-white.svg" alt="">
                    </div>

                    <div class="col-9 col-sm-10 col-md-10">
                      <div class="md-form">
                        <input mask="0*" formControlName="duration" mdbInputDirective type="text" min="1" pattern="^[0-9]+"
                          name="duration" id="duration" class="form-control" data-success="Valid duration"
                          [errorMessage]="getError('duration')">
                        <label for="duration">Duration (number of days)</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 background-dark-green-plus d-flex align-items-center justify-content-center">
                <div>
                  <div class="col-12">
                    <span class="text-white fw-400 fs-0-8-rem">Approximately in blocks: <strong>{{ durationByBlock }}</strong></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Fee & Rental fee-->
          <div class="col-11 mt-1-5rem">
            <div class="box-form-white">
              <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-6 t-a-c">
                  <span class="fw-400 color-dark-green">Fee: </span>
                  <span class="f-w-bold color-dark-green">{{fee}}</span>
                </div>

                <div class="col-12 col-md-6 t-a-c">
                  <span class="fw-400 color-dark-green">Rental Fee: </span>
                  <span class="f-w-bold color-dark-green">{{calculateRentalFee}} XPX</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Password -->
          <div class="col-11 mt-1-5rem">
            <div class="box-form pt-0 pb-0">
              <div class="row d-flex justify-content-center">
                <div
                  class="col-3 col-sm-2 col-md-2 d-flex align-items-center justify-content-end justify-content-sm-center">
                  <img class="h1-5em" src="assets/images/img/icon-password-white.svg" alt="">
                </div>

                <div class="col-9 col-sm-10 col-md-10">
                  <div class="md-form">
                    <input type="password" autocomplete="off" formControlName="password" required id="password"
                      class="form-control" mdbInputDirective data-success="Valid password"
                      [errorMessage]="getError('password')">
                    <label for="password">password</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-11 mt-1-5rem d-flex justify-content-center">
            <div class="row">
              <div class="col-6">
                <button mdbBtn size="sm" rounded="true" class="waves-light btn-white" mdbWavesEffect type="button"
                  (click)="clearForm()">CLEAR</button>
              </div>
              <div class="col-6">
                <button mdbBtn size="sm" rounded="true" class="waves-light btn-dark-green-prx" mdbWavesEffect
                  type="submit">Create</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- INFORMATION -->
    <div class="col-12 col-md-6">
      <div class="row-fluid">
        <div class="box-form-white border-black-light-1px">
          <div class="col-12 t-a-c">
            <h6 class="fw-bold color-dark-green">{{titleInformation | uppercase}}</h6>
          </div>

          <!-- BLOCKS -->
          <div class="col-12 mt-2rem">
            <div class="row mt-03rem">

              <!-- Start block  -->
              <div class="col-4">
                <div class="row">
                  <div class="col-12 d-flex justify-content-center">
                    <i class="fa fa-hourglass-start text-gris fa-3x"></i>
                  </div>
                  <div class="col-12 d-flex justify-content-center overflow-ellipsis-nowrap">
                    <span class="description-information">Start block:</span>
                  </div>
                  <div class="col-12 d-flex justify-content-center">
                    <span class="description-information">{{startHeight}}</span>
                  </div>
                </div>
              </div>

              <!-- End block  -->
              <div class="col-4">
                <div class="row">
                  <div class="col-12 d-flex justify-content-center">
                    <i class="fa fa-hourglass-start text-gris fa-3x"></i>
                  </div>
                  <div class="col-12 d-flex justify-content-center overflow-ellipsis-nowrap">
                    <span class="description-information">End block:</span>
                  </div>
                  <div class="col-12 d-flex justify-content-center">
                    <span class="description-information">{{endHeight}}</span>
                  </div>
                </div>
              </div>

              <!-- Current Block -->
              <div class="col-4">
                <div class="row">
                  <div class="col-12 d-flex justify-content-center">
                    <i class="fa fa-hourglass-start text-gris fa-3x"></i>
                  </div>
                  <div class="col-12 d-flex justify-content-center overflow-ellipsis-nowrap">
                    <span class="description-information">Current block:</span>
                  </div>
                  <div class="col-12 d-flex justify-content-center">
                    <span class="description-information">{{block}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Fees Information -->
          <div class="col-12 mt-1-5rem">
            <span class="description-information color-orange f-w-bold fs-1rem">Fees</span>
            <p class="description-information">Renewing a namespace costs the same amount as registering a new
              namespace.
            </p>
          </div>

          <!-- Root Namespaces Information -->
          <div class="col-12 mt-1-5rem">
            <span class="description-information color-orange f-w-bold fs-1rem">Root Namespaces</span>
            <p class="description-information">Only root namespaces need to be renewed. All sub-namepsaces will be
              renewed automatically upon renewal of the root namespace. </p>
          </div>

          <!-- Renewal Period Information -->
          <div class="col-12 mt-1-5rem">
            <span class="description-information color-orange f-w-bold fs-1rem">Renewal Period</span>
            <p class="description-information">Namespace are leases that last according to the amount of blocks you
              rent. If not renewed in time, all sub-namespaces and mosaics created under it will be lost.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
