<ng-container *ngIf="viewBox; else: viewInnerTransaction">
  <div class="row mt-04rem mr-1rem ml-1rem">
    <!-- Data -->
    <div class="col-12 col-lg-7 d-flex align-items-start">
      <div class="row">
        <!-- Type transfer -->
        <div class="col-12 overflow-ellipsis-nowrap">
          <span class="color-black fw-bold fs-1-2rem">{{mosaicSupplyChange.nameType}}</span>
        </div>

        <!-- Timestamp -->
        <div class="col-12" *ngIf="mosaicSupplyChange?.timestamp">
          <span class="color-black fs-07rem fw-500 w-w-b-w">{{mosaicSupplyChange?.timestamp}}</span>
        </div>

        <!-- Fee -->
        <ng-container *ngIf="mosaicSupplyChange?.effectiveFee">
          <div class="col-12 mt-03rem">
            <span class="fw-600 fs-095rem color-black">Fee:&nbsp;&nbsp;</span>
            <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg">
            <span class="fw-600 fs-095rem color-black">{{mosaicSupplyChange?.effectiveFee.part1}}</span>
            <span class="fw-600 fs-075rem color-black">{{mosaicSupplyChange?.effectiveFee.part2}}</span>
            <span class="fw-600 fs-095rem color-black"> XPX </span>
          </div>
        </ng-container>

        <!-- HEIGHT -->
        <ng-container *ngIf="mosaicSupplyChange?.data.transactionInfo.height.compact() > 0">
          <div class="col-12 mt-03rem">
            <span class="fw-600 fs-08rem color-black">Height:&nbsp;&nbsp;</span>
            <span
              class="fs-07rem fw-400 color-black">{{mosaicSupplyChange?.data.transactionInfo.height.compact()}}</span>
          </div>
        </ng-container>

        <!-- TYPE -->
        <div class="col-12 mt-03rem">
          <span class="fw-600 fs-08rem color-black">Type:&nbsp;&nbsp;</span>
          <span class="fs-07rem fw-400 color-black">{{typeTransactionHex}}</span>
        </div>

        <!-- Mosaic Id -->
        <ng-container *ngIf="mosaicSupplyChange['mosaicsStorage'] !== null">
          <div class="col-12 mt-03rem">
            <span class="fw-600 fs-08rem color-black">Divisibility:&nbsp;&nbsp;</span>
            <span
              class="fs-07rem fw-400 color-black">{{mosaicSupplyChange['mosaicsStorage'].mosaicInfo.properties.divisibility}}</span>
          </div>
        </ng-container>

        <!-- Increase -->
        <ng-container *ngIf="mosaicSupplyChange.data['direction'] === 1 && mosaicSupplyChange['mosaicsStorage'];">
          <div class="col-12 mt-03rem">
            <span class="fw-600 fs-08rem color-black">Increase:&nbsp;&nbsp;</span>
            <span
              class="fs-07rem fw-400 green-c"> + {{transactionService.amountFormatter(mosaicSupplyChange.data.delta.compact(), mosaicSupplyChange['mosaicsStorage']['mosaicInfo'])}}</span>
          </div>
        </ng-container>

        <!-- Decrease -->
        <ng-container *ngIf="mosaicSupplyChange.data['direction'] !== 1 && mosaicSupplyChange['mosaicsStorage'];">
          <div class="col-12 mt-03rem">
            <span class="fw-600 fs-08rem color-black">Decrease:&nbsp;&nbsp;</span>
            <span
              class="fs-07rem fw-400 color-red"> - {{transactionService.amountFormatter(mosaicSupplyChange.data.delta.compact(), mosaicSupplyChange['mosaicsStorage']['mosaicInfo'])}}</span>
          </div>
        </ng-container>

        <!-- Mosaic Name -->
        <ng-container *ngIf="viewMosaicName">
          <div class="col-12 mt-03rem">
            <span class="fw-600 fs-08rem color-black">Mosaic:&nbsp;&nbsp;</span>
            <span class="fs-07rem fw-400 color-black">
              <!-- Mosaic Name -->
              <ng-container
                *ngIf="mosaicSupplyChange['mosaicsStorage'] !== null && mosaicSupplyChange['mosaicsStorage']['mosaicNames']['names'].lenght > 0; else viewId">
                {{ mosaicSupplyChange.mosaicsStorage['mosaicNames']['names'][0] }}
              </ng-container>

              <!-- Mosaic Id -->
              <ng-template #viewId>
                {{ mosaicId }}
              </ng-template>
            </span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="col-12 mt-4" *ngIf="searching">
    <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate" *ngIf="searching"></mdb-progress-bar>
  </div>
</ng-container>

<ng-template #viewInnerTransaction>
  <div class="row">
    <!-- Type-->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-black fw-bold fs-08rem">Type: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
          <span class="color-black fw-400 fs-08rem">{{ typeTransactionHex }}</span>
        </div>
      </div>
    </div>


    <!-- Mosaic Id-->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-black fw-bold fs-08rem">Mosaic Id: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
          <span class="color-black fw-400 fs-08rem">{{ mosaicId }}</span>
        </div>
      </div>
    </div>

    <ng-container
      *ngIf="mosaicSupplyChange['mosaicsStorage'] !== null && mosaicSupplyChange['mosaicsStorage']['mosaicNames']['names'].lenght > 0; else viewId">
      <!-- Mosaic Name-->
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
            <span class="color-black fw-bold fs-08rem">Mosaic: </span>
          </div>
          <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
            <span class="color-black fw-400 fs-08rem">
              {{ mosaicSupplyChange.mosaicsStorage['mosaicNames']['names'][0] }}
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Increase -->
    <ng-container *ngIf="mosaicSupplyChange['direction'] === 1 && mosaicSupplyChange['mosaicsStorage']">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
            <span class="color-black fw-bold fs-08rem">Increase: </span>
          </div>
          <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
            <span class="color-black fw-400 fs-08rem green-c">+
              {{transactionService.amountFormatter(mosaicSupplyChange.delta.compact(), mosaicSupplyChange['mosaicsStorage']['mosaicInfo'])}}</span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Decrease -->
    <ng-container *ngIf="mosaicSupplyChange['direction'] !== 1 && mosaicSupplyChange['mosaicsStorage']">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
            <span class="color-black fw-bold fs-08rem">Increase: </span>
          </div>
          <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
            <span class="color-black fw-400 fs-08rem color-red">-
              {{transactionService.amountFormatter(mosaicSupplyChange.delta.compact(), mosaicSupplyChange['mosaicsStorage']['mosaicInfo'])}}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
