<container>
  <div class="row">
    <div class="col-md-3">
      <span class="fs-08rem fw-bolder w-w-b-w w-w-b-w"><b>Type transaction:</b></span>
    </div>
    <div class="col-md-9">
      <span class="fs-08rem fw-bolder w-w-b-w w-w-b-w">{{mosaicSupplyChange.name_type}}</span>
    </div>
  </div>
  <hr>
</container>


<!-- MOSAIC INFO -->
<container>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Mosaic Id:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicSupplyChange.mosaicId.toHex()}}</span>
      </div>
    </div>
  </div>

  <container *ngIf="viewMosaicName">
    <div class="mt-3">
      <div class="row">
        <div class="col-md-3">
          <span class="fs-08rem fw-bolder w-w-b-w"><b>Mosaic name:</b></span>
        </div>
        <div class="col-md-9">
          <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicSupplyChange.mosaicView.namespaceName}}:{{mosaicSupplyChange.mosaicView.mosaicName}}</span>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <div class="row">
        <div class="col-md-3">
          <span class="fs-08rem fw-bolder w-w-b-w"><b>Fee:</b></span>
        </div>
        <div class="col-md-9">
          <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicSupplyChange?.feeFormatter}} (XPX)</span>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <div class="row">
        <div class="col-md-3">
          <span class="fs-08rem fw-bolder w-w-b-w"><b>Divisibility:</b></span>
        </div>
        <div class="col-md-9">
          <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicSupplyChange?.mosaicView.mosaicInfo.properties.divisibility}}</span>
        </div>
      </div>
    </div>

    <ng-container *ngIf="mosaicSupplyChange.direction === 1">
      <div class="row mt-3">
        <div class="col-md-3">
          <span class="fs-08rem fw-bolder w-w-b-w"><b class="">Increase:</b></span>
        </div>
        <div class="col-md-9">
          <span class="fs-08rem fw-bolder w-w-b-w"><b class="green-c">+ {{mosaicSupplyChange.deltaFormatter}}</b></span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="mosaicSupplyChange.direction !== 1">
      <div class="row mt-3">
        <div class="col-md-3">
          <span class="fs-08rem fw-bolder w-w-b-w"><b class="">Decrease:</b></span>
        </div>
        <div class="col-md-9">
          <span class="fs-08rem fw-bolder w-w-b-w"><b class="color-red">- {{mosaicSupplyChange.deltaFormatter}}</b></span>
        </div>
      </div>
    </ng-container>
  </container>
  <hr>
</container>


<!-- INCREASE & DECREASE, SIGNER INFO -->
<container>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Recipient Rental Fee Sink:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicSupplyChange?.recipientRentalFeeSink}}</span>
      </div>
    </div>
  </div>


  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Signer:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicSupplyChange?.signer.publicKey}}</span>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Signature:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicSupplyChange?.signature}}</span>
      </div>
    </div>
  </div>
  <hr>
</container>

<!-- TIMESTAMP & HASH INFO -->
<container>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Deadline:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{transactionService.dateFormat(mosaicSupplyChange?.deadline)}}</span>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Block Height:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicSupplyChange?.transactionInfo.height.compact()}}</span>
      </div>
    </div>
  </div>


  <div class="mt-3">
    <div class="row">
      <div class="col-md-3">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Hash:</b></span>
      </div>
      <div class="col-md-9">
        <span class="fs-08rem fw-bolder w-w-b-w">{{mosaicSupplyChange?.transactionInfo.hash}}</span>
      </div>
    </div>
  </div>
</container>

<div class="col-12 mt-4" *ngIf="searching">
  <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate" *ngIf="searching"></mdb-progress-bar>
</div>
