<ng-container *ngIf="viewBox; else: viewInnerTransaction">
  <div class="row mt-04rem mr-1rem ml-1rem">
    <!-- Data -->
    <div class="col-12 col-lg-7 d-flex align-items-start">
      <div class="row">
        <!-- Type transfer -->
        <div class="col-12 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-2rem">{{mosaicSupplyChange.nameType}}</span>
        </div>

        <!-- Timestamp -->
        <div class="col-12 mt-05rem overflow-ellipsis-nowrap">
          <span class="color-dark-green fs-07rem fw-500">{{mosaicSupplyChange?.timestamp}}</span>
        </div>

        <!-- Fee -->
        <div class="col-12 mb-1rem">
          <div class="row">
            <div class="col-4 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-bold fs-1-3rem">Fee: </span>
            </div>
            <div class="col-8 d-flex">
              <div class="row">
                <div class="col-12">
                  <img class="icono mb-03rem" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg"
                    width="16" alt="">&nbsp;
                  <span class="color-dark-green fw-400 fs-1-3rem">{{mosaicSupplyChange.fee}} XPX</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Type Hex -->
        <div class="col-12 mt-04rem">
          <div class="row">
            <div class="col-4">
              <span class="color-dark-green fw-bold fs-08rem">Height: </span>
            </div>
            <div class="col-8">
              <span class="color-dark-green fw-400
                  fs-07rem">{{mosaicSupplyChange?.data.transactionInfo.height.compact()}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-4 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-bold fs-08rem">Type: </span>
            </div>
            <div class="col-8 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-400
              fs-08rem">{{typeTransactionHex}}</span>
            </div>
          </div>
        </div>

        <!-- Mosaic Id -->
        <ng-container *ngIf="mosaicSupplyChange['mosaicsStorage'] !== null">
          <div class="col-12 mt-04rem">
            <div class="row">
              <div class="col-4 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-bold fs-08rem">Divisibility: </span>
              </div>
              <div class="col-8 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-400
                fs-08rem">{{mosaicSupplyChange['mosaicsStorage'].mosaicInfo.properties.divisibility}}</span>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- Increase -->
        <ng-container *ngIf="mosaicSupplyChange.data['direction'] === 1 && mosaicSupplyChange['mosaicsStorage'];">
          <div class="col-12 mt-04rem">
            <div class="row">
              <div class="col-4 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-bold fs-08rem">Increase: </span>
              </div>
              <div class="col-8 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-bolder fs-08rem green-c">+
                  {{transactionService.amountFormatter(mosaicSupplyChange.data.delta.compact(), mosaicSupplyChange['mosaicsStorage']['mosaicInfo'])}}
                </span>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- Decrease -->
        <ng-container *ngIf="mosaicSupplyChange.data['direction'] !== 1 && mosaicSupplyChange['mosaicsStorage'];">
          <div class="col-12 mt-04rem">
            <div class="row">
              <div class="col-4 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-bold fs-08rem">Decrease: </span>
              </div>
              <div class="col-8 overflow-ellipsis-nowrap">
                <span class="fw-bolder fs-08rem color-red">-
                  {{transactionService.amountFormatter(mosaicSupplyChange.data.delta.compact(), mosaicSupplyChange['mosaicsStorage']['mosaicInfo'])}}
                </span>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- Mosaic Name -->
        <ng-container *ngIf="viewMosaicName">
          <div class="col-12 mt-04rem">
            <div class="row">
              <div class="col-4 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-bold fs-08rem">Mosaic: </span>
              </div>
              <div class="col-8 overflow-ellipsis-nowrap">
                <span class="color-dark-green fw-400 fs-08rem">
                  <!-- Mosaic Name -->
                  <ng-container *ngIf="
                mosaicSupplyChange['mosaicsStorage'] !== null &&
                mosaicSupplyChange['mosaicsStorage']['mosaicNames']['names'].lenght > 0;
                else viewId">
                    {{ mosaicSupplyChange.mosaicsStorage['mosaicNames']['names'][0] }}
                  </ng-container>

                  <!-- Mosaic Id -->
                  <ng-template #viewId>
                    {{ mosaicId }}
                  </ng-template>
                </span>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- Recipient Rental Fee Sink -->
        <div class="col-12 mt-04rem">
          <div class="row">
            <div class="col-4 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-bold fs-08rem">Recipient Rental Fee Sink: </span>
            </div>
            <div class="col-8 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-400 fs-08rem">{{mosaicSupplyChange?.recipientRentalFeeSink}}</span>
            </div>
          </div>
        </div>

        <!-- Block Height -->
        <div class="col-12 mt-04rem">
          <div class="row">
            <div class="col-4 overflow-ellipsis-nowrap">
              <span class="color-dark-green fw-bold fs-08rem">Block Height: </span>
            </div>
            <div class="col-8 overflow-ellipsis-nowrap">
              <span
                class="color-dark-green fw-400 fs-08rem">{{mosaicSupplyChange?.data.transactionInfo.height.compact()}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Box signer, signature, hash -->
    <div class="col-12 col-lg-5" id="boxHashSignerSignature">
      <div class="row gray-color-transparent lh-1em">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <span class="fs-08rem fw-bolder w-w-b-w"><b>Signer:</b></span>
            </div>
            <div class="col-12">
              <span class="fs-07rem fw-bolder w-w-b-w">{{mosaicSupplyChange?.data.signer.publicKey}}</span>
            </div>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-12">
              <span class="fs-08rem fw-bolder w-w-b-w"><b>Signature:</b></span>
            </div>
            <div class="col-12">
              <span class="fs-07rem fw-bolder w-w-b-w">{{mosaicSupplyChange?.data.signature}}</span>
            </div>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="row">
            <div class="col-12">
              <span class="fs-08rem fw-bolder w-w-b-w"><b>Hash:</b></span>
            </div>
            <div class="col-12">
              <span class="fs-07rem fw-bolder w-w-b-w">{{mosaicSupplyChange?.data.transactionInfo.hash}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12 mt-4" *ngIf="searching">
    <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate" *ngIf="searching"></mdb-progress-bar>
  </div>

</ng-container>

<ng-template #viewInnerTransaction>
  <div class="row">
    <!-- Fee -->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-08rem">Fee: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
          <img class="icono mb-03rem" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg"
            width="16" alt="">&nbsp;
          <span class="color-dark-green fw-400 fs-08rem">{{mosaicSupplyChange.fee}} XPX</span>
        </div>
      </div>
    </div>

    <!-- Mosaic Id-->
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-bold fs-08rem">Mosaic Id: </span>
        </div>
        <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
          <span class="color-dark-green fw-400 fs-08rem">{{ mosaicId }}</span>
        </div>
      </div>
    </div>

    <ng-container *ngIf="
                mosaicSupplyChange['mosaicsStorage'] !== null &&
                mosaicSupplyChange['mosaicsStorage']['mosaicNames']['names'].lenght > 0;
                else viewId">
      <!-- Mosaic Name-->
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-bold fs-08rem">Mosaic: </span>
          </div>
          <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-400 fs-08rem">
              {{ mosaicSupplyChange.mosaicsStorage['mosaicNames']['names'][0] }}
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Increase -->
    <ng-container *ngIf="mosaicSupplyChange['direction'] === 1 && mosaicSupplyChange['mosaicsStorage']">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-bold fs-08rem">Increase: </span>
          </div>
          <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-400 fs-08rem green-c">+
              {{transactionService.amountFormatter(mosaicSupplyChange.delta.compact(), mosaicSupplyChange['mosaicsStorage']['mosaicInfo'])}}</span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Decrease -->
    <ng-container *ngIf="mosaicSupplyChange['direction'] !== 1 && mosaicSupplyChange['mosaicsStorage']">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-bold fs-08rem">Increase: </span>
          </div>
          <div class="col-12 col-sm-8 col-md-9 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-400 fs-08rem color-red">-
              {{transactionService.amountFormatter(mosaicSupplyChange.delta.compact(), mosaicSupplyChange['mosaicsStorage']['mosaicInfo'])}}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
