<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark background-header-inverse z-depth-0"
        [containerInside]="false">
        <mdb-navbar-brand class="d-flex align-items-end">
          <a class="navbar-brand mr-05rem">
            <img src="assets/images/img/logo-proximax-sirius-wallet-proximax-sirius-wallet.svg" height="35"
              class="d-inline-block align-top">
          </a>
          <span class="fs-08rem" style="color: #616161;">v{{version}}</span>
        </mdb-navbar-brand>
      </mdb-navbar>
    </div>

    <div class="col-6 d-flex align-items-center justify-content-end">
      <div class="nav-link waves-light" mdbWavesEffect (click)="logout(auth)">
        <span class="item-menu cursor-p font-header mr-02rem color-main-wallet">LOG OUT</span>
      </div>
    </div>
  </div>

  <!-- <mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark background-header-inverse z-depth-0"
  [containerInside]="false">
  <mdb-navbar-brand class="d-flex align-items-end">
    <a class="navbar-brand mr-05rem">
      <img src="assets/images/img/logo-proximax-sirius-wallet-proximax-sirius-wallet.svg" height="35"
        class="d-inline-block align-top">
    </a>
    <span class="fs-08rem" style="color: #616161;">v{{version}}</span>
  </mdb-navbar-brand>

  <div>
    <div class="d-md-inline-block font-header mr-02rem">
      <div class="nav-link waves-light" mdbWavesEffect (click)="logout(auth)"><span class="item-menu cursor-p">LOG
          OUT</span>
      </div>
    </div>
  </div> -->

  <!-- <links>
    <li class="nav-item color-item-menu active">
      <div class=" d-md-inline-block font-header mr-02rem">
        <div class="nav-link waves-light" mdbWavesEffect (click)="logout(auth)"><span class="item-menu cursor-p">LOG
            OUT</span>
        </div>
      </div>
    </li>
  </links> -->


  <!-- <links>
    <ul class="navbar-nav ml-auto">
      <ng-container *ngFor="let key of keyObject(itemsHeader)">
        <ng-container *ngIf="!itemsHeader[key]['rol']">
          <ng-container *ngIf="itemsHeader[key]['type'] === 'default' && itemsHeader[key]['show']">
            <li class="nav-item color-item-menu active">
              <a [routerLink]="[itemsHeader[key]['link']]" class="nav-link waves-light" mdbWavesEffect>
                <span class="item-menu">{{itemsHeader[key]['name'] | uppercase}}</span>
              </a>
            </li>
          </ng-container>

          <ng-container *ngIf="itemsHeader[key]['type'] === 'dropdown' && itemsHeader[key]['show']">
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                mdbWavesEffect>
                <span class="item-menu">{{itemsHeader[key]['name'] | uppercase}}</span>
                <span class="caret"></span>
              </a>

              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary {{itemsHeader[key]['class']}}"
                role="menu">
                <ng-container *ngFor="let k of keyObject(itemsHeader[key]['submenu'])">
                  <a class="dropdown-item waves-light" mdbWavesEffect
                    [routerLink]="[itemsHeader[key]['submenu'][k]['link']]">
                    {{itemsHeader[key]['submenu'][k]['name']}}
                  </a>
                </ng-container>
              </div>
            </li>
          </ng-container>
        </ng-container>
      </ng-container>
      <li class="nav-item color-item-menu active">
        <div class=" d-md-inline-block font-header mr-02rem">
          <div class="nav-link waves-light" mdbWavesEffect (click)="logout(auth)"><span class="item-menu cursor-p">LOG
              OUT</span>
          </div>
        </div>
      </li>
    </ul>
  </links> -->
  <!-- </mdb-navbar> -->

  <div class="topnav" id="myTopnav">
    <div class="d-flex flex-column flex-sm-column flex-md-row align-items-center justify-content-center">
      <a *ngFor="let key of itemsMenu" [routerLink]="[key.url]">{{ key.label }}</a>
    </div>
    <input type="checkbox" class="menu-btn" id="menu-btn" (click)="myFunction()">
    <label for="menu-btn" class="icon"><i class="fa fa-bars"></i></label>
  </div>
