<div class="container mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <div class="row">
    <div class="col-12">
      <hr class="mt-03rem mb-05rem">
    </div>
  </div>

  <div class="row">
    <div class="col-12 justify-content-center" *ngIf="!isMultisigAccount" >

      <div class="row mt-2rem" [ngSwitch]="isLinked">
        <div class="col-12 col-md-12 col-lg-7 mx-auto" *ngSwitchCase="true">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <span class="fs-2rem fw-600">You have linked account
              </span>
            </div>
          </div>
          <hr style="border-top: 3px solid rgba(0, 0, 0, 0.1)" class="mt-03rem mb-05rem">
          <div class="d-flex flex-column pb-1rem" *ngIf="linkedAccountPrivateKey">
            <div class="d-flex pb-1rem justify-content-center">
              <span class="fs-1rem fw-600">Please copy the private key below to the node config to enable delegated validating 
              </span>
            </div>
            <div class="d-flex justify-content-center">
              <span class="fs-1rem fw-600">Linked Account Private Key
              </span>
            </div>
            <div class="d-flex justify-content-center">
              <span class="fs-1rem fw-600">{{ linkedAccountPrivateKey }} 
              </span>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <span class="fs-1rem fw-600">Linked Account Key
              </span>
            </div>
            <div class="d-flex justify-content-center">
              <span class="fs-1rem fw-600">{{ linkedAccountKey }} 
              </span>
            </div>
          </div>
          <hr style="border-top: 3px solid rgba(0, 0, 0, 0.1)" class="mt-03rem mb-05rem">
        </div>
        <div class="col-9 col-md-8 col-lg-6  mx-auto" *ngSwitchCase="false">

          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <span class="fs-2rem fw-600">
                You are not linked to any account
              </span>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 justify-content-center ">
          <form action="" [formGroup]="delegateForm">
            <!-- PASSWORD -->
            <div class="row">
              <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto">

                <div class="row">
                  <div class="col-11 mx-auto">
                    <div class="md-form form-sm">
                      <img class="form-control-feedback"
                      src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
                      <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                        src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
                      <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                        src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
                      <input [maxlength]="configurationForm.passwordWallet.maxLength" [minlength]="configurationForm.passwordWallet.minLength"
                        formControlName="password" required mdbInputDirective mdbValidate [validateSuccess]="true"
                        [validateError]="true" [type]="passwordMain" id="password" class="form-control form-control-sm input-border"
                        placeholder="Enter Wallet Password">
                      <mdb-error *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                        <span>Password Required</span>
                      </mdb-error>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>
            <!-- BUTTON -->
            <div class="row">
              <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto" *ngIf="isLinked">
                <div class="row">
                  <div class="col-12 col-sm-12 d-flex justify-content-center">
                    <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax"
                      size="md" [disabled]="btnDisabled" (click)="unlinkDelegate()">
                      <span *ngIf="btnDisabled" class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"></span>
                      <span class="fs-1-2em color-white">Unlink linked account</span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto" *ngIf="!isLinked">
                <div class="row">
                  <div class="col-12 col-sm-12 d-flex justify-content-center">
                    <button [disabled]="btnDisabled" (click)="linkDelegate()" mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax"
                      size="md">
                      <span *ngIf="btnDisabled" class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"></span>
                      <span class="fs-1-2em color-white">Link new account</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-12 justify-content-center" *ngIf="isMultisigAccount" >
      <div class="row mt-2rem">
        <div class="col-9 col-md-8 col-lg-6  mx-auto">

          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center">
              <span class="fs-2rem fw-600">
                You are using a multisig account, account delegation not allowed
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
