<div class="container-fluid mt-11rem mb-3rem pt-0 pb-0">
  <div class="row">
    <div class="col-11 col-sm-10 mx-auto">
      <!-- Title -->
      <div class="row">
        <div class="col-11 col-sm-10 mx-auto">
          <span class="d-flex justify-content-center align-items-center wallet-name">
            <img class="mr-05rem h2-3em" src="assets/images/img/icon-transactions-white.svg">
            <span class="f-w-bold fs-1-5rem title-module">Transfer</span>
          </span>
          <h5 class="f-w-bold color-yellow text-align-center wallet-description">Make a transfer</h5>
        </div>
        <div class="col-11 col-sm-10 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>
    </div>

    <div class="col-11 col-sm-10 mx-auto">
      <ng-container>
        <form [formGroup]="transferForm" (ngSubmit)="sendTransfer()">

          <!-- Mosaics -->
          <div class="row box-form mt-1rem pr-0 pl-0 pt-0 pb-0">
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 d-flex align-items-center justify-content-center">
              <img class="h1-5em" src="assets/images/img/icon-mosaics-white.svg" alt="">
            </div>

            <div [ngClass]="[
              searchMosaics ?
              myClass['rowSearchingMosaicTrue'] :
              myClass['rowSearchingMosaicFalse']
            ]">
              <div class="md-form">
                <ng-select [items]="mosaicsSelect" formControlName="mosaicsSelect" bindLabel="label" bindValue="value"
                  placeholder="Select or write mosaic" [multiple]="true">
                </ng-select>
              </div>
            </div>
          </div>

           <!-- BALANCE & MOSAICO
           <div class="row box-form mt-1rem pt-0 pb-0 pb-0 pr-0 pl-0 pt-0 pb-0">
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 d-flex align-items-center justify-content-center">
              <img class="h1-5em" src="assets/images/img/icon-mosaics-white.svg" alt="">
            </div>

            <div class="col-9 col-sm-10 col-md-6 col-lg-7">
              <div class="md-form">
                <div class="md-form">
                  <ng-select [items]="mosaicsSelect" formControlName="mosaicsSelect" bindLabel="label" bindValue="value"
                    placeholder="Select or write mosaic">
                  </ng-select>
                </div>
              </div>
            </div>

            <div
              class="col-12 col-md-4 d-flex justify-content-center align-items-center background-dark-green-plus overflow-ellipsis-nowrap">
              <div class="row text-center">
                <div class="col-12 fw-400 color-yellow">Balance:</div>
                <div class="col-12 color-white">{{balance}}</div>
              </div>
            </div>
          </div>-->

          <!-- Contacts -->
          <ng-container *ngIf="showContacts">
            <div class="row box-form mt-1rem pb-0 pr-0 pl-0 pt-0 pb-0">
              <div class="col-3 col-sm-2 col-md-2 col-lg-1 d-flex align-items-center justify-content-center">
                <img class="h1-5em" src="assets/images/img/icon-directory-white.svg" alt="">
              </div>

              <div class="col-9 col-sm-10 col-md-10 col-lg-11">
                <div class="md-form">
                  <ng-select [items]="contacts" formControlName="contact" bindLabel="label" bindValue="value"
                    placeholder="Select or write contact">
                  </ng-select>
                </div>
              </div>
            </div>
          </ng-container>


          <!-- Recipient -->
          <div class="row box-form mt-1rem pt-0 pb-0 pr-0 pl-0 pt-0 pb-0">
            <div class="col-3 col-sm-2 col-md-2 col-lg-1 d-flex align-items-center justify-content-center">
              <img class="h1-5em" src="assets/images/img/icon-directory-white.svg" alt="">
            </div>

            <div [ngClass]="[
              contacts !== null && contacts?.length > 0 ?
              myClass['boxRecipientTrue'] :
              myClass['boxRecipientFalse']
            ]">

              <div class="md-form">
                <input type="text" autocomplete="off" required formControlName="accountRecipient" id="accountRecipient"
                  class="form-control" mdbInputDirective [validateSuccess]="false" [validateError]="false"
                  [maxlength]="configurationForm.accountRecipient.maxLength"
                  [minlength]="configurationForm.accountRecipient.minLength">
                <label for="recipient">Recipient</label>

                <!-- Invalid Recipient -->
                <mdb-error *ngIf="msgErrorUnsupported === '' && input.invalid &&
                  (input.dirty || input.touched) &&
                  getError('accountRecipient')">
                  <span class="text-danger fw-500">Invalid Recipient</span>
                </mdb-error>
                <!-- Message Unsupported -->
                <mdb-error *ngIf="msgErrorUnsupported !== ''">
                  <span class="text-danger fw-500">{{msgErrorUnsupported}}</span>
                </mdb-error>
              </div>
            </div>

            <div [ngClass]="[
              contacts !== null && contacts?.length > 0 ?
              myClass['boxDirectoryTrue'] :
              myClass['boxDirectoryFalse']]
            ">

              <div class="row">
                <ng-container *ngIf="contacts !== null && contacts?.length > 0">
                  <div class="col-10 col-md-8 col-lg-9">
                    <!-- Show Directory -->
                    <ng-container *ngIf="!showContacts">
                      <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 btn-white-transparent"
                        size="sm" (click)="showContacts = true;">
                        <span>DIRECTORY</span>
                      </button>
                    </ng-container>

                    <!-- Hide Directory -->
                    <ng-container *ngIf="showContacts">
                      <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 btn-white-transparent"
                        size="sm" (click)="showContacts = false;">
                        <span>HIDE DIRECTORY</span>
                      </button>
                    </ng-container>
                  </div>
                </ng-container>

                <div
                  [ngClass]="[contacts !== null && contacts?.length > 0 ? myClass['rowAddContactTrue'] : myClass['rowAddContactFalse']]">
                  <img class="cursor-pointer color-white mr-05rem h2-3em" src="assets/images/img/icon-account-white.svg"
                    alt="add contact" (click)="basicModal.show()" mdbTooltip="Add contact" placement="right">
                </div>
              </div>
            </div>
          </div>

          <!-- Quantity and Message -->
          <div class="row box-form mt-1rem pt-0 pb-0 pb-0 pr-0 pl-0 pt-0 pb-0">
            <div class="col-3 col-sm-2 col-md-2 col-lg-1 d-flex align-items-center justify-content-center">
              <img class="h1-5em" src="assets/images/img/icon-wallet-import-white.svg" alt="">
            </div>

            <div class="col-9 col-sm-10 col-md-6 col-lg-7">
              <div class="md-form">
                <input pattern="^[+]?([0-9]*[.])?[0-9]+$" mask="comma_separator.0" type="text" autocomplete="off"
                  formControlName="amount" id="amount" class="form-control" mdbInputDirective [validateSuccess]="false"
                  [validateError]="false" [maxlength]="configurationForm.amount.maxLength">
                <label for="recipient">{{titleLabelAmount}}</label>

                <!-- Message Error invalid Amount -->
                <mdb-error class="text-danger fw-500" *ngIf="(getInput('amount').invalid) &&
                        (getInput('amount').dirty || getInput('amount').touched)">
                  <span class="text-danger fw-500">Invalid amount</span>
                </mdb-error>

                <!-- Message Error Insufficient balance-->
                <mdb-error class="text-danger fw-500" *ngIf="insufficientBalance">
                  <span class="text-danger fw-500">Insufficient balance</span>
                </mdb-error>
              </div>
            </div>

            <div
              class="col-12 col-md-4 d-flex justify-content-center align-items-center background-dark-green-plus overflow-ellipsis-nowrap">
              <div class="row text-center">
                <div class="col-12 fw-400 color-yellow">They will be sent:</div>
                <div class="col-12 color-white">{{amountSend}}</div>
              </div>
            </div>
          </div>

           <!-- Fee & Rental fee-->
           <!-- <div class="row box-form-white mt-1rem d-flex justify-content-center">
            <div class="col-12 col-md-6 t-a-c">
              <div class="row">
                <div class="col-6 col-md-12">
                  <span class="fw-400 color-dark-green">Fee: </span>
                </div>
                <div class="col-6 col-md-12">
                  <span class="f-w-bold color-dark-green">{{fee}} XPX</span>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 t-a-c">
              <div class="row">
                <div class="col-6 col-md-12">
                  <span class="fw-400 color-dark-green">Rental Fee: </span>
                </div>
                <div class="col-6 col-md-12">
                  <span class="f-w-bold color-dark-green">{{calculateRentalFee}} XPX</span>
                </div>
              </div>
            </div>
          </div> -->

          <div class="row box-form mt-1rem pt-0 pb-0 pb-0 pr-0 pl-0 pt-0 pb-0">
            <div class="col-3 col-sm-2 col-md-2 col-lg-1 d-flex align-items-center justify-content-center">
              <img class="h1-5em" src="assets/images/img/icon-meseenger-white.svg" alt="">
            </div>

            <div class="col-9 col-sm-10 col-md-10 col-lg-11">
              <div class="md-form">
                <input type="text" autocomplete="off" formControlName="message" id="message" class="form-control"
                  mdbInputDirective [validateSuccess]="false" [validateError]="false"
                  [maxlength]="configurationForm.message.maxLength">
                <label for="recipient">Message</label>

                <!-- Message Error Insufficient balance-->
                <mdb-error *ngIf="getInput('message').invalid &&
                  (getInput('message').dirty || getInput('message').touched) &&
                  getError('message')">
                  <span class="text-danger fw-500">Invalid Message</span>
                </mdb-error>
              </div>
            </div>
          </div>

          <!-- Password -->
          <div class="row box-form mt-1rem pt-0 pb-0 pb-0 pr-0 pl-0 pt-0 pb-0">
            <div class="col-3 col-sm-2 col-md-2 col-lg-1 d-flex align-items-center justify-content-center">
              <img class="h1-5em" src="assets/images/img/icon-password-white.svg" alt="">
            </div>

            <div class="col-9 col-sm-10 col-md-10 col-lg-11">
              <div class="md-form">
                <input type="password" autocomplete="off" required formControlName="password" id="password"
                  class="form-control" mdbInputDirective data-success="Valid password"
                  [errorMessage]="getError('password')" [minlength]="configurationForm.password.minLength"
                  [maxlength]="configurationForm.password.maxLength">
                <label for="password">Password</label>
              </div>
            </div>
          </div>


          <!-- BUTTONS -->
          <div class="row mt-1rem mb-1rem">
            <div class="col-6 t-a-r">
              <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 btn-white"
                (click)="clearForm()">
                CLEAR
              </button>
            </div>
            <div class="col-6">
              <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 btn-dark-green-prx"
                [disabled]="inputBlocked || insufficientBalance">
                SEND
              </button>
            </div>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content form-elegant b-r-08rem">
      <div class="modal-header text-center box-modal-grey b-t-r-r-08rem b-t-l-r-08rem">
        <h6 class="modal-title w-100 dark-grey-text" id="myModalLabel">
          <strong class="title-modal-grey">Add contact</strong>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
        <div class="modal-body mx-4">

          <div class="row box-form mt-1rem pt-0 pb-0">
            <div class="col-12 col-lg-11">
              <div class="row">
                <div class="col-3 col-sm-2 col-md-2 col-lg-1 d-flex align-items-center justify-content-center">
                  <img class="h1-5em" src="assets/images/img/icon-account-white.svg" alt="">
                </div>

                <div class="col-9 col-sm-10 col-md-10 col-lg-11">
                  <div class="md-form">
                    <input formControlName="user" type="text" autocomplete="off" required id="user" class="form-control"
                      mdbInputDirective data-success="Valid user" [errorMessage]="getError('user', 'contactForm')">
                    <label for="recipient">User</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row box-form mt-1rem pt-0 pb-0">
            <div class="col-12 col-lg-11">
              <div class="row">
                <div class="col-3 col-sm-2 col-md-2 col-lg-1 d-flex align-items-center justify-content-center">
                  <img class="h1-5em" src="assets/images/img/icon-account-white.svg" alt="">
                </div>

                <div class="col-9 col-sm-10 col-md-10 col-lg-11">
                  <div class="md-form">
                    <input formControlName="address" type="text" autocomplete="off" required id="acountRecipient"
                      class="form-control" mdbInputDirective [validateError]="false" [validateSuccess]="false"
                      [maxlength]="configurationForm.accountRecipient.maxLength"
                      [minlength]="configurationForm.accountRecipient.minLength">
                    <label for="acountRecipient">Recipient</label>
                    <!-- Invalid Recipient -->
                    <mdb-error *ngIf="msgErrorUnsupportedContact === '' && contactForm.get('address').invalid &&
                  (contactForm.get('address').dirty || contactForm.get('address').touched) &&
                  getError('address', 'contactForm')">
                      <span class="text-danger fw-500">Invalid Recipient</span>
                    </mdb-error>
                    <!-- Message Unsupported -->
                    <mdb-error *ngIf="msgErrorUnsupportedContact !== ''">
                      <span class="text-danger fw-500">{{msgErrorUnsupportedContact}}</span>
                    </mdb-error>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-1rem mb-1rem">
            <div class="col-6 t-a-r">
              <button mdbBtn type="button" size="sm" rounded="true" mdbWavesEffect class="f-w-600 btn-white"
                (click)="clearFormContact()">
                CLEAR
              </button>
            </div>
            <div class="col-6">
              <button mdbBtn type="submit" size="sm" rounded="true" mdbWavesEffect class="f-w-600 btn-dark-green-prx"
                [disabled]="inputContactBlocked">
                Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
