<div class="container mt-3rem mb-2rem animated fadeIn">

  <!-- TITLE AND DESCRIPTION -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-1-7rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">Mainnet Swap</span>
    </div>
    <div class="col-11 col-md-10 mx-auto">
      <hr class="mt-05rem mb-06rem">
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-08rem txt-a-center line-h-1-2em">This is the list of attached accounts of the account you have imported</span>
    </div>
  </div>
  <!-- END TITLE AND DESCRIPTION -->

  <!-- ACCOUNTS LIST -->
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 col-xl-10 mx-auto">
      <div class="col-12 d-flex justify-content-center pt-2rem pb-1rem">
        <span class="fs-1-5rem fw-500 txt-a-center line-h-1-2em color-black">Please select a NIS1 account</span>
      </div>
      <ng-container>
        <div class="row">
          <div class="col-11 col-md-12 mx-auto d-flex align-items-center box-grey">
            <div class="col-8 col-sm-9 col-md-10 word-break-all">
              <span class="d-flex color-black">{{ mainAccount.address.pretty() }}</span>
              <span class="d-flex color-black fw-bold">Balance: <span
                  class="spinner-border spinner-border-sm text-light mr-sm-2 loading-blue" role="status"
                  aria-hidden="true" *ngIf="mainAccount.balance === null"></span> {{ mainAccount.balance }} XPX <img
                  src="./assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" class="ml-1rem"
                  width="20px" alt="logo"></span>
            </div>
            <div class="col-4 col-sm-3 col-md-2 text-center w-e-nowrap">
              <span class="color-blue-intermedio font-small cursor-p" (click)="mainAccountSelected()">Select ></span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let account of listConsignerAccounts">
        <div class="row">
          <div class="col-11 col-md-12 mx-auto d-flex align-items-center box-grey">
            <div class="col-8 col-sm-9 col-md-10 word-break-all">
              <span class="d-flex color-black">{{ account.publicAccount.address.pretty() }}</span>
              <span class="d-flex color-black fw-bold">Balance: <span
                  class="spinner-border spinner-border-sm text-light mr-sm-2 loading-blue" role="status"
                  aria-hidden="true" *ngIf="account.publicAccount.balance === null"></span>
                {{ account.publicAccount.balance }} XPX <img
                  src="./assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" class="ml-1rem"
                  width="20px" alt="logo"></span>
            </div>
            <div class="col-4 col-sm-3 col-md-2 text-center w-e-nowrap">
              <i class="fa fa-users"></i>&nbsp;
              <span class="color-blue-intermedio font-small cursor-p"
                (click)="accountSelected(account.publicAccount)">Select ></span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- END ACCOUNT LIST -->

  <!-- BUTTON -->
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 col-xl-10 mx-auto">
      <div class="col-12 d-flex justify-content-center pt-2rem pb-1rem">
        <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
          size="md" (click)="goToBack()">
          <span class="fs-1-2em color-white">Go Back</span>
        </button>
      </div>
    </div>
  </div>
  <!-- END BUTTON -->

</div>