.md-form .prefix ~ mdb-select { margin-left: 2.4rem; width: 92%; width: -webkit-calc(100% - 2rem); width: calc(100% - 3rem); }
.md-form .prefix { top: 0.85rem; font-size: 1.45rem; }


.text-confirm{
  font-size: .9rem;
    color: #656565;
    font-weight: 600;
}
