<div class="container mt-6rem animated fadeIn">
  <!-- TITLE -->
  <div class="row">
    <div class="col-10 mx-auto">
      <h1 class="text-align-center wallet-name">
        <img class="img-wallet" src="assets/images/wallet.png"> {{nameModule}}
      </h1>
      <h5 [ngClass]="[walletIsCreated ? 'f-w-bold color-amarillo text-align-center wallet-description' :
      'text-align-center wallet-description']">
        {{descriptionModule}}</h5>
    </div>

    <div class="col-10 mx-auto">
      <hr class="background-divisor">
    </div>
  </div>

  <ng-container *ngIf="!walletIsCreated; else walletIsCreatedTemplate">
    <div class="row">
      <div class="container-fluid mt-1rem">
        <div class="col-xl-7 col-md-9 col-sm-11 mx-auto">
          <form [formGroup]="createWalletForm" (ngSubmit)="createSimpleWallet()">
            <div class="container box-form">
              <div class="md-form">
                <i class="fa fa-bars prefix text-white"></i>
                <mdb-select [options]="typeNetwork" placeholder="Select type network" required formControlName="network"
                  class="colorful-select dropdown-default" mdbInputDirective [errorMessage]="getError('network')">
                </mdb-select>
              </div>
            </div>

            <div class="container box-form mt-2rem">
              <div class="md-form" id="container-walletname">
                <i class="fa fa-user prefix text-white"></i>
                <input type="text" autocomplete="off" required formControlName="walletname" id="walletname"
                  class="form-control" mdbInputDirective data-success="Valid Wallet name"
                  [errorMessage]="getError('walletname')">
                <label for="walletname">Wallet name</label>
              </div>

              <div formGroupName="passwords">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="md-form" id="container-password">
                      <i class="fa fa-lock prefix text-white"></i>
                      <input type="password" autocomplete="off" required formControlName="password" id="password"
                        class="form-control" mdbInputDirective data-success="Valid password"
                        [errorMessage]="getError('password', 'passwords')">
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="md-form" id="container-confirm_password">
                      <i class="fa fa-lock prefix text-white"></i>
                      <input type="password" autocomplete="off" required formControlName="confirm_password"
                        id="confirm_password" class="form-control" mdbInputDirective data-success="Valid password"
                        [errorMessage]="getError('confirm_password', 'passwords')">
                      <label for="confirm_password">Confirm Password</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- BUTTONS -->
            <div class="container mt-1rem">
              <div class="row mt-1rem mb-1rem">
                <div class="col-6 t-a-r">
                  <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 btn-white-green-transparent"
                    (click)="cleanForm()">
                    CLEAN
                  </button>
                </div>
                <div class="col-6">
                  <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 btn-dark-green-prx">
                    CREATE
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #walletIsCreatedTemplate>
    <app-wallet-created [walletName]="walletName" [privateKey]="privateKey" [address]="address" class="animated fadeIn">
    </app-wallet-created>
  </ng-template>
</div>
