<div class="container mt-3rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-1-7rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">Create Wallet</span>
    </div>
    <div class="col-11 col-md-10 mx-auto">
      <hr class="mt-05rem mb-06rem">
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-08rem txt-a-center line-h-1-2em">This wallet makes it easy to access your crypto and interact with
        blockchain. ProximaX does not have access to your funds.</span>
    </div>
  </div>


  <div class="row mt-1-5rem">
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <ng-select class="selectWrapper" [items]="typeNetwork" bindLabel="label" bindValue="value"
        placeholder="Select account">
      </ng-select>
    </div>
  </div>

  <div class="row">
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <div class="md-form form-sm mt-1rem mb-0rem">
        <input mdbInputDirective [validateSuccess]="false" [validateError]="false" type="text" id="form1"
          class="form-control form-control-sm input-border" placeholder="Wallet name">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 mx-auto">
          <div class="md-form form-sm mt-1rem mb-0rem">
            <input mdbInputDirective [validateSuccess]="false" [validateError]="false" type="password" id="password1"
              class="form-control form-control-sm input-border" placeholder="Password">
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 mx-auto">
          <div class="md-form form-sm mt-1rem mb-0rem">
            <input mdbInputDirective [validateSuccess]="false" [validateError]="false" type="password" id="password2"
              class="form-control form-control-sm input-border" placeholder="Confirm password">
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row mt-2rem">
    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
      <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
        size="sm">
        <span class="fs-1-2em color-white">CLEAR</span>
      </button>
    </div>

    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
      <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
        size="sm">
        <span class="fs-1-2em color-white">CREATE</span>
      </button>
    </div>
  </div>
</div>
