<div class="container mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <div class="row">
    <div class="col-11 col-lg-11 mx-auto">
      <div class="row">
        <div class="col-12 col-md-8 justify-content-center mx-auto">

          <form [formGroup]="nodeForm" (ngSubmit)="changeNode()">

            <div class="row">
              <div class="col-12 mx-auto">
                <div class="md-form form-sm mt-1rem mb-0rem">
                  <img class="form-control-feedback" src="assets/images/img/icon-block-height-blue-30h.svg" alt="">
                  <input mdbInputDirective mdbValidate formControlName="blockHeigh" readonly type="text"
                    class="form-control form-control-sm input-border txt-a-right" placeholder="">
                  <span class="label-i-icon pl-2rem">Block Height</span>
                </div>
              </div>

              <div class="col-12 mx-auto">
                <div class="md-form form-sm mt-1rem mb-0rem">
                  <img class="form-control-feedback" src="assets/images/img/icon-nodes-blue-60h.svg" alt="">
                  <input mdbInputDirective mdbValidate formControlName="nodeSelect" readonly type="text"
                    class="form-control form-control-sm input-border txt-a-right">
                  <span class="label-i-icon pl-2rem">Current Node</span>

                </div>
              </div>

              <div class="col-12 mx-auto">
                <div class="md-form form-sm mt-1rem mb-0rem">
                  <!-- <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [searchable]="false"
                                        [validateError]="true" [items]="arrayNodes" formControlName="nodeSelect" class="selectWrapper"
                                        [items]="arrayselect" bindLabel="label" bindValue="value" placeholder="Node list"></ng-select> -->



                  <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [searchable]="false"
                    [clearable]="false" [validateError]="true" class="selectWrapper" [items]="arrayNodes"
                    formControlName="nodeSelect" bindLabel="label" bindValue="value" placeholder="Node List"
                    (change)="nodeSelect($event)">

                    <ng-template ng-option-tmp let-item="item" let-index="index">

                      <b *ngIf="item.isDefault">
                        <img class="icono" src="assets/images/img/icon-prx-xpx-blue.svg" width="20">
                      </b> &nbsp;
                      <b>{{item.label}}</b>

                    </ng-template>
                  </ng-select>
                </div>
              </div>


              <!-- <div class="col-12 mx-auto">
                <div class="md-form form-sm mt-1rem mb-0rem">
                  <img class="form-control-feedback" src="assets/images/img/icon-nodes-blue-60h.svg" alt="">
                  <input [disabled]="true" mdbInputDirective mdbValidate formControlName="customNode"
                    [validateSuccess]="true" [validateError]="true" placeholder="Custom node" type="text"
                    class="form-control form-control-sm input-border ">

                </div>
              </div> -->

              <!-- BUTTONS -->
              <!-- <div
                class="col-12 col-md-12 col-lg-2 d-flex align-items-center justify-content-center background-dark-green-plus pt-05rem">
                <button mdbBtn type="submit" rounded="true" mdbWavesEffect
                  class="f-w-600 background-btn overflow-ellipsis-nowrap" size="md">
                  <span class="fs-1em color-white">Add Node</span>
                </button>
              </div> -->

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>


</div>