<div class="container mt-3rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-1-7rem fw-600 txt-a-center line-h-1-2em">ProximaX SiriusWallet</span>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span class="fs-08rem txt-a-center line-h-1-2em">The secure interface that connects the Proximax Sirius platform.</span>
    </div>
    <div class="col-11 col-md-10 mx-auto">
      <hr class="mt-07rem">
    </div>
  </div>

  <div class="row">
    <ng-container *ngFor="let item of objectKeys(servicesList)">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 mt-2rem">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <img class="mr-1rem h-70px" src="assets/images/img/{{servicesList[item].image}}" alt="">
          </div>
          <div class="col-12 txt-a-center mt-04rem">
            <span class="fs-1rem fw-600">{{servicesList[item].title}}</span>
          </div>
          <div class="col-12 txt-a-center line-h-1em">
            <span class="fs-08rem">{{servicesList[item].description}}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="row pt-3rem pb-2rem">
    <div class="col-11 col-md-10 mx-auto">
      <hr class="mt-07rem">
    </div>
    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
      <button [routerLink]="['/'+link.selectTypeCreationWallet]" mdbBtn type="button" rounded="true" mdbWavesEffect
        class="f-w-600 background-btn pl-2rem pr-2rem" size="md">
        <img class="mr-1rem h-2em pr-05rem" src="assets/images/img/icon-wallet-create-white-proximax-sirius-wallet.svg"
          alt="">
        <span class="fs-1-2em color-white">CREATE</span>
      </button>
    </div>
    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
        <button disabled [routerLink]="['/'+link.importWallet]" mdbBtn type="button" rounded="true" mdbWavesEffect
          class="f-w-600 background-btn pl-2rem pr-2rem" size="md">
          <img class="mr-1rem h-2em pr-05rem" src="assets/images/img/icon-wallet-import-white-proximax-sirius-wallet.svg" alt="">
          <span class="fs-1-2em color-white">IMPORT</span>
        </button>
      </div>
  </div>
</div>