<!-- Box signer, signature, hash -->
<div class="row">
  <div class="col-12 lh-1em mt-1rem">
    <span class="fw-600 fs-075rem cursor-p">Signer: <br></span>
    <span class="fs-075rem w-w-b-w"
      [title]="'Public Key: '+dataSelected.data.signer.publicKey">{{dataSelected.data.signer.address.pretty()}}</span>
  </div>

  <!-- Signature -->
  <div class="col-12 mt-05rem lh-1em">
    <span class="fw-600 fs-075rem">Signature: <br></span>
    <span class="fs-075rem w-w-b-w "> {{dataSelected.data.signature}} </span>
  </div>

  <!-- Others cosignatories -->
  <ng-container *ngIf="dataSelected.data['cosignatures'] && dataSelected.data['cosignatures'].length > 0">
    <div class="col-12 mt-05rem lh-1em">
      <mdb-accordion [multiple]="false" aria-multiselectable="true">
        <mdb-accordion-item [collapsed]="true">
          <mdb-accordion-item-head class="box-modal-grey">
            <span class="fw-600 fs-075rem">Others cosignatories:</span>
          </mdb-accordion-item-head>
          <mdb-accordion-item-body class="box-accounts-height box-modal-grey">
            <ng-container *ngFor="let dataSigner of dataSelected.data['cosignatures'];  let i=index">
              <div class="">
                <span class="fs-06rem w-w-b-w cursor-p fw-600" [title]="'Public Key: '+dataSigner.signer.publicKey">
                  {{dataSigner.signer.address.pretty()}}
                </span>
              </div>
            </ng-container>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
    </div>
  </ng-container>

  <!-- Hash -->
  <div class="col-12 mt-05rem mb-05rem lh-1em">
    <span class="fw-600 fs-075rem">Hash: <br></span>
    <span class="fs-075rem w-w-b-w "> {{dataSelected.data['transactionInfo'].hash}} </span>
  </div>
</div>
