<div class="container mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>
  <div class="col-11 col-lg-10 mx-auto">
    <!-- Name -->
    <div class="row">
      <div class="col-12 mx-auto d-flex align-items-center box-grey p-1rem">
        <div class="col-10 lh-1-1em">
          <span class="fw-600">Account name:</span>
          <br>
          <ng-container *ngIf="!editNameAccount">
            <span class="font-small d-flex">{{accountName}}</span>
          </ng-container>

          <ng-container *ngIf="editNameAccount">
            <input mdbInputDirective mdbValidate type="text" id="newNameAccount"
              class="form-control form-control-sm input-border" [(ngModel)]="newNameAccount" title="New Aame account">
          </ng-container>
        </div>
        <div class="col-2 text-right">
          <ng-container *ngIf="!editNameAccount">
            <i mdbWavesEffect (click)="editNameAccount = !editNameAccount" class="fa fa-pencil-square-o cursor-p"
              title="Update name account"></i>
          </ng-container>

          <ng-container *ngIf="editNameAccount">
            <i mdbWavesEffect (click)="changeNameAccount(accountName, newNameAccount)"
              class="fa fa-check-square-o cursor-p mr-06rem" title="Update name account"></i>
            <i class="fa fa-window-close-o cursor-p" aria-hidden="true" (click)="editNameAccount = !editNameAccount"
              title="I don't want to update"></i>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- address -->
    <div class="row">
      <div class="col-12 mx-auto d-flex align-items-center box-grey p-1rem">
        <div class="col-10 lh-1-1em">
          <span class="fw-600">{{ titleAddress }} </span>
          <br>
          <span class="font-small d-flex">{{address}}</span>
        </div>
        <div class="col-2 text-right">
          <img src="assets/images/img/icon-copy-clipboard-gray-proximax-sirius-wallet.svg" class="cursor-p" alt="Copy"
            width="20" (click)="copyMessage('Address')" ngxClipboard [cbContent]="address">
        </div>
      </div>
    </div>

    <!-- public key -->
    <!-- <ng-container *ngIf="accountValid"> -->
    <div class="row">
      <div class="col-12 mx-auto d-flex align-items-center box-grey p-1rem">
        <div class="col-10 lh-1-1em">
          <span class="fw-600 ">{{ titlePublickey }} </span>
          <br>
          <span class="font-small d-flex ">{{ publicKey }}</span>
        </div>
        <div class="col-2 text-right">
          <img src="assets/images/img/icon-copy-clipboard-gray-proximax-sirius-wallet.svg" class="cursor-p" alt="Copy"
            width="20" (click)="copyMessage('Public key')" ngxClipboard [cbContent]="publicKey">
        </div>
      </div>
    </div>
    <!-- </ng-container> -->

    <!-- DECRYPT ACCOUNT -->
    <ng-container *ngIf="currenAccount.encrypted !== ''">
      <!-- Information -->
      <div class="row">
        <div class="col-12 mx-auto  box-transparent-border-orange">
          <div class="txt-a-center">
            <img src="assets/images/img/icon-transaction-unconfirmed-white.svg" style="filter: invert(50%)" alt=""
              width="30">
          </div>

          <p class="fs-08rem txt-a-center mt-05rem mb-0 lh-1-1em">
            {{ descriptionPrivateKey }}
          </p>
        </div>
      </div>

      <!-- NEW BUTTON - PRIVATE KEY -->
      <!-- START -->

      <div class="row">
        <div class="col-12 mx-auto box-grey p-1rem">
          <div class="row">
            <div class="col-8 lh-1-1em justify-content-sm-start align-self-center">
              <div class="row">
                <div class="col-10 lh-1-1em">

                  <span class="fw-600"> {{ titlePrivateKey }} </span>
                  <br>
                  <span class="font-small" *ngIf="showPassword && !actionBtnShowPrivateKey">************</span>
                  <span class="font-small d-flex" *ngIf="!showPassword">{{ privateKey }}</span>
                </div>
                <div class="col-2 text-right">
                  <img *ngIf="!showPassword" style="padding-top: 28px;"
                    src="assets/images/img/icon-copy-clipboard-gray-proximax-sirius-wallet.svg" class="cursor-p"
                    alt="Copy" width="20" (click)="copyMessage('Private key')" ngxClipboard [cbContent]="privateKey">
                </div>
              </div>
              <ng-container *ngIf="actionBtnShowPrivateKey">
                <form [formGroup]="validatingForm">
                  <div class="row pt-05rem" *ngIf="actionBtnShowPrivateKey">
                    <div class="col-12">
                      <div class="md-form form-sm m-0">
                        <img class="form-control-feedback"
                          src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
                        <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                          src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
                        <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                          src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
                        <input [maxlength]="configurationForm.passwordWallet.maxLength"
                          [minlength]="configurationForm.passwordWallet.minLength" formControlName="password"
                          mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true"
                          [type]="passwordMain" id="password" class="form-control form-control-sm input-border"
                          placeholder="Enter Wallet Password" style="background: #ffffff;">
                        <br>
                        <mdb-error
                          *ngIf=" validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                          <span>Required to show private Key</span>
                        </mdb-error>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-container>
            </div>
            <div class="col-4 lh-1-1em txt-a-right align-self-center">
              <div *ngIf="!actionBtnShowPrivateKey">
                <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
                  (click)="btnShowPrivateKey()" [disabled]="blockBtnAction" *ngIf="!toggleBtnShowPrivateKey">
                  <span class="color-white">Show</span>
                </button>

                <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
                  (click)="btnShowPrivateKey()" [disabled]="blockBtnAction" *ngIf="toggleBtnShowPrivateKey">
                  <span class="color-white">Hide</span>
                </button>
              </div>
              <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
                (click)="btnShowPrivateKey()" *ngIf="actionBtnShowPrivateKey">
                <span class="color-white">Accept</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- NEW BUTTON - PRIVATE KEY -->


      <!-- NEW BUTTON - SWAP with this Private Key -->

      <div class="row">
        <div class="col-12 mx-auto box-grey p-1rem">
          <div class="row">
            <div class="col-8 lh-1-1em justify-content-sm-start align-self-center">
              <div class="row">
                <div class="col-12">
                  <span class="fw-600 ">Swap with this private key</span>
                </div>
              </div>
              <ng-container *ngIf="actionBtnSwapThisAccount">
                <form [formGroup]="validatingForm">
                  <div class="row pt-05rem" *ngIf="actionBtnSwapThisAccount">
                    <div class="col-12">
                      <div class="md-form form-sm m-0">
                        <img class="form-control-feedback"
                          src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
                        <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                          src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
                        <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                          src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
                        <input [maxlength]="configurationForm.passwordWallet.maxLength"
                          [minlength]="configurationForm.passwordWallet.minLength" formControlName="password"
                          mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true"
                          [type]="passwordMain" id="password" class="form-control form-control-sm input-border"
                          placeholder="Enter Wallet Password" style="background: #ffffff;">

                        <mdb-error
                          *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                          <span>Required to change your setting</span>
                        </mdb-error>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-container>
            </div>
            <div class="col-4 lh-1-1em txt-a-right align-self-center">
              <div *ngIf="!actionBtnSwapThisAccount">
                <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
                  (click)="btnSwapThisAccount(false)" [disabled]="blockBtnAction" *ngIf="checked">
                  <span class="color-white">Disable</span>
                </button>
                <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
                  (click)="btnSwapThisAccount(true)" [disabled]="blockBtnAction" *ngIf="!checked">
                  <span class="color-white">Enable</span>
                </button>
              </div>
              <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
                (click)="btnSwapThisAccount()" *ngIf="actionBtnSwapThisAccount ">
                <span class="color-white">Accept</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- NEW BUTTON - SAVE PAPER WALLET -->

      <div class="row">
        <div class="col-12 mx-auto box-grey p-1rem">
          <div class="row">
            <div class="col-8 lh-1-1em justify-content-sm-start align-self-center">
              <div class="row">
                <div class="col-12">
                  <span class="fw-600 ">Save paper wallet</span>
                </div>
              </div>
              <ng-container *ngIf="actionBtnSavePaperWallet">
                <form [formGroup]="validatingForm">
                  <div class="row pt-05rem">
                    <div class="col-12">
                      <div class="md-form form-sm m-0">
                        <img class="form-control-feedback"
                          src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
                        <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                          src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
                        <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                          src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
                        <input [maxlength]="configurationForm.passwordWallet.maxLength"
                          [minlength]="configurationForm.passwordWallet.minLength" formControlName="password"
                          mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true"
                          [type]="passwordMain" id="password" class="form-control form-control-sm input-border"
                          placeholder="Enter Wallet Password" style="background: #ffffff;">

                        <mdb-error
                          *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                          <span>Required to download your paper wallet</span>
                        </mdb-error>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-container>

            </div>
            <div class="col-4 lh-1-1em txt-a-right align-self-center">
              <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
                (click)="btnSavePaperWallet()" [disabled]="blockBtnAction" *ngIf="!actionBtnSavePaperWallet">
                <span class="color-white">Save</span>
              </button>
              <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
                (click)="btnSavePaperWallet()" *ngIf="actionBtnSavePaperWallet">
                <span class="color-white">Accept</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>