<div class="container-fluid mt-11rem mb-3rem animated fadeIn">
  <div class="row">
    <div class="col-11 col-sm-10 mx-auto">
      <!-- Title -->
      <div class="row">
        <div class="col-11 col-sm-10 mx-auto">
          <span class="d-flex justify-content-center align-items-center wallet-name">
            <img class="mr-05rem h2-3em" src="assets/images/img/icon-account-white.svg" alt="">
            <span class="f-w-bold fs-2em">Account</span>
          </span>
        </div>
        <div class="col-11 col-sm-10 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>

      <!-- Address -->
      <div class="row box-form-white mt-1rem">
        <div class="col-12 mt-5px">
          <h3 class="fw-500 mb-0rem">{{walletName}}</h3>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-10 col-md-10 col-lg-11">
              <span class="fs-1rem gray-color fw-400">Address: </span>
              <span class="fs-1rem fw-500 w-w-b-w">{{address}}</span>
            </div>
            <div class="col-2 col-md-2 col-lg-1 d-flex align-items-center">
              <i mdbWavesEffect (click)="copyMessage('Address')" ngxClipboard [cbContent]="address"
                class="fa fa-paste prefix cursor-pointer fs-1-5rem"></i>
            </div>
          </div>
        </div>
      </div>



      <!-- Public key -->
      <div class="row box-form-white mt-1rem">
        <div class="col-12">
          <h3 class="fw-500 mb-0rem">Public Key</h3>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-10 col-md-10 col-lg-11">
              <span class="fs-1rem fw-500 w-w-b-w">{{publicKey}}</span>
            </div>
            <div class="col-2 col-md-2 col-lg-1 d-flex align-items-center">
              <i mdbWavesEffect (click)="copyMessage('Public key')" ngxClipboard [cbContent]="publicKey"
                class="fa fa-paste prefix cursor-pointer fs-1-5rem"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Message Orange  -->
      <div class="row box-light-orange mt-3rem">
        <div class="col-12 mx-auto text-center">
          <span class="fs-1rem fw-500 w-w-b-w">Your private key holds all the power of your account.</span> <br>
          <span class="fs-1rem fw-500 w-w-b-w">It is a priority to make sure it is stored safely somewhere
            offline.</span>
        </div>
      </div>

      <!-- Enter password  -->
      <ng-container *ngIf="showPassword">
        <form [formGroup]="validatingForm" (ngSubmit)="decryptWallet()">
          <div class="row box-form mt-1rem pt-0 pb-0">
            <div class="col-12">
              <div class="md-form" id="container-password">
                <i class="fa fa-lock prefix color-white"></i>
                <input formControlName="password" type="password" autocomplete="off" required id="password"
                  class="form-control" mdbInputDirective [validateSuccess]="false" [validateError]="false">
                <label for="password">Enter your wallet password</label>
                <!-- VALIDATIONS -->
                <mdb-error class="text-danger fw-500" *ngIf="input.invalid && (input.dirty || input.touched)">Invalid
                  password</mdb-error>


                <mdb-error class="text-danger fw-500"
                  *ngIf="input.value !== '' && input.value.length >= 1 && input.value.length <= 7">
                  The password must be greater than 8 characters
                </mdb-error>

                <mdb-success class="text-success fw-500"
                  *ngIf="input.valid && (input.dirty || input.touched) && input.value.length >= 8">Valid password
                </mdb-success>

                <!-- FIN VALIDATIONS -->
              </div>
            </div>
          </div>
          <div class="row mt-1rem mb-1rem">
            <div class="col-12 col-sm-6 col-md-4 mx-auto text-center">
              <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 btn-white">
                SHOW PRIVATE KEY
              </button>
            </div>
          </div>
        </form>
      </ng-container>

      <!-- Show private key-->
      <ng-container *ngIf="privateKey !== ''">
        <div class="row box-form mt-1rem">
          <div class="col-12">
            <h3 class="fw-500 mb-0rem color-white">Private Key</h3>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-10 col-md-10 col-lg-11">
                <span class="fs-1rem fw-500 w-w-b-w color-white">{{privateKey}}</span>
              </div>
              <div class="col-2 col-md-2 col-lg-1 d-flex align-items-center">
                <i mdbWavesEffect (click)="copyMessage('Private Key')" ngxClipboard [cbContent]="privateKey"
                  class="fa fa-paste prefix cursor-pointer fs-1-5rem color-white"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-1rem mb-1rem">
          <div class="col-12 col-sm-6 col-md-4 mx-auto text-center">
            <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 btn-white"
              (click)="hidePrivateKey()">
              HIDE PRIVATE KEY
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
