<div class="mt-3rem mb-3rem animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-md-10 col-sm-10 mx-auto">
        <div class="md-form mt-5" id="container-walletname">
          <div class="md-form  mt-5">
            <i class="fa fa-codepen prefix text-gris"></i>
            <mdb-select [mdbValidate]="false" [options]="nodes" placeholder="Select node" required class="colorful-select dropdown-default"
              (selected)="optionSelected($event)" mdbInputDirective></mdb-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
