<p>
  transfer-type works!
</p>

 <!-- <div class="row">
            <div class="col-md-3">
              <span class="fs-08rem fw-bolder"><b>From:</b></span>
            </div>
            <div class="col-md-9">
              <span class="fs-08rem fw-bolder">{{dataSelected?.signer}}</span>
            </div>
          </div>

          <div class="mt-3">
            <div class="row">
              <div class="col-md-3">
                <span class="fs-08rem fw-bolder"><b>To:</b></span>
              </div>
              <div class="col-md-9">
                <span class="fs-08rem fw-bolder">{{dataSelected?.recipient}}</span>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <span class="fs-08rem fw-bolder"><b>Amount:</b></span>
            </div>
            <div class="col-md-9">
              <span class="fs-08rem fw-bolder">{{dataSelected?.amount}}</span>
            </div>
          </div>

          <div class="mt-3">
            <div class="row">
              <div class="col-md-3">
                <span class="fs-08rem fw-bolder"><b>Fee:</b></span>
              </div>
              <div class="col-md-9">
                <span class="fs-08rem fw-bolder">{{dataSelected?.fee}}</span>
              </div>
            </div>
          </div>
          <hr>
          <div class="mt-3">
            <div class="row">
              <div class="col-md-3">
                <span class="fs-08rem fw-bolder"><b>Message:</b></span>
              </div>
              <div class="col-md-9">
                <span class="fs-08rem fw-bolder">{{dataSelected?.message.payload}}</span>
              </div>
            </div>
          </div>
          <hr>
          <div class="mt-3">
            <div class="row">
              <div class="col-md-3">
                <span class="fs-08rem fw-bolder"><b>Mosaic:</b></span>
              </div>
              <div class="col-md-9">
                <span class="fs-08rem fw-bolder">{{dataSelected?.mosaic}}</span>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="row">
              <div class="col-md-3">
                <span class="fs-08rem fw-bolder"><b>Hash:</b></span>
              </div>
              <div class="col-md-9">
                <span class="fs-08rem fw-bolder">{{dataSelected?.transactionInfo.hash}}</span>
              </div>
            </div>
          </div> -->
