<div class="row mt-1rem mr-1rem ml-1rem">
  <!-- Data -->
  <div class="col-12 col-md-6 d-flex align-items-start">
    <div class="row">
      <!-- Type transfer -->
      <div class="col-12">
        <span class="color-dark-green fw-bold fs-2rem">{{transferTransaction.nameType}}</span>
        <img class="mr-1rem ml-1rem h2em" src="assets/images/img/icon-transactions-dark-green.svg" alt="">
        <span class="color-blue-light fw-bold fs-2rem">Income</span>
      </div>

      <!-- Timestamp -->
      <div class="col-12 mt-1rem">
        <span class="color-dark-green fs-08rem fw-500 w-w-b-w">{{transferTransaction?.timestamp}}</span>
      </div>

      <div class="col-12">
        <!-- MOSAICS INFO-->
        <app-mosaics-info (changeSearch)="searching = false;" [mosaicsArray]="transferTransaction.data['mosaics']"
          [transferTransaction]="transferTransaction">
        </app-mosaics-info>
      </div>

      <!-- Fee -->
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <span class="color-dark-green fw-bold fs-1-3rem">Fee: </span>
          </div>
          <div class="col-9">
            <span class="color-dark-green fw-400 fs-1-3rem">{{transferTransaction.fee}} XPX</span>
          </div>
        </div>
      </div>

      <!-- From -->
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <span class="color-dark-green fw-bold fs-08rem">From: </span>
          </div>
          <div class="col-9">
            <span class="color-dark-green fw-400 fs-08rem">{{transferTransaction?.sender.address.pretty()}}</span>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-3">
            <span class="color-dark-green fw-bold fs-08rem">To: </span>
          </div>
          <div class="col-9">
            <span class="color-dark-green fw-400 fs-08rem">{{transferTransaction?.recipient.pretty()}}</span>
          </div>
        </div> -->
      </div>

      <!-- Message -->
      <div class="col-12 mt-2rem">
        <div class="row">
          <div class="col-12">
            <span class="color-dark-green fw-bold fs-08rem">Message: </span>
          </div>
          <div class="col-12">
            <span class="color-dark-green fw-400 fs-08rem">{{transferTransaction?.data['message'].payload}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Box signer, signature, hash -->
  <div class="col-12 col-md-6 pt-2rem gray-color-transparent">
    <div class="row">
      <div class="col-12">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Signer:</b></span>
      </div>
      <div class="col-12">
        <span class="fs-07rem fw-bolder w-w-b-w">{{transferTransaction?.data.signer.publicKey}}</span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Signature:</b></span>
      </div>
      <div class="col-12">
        <span class="fs-07rem fw-bolder w-w-b-w">{{transferTransaction?.data.signature}}</span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <span class="fs-08rem fw-bolder w-w-b-w"><b>Hash:</b></span>
      </div>
      <div class="col-12">
        <span class="fs-07rem fw-bolder w-w-b-w">{{transferTransaction?.data.transactionInfo.hash}}</span>
      </div>
    </div>
  </div>
</div>
<!-- <div class="col-12 mt-4" *ngIf="searching">
  <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate" *ngIf="searching"></mdb-progress-bar>
</div> -->
