<div class="mt-3rem mb-3rem">
  <app-header [params]="paramsHeader"></app-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-11 col-md-10 mx-auto">
        <div class="row">
          <!-- EXAMPLE -->
          <div class="col-11 align-items-start mx-auto">
            <div class="box-transparent-border-orange">
              <p class="mb-0">
                <span class="font-title fw-700 fs-09rem">EXAMPLE</span>
              </p>
              <span class="fs-075rem w-b-a txt-a-left">
                MyProject2016 -- Apostille TX 0e94da29910ae64bb544e9de0e6a5c6440bd75e6bedafd81b5b4cfa729ca25ef -- Date
                YYYY-MM-DD.pdf
              </span>
            </div>
          </div>

          <!-- UPLOAD FILE -->
          <div class="col-11 d-flex justify-content-center mx-auto mb-1rem mt-1rem">
            <button (click)="openInput()" mdbBtn type="submit" rounded="true" mdbWavesEffect
              class="background-btn-inverse pl-2rem pr-2rem" size="md">
              <img class="mr-1rem h2em" src="assets/images/img/icon-upload-gray-28h-proximax-sirius-wallet.svg"
                width="25">
              <span class="fs-1-2em text-cl-m fw-700">UPLOAD FILE</span>
            </button>

            <input id="fileInput" [hidden]="true" type="file" (change)="fileChange($event.target.files,$event)">
          </div>

          <!-- Name File
          <div class="col-11 box d-flex justify-content-center mx-auto mb-1rem txt-a-center">
            <span class="box fs-09rem fw-600" id="nameFile"> {{nameFile}} </span>
          </div>-->
        </div>

        <!-- Searching and icon reload -->
        <div class="row mt-2rem mb-2rem" *ngIf="isProcessing">
          <div class="col-11 col-sm-11 col-lg-10 mx-auto">
            <!-- Searching -->
            <ng-container>
              <div class="col-12">
                <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
                </mdb-progress-bar>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- TABLE -->
        <div class="row">
          <div class="col-11 mx-auto">
            <div class="datatable-style max-w-table">
              <table mdbTable mdbTableScroll scrollX="true" striped="true">
                <thead>
                  <tr class="header-backg">
                    <th *ngFor="let head of headElements" scope="col" class="fs-075rem">{{head}} </th>
                  </tr>
                </thead>

                <tbody class="background-white">
                  <ng-container
                    *ngFor="let result of auditResults.slice().reverse() | paginate: { itemsPerPage: 5, currentPage: p }">
                    <tr>
                      <td class="description-dark-green white-space-pre">
                        <span class="fs-075rem">{{result.filename}}</span>
                      </td>
                      <td class="description-dark-green white-space-pre">
                        <span class="fs-075rem">{{result.owner}}</span>
                      </td>
                      <td class="description-dark-green white-space-pre">
                        <span class="fs-075rem">{{result.fileHash}}</span>
                      </td>
                      <td class="description-dark-green white-space-pre">
                        <span class="fs-075rem">{{result.result}}</span>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-12 pt-1rem pb-3rem d-flex justify-content-center mx-auto">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>