#fileInput {
  display: none
}

#tooltip {
  display: none;
  background: #f4f4f4;
  border: 2px solid #316eb5;
  border-radius: 5px;
  font-size: 14px;
  color: #444444;
  position: absolute;
  z-index: 10000;
  bottom: 15;
  padding: 5px;
  text-align: center;
  transition: 0.1s;
}