<div class="row">
  <div class="col-12 mt-04rem mr-2rem pl-2rem mb-2rem">
    <!-- Title -->
    <div class="row">
      <div class="col-12 line-h-1-5em">
        <span class="fw-600 fs-1-3rem color-dark-green">{{aggregateBonded.nameType}}</span> <br>
        <span class="fs-08rem color-dark-green">Deadline: &nbsp; {{aggregateBonded?.timestamp}}</span>
      </div>
    </div>

    <!-- Fee -->
    <div class="row mt-05rem">
      <div class="col-3 col-sm-2 col-lg-1">
        <span class="fs-095rem fw-600 color-dark-green"> Fee: </span>
      </div>

      <div class="col-9 col-sm-10 col-lg-11">
        <span class="fs-095rem fw-600 color-blue-light">{{aggregateBonded?.feePart.part1}}</span>
        <span class="fs-075rem fw-600 color-blue-light">{{aggregateBonded?.feePart.part2}}</span>
        <span class="fs-095rem fw-600 color-blue-light"> XPX </span>
        <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg">
      </div>
    </div>

    <!-- Signer -->
    <div class="row mt-1rem">
      <div class="col-12">
        <span class="fs-09rem fw-600 color-dark-green"> Signer: </span>
      </div>

      <div class="col-12">
        <span class="fs-07rem color-dark-green w-w-b-w">{{aggregateBonded?.data.signer.publicKey}}</span>
      </div>
    </div>

    <!-- Signer -->
    <div class="row mt-03rem">
      <div class="col-12">
        <span class="fs-09rem fw-600 color-dark-green"> Signature: </span>
      </div>

      <div class="col-12">
        <span class="fs-07rem color-dark-green w-w-b-w">{{aggregateBonded?.data.signature}}</span>
      </div>
    </div>

    <!-- Signer -->
    <div class="row mt-03rem">
      <div class="col-12">
        <span class="fs-09rem fw-600 color-dark-green"> Hash: </span>
      </div>

      <div class="col-12">
        <span class="fs-07rem color-dark-green w-w-b-w">{{aggregateBonded?.data.transactionInfo.hash}}</span>
      </div>
    </div>

    <!-- Transactions -->
    <div class="row mt-2rem">
      <div class="col-12 col-sm-4 d-flex align-items-center">
        <span class="fs-095rem fw-600 color-dark-green"> Transactions: </span>
      </div>

      <div class="col-12 col-sm-8 d-flex justify-content-start justify-content-sm-end">
        <pagination-controls [maxSize]="maxSize" [id]="configCustom.id"
          (pageChange)="configCustom.currentPage = $event">
        </pagination-controls>
      </div>

      <div class="col-12">
        <hr class="mt-0">
      </div>
    </div>

    <!-- Inner transaction -->
    <div class="row d-flex justify-content-center">
      <div class="col-11 scroll-accounts mb-1rem">
        <ng-container *ngFor="let innerTransaction of aggregateBonded?.data.innerTransactions | paginate: configCustom">
          <app-modify-multisig-account-type *ngIf="innerTransaction.type === typeTransactions.modifyMultisigAccount.id"
            [multisigAccount]="innerTransaction">
          </app-modify-multisig-account-type>
        </ng-container>
      </div>
    </div>
  </div>
</div>
