<div class="container-fluid mt-11rem mb-3rem pt-0 pb-0">
  <div class="row">
    <div class="col-11 col-sm-10 mx-auto">
      <!-- Title -->
      <div class="row">
        <div class="col-11 col-sm-10 mx-auto">
          <span class="d-flex justify-content-center align-items-center wallet-name">
            <img class="mr-05rem h2-3em" src="assets/images/img/icon-namespaces-white.svg">
            <span class="f-w-bold fs-2em">Link the namespace to an address</span>
          </span>
        </div>
        <div class="col-11 col-sm-10 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>
    </div>

    <div class="col-11 col-sm-10 mx-auto">

    </div>
  </div>
</div>
