<app-header [params]="paramsHeader"></app-header>

<div class="container-fluid mb-2rem animated fadeIn">
  <!-- <div class="row">
    <div class="col-12 justify-content-center"> -->
  <form [formGroup]="convertAccountMultsignForm" (ngSubmit)="convertIntoMultisigTransaction()">
    <!-- SELECT ACCOUNT TO CONVERT-->
    <div class="row mt-2rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [searchable]="false" [clearable]="false"
          [validateError]="true" class="selectWrapper" [items]="currentAccounts" formControlName="selectAccount"
          bindLabel="label"  placeholder="Select an Account" (change)="selectAccount($event)">

          <ng-template ng-option-tmp let-item="item" let-index="index">
            <b> <i [ngStyle]="{
              'color': item.disabled && !item.info? '#f2a917' : 'rgba(0,0,0,0.38)'
            }" class="fa fa-bell"> </i> </b>&nbsp;
            <b>{{item.label}}</b> &nbsp;<b style="color:brown">{{item.info}}</b>
          </ng-template>
          <ng-template ng-footer-tmp>
            <span class="fs-08rem color-error-message">
              Cosignatory has sufficient balance ({{amountFormatterSimple(totalFee)}} XPX) to cover LockFund Fee
            </span>
            <br>

            <span class="fs-08rem color-error-message">
              You cannot edit an account that is partially modified.(<i title="partially"  style="padding-right: 0px;" class="fa fa-bell color-light-orange"></i>)
            </span>

          </ng-template>
        </ng-select>
        <!-- VALIDATION -->
        <mdb-error class="ml-1rem">
          <span
            *ngIf="validateInput('selectAccount').invalid && (validateInput('selectAccount').dirty || validateInput('selectAccount').touched)"
            class="fs-08rem fw-600 color-error-message">Select an Account</span>
        </mdb-error>
      </div>
    </div>



    <!-- COSIGNATORY LIST  -->
    <div class="row gray-color-transparent pt-1rem pb-1rem">
      <div class="col-11 col-md-10 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-12">
            <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">Approved Cosignatories
            </span>
          </div>
          <ng-container *ngFor="let cosign of cosignatoryList">
            <div class="col-12 ">
              <span class="fs-07rem fw-600 txt-a-center "> <i
                  (click)="deleteCosignatory(cosign.id ,cosign.disableItem, cosign.type)" style="cursor: pointer;"
                  class="fa fa-trash fs-1rem" aria-hidden="true"></i>
                {{cosign.publicAccount.address.plain()}}
              </span>
            </div>
          </ng-container>
          <ng-container *ngIf="cosignatoryList.length === 0">
            <div class="col-12">
              <span class="fs-07rem fw-600 txt-a-center ">None
              </span>
            </div>
          </ng-container>

        </div>
      </div>
    </div>




    <!-- CONTACTS -->
    <ng-container *ngIf="showContacts && listContact.length > 0">
      <div class="row mt-1-5rem">
        <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
          <ng-select mdbInputDirective mdbValidate formControlName="contact" class="selectWrapper" [searchable]="false"
            [items]="listContact" bindLabel="label" bindValue="value" placeholder="Contact"
            (change)="selectContact($event)">



            <ng-template ng-option-tmp let-item="item" let-index="index">

              <ng-container *ngIf="item.disabled">
                <b> <i class="fa fa-users"> </i>
                </b>&nbsp;
              </ng-container>

              <b>{{item.label}}</b>
            </ng-template>
          </ng-select>
        </div>


      </div>
    </ng-container>

    <!-- COSIGNATORY -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="row">
          <!-- COSIGNATORY INPUT-->
          <div class="col-9 col-sm-10 col-lg-11">
            <div class="md-form form-sm mt-1rem mb-0rem">
              <img class="form-control-feedback"
                src="assets/images/img/icon-public-key-green-16h-proximax-sirius-wallet.svg" alt="" width="43"
                height="43">
              <input [maxlength]="configurationForm.privateKey.maxLength"
                [minlength]="configurationForm.privateKey.minLength" formControlName="cosignatory" required
                mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="text"
                id="cosignatory" class="form-control form-control-sm input-border"
                placeholder="Cosignatory Account Public Key " onkeyup="javascript:this.value=this.value.toLowerCase();">
              <!-- VALIDATION -->
              <mdb-error
                *ngIf="validateInput('cosignatory', '').invalid && (validateInput('cosignatory', '').dirty || validateInput('cosignatory', '').touched)">
                <span>Required Field</span>
              </mdb-error>
            </div>
          </div>
          <!--SHOW CONTACT-->
          <ng-container>
            <div class="col-3 col-sm-2 col-lg-1 d-flex justify-content-center align-items-center pt-12px">
              <div [attr.disabled]="listContact.length === 0"
                class="background-gray-icons p-12px bord-rad-25px cursor-p"
                (click)="showContacts = (listContact.length > 0) ? !showContacts : showContacts"
                [title]="(!showContacts) ? 'Show contacts': 'Hide contacts'">
                <img class=" w-30px" [src]="(!showContacts && listContact.length === 0) ?
											'assets/images/img/icon-address-book-gray-28h-proximax-sirius-wallet.svg' :
											'assets/images/img/icon-address-green-book-16h-proximax-sirius-wallet.svg'
											">
              </div>
            </div>
          </ng-container>
        </div>
        <div class="row">
          <!-- Progress -->
          <div class="col-9 col-sm-10 col-lg-11">
            <ng-container *ngIf="searchContact">
              <div class="col-12">
                <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
                </mdb-progress-bar>
              </div>
            </ng-container>
          </div>

        </div>


      </div>
    </div>

    <!-- Add cosignatory -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto d-flex justify-content-center">
        <button mdbBtn type="button" rounded="true" [disabled]="mdbBtnAddCosignatory" mdbWavesEffect
          class="background-btn-inverse pl-2rem pr-2rem" size="md" (click)="addCosignatory()">
          <span class="fs-1-2em color-blue-intermedio fw-700">(+) Add Cosignatory</span>
        </button>
      </div>
    </div>


    <!-- Msg information -->
    <div class="col-8 mb-1rem mx-auto box-transparent-border-orange">
      <div class="txt-a-center">
        <img src="assets/images/img/icon-transaction-unconfirmed-white.svg" style="filter: invert(50%)" alt="" width="30">
      </div>
      <h6 class="fw-600">Warning!</h6>
      <p class="fs-08rem txt-a-center mt-05rem mb-0 lh-1-1em">
          If you are not on the Cosignatories list, you will lose control of the account.
      </p>
    </div>
    <!--<div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="box-transparent-border-orange m-0">
          <span class="fs-075rem w-b-a txt-a-center">Warning! If you are not on the Cosignatories list, you will lose
            control of the account.</span>
        </div>
      </div>
    </div>-->
    <!-- MIN APPROVA  AND  MIN REMOVE -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="row">
          <!-- MIN APPROVA -->
          <div class="col-12 col-md-4 mb-1-5rem d-flex justify-content-center">
            <div class="row">
              <div class="col-12 col-md-8 d-flex align-items-center">
                Minimum Cosignatories to:
              </div>

              <div class="d-none d-sm-none d-md-block">
                <div class="col-md-4 d-flex align-items-center">
                  <i class="fa fa-angle-right fs-3rem" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- MIN APROVE -->
          <div class="col-6 col-md-4 mb-1-5rem d-flex align-items-end justify-content-center">
            <div class="row">
              <div class="col-12 text-center">Approve Transaction</div>
              <div class="col-12">
                <div class="md-form form-sm mt-03rem mb-0rem">
                  <input (keypress)="preventNumbers($event)" max="{{minApprovaMaxLength}}" min="{{minApprovaMinLength}}"
                    formControlName="minApprovalDelta" required mdbInputDirective mdbValidate [validateSuccess]="true"
                    [validateError]="true" type="number" id="minApprovalDelta"
                    class="form-control form-control-sm input-border text-center" placeholder="Min approval"
                    onkeyup="javascript:this.value=this.value.toLowerCase();">
                  <!-- VALIDATION -->
                  <mdb-error
                    *ngIf="validateInput('minApprovalDelta', '').invalid && (validateInput('minApprovalDelta', '').dirty || validateInput('minApprovalDelta', '').touched)">
                    <span>Invalid value</span>
                  </mdb-error>
                </div>
              </div>
            </div>
          </div>

          <!-- MIN REMOVE-->
          <div class="col-6 col-md-4 mb-1-5rem d-flex align-items-end justify-content-center">
            <div class="row margin-rem0">
              <div class="col-12 text-center">Delete Users</div>
              <div class="col-12">
                <div class="md-form form-sm mt-03rem mb-0rem">
                  <input (keypress)="preventNumbers($event)" max="{{minApprovaMaxLength}}" min="{{minApprovaMinLength}}"
                    formControlName="minRemovalDelta" required mdbInputDirective mdbValidate [validateSuccess]="true"
                    [validateError]="true" type="number" id="minRemovalDelta"
                    class="form-control form-control-sm input-border text-center" placeholder="Min removal"
                    onkeyup="javascript:this.value=this.value.toLowerCase();">
                  <!-- VALIDATION -->
                  <mdb-error
                    *ngIf="validateInput('minRemovalDelta', '').invalid && (validateInput('minRemovalDelta', '').dirty || validateInput('minRemovalDelta', '').touched)">
                    <span>Invalid value</span>
                  </mdb-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- FEE -->
    <!-- <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12 text-center">
                  <span>Unconfirmed/Recommended Fee: <br></span>
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" alt="">
                  <span class="fs-09rem">{{ fee }} XPX</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12 text-center">
                  <span>Lockfund: <br> </span>
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" alt="">
                  <span class="fs-09rem">{{amountFormatterSimple(feeLockfund)}} XPX</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-12 col-md-6 mx-auto">
            <div class="box-grey d-flex justify-content-center pt-08rem pb-08rem">
              <div class="row">
                <div class="col-12 text-center">
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg"
                    width="20" alt="">
                  <span class="fs-07rem">Unconfirmed/Recommended Fee: {{fee}} XPX <br></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mx-auto">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12 d-flex align-items-center">
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg"
                    width="20" alt="">
                  <span class="fs-07rem">LockFund: 10.000000 XPX <br> Unconfirmed/Recommended Fee: 0.044500 XPX</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Passowrd -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="md-form form-sm">
          <img class="form-control-feedback" src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg"
            alt="">
          <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
            src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
          <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
            src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
          <input [maxlength]="configurationForm.passwordWallet.maxLength"
            [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" required
            mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" [type]="passwordMain" id="password"
            class="form-control form-control-sm input-border" placeholder="Enter Wallet Password">
          <mdb-error
            *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
            <span>Required field</span>
          </mdb-error>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
            <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax"
              size="md" (click)="clearForm()">
              <span class="fs-1-2em color-white">Clear</span>
            </button>
          </div>
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
            <button [disabled]="convertAccountMultsignForm.invalid || cosignatoryList.length == 0" mdbBtn type="submit"
              rounded="true" mdbWavesEffect class="btn-proximax" size="md">
              <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                *ngIf="blockSend"></span>
              <span class="fs-1-2em color-white">Send</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <!-- </div>
  </div> -->
</div>
