<app-header [params]="paramsHeader"></app-header>

<div class="container-fluid mb-2rem animated fadeIn">
  <!-- <div class="row">
    <div class="col-12 justify-content-center"> -->
  <form [formGroup]="convertAccountMultsignForm" (ngSubmit)="convertIntoMultisigTransaction()">
    <!-- SELECT ACCOUNT TO CONVERT-->
    <div class="row mt-2rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [clearable]="false" [validateError]="true"
          class="selectWrapper" [items]="currentAccounts" formControlName="selectAccount" bindLabel="label"
          bindValue="value" placeholder="Select an account" (change)="selectAccount($event)">

          <ng-template ng-option-tmp let-item="item" let-index="index">
            <b> <i [ngStyle]="{
              'color': item.disabled && !item.info? '#0056b3' : 'rgba(0,0,0,0.38)'
            }" class="fa fa-bell"> </i> </b>&nbsp;
            <b>{{item.label}}</b> &nbsp;<b style="color:brown">{{item.info}}</b>
          </ng-template>
        </ng-select>
        <!-- VALIDATION -->
        <mdb-error class="ml-1rem">
          <span
            *ngIf="validateInput('selectAccount').invalid && (validateInput('selectAccount').dirty || validateInput('selectAccount').touched)"
            class="fs-08rem fw-600 color-error-message">Select an account</span>
        </mdb-error>
      </div>
    </div>

    <!-- MIN APPROVA  AND  MIN REMOVE -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="row">
          <!-- MIN APPROVA -->
          <div class="col-12 col-md-4 mb-1-5rem d-flex justify-content-center">
            <div class="row">
              <div class="col-12 col-md-8 d-flex align-items-center">
                Minimum Cosignatories to:
              </div>

              <div class="d-none d-sm-none d-md-block">
                <div class="col-md-4 d-flex align-items-center">
                  <i class="fa fa-angle-right fs-3rem" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- MIN APROVE -->
          <div class="col-6 col-md-4 mb-1-5rem d-flex align-items-end justify-content-center">
            <div class="row">
              <div class="col-12 text-center">Approve transaction</div>
              <div class="col-12">
                <div class="md-form form-sm mt-03rem mb-0rem">
                  <input max="{{minApprovaMaxLength}}" min="{{minApprovaMinLength}}" formControlName="minApprovalDelta"
                    required mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="number"
                    id="minApprovalDelta" class="form-control form-control-sm input-border text-center"
                    placeholder="Min approval" onkeyup="javascript:this.value=this.value.toLowerCase();">
                  <!-- VALIDATION -->
                  <mdb-error
                    *ngIf="validateInput('minApprovalDelta', '').invalid && (validateInput('minApprovalDelta', '').dirty || validateInput('minApprovalDelta', '').touched)">
                    <span>Invalid value</span>
                  </mdb-error>
                </div>
              </div>
            </div>
          </div>

          <!-- MIN REMOVE-->
          <div class="col-6 col-md-4 mb-1-5rem d-flex align-items-end justify-content-center">
            <div class="row margin-rem0">
              <div class="col-12 text-center">Delete users</div>
              <div class="col-12">
                <div class="md-form form-sm mt-03rem mb-0rem">
                  <input max="{{minApprovaMaxLength}}" min="{{minApprovaMinLength}}" formControlName="minRemovalDelta"
                    required mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="number"
                    id="minRemovalDelta" class="form-control form-control-sm input-border text-center"
                    placeholder="Min removal" onkeyup="javascript:this.value=this.value.toLowerCase();">
                  <!-- VALIDATION -->
                  <mdb-error
                    *ngIf="validateInput('minRemovalDelta', '').invalid && (validateInput('minRemovalDelta', '').dirty || validateInput('minRemovalDelta', '').touched)">
                    <span>Invalid value</span>
                  </mdb-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- COSIGNATORY LIST  -->
    <div class="row gray-color-transparent pt-1rem pb-1rem">
      <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-12">
            <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">Approved Cosignatories
            </span>
          </div>
          <ng-container *ngFor="let cosign of cosignatoryList">
            <div class="col-12 ">
              <span class="fs-07rem fw-600 txt-a-center "> <i
                  (click)="deleteCosignatory(cosign.id ,cosign.disableItem, cosign.type)" style="cursor: pointer;"
                  class="fa fa-trash fs-1rem" aria-hidden="true"></i>
                {{cosign.publicAccount.address.plain()}}
              </span>
            </div>
          </ng-container>
          <ng-container *ngIf="cosignatoryList.length === 0">
            <div class="col-12">
              <span class="fs-07rem fw-600 txt-a-center ">None
              </span>
            </div>
          </ng-container>

        </div>
      </div>
    </div>

    <!-- CONTACTS -->
    <ng-container *ngIf="showContacts && listContact.length > 0">
      <div class="row mt-1-5rem">
        <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
          <ng-select mdbInputDirective mdbValidate formControlName="contact" class="selectWrapper" [items]="listContact"
            bindLabel="label" bindValue="value" placeholder="Contact" (change)="selectContact($event)">
          </ng-select>
        </div>

        <!-- Progress -->
        <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
          <ng-container *ngIf="searchContact">
            <div class="col-12">
              <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
              </mdb-progress-bar>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <!-- COSIGNATORY -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="row">
          <!-- COSIGNATORY INPUT-->
          <div class="col-9 col-sm-10 col-lg-11">
            <div class="md-form form-sm mt-1rem mb-0rem">
              <img class="form-control-feedback"
                src="assets/images/img/icon-public-key-green-16h-proximax-sirius-wallet.svg" alt="" width="43"
                height="43">
              <input [maxlength]="configurationForm.privateKey.maxLength"
                [minlength]="configurationForm.privateKey.minLength" formControlName="cosignatory" required
                mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="text"
                id="cosignatory" class="form-control form-control-sm input-border"
                placeholder="Cosignatory Account public key " onkeyup="javascript:this.value=this.value.toLowerCase();">
              <!-- VALIDATION -->
              <mdb-error
                *ngIf="validateInput('cosignatory', '').invalid && (validateInput('cosignatory', '').dirty || validateInput('cosignatory', '').touched)">
                <span>Required field</span>
              </mdb-error>
            </div>
          </div>
          <!--SHOW CONTACT-->
          <ng-container>
            <div class="col-3 col-sm-2 col-lg-1 d-flex justify-content-center align-items-center pt-12px">
              <div [attr.disabled]="listContact.length === 0"
                class="background-gray-icons p-12px bord-rad-25px cursor-p"
                (click)="showContacts = (listContact.length > 0) ? !showContacts : showContacts"
                [title]="(!showContacts) ? 'Show contacts': 'Hide contacts'">
                <img class=" w-30px" [src]="(!showContacts && listContact.length === 0) ?
											'assets/images/img/icon-address-book-gray-28h-proximax-sirius-wallet.svg' :
											'assets/images/img/icon-address-green-book-16h-proximax-sirius-wallet.svg'
											">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Add cosignatory -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto d-flex justify-content-center">
        <button mdbBtn type="button" rounded="true" [disabled]="mdbBtnAddCosignatory" mdbWavesEffect
          class="background-btn-inverse pl-2rem pr-2rem" size="md" (click)="addCosignatory()">
          <span class="fs-1-2em color-blue-intermedio fw-700">(+) Add Cosignatory</span>
        </button>
      </div>
    </div>

    <!-- Msg information -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="box-transparent-border-orange m-0">
          <span class="fs-075rem w-b-a txt-a-center">Be sure to be part of the cosigner list. when you convert an
            account into a multiple signature, you lose control of it</span>
        </div>
      </div>
    </div>

    <!-- FEE -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12 text-center">
                  <span>Fee: <br></span>
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" alt="">
                  <span class="fs-09rem">{{ fee }}  XPX</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12 text-center">
                  <span>Lock fund fee: <br> </span>
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" alt="">
                  <span class="fs-09rem">{{amountFormatterSimple(feeLockfund)}} XPX</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Passowrd -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="md-form form-sm">
          <img class="form-control-feedback" src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg"
            alt="">
          <input [maxlength]="configurationForm.passwordWallet.maxLength"
            [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" required
            mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="password" id="password"
            class="form-control form-control-sm input-border" placeholder="Enter wallet password">
          <mdb-error
            *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
            <span>Required field</span>
          </mdb-error>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
            <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
              size="md" (click)="clearForm()">
              <span class="fs-1-2em color-white">Clear</span>
            </button>
          </div>
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
            <button [disabled]="convertAccountMultsignForm.invalid || cosignatoryList.length == 0" mdbBtn type="submit"
              rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem" size="md">
              <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                *ngIf="blockSend"></span>
              <span class="fs-1-2em color-white">Send</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <!-- </div>
  </div> -->
</div>
