<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark background-header-inverse z-depth-0"
  [containerInside]="false">
  <mdb-navbar-brand class="d-flex align-items-end">
    <a class="navbar-brand mr-05rem">
      <img src="assets/images/img/logo-proximax-sirius-wallet-beta.svg" height="33" class="d-inline-block align-top">
    </a>
    <span class="fs-08rem" style="color: #616161;">v{{version}}</span>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <ng-container *ngFor="let key of keyObject(itemsHeader)">
        <ng-container *ngIf="!itemsHeader[key]['rol']">
          <ng-container *ngIf="itemsHeader[key]['type'] === 'default' && itemsHeader[key]['show']">
            <li class="nav-item color-item-menu active">
              <a [routerLink]="[itemsHeader[key]['link']]" class="nav-link waves-light" mdbWavesEffect>
                <span class="item-menu fw-600">{{itemsHeader[key]['name'] | uppercase}}</span>
              </a>
            </li>
          </ng-container>

          <ng-container *ngIf="itemsHeader[key]['type'] === 'dropdown' && itemsHeader[key]['show']">
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                mdbWavesEffect>
                <span class="item-menu fw-600">{{itemsHeader[key]['name'] | uppercase}}</span>
                <span class="caret"></span>
              </a>

              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary {{itemsHeader[key]['class']}}"
                role="menu">
                <ng-container *ngFor="let k of keyObject(itemsHeader[key]['submenu'])">
                  <ng-container *ngIf="itemsHeader[key]['submenu'][k]['view']">
                    <a class="dropdown-item waves-light" mdbWavesEffect
                      [routerLink]="[itemsHeader[key]['submenu'][k]['link']]">
                      {{itemsHeader[key]['submenu'][k]['name'] | uppercase}}
                    </a>
                  </ng-container>
                </ng-container>
              </div>
            </li>
          </ng-container>
        </ng-container>
      </ng-container>

      <li class="nav-item color-item-menu active" (click)="showModal()">
        <a class="nav-link waves-light" mdbWavesEffect>
          <span class="item-menu fw-600">SIGN IN</span>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>


<div class="d-flex align-items-center">
  <div mdbModal #modalAuth="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAuth"
    aria-hidden="true">
    <div class="modal-dialog modal-md d-flex align-items-center" role="document">
      <div class="modal-content form-elegant bord-rad-1-5rem">
        <!-- <div class="modal-header text-center box-modal-white b-t-r-r-1-5rem b-t-l-r-1-5rem p-05rem">
          <span class="modal-title w-100" id="myModalLabel">
            <strong class="title-modal-blue">Auth</strong>
          </span>
        </div> -->

        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-8">
              <app-auth></app-auth>
            </div>

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-center mx-auto">
              <div class="row">
                <div class="col-11 background-header-grey pt-1rem pb-1rem mx-auto">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <img src="assets/images/img/icon-wallet-name-green-16h-proximax-sirius-wallet.svg" height="50">
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-03rem">
                      <span class="fw-600">Create Wallet</span>
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-1-3rem">
                      <span>Remember, your wallet always be in your local storage.</span>
                    </div>

                    <div class="col-12 d-flex justify-content-center mt-05rem">
                      <span>If you need access to other wallet please create a new one or import it.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
