<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark background-header-inverse z-depth-0"
  [containerInside]="false">
  <mdb-navbar-brand class="d-flex align-items-end">
    <div class="row">
      <div class="col-4">
        <a class="navbar-brand mr-05rem" href="#/home">
          <img src="assets/images/img/logo-two4one.svg" height="50" class="d-inline-block align-top">
        </a> 
      </div>
      <div class="col-8 d-flex d-flex align-items-center  justify-content-start pl-0px">
        <span class="" > 
          <p class="fs-1-1rem" style="color: #4e4d4d; margin-bottom:0rem">Two4one Wallet</p>
          <p class="fs-08rem" style="color: #616161; margin-bottom:0rem">v{{version}}</p>
        </span>
      </div>
    </div>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <ng-container *ngFor="let key of keyObject(itemsHeader)">
        <ng-container *ngIf="!itemsHeader[key]['rol']">
          <ng-container *ngIf="itemsHeader[key]['type'] === 'default' && itemsHeader[key]['show']">
            <li class="nav-item color-item-menu active">
              <a [routerLink]="[itemsHeader[key]['link']]" class="nav-link waves-light" mdbWavesEffect>
                <span class="item-menu">{{itemsHeader[key]['name']}}</span>
              </a>
            </li>
          </ng-container>

          <ng-container *ngIf="itemsHeader[key]['type'] === 'dropdown' && itemsHeader[key]['show']">
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                mdbWavesEffect>
                <span class="item-menu">{{itemsHeader[key]['name']}}</span>
                <span class="caret"></span>
              </a>

              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary {{itemsHeader[key]['class']}}"
                role="menu">
                <ng-container *ngFor="let k of keyObject(itemsHeader[key]['submenu'])">
                  <ng-container *ngIf="itemsHeader[key]['submenu'][k]['view']">
                    <a class="dropdown-item waves-light" mdbWavesEffect
                      [routerLink]="[itemsHeader[key]['submenu'][k]['link']]">
                      {{itemsHeader[key]['submenu'][k]['name']}}
                    </a>
                  </ng-container>
                </ng-container>
              </div>
            </li>
          </ng-container>
        </ng-container>
      </ng-container>

      <!-- <li class="nav-item color-item-menu active" (click)="showModal()">
        <a class="nav-link waves-light" mdbWavesEffect>
          <span class="item-menu">Sign In</span>
        </a>
      </li> -->
    </ul>
  </links>
</mdb-navbar>
