<div class="container mt-3rem mb-2rem animated fadeIn">
  <div class="row">
    <div class="col-12 col-md-8">
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey">{{paramsHeader.moduleName}}</span>
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey"> > </span>
      <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{paramsHeader.componentName}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class="mt-03rem mb-05rem">
    </div>
  </div>

  <!--TITLES -->
  <div class="row">
    <div class="col-11 col-md-10 col-lg-9 col-xl-8 d-flex justify-content-center mx-auto">
      <span class="fs-1-2rem">Wallet to delete:</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-2rem">
      <span class="fs-1-7rem fw-400 txt-a-center line-h-1-2em">{{wallet.name}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-11 col-md-10 col-lg-9 col-xl-8 d-flex justify-content-center mx-auto">
      <span class="fs-1-2rem">{{description}}:</span>
    </div>
  </div>

  <!-- TABLE LIST ACCOUNTS -->
  <div class="row">
    <div class="col-11 col-md-10 col-lg-9 col-xl-8 d-flex justify-content-center mx-auto">
      <div class="table-responsive" style="max-height: 200px; overflow: auto; ">
        <table mdbTable hover="true" striped="true" class="z-depth-0 result">
          <tbody #tableResult>
            <tr mdbTableCol *ngFor="let account of wallet.accounts; let i = index">
              <td>
                <span class="fw-bold fs-1-2rem txt-a-center line-h-1-2em fw-600 mb-06rem">{{account.name}}</span>
                <br>
                <span class="fs-08rem txt-a-center line-h-1-2em  mb-06rem">{{
                  createFromRawAddress(account.address)}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- TEXT ALERT -->
  <div class="row mt-2rem">
    <div class="col-11 col-md-10 col-lg-9 col-xl-8 d-flex justify-content-center mx-auto">
      <span class="fs-1-5rem txt-a-center line-h-1-2em fw-400 mb-06rem">{{texAlert}}</span>
    </div>
  </div>

  <!--BUTTONS -->
  <div class="row mt-2rem">
    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
    <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
      [routerLink]="[routes.viewAllWallets]">
      <span class="color-white">Go Back</span>
    </button>
    </div>

    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
    <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
      [routerLink]="[routes.deleteWalletConfirm+wallet.name]">
      <span class="color-white">Proceed</span>
    </button>
    </div>
  </div>
</div>
