<ng-container *ngIf="mainAccount">
  <div class="container mt-3rem mb-2rem animated fadeIn">

    <!-- TITLE AND DESCRIPTION -->
    <div class="row">
      <div class="col-12 d-flex justify-content-center pt-2rem">
        <span class="fs-1-5rem fw-500 txt-a-center line-h-1-2em color-black">Please select a NIS1 account</span>
      </div>

      <div class="col-12 d-flex justify-content-center mt-04rem">
        <span class="fs-08rem txt-a-center line-h-1-2em">
          This is the list of attached accounts of the account you have imported
        </span>
      </div>

      <div class="col-12 col-md-8 mx-auto">
        <hr class="mt-05rem mb-06rem">
      </div>
    </div>
    <!-- END TITLE AND DESCRIPTION -->

    <!-- BOX -->
    <div class="row mt-1rem">
      <div class="col-11 col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto">
        <div class="row">
          <!-- MAIN ACCOUNT -->
          <div class="col-12 mx-auto box-grey">
            <div class="row">
              <div class="col-8 col-sm-9 col-md-10 word-break-all">
                <div>
                  <span class="color-black">{{ mainAccount.address.pretty() }}</span>
                </div>
                <div>
                  <span class="color-black fw-bold">Balance:&nbsp;</span>
                  <span class="color-black fw-bold" *ngIf="mainAccount.balance"> {{ mainAccount.balance }} XPX</span>
                  <span class="color-black fw-bold" [innerHTML]="getQuantity('0.000000')"></span>
                  <img src="./assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" class="ml-1rem"
                    width="20px" alt="logo">
                </div>
              </div>

              <div class="col-4 col-sm-3 col-md-2 text-center w-e-nowrap d-flex align-items-center"
                *ngIf="mainAccount.balance">
                <span class="color-blue-intermedio font-small cursor-p" (click)="mainAccountSelected()">Select ></span>
              </div>
            </div>
          </div>

          <!-- MULTISIG ACCOUNT -->
          <ng-container *ngFor="let multisigAccounts of mainAccount.multisigAccountsInfo">
            <div class="col-12 mx-auto box-grey">
              <div class="row">
                <div class="col-8 col-sm-9 col-md-10 word-break-all">
                  <div>
                    <span class="color-black">{{ multisigAccounts.address }}&nbsp;&nbsp;</span>
                    <span class="title-tab-blue">
                      <i>-Multisig </i>
                    </span>
                  </div>
                  <div>
                    <span class="color-black fw-bold">Balance:&nbsp;</span>
                    <span class="color-black fw-bold" *ngIf="mainAccount.balance"> {{ mainAccount.balance }} XPX</span>
                    <span class="color-black fw-bold" [innerHTML]="getQuantity(multisigAccounts.balance)"></span>
                    <img src="./assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" class="ml-1rem"
                      width="20px" alt="logo">
                  </div>
                </div>

                <div class="col-4 col-sm-3 col-md-2 text-center w-e-nowrap d-flex align-items-center">
                  <span class="color-blue-intermedio font-small cursor-p" (click)="mainAccountSelected()">
                    Select >
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- BUTTON -->
    <div class="row">
      <div class="col-11 col-xl-10 mx-auto d-flex justify-content-center pt-2rem pb-1rem">
        <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
          [routerLink]="[routeGoBack]">
          <span class="fs-1-2em color-white">Go Home</span>
        </button>
      </div>
    </div>
  </div>
</ng-container>
