<!-- <div class="row mt-1rm">
    <div class="col-12">
        <div class="table-responsive ">
            <table class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th class="text-mild">#</th>
                        <th class="text-mild">Account</th>
                        <th class="text-mild">Amount</th>
                        <th class="text-mild">Date</th>
                    </tr>
                </thead>
            </table>
        </div>
        <ng-container *ngFor="let item of items; let i=index">
            <table class="table table-hover table-borderless">
                <tbody>
                    <tr (click)="index.toggle() " aria-controls="true">
                        <th class="text-mild-child" scope="row">{{item.valor}}</th>
                        <td class="text-mild-child">Mark</td>
                        <td class="text-mild-child">Otto</td>
                        <td class="text-mild-child">@mdo</td>
                    </tr>
                </tbody>
            </table>

            <div class="" mdbCollapse [isCollapsed]="true" #index="bs-collapse">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
        </ng-container>
    </div>
</div> -->
<!--
<table mdbTable>
    <thead>
        <tr>
            <th class="text-mild">#</th>
            <th class="text-mild">Account</th>
            <th class="text-mild">Amount</th>
            <th class="text-mild">Date</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of items; let i=index">
            <tr mdbTableCol (click)="index.toggle() " aria-controls="true">
                <td class="text-mild-child">Mark</td>
                <td class="text-mild-child">Mark</td>
                <td class="text-mild-child">Otto</td>
                <td class="text-mild-child">@mdo</td>
            </tr>

            <div class="" mdbCollapse [isCollapsed]="true" #index="bs-collapse">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
        </ng-container>
    </tbody>
</table> -->

<!-- Table  -->
<table class="table" mdbTable striped="true">
  <!-- Table head -->
  <thead>
      <tr>
          <th>#</th>
          <th>
              <mdb-icon icon="location-arrow" class="mr-1 blue-text" aria-hidden="true"></mdb-icon>Account
          </th>
          <th>
              <mdb-icon icon="dollar" class="mr-1 teal-text" aria-hidden="true"></mdb-icon>Amount</th>
          <th>
              <mdb-icon icon="calendar-check-o" class="mr-1 indigo-text" aria-hidden="true"></mdb-icon>Date</th>
      </tr>
  </thead>
  <!-- Table head -->

  <!-- Table body -->
  <tbody>
      <tr (click)="basicModal.show()">
          <th scope="row">1</th>
          <td>TCFWMP-2M2HP4-3KJYGO-BDVQ3S-KX3Q6H-FH6GDV-3B21</td>
          <td>10000000</td>
          <td>Sat, 24 Jan 2018 18:24:00</td>
      </tr>
      <tr (click)="basicModal.show()">
          <th scope="row">2</th>
          <td>TBFWMP-2M2HP4-3KJYGO-BDVQ3S-KX3Q6H-FH6GDV-3B24</td>
          <td>30000000</td>
          <td>Sat, 24 Jan 2018 18:24:00</td>
      </tr>
      <tr (click)="basicModal.show()">
          <th scope="row">3</th>
          <td>TDFWMP-2M2HP4-3KJYGO-BDVQ3S-KX3Q6H-FH6GDV-3B25</td>
          <td>50000000</td>
          <td>Sat, 24 Jan 2018 18:24:00</td>
      </tr>
      <tr (click)="basicModal.show()">
          <th scope="row">4</th>
          <td>TAFWMP-2M2HP4-3KJYGO-BDVQ3S-KX3Q6H-FH6GDV-3B26</td>
          <td>90000000</td>
          <td>Sat, 24 Jan 2018 18:24:00</td>
      </tr>
  </tbody>
  <!-- Table body -->
</table>
<!-- Table  -->

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
      <!--Content-->
      <div class="modal-content">
          <!--Header-->
          <div class="modal-header background-proxiwallet">
              <p class="heading lead" style="font-weight: 500;">Transfer info</p>
              <button type="button" class="close" data-dismiss="modal" (click)="basicModal.hide()">
                  <span aria-hidden="true" class="white-text">&times;</span>
              </button>
          </div>

          <!--Body-->
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-3">
                      <span class="fs-08rem"><b>From:</b></span>
                  </div>
                  <div class="col-md-9">
                      <span class="fs-08rem">TCFWMP-2M2HP4-3KJYGO-BDVQ3S-KX3Q6H-FH6GDV-3B21</span>
                  </div>
              </div>

              <div class="mt-3">
                  <div class="row">
                      <div class="col-md-3">
                          <span class="fs-08rem"><b>To:</b></span>
                      </div>
                      <div class="col-md-9">
                          <span class="fs-08rem">TCFWMP-2M2HP4-3KJYGO-BDVQ3S-KX3Q6H-FH6GDV-3AG4</span>
                      </div>
                  </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-3">
                      <span class="fs-08rem"><b>Amount:</b></span>
                  </div>
                  <div class="col-md-9">
                      <span class="fs-08rem">10000000</span>
                  </div>
              </div>

              <div class="mt-3">
                  <div class="row">
                      <div class="col-md-3">
                          <span class="fs-08rem"><b>Fee:</b></span>
                      </div>
                      <div class="col-md-9">
                          <span class="fs-08rem">0.010000</span>
                      </div>
                  </div>
              </div>
              <hr>
              <div class="mt-3">
                  <div class="row">
                      <div class="col-md-3">
                          <span class="fs-08rem"><b>Message:</b></span>
                      </div>
                      <div class="col-md-9">
                          <span class="fs-08rem">d5f459a6e252d307c98545f0f0008919</span>
                      </div>
                  </div>
              </div>
              <hr>
              <div class="mt-3">
                  <div class="row">
                      <div class="col-md-3">
                          <span class="fs-08rem"><b>Mosaic:</b></span>
                      </div>
                      <div class="col-md-9">
                          <span class="fs-08rem">proximax:xpx</span>
                      </div>
                  </div>
              </div>
              <div class="mt-3">
                  <div class="row">
                      <div class="col-md-3">
                          <span class="fs-08rem"><b>Hash:</b></span>
                      </div>
                      <div class="col-md-9">
                          <span class="fs-08rem">ebab2dd677f85036d0a1d09e3655701d6fa3ec5810fb4ef1cd9b7b7889c895dee13608a7bc1d1206ac338c7d9edeeb9e</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--/.Content-->
  </div>
</div>
