<div class="container mt-3rem mb-1rem animated fadeIn">
  <div class="row">
    <div class="col-12 col-md-8">
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey">{{moduleName}}</span>
      <span class="fs-1rem txt-a-center line-h-1-2em color-grey"> > </span>
      <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">{{componentName}}</span>
    </div>

    <div class="col-12 col-md-4 d-flex justify-content-start justify-content-md-end">
      <span (click)="basicModal.show()"
        class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio cursor-p">
        <span>Add new contact</span>
      </span>
      <div class="col-2 d-flex justify-content-center">
        <div class="col-6">
          <div class="line-separator h-100porcent"></div>
        </div>
      </div>
      <a class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio" [routerLink]="[goBack]">
        <span>Back to Services</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class="mt-03rem mb-05rem">
    </div>
  </div>
</div>

<!-- HEADER SEARCH -->
<div class="container-fluid background-header-grey pb-1rem pt-1rem">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row">
        <!-- Keyword or number -->
        <div class="col-12 col-lg-10 mx-auto d-flex align-items-center pt-05rem">
          <input [(ngModel)]="searchContact" type="text" autocomplete="off" id="searchTransaction" class="form-control"
            mdbInputDirective [validateSuccess]="false" [validateError]="false" placeholder="Keyword or number">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Progress bar -->
<div class="row">
  <div class="col-12">
    <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate" *ngIf="searching">
    </mdb-progress-bar>
  </div>
</div>

<div class="container">
  <div class="row mt-2rem">
    <div class="col-12 mx-auto">
      <div class="table-responsive table-hover">
        <table mdbTable #tableEl="mdbTable" id="mdbTable" striped="true"
          class="table table-hover table-bordered table-hover table-sm z-depth-0" cellspacing="0" width="100%"
          borderless="true">

          <!--Table head-->
          <thead>
            <tr class="header-backg">
              <ng-container *ngFor="let head of headElements; let i = index">
                <th scope="col" class="text-center fw-400 th-sm">{{head}}</th>
              </ng-container>
            </tr>
          </thead>

          <!--Table body-->
          <tbody class="background-white">
            <ng-container *ngFor="let contact of contacts; let i = index">
              <tr class="mouse-pointer">
                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                  class="th-sm text-center" scope="row description-dark-green">{{contact.label}}</th>
                <td class="text-center th-sm description-dark-green"
                  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                  {{contact.value}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                  <span class="table-remove text-center d-flex justify-content-center">
                    <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                      (click)="remove(contact.label)">Remove</button>
                  </span>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="contacts.length === 0 && !searching">
              <tr>
                <td colspan="3" class="txt-a-center">nothing to show</td>
              </tr>
            </ng-container>
          </tbody>

          <tfoot class="lighten-5 w-100">
            <tr>
              <td colspan="5">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="contacts">
                </mdb-table-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
  <!-- MODAL -->
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <!-- <div class="d-flex align-items-center" style="height: 100%"> -->
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content form-elegant b-r-08rem">
        <div class="modal-header text-center box-modal-grey b-t-r-r-08rem b-t-l-r-08rem">
          <h6 class="modal-title w-100 dark-grey-text" id="myModalLabel">
            <strong class="title-modal-grey">ADD CONTACT</strong>
          </h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
            <div class="modal-body mx-4">

              <div class="row">
                <div class="col-11 col-sm-10 col-lg-8 mx-auto">
                  <div class="md-form form-sm">
                    <input formControlName="user" required mdbInputDirective mdbValidate [validateSuccess]="true"
                      [validateError]="true" type="text" id="user" class="form-control form-control-sm input-border"
                      placeholder="User">

                    <!-- VALIDATION -->
                    <mdb-error
                      *ngIf="validateInput('user', '').invalid && (validateInput('address', '').dirty || validateInput('address', '').touched)">
                      <span>Input invalid</span>
                    </mdb-error>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-11 col-sm-10 col-lg-8 mx-auto">
                  <div class="md-form form-sm">
                    <input formControlName="address" required mdbInputDirective mdbValidate [validateSuccess]="true"
                      [validateError]="true" type="text" id="address" class="form-control form-control-sm input-border"
                      placeholder="address">

                    <!-- VALIDATION -->
                    <mdb-error
                      *ngIf="validateInput('address', '').invalid && (validateInput('address', '').dirty || validateInput('address', '').touched)">
                      <span>Input invalid</span>
                    </mdb-error>
                  </div>
                </div>
              </div>
              <!-- BUTTONS -->
              <div class="row">
                <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
                  <button mdbBtn type="button" rounded="true" mdbWavesEffect
                    class="f-w-600 background-btn pl-2rem pr-2rem" size="md" (click)="clearForm()">
                    <span class="fs-1-2em color-white">CLEAR</span>
                  </button>
                </div>

                <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                  <button mdbBtn type="submit" rounded="true" mdbWavesEffect [disabled]="!contactForm.valid"
                    class="f-w-600 background-btn pl-2rem pr-2rem" size="md">
                    <span class="fs-1-2em color-white">CREATE</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>