<div class="container mt-11rem mb-3rem animated fadeIn">
  <div class="row">
    <div class="col-11 col-sm-12 col-lg-10 mx-auto">

      <!-- Title and Divir -->
      <div class="row">
        <div class="col-11 col-sm-11 col-lg-10 mx-auto">
          <span class="d-flex justify-content-center align-items-center wallet-name">
            <img class="mr-05rem h2-3em" src="assets/images/img/icon-directory-white.svg" alt="">
            <span class="f-w-bold fs-1-5rem title-module">Directory</span>
          </span>
        </div>
        <div class="col-12 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>

      <!-- New or enter data and search -->
      <div class="row">
        <div class="col-6 col-sm-4 col-md-3 d-flex justify-content-center align-items-center">
          <button (click)="basicModal.show()" mdbBtn type="button" rounded="true" mdbWavesEffect
            class="f-w-600 btn-dark-green-prx" size="md">
            <span><i class="fa fa-user" aria-hidden="true"></i> NEW</span>
          </button>
        </div>

        <div class="col-6 col-sm-8 col-md-9">
          <div class="row">
            <div class="col-12 box-form pt-0 pb-0">
              <div class="md-form" id="containerSearch">
                <input [(ngModel)]="searchContact" type="text" autocomplete="off" id="searchContact"
                  class="form-control" mdbInputDirective [validateSuccess]="false" [validateError]="false">
                <label for="searchContact">Filter Contact</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Second divisor -->
      <div class="row">
        <div class="col-12 mx-auto">
          <hr class="background-divisor">
        </div>
      </div>


      <!-- Results -->
      <ng-container *ngIf="searchContact !== ''">
        <div class="row mt-1rem mb-1rem">
          <div class="col-12 d-flex justify-content-center align-items-center" id="titleCantResults">
            <h5 class="f-w-bold color-dark-green">{{contacts.length}} results for "Search contacts"</h5>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Progress bar -->
  <div class="row">
    <div class="col-12">
      <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate" *ngIf="searching">
      </mdb-progress-bar>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-12 col-lg-10 d-flex justify-content-center">
      <div class="table-responsive table-hover">
        <table mdbTable #tableEl="mdbTable" id="mdbTable" striped="true"
          class="table table-hover table-bordered table-hover table-sm z-depth-0" borderless="true">
          <!--Table head-->
          <thead>
            <tr class="header-backg">
              <ng-container *ngFor="let head of headElements; let i = index">
                <th scope="col" class="text-center fw-400">{{head}}</th>
              </ng-container>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody class="background-white">
            <ng-container *ngFor="let contact of contacts; let i = index">
              <tr class="mouse-pointer">
                <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                  class="th-sm text-center" scope="row description-dark-green">{{contact.label}}</th>
                <td class="text-center th-sm description-dark-green"
                  *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                  {{contact.value}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                  <span class="table-remove text-center d-flex justify-content-center">
                    <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                      (click)="remove(contact.label)">Remove</button>
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>

          <tfoot class="lighten-5 w-100">
            <tr>
              <td colspan="5">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="contacts">
                </mdb-table-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content form-elegant b-r-08rem">
      <div class="modal-header text-center box-modal-grey b-t-r-r-08rem b-t-l-r-08rem">
        <h6 class="modal-title w-100 dark-grey-text" id="myModalLabel">
          <strong class="title-modal-grey">Add contact</strong>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
        <div class="modal-body mx-4">

          <div class="row box-form mt-1rem pt-0 pb-0">
            <div class="col-12 col-lg-11">
              <div class="row">
                <div
                  class="col-3 col-sm-2 col-md-1 d-flex align-items-center justify-content-end justify-content-sm-end">
                  <img class="h1-5em" src="assets/images/img/icon-account-white.svg" alt="">
                </div>

                <div class="col-9 col-sm-10 col-md-11">
                  <div class="md-form">
                    <input formControlName="user" type="text" autocomplete="off" required id="user" class="form-control"
                      mdbInputDirective data-success="Valid user" [errorMessage]="getError('user')">
                    <label for="recipient">User</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row box-form mt-1rem pt-0 pb-0">
            <div class="col-12 col-lg-11">
              <div class="row">
                <div
                  class="col-3 col-sm-2 col-md-1 d-flex align-items-center justify-content-end justify-content-sm-end">
                  <img class="h1-5em" src="assets/images/img/icon-account-white.svg" alt="">
                </div>

                <div class="col-9 col-sm-10 col-md-11">
                  <div class="md-form">
                    <input formControlName="address" type="text" autocomplete="off" required id="acountRecipient"
                      class="form-control" mdbInputDirective data-success="Valid recipient"
                      [errorMessage]="getError('address')">
                    <label for="recipient">Address</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-1rem mb-1rem">
            <div class="col-6 t-a-r">
              <button mdbBtn type="button" size="sm" rounded="true" mdbWavesEffect class="f-w-600 btn-white"
                (click)="clearForm()">
                CLEAR
              </button>
            </div>
            <div class="col-6">
              <button mdbBtn type="submit" size="sm" rounded="true" mdbWavesEffect class="f-w-600 btn-dark-green-prx">
                Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
