table {
   width: 100%;
 }
 
 tr.detail-row {
   height: 0;
 }
 
 tr.element-row:not(.example-expanded-row):hover {
   background: #f5f5f5;
 }
 
 tr.element-row:not(.example-expanded-row):active {
   background: #efefef;
 }
 
 .element-row td {
   border-bottom-width: 0;
 }
 
 .element-detail {
   overflow: hidden;
   display: flex;
 }
 

