table td {
    font-size: .7rem;
    font-weight: 3000;
}

.isPrimary{
    color: white !important;
    background-color: #2aa1b9 !important;
  }


  input
{
    padding-right: 0.7rem!important;

}
.padding {
    padding-left: 2rem !important; 
    padding-right: 3rem  !important;
}