<div class="row">
  <div class="col-12">
    <div class="row">
      <!-- Lock name -->
      <div class="col-12">
        <span class="fw-600 fs-1-2rem">{{transactionLock.nameType}}</span>
      </div>

      <!-- Timestamp -->
      <div class="col-12" *ngIf="transactionLock?.timestamp">
        <span class="color-black fs-07rem fw-500 w-w-b-w">{{transactionLock?.timestamp}}</span>
      </div>

      <!-- Fee -->
      <div class="col-12 mt-1rem">
        <span class="fw-600 fs-095rem">Effective Fee:&nbsp;&nbsp;</span>
        <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg">
        <span class="fs-095rem color-black">{{transactionLock?.feePart.part1}}</span>
        <span class="fs-075rem color-black">{{transactionLock?.feePart.part2}}</span>
        <span class="fs-095rem color-black"> XPX </span>
      </div>

      <!-- Type -->
      <div class="col-12 mt-03rem">
        <span class="fw-600 fs-08rem">Type:&nbsp;&nbsp;</span>
        <span class="fs-07rem w-w-b-w">{{transactionLock?.data['type'].toString(16).toUpperCase()}}</span>
      </div>

      <!-- duration -->
      <div class="col-12 mt-03rem">
        <span class="fw-600 fs-08rem">Duration:&nbsp;&nbsp;</span>
        <span class="fs-07rem w-w-b-w">{{transactionLock?.data['duration'].compact()}} blocks</span>
      </div>

      <!-- Hash lock transaction -->
      <div class="col-12 mt-05rem line-h-1em">
        <span class="fw-600 fs-08rem">Hash Lock Transaction: <br></span>
        <span class="fs-07rem w-w-b-w">{{transactionLock?.data['hash']}}</span>
      </div>

      <!-- MOSAICS INFO-->
      <div class="col-12 mt-1rem mb-1rem">
        <app-mosaics-info (changeSearch)="searching = false;" [mosaicsArray]="[transactionLock.data['mosaic']]"
          [transferTransaction]="transactionLock">
        </app-mosaics-info>
      </div>
    </div>
  </div>
</div>
