<li>
    <ul class="social">
      <li>
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a class="icons-sm pin-ic">
          <i class="fa fa-pinterest"></i>
        </a>
      </li>
      <li>
        <a class="icons-sm gplus-ic">
          <i class="fa fa-google-plus"> </i>
        </a>
      </li>
      <li>
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter"> </i>
        </a>
      </li>
    </ul>
  </li>