<div class="container mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>
  <div class="col-11 col-lg-10 mx-auto">
    <!-- name -->
    <div class="row">
      <div class="col-12 mx-auto d-flex align-items-center box-grey">
        <div class="col-12">
          <span> Name: </span>
          <br>
          <span class="font-small d-flex">{{accountName}}</span>
        </div>

      </div>
    </div>
    <!-- address -->
    <div class="row">
      <div class="col-12 mx-auto d-flex align-items-center box-grey">
        <div class="col-10">
          <span> Address: </span>
          <br>
          <span class="font-small d-flex">{{address}}</span>
        </div>
        <div class="col-2 text-right">
          <img src="assets/images/img/icon-copy-clipboard-gray-proximax-sirius-wallet.svg" class="cursor-p" alt="Copy"
            width="20" (click)="copyMessage('Address')" ngxClipboard [cbContent]="address">
        </div>
      </div>
    </div>

    <!-- public key -->
    <ng-container *ngIf="accountValid">
      <div class="row">
        <div class="col-12 mx-auto d-flex align-items-center box-grey">
          <div class="col-10">
            <span> Public key: </span>
            <br>
            <span class="font-small d-flex ">{{ publicKey }}</span>
          </div>
          <div class="col-2 text-right">
            <img src="assets/images/img/icon-copy-clipboard-gray-proximax-sirius-wallet.svg" class="cursor-p" alt="Copy"
              width="20" (click)="copyMessage('Public key')" ngxClipboard [cbContent]="publicKey">
          </div>
        </div>
      </div>
    </ng-container>
      <!-- TEXT ALERT -->
      <div class="row mt-2-5rem">
        <div class="col-11 col-md-10 col-lg-9 col-xl-8 d-flex justify-content-center mb-1rem mx-auto">
          <span class="fs-1-5rem txt-a-center line-h-1-2em  mb-06rem">{{texAlert}}</span>
        </div>
      </div>

      <!--BUTTONS -->
      <div class="row mt-2rem d-flex justify-content-center">
        <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem" size="md"
          [routerLink]="[routes.viewAllAccount]">
          <span class="fs-1-2em color-white"> <i class="fa fa-chevron-circle-right"></i> GO BACK</span>
        </button>

        <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem" size="md"
          [routerLink]="[routes.deleteAccountConfirm+accountName]">
          <span class="fs-1-2em color-white"><i class="fa fa-chevron-circle-right"></i> YES, PROCEED</span>
        </button>
      </div>
  </div>