<div>
  <!-- ACCOUNTS LIST -->
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8 mx-auto">
      <div class="col-12 d-flex justify-content-center pt-2rem">
        <span class="fs-1rem fw-500 txt-a-center line-h-1-2em color-black">NIS1 Account Selected</span>
      </div>
      <div class="row">
        <div class="col-10 col-sm-12 col-md-12 mx-auto d-flex align-items-center box-grey">
          <div class="row">
            <div class="col-12 col-md-10">
              <div class="row">
                <span class="color-black fw-bold">{{ accountSelected.nameAccount }}&nbsp;</span>
                <span class="d-flex color-black fw-bold">NIS1 Address: </span><span>{{ accountSelected.address.pretty()
                  }}</span>
                <span class=" color-black fw-bold">NIS1 Balance: <span
                    class="spinner-border spinner-border-sm text-light mr-sm-2 loading-blue" role="status"
                    aria-hidden="true" *ngIf="searchBalance"></span> {{ quantity }} XPX <img
                    src="./assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" class="ml-1rem"
                    width="20px" alt="logo"></span>
              </div>
              <div class="col-12 col-md-2 text-center" *ngIf="changeAccount">
                <button mdbBtn mdbWavesEffect (click)="goToList()"
                  class="color-white f-w-600 bord-rad-25px font-small background-btn p-05rem">CHANGE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form [formGroup]="formTransfer" (ngSubmit)="createTransaction()">
      <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8 mx-auto">
        <div class="col-12 d-flex justify-content-center pt-1rem">
          <span class="fs-1rem fw-500 txt-a-center line-h-1-2em color-black">Swap Amount</span>
        </div>
        <div class="row">
          <!-- ACCOUNT TO SWAP -->
          <div class="col-10 col-sm-12 col-md-12 mx-auto" *ngIf="accountSelected.multiSign">
            <ng-select mdbInputDirective mdbValidate class="selectWrapper" [items]="listContacts" bindLabel="label"
              bindValue="value" placeholder="Select an account to transfer this assets"
              (change)="selectContact($event)">
            </ng-select>
          </div>

          <div class="col-10 col-sm-12 col-md-12 mx-auto" *ngIf="accountSelected.multiSign">
            <div class="md-form form-sm mt-1rem mb-0rem d-flex align-items-center">
              <input mdbInputDirective mdbValidate [validateSuccess]="true" readonly [validateError]="true" type="text"
                class="form-control form-control-sm input-border" style="border: 2px solid #306EB5;"
                placeholder="Account selected" formControlName="accountRecipient">
            </div>
          </div>

          <!-- INPUT AMOUNT TO SWAP -->
          <div class="col-10 col-sm-12 col-md-12 mx-auto">
            <div class="md-form form-sm mt-1rem mb-0rem">
              <img class="form-control-feedback"
                src="assets/images/img/icon-amount-green-16h-proximax-sirius-wallet.svg" alt="">
              <input pattern="^[+]?([0-9]*[.])?[0-9]+$" currencyMask [options]="optionsXPX" mdbInputDirective
                mdbValidate [validateSuccess]="true" [maxlength]="maxAmount"  id="amount{{errorAmount}}"
                [validateError]="true" type="text" class="form-control form-control-sm input-border input-amount"
                placeholder="Enter amount" formControlName="amountXpx">
              <span class="label-i fw-600 text-cl-m cursor-p pl-2rem" (click)="selectMaxAmount()">USE MAX</span>
            </div>
            <mdb-error *ngIf="insufficientBalance">
              <div class="errorText">
                <span class="fs-08rem color-error-message">Insufficient balance</span>
              </div>
            </mdb-error>
          </div>


          <!-- WALLET PASSWORD -->
          <div class="col-10 col-sm-12 col-md-12 mx-auto mb-2rem">
            <div class="md-form form-sm mt-1rem mb-0rem">
              <img class="form-control-feedback"
                src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
              <input [maxlength]="configurationForm.passwordWallet.maxLength"
                [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" required
                mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" type="password"
                id="password" class="form-control form-control-sm input-border" placeholder="Enter wallet password">

              <!-- VALIDATION -->
              <mdb-error
                *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                <span>Password required</span>
              </mdb-error>
            </div>
          </div>

          <div class="col-10 col-sm-12 col-md-12 mx-auto box-transparent-border-orange">
            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8 fs-075rem fw-bold mx-auto">
              Please note! Swap process may take several hours to complete. If you wish to proceed, you will receive a
              certificate containing your transaction hash for your records
            </div>
          </div>
        </div>
      </div>
      <!-- END ACCOUNT LIST -->

      <!-- BUTTON -->
      <div class="row mt-2rem">
        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
          <button mdbBtn type="button" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
            size="md" (click)="navToRoute()">
            <span class="fs-1-2em color-white">Maybe Later</span>
          </button>
        </div>

        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
          <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem"
            size="md" (click)="spinnerVisibility = true" [disabled]="blockButton || !formTransfer.valid">
            <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
              *ngIf="spinnerVisibility"></span>
            <span class="fs-1-2em color-white">Yes,Swap</span>
          </button>
        </div>
      </div>
      <!-- END BUTTON -->
    </form>
  </div>
</div>