/* mdb-select > div > div.single > div.clear, mdb-select > div > div.single > div.toggle {

   float: right;
   color: red !important;
   line-height: 2rem;
   text-align: center;
   width: 30px;
   position: absolute;
   right: 0;
   top: 50%;
   margin-top: -2px;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   font-size: 10px;

}

mdb-select > div > div.single {



   border-bottom: 1px solid #f90000 !important;
}

mdb-select > div > div.single > div.value, mdb-select > div > div.single > div.placeholder {

   color: #f90000!important;

} */
.md-form .prefix ~ mdb-select { margin-left: 3rem; width: 92%; width: -webkit-calc(100% - 2rem); width: calc(100% - 3rem); }

.btn-outline-default{
 border: 2px solid #d7b57a !important;
 background-color: transparent !important;
 color: #d5b479 !important
}

.btn-outline-default:hover, .btn-outline-default:focus, .btn-outline-default:active, .btn-outline-default:active:focus, .btn-outline-default.active{
 border: 2px solid #d7b57a !important;
 background-color: transparent !important;
 color: #d5b479 !important;
}



.counter-danger {

   border-bottom: 1px solid #F44336 !important;
   box-shadow: 0 1px 0 0 #F44336 !important;

}
.counter-danger {

   border-bottom: 1px solid #F44336 !important;
   box-shadow: 0 1px 0 0 #F44336 !important;

}

.counter-success {

   border-bottom: 1px solid #00c851 !important;
   box-shadow: 0 1px 0 0 #00c851 !important;

}