<app-header [params]="paramsHeader"></app-header>




<!-- MAIN VIEW< -->
<div *ngIf="!showViewsConfirm" class="container-fluid">
  <div class="row">
    <div class="col-11 col-md-10 mx-auto">
      <div class="row">
        <div class="col-8 d-flex justify-content-center flex-column mx-auto mb-1rem mt-1rem box-grey" mdbBtn
          mdbWavesEffect>
          <div class="row">
            <div class="col-12 d-flex justify-content-center mx-auto mb-1rem mt-1rem">
              <label class="d-flex justify-content-center mx-auto box-drop col-12" for="fileInput">
                <div class="row txt-a-center p-05rem cursor-p">
                  <div class="col-12">
                    <img class="mr-1rem h2em" src="assets/images/img/icon-upload-gray-28h-proximax-sirius-wallet.svg"
                      width="25">
                    <span class="fs-1-2em color-grey fw-600">Upload Gift Card Redeem</span>
                  </div>
                </div>
              </label>
              <input id="fileInput" #fileInput multiple [hidden]="true" type="file" (change)="fileChange($event.target.files,$event)">
            </div>
          </div>

          <div class="row" *ngIf="ourFile">
            <div class="col-12 d-flex m-0 p-5px justify-content-center mx-auto">
              <div class="col-12 color-black fs-075rem d-flex txt-a-center">
                <i class="fa fa-trash p-5px" aria-hidden="true" (click)="deleteOurFile()"></i>
                <p class="mb-0 p-5px word-break-all">{{ourFile.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SELECT ACCOUNT -->
      <form [formGroup]="redeemGift" (ngSubmit)="sendTransfer()">

        <div class="row">
          <div class="col-8 d-flex justify-content-center flex-column mx-auto">
            <ng-select mdbInputDirective mdbValidate [validateSuccess]="true" [searchable]="false" [clearable]="false"
              [validateError]="true" class="selectWrapper" [items]="currentAccounts" formControlName="selectAccount"
              bindLabel="label" placeholder="Select your account" (change)="selectAccount($event)">
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <b>{{item.label}}</b>
              </ng-template>
            </ng-select>
            <!-- VALIDATION -->
            <mdb-error class="ml-1rem">
              <span *ngIf="validateInput('selectAccount').invalid && (validateInput('selectAccount').dirty || validateInput('selectAccount').touched)"
                class="fs-08rem fw-600 color-error-message">Select your account</span>
            </mdb-error>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex mx-auto">
            <ng2-qrcode-reader (result)="render($event)" [qrr-show]="showQRCode" [qrr-value]="fileToUpload" [qrr-type]="elementType"></ng2-qrcode-reader>
          </div>
        </div>

        <!-- Searching and icon reload -->
        <div class="row mt-2rem mb-2rem" *ngIf="isProcessing">
          <div class="col-11 col-sm-11 col-lg-10 mx-auto">
            <!-- Searching -->
            <ng-container>
              <div class="col-12">
                <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
                </mdb-progress-bar>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- BUTTONS -->
        <div class="row">
          <div class="col-11 col-sm-6 d-flex justify-content-center justify-content-sm-end">
            <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md" (click)="clearForm()">
              <span class="fs-1-2em color-white">Clear</span>
            </button>
          </div>
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
            <button [disabled]="redeemGift.invalid || !ourFile" mdbBtn type="submit" rounded="true" mdbWavesEffect
              class="btn-proximax" size="md">
              <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true" *ngIf="reloadBtn"></span>
              <span class="fs-1-2em color-white">REDEEM</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-container *ngIf="showViewsConfirm">
  <app-confirm-redeem-gitf-card [recipientConfirm]="recipient" [giftDecodeConfirm]="giftDecode" (cancel)="cancelGift($event)"
    (accept)="acceptGift($event)"> </app-confirm-redeem-gitf-card>
</ng-container>