<app-header [params]="paramsHeader"></app-header>

<div class="container-fluid mb-2rem animated fadeIn">
  <form [formGroup]="editAccountMultsignForm" (ngSubmit)="editIntoMultisigTransaction()">

    <!-- ACCOUNT EDIT -->
    <div class="row mt-2rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="box-grey pt-1rem pb-1rem d-flex">
          <div class="row">
            <div class="col-12">
              <img class="w-30px" src="assets/images/img/icon-account-green-16h-proximax-sirius-wallet.svg">
              <span class="fw-600"> {{currentAccountToConvert.name}}</span>
              <span *ngIf="disable">
                &nbsp; <i title="On partial" style="color:#f2a917" class="fa fa-bell"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="disable">
      <div class="col-11 col-md-10 col-lg-8 mx-auto d-flex justify-content-start pt-05rem pb-05rem">

        <span class="fs-08rem">

            You cannot edit an account that has a partial transaction pending (<i title="partially" style="padding-right: 0px;" class="fa fa-bell color-light-orange"></i>).
        </span>

      </div>
    </div>
    <div class="row">
      <!-- COSIGNATORY ACCOUNT -->
      <ng-container *ngIf="consginerFirmList.length === 1">
        <div class="col-11 col-md-10 col-lg-8 mx-auto d-flex justify-content-start pt-05rem pb-05rem">
          <span class="fs-08rem fw-600">Cosignatory Account:&nbsp;</span>
          <span class="fs-08rem">{{consginerFirmAccount.address}}</span>
        </div>
      </ng-container>

      <!-- INSUFFICIENT BALANCE -->
      <ng-container *ngIf="consginerFirmList && consginerFirmList.length === 1 && consginerFirmList[0].disabled">
        <div class="col-11 col-md-10 col-lg-8 mx-auto d-flex justify-content-start pt-05rem pb-05rem">
          <span class="fs-08rem fw-600 color-error-message">
            Cosignatory {{consginerFirmList[0].info}}
          </span>
        </div>
      </ng-container>
    </div>




    <!-- COSIGNATORY LIST  -->
    <div class="row gray-color-transparent pt-1rem pb-1rem mt-3rem">
      <div class="col-11 col-md-10 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-12">
            <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">Approved Cosignatories</span>
          </div>
          <ng-container *ngFor="let cosign of cosignatoryList">
            <div class="col-12 ">
              <span class="fs-07rem fw-600 txt-a-center ">
                <i [class.disabled]="isDisabledList" [style.color]="getColor(cosign.type)" (click)="deleteCosignatory(cosign.id ,cosign.disableItem, cosign.type)"
                  style="cursor: pointer;" class="fa fa-trash fs-1rem" aria-hidden="true"></i>
                {{cosign.publicAccount.address.plain()}}
              </span>
            </div>
          </ng-container>
          <ng-container *ngIf="cosignatoryList.length === 0">
            <div class="col-12">
              <span class="fs-07rem fw-600 txt-a-center">None</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- CONTACTS -->
    <ng-container *ngIf="showContacts && listContact.length > 0">
      <div class="row mt-1-5rem">
        <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
          <ng-select mdbInputDirective mdbValidate formControlName="contact" class="selectWrapper" [searchable]="false"
            [items]="listContact" bindLabel="label" bindValue="value" placeholder="Contact" (change)="selectContact($event)">
            <ng-template ng-option-tmp let-item="item" let-index="index">

              <ng-container *ngIf="item.disabled">
                <b> <i class="fa fa-users"> </i>
                </b>&nbsp;
              </ng-container>

              <b>{{item.label}}</b>
            </ng-template>
          </ng-select>
        </div>


      </div>
    </ng-container>

    <!-- COSIGNATORY -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="row">
          <!-- COSIGNATORY INPUT-->
          <div class="col-9 col-sm-10 col-lg-11">
            <div class="md-form form-sm mt-1rem mb-0rem">
              <img class="form-control-feedback" src="assets/images/img/icon-public-key-green-16h-proximax-sirius-wallet.svg"
                alt="" width="43" height="43">
              <input [maxlength]="configurationForm.privateKey.maxLength" [minlength]="configurationForm.privateKey.minLength"
                formControlName="cosignatory" required mdbInputDirective mdbValidate [validateSuccess]="true"
                [validateError]="true" type="text" id="cosignatory" class="form-control form-control-sm input-border"
                placeholder="Cosignatory Account Public Key " onkeyup="javascript:this.value=this.value.toLowerCase();">
              <!-- VALIDATION -->
              <mdb-error *ngIf="validateInput('cosignatory', '').invalid && (validateInput('cosignatory', '').dirty || validateInput('cosignatory', '').touched)">
                <span>Required Field</span>
              </mdb-error>
            </div>
          </div>
          <!--SHOW CONTACT-->
          <ng-container>
            <div class="col-3 col-sm-2 col-lg-1 d-flex justify-content-center align-items-center pt-12px">
              <div [attr.disabled]="listContact.length === 0" class="background-gray-icons p-12px bord-rad-25px cursor-p"
                (click)="showContacts = (listContact.length > 0) ? !showContacts : showContacts" [title]="(!showContacts) ? 'Show contacts': 'Hide contacts'">
                <img class=" w-30px" [src]="(!showContacts && listContact.length === 0) ?
                        'assets/images/img/icon-address-book-gray-28h-proximax-sirius-wallet.svg' :
                        'assets/images/img/icon-address-green-book-16h-proximax-sirius-wallet.svg'
                        ">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Add cosignatory -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto d-flex justify-content-center">
        <button mdbBtn type="button" rounded="true" [disabled]="mdbBtnAddCosignatory" mdbWavesEffect class="background-btn-inverse pl-2rem pr-2rem"
          size="md" (click)="addCosignatory()">
          <span class="fs-1-2em color-blue-intermedio fw-700">(+) Add Cosignatory</span>
        </button>
      </div>
    </div>

    <!-- Progress -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <ng-container *ngIf="searchContact">
          <div class="col-12">
            <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate">
            </mdb-progress-bar>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- MIN APPROVA  AND  MIN REMOVE -->
    <div class="row mt-3rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="row">
          <!-- MIN APPROVA -->
          <div class="col-12 col-md-4 mb-1-5rem d-flex justify-content-center">
            <div class="row">
              <div class="col-12 col-md-8 d-flex align-items-center">
                Minimum Cosignatories to:
              </div>
              <div class="d-none d-sm-none d-md-block">
                <div class="col-md-4 d-flex align-items-center">
                  <i class="fa fa-angle-right fs-3rem" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- MIN APROVE -->
          <div class="col-6 col-md-4 mb-1-5rem d-flex align-items-end justify-content-center">
            <div class="row">
              <div class="col-12 text-center">Approve Transaction</div>
              <div class="col-12">
                <div class="md-form form-sm mt-03rem mb-0rem">
                  <input (keypress)="preventNumbers($event)" max="{{minApprovaMaxLength}}" min="{{minApprovaMinLength}}"
                    formControlName="minApprovalDelta" required mdbInputDirective mdbValidate [validateSuccess]="true"
                    [validateError]="true" type="number" id="minApprovalDelta" class="form-control form-control-sm input-border text-center"
                    placeholder="Min Approval" onkeyup="javascript:this.value=this.value.toLowerCase();">

                  <!-- <ng-container *ngIf="isMultisig">
                      <span class="fs-06rem fw-600 pl-1rem">Min Approv: &nbsp;</span>
                      <span class="fs-06rem">{{accountInfo.multisigInfo.minApproval}}</span>
                    </ng-container> -->

                  <!-- VALIDATION -->
                  <mdb-error *ngIf="validateInput('minApprovalDelta', '').invalid && (validateInput('minApprovalDelta', '').dirty || validateInput('minApprovalDelta', '').touched)">
                    <span>Invalid Value</span>
                  </mdb-error>
                </div>
              </div>
            </div>
          </div>

          <!-- MIN REMOVE-->
          <div class="col-6 col-md-4 mb-1-5rem d-flex align-items-end justify-content-center">
            <div class="row margin-rem0">
              <div class="col-12 text-center">Delete Users</div>
              <div class="col-12">
                <div class="md-form form-sm mt-03rem mb-0rem">
                  <input (keypress)="preventNumbers($event)" max="{{minApprovaMaxLength}}" min="{{minApprovaMinLength}}"
                    formControlName="minRemovalDelta" required mdbInputDirective mdbValidate [validateSuccess]="true"
                    [validateError]="true" type="number" id="minRemovalDelta" class="form-control form-control-sm input-border text-center"
                    placeholder="Min Removal" onkeyup="javascript:this.value=this.value.toLowerCase();">
                  <!-- <ng-container *ngIf="isMultisig">
                      <span class="fs-06rem fw-600 pl-1rem">Min Removal: &nbsp;</span>
                      <span class="fs-06rem">{{accountInfo.multisigInfo.minRemoval}}</span>
                    </ng-container> -->
                  <!-- VALIDATION -->
                  <mdb-error *ngIf="validateInput('minRemovalDelta', '').invalid && (validateInput('minRemovalDelta', '').dirty || validateInput('minRemovalDelta', '').touched)">
                    <span>Invalid Value</span>
                  </mdb-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <!-- COSIGNATORIES -->
    <ng-container *ngIf="consginerFirmList.length > 1  && showConsginerFirmList">
      <div class="row mt-1-5rem">
        <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
          <ng-select mdbInputDirective mdbValidate [clearable]="false" class="selectWrapper" [items]="consginerFirmList"
            bindLabel="label" labelForId="cosignatorieSign" bindValue="value" placeholder="Cosignatorie sign"
            formControlName="cosignatorieSign" (change)="selectCosignatorieSign($event)">

            <ng-template ng-option-tmp let-item="item" let-index="index">
              <b>{{item.label}}</b> &nbsp;<b class="color-error-message">{{item.info}}</b>
            </ng-template>
            <ng-template ng-footer-tmp>
              <span class="fs-08rem color-error-message">
                Cosignatory has sufficient balance ({{amountFormatterSimple(totalFee)}} XPX) to cover LockFund Fee
              </span>

            </ng-template>
          </ng-select>

        </div>
      </div>
    </ng-container>

    <!-- FEE -->
    <!-- <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12 text-center">
                  <span>Unconfirmed/Recommended Fee: <br></span>
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" alt="">
                  <span class="fs-09rem">{{amountFormatterSimple(feeTransaction)}} XPX </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12 text-center">
                  <span>Lockfund: <br> </span>
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" alt="">
                  <span class="fs-09rem">{{amountFormatterSimple(feeLockfund)}} XPX</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-12 col-md-6 mx-auto">
            <div class="box-grey d-flex justify-content-center pt-08rem pb-08rem">
              <div class="row">
                <div class="col-12 text-center">
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" width="20"
                    alt="">
                  <span class="fs-07rem">Unconfirmed/Recommended Fee: {{amountFormatterSimple(fee)}} XPX <br></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 mx-auto">
            <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
              <div class="row">
                <div class="col-12 d-flex align-items-center">
                  <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" width="20"
                    alt="">
                  <span class="fs-07rem">LockFund: 10.000000 XPX <br> Unconfirmed/Recommended Fee: 0.044500 XPX</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- PASSWORD -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <div class="md-form form-sm">
          <img class="form-control-feedback" src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg"
            alt="">
          <input [maxlength]="configurationForm.passwordWallet.maxLength" [minlength]="configurationForm.passwordWallet.minLength"
            formControlName="password" required mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true"
            type="password" id="password" class="form-control form-control-sm input-border" placeholder="Enter Wallet Password">
          <mdb-error *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
            <span>Password Required</span>
          </mdb-error>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto">

        <div class="row">
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
            <button [disabled]="editAccountMultsignForm.status=='DISABLED'" mdbBtn type="button" rounded="true"
              mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem" size="md" (click)="clearForm()">
              <span class="fs-1-2em color-white">Clear</span>
            </button>
          </div>
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
            <button [disabled]="editAccountMultsignForm.invalid || cosignatoryList.length == 0" mdbBtn type="submit"
              rounded="true" mdbWavesEffect class="f-w-600 background-btn pl-2rem pr-2rem" size="md">
              <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                *ngIf="blockSend"></span>
              <span class="fs-1-2em color-white">Send</span>
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Buttons -->
    <div class="row mt-1-5rem">
      <div class="col-11 col-sm-12 col-md-10 col-lg-8 mx-auto">
        <div class="row">
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
            <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md" [disabled]="editAccountMultsignForm.status=='DISABLED'"
              (click)="clearForm()">
              <span class="fs-1-2em color-white">Clear</span>
            </button>
          </div>
          <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
            <button [disabled]="editAccountMultsignForm.invalid || cosignatoryList.length == 0 || editAccountMultsignForm.status=='DISABLED'"
              mdbBtn type="submit" rounded="true" mdbWavesEffect class="btn-proximax" size="md">
              <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true" *ngIf="blockSend"></span>
              <span class="fs-1-2em color-white">Send</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>