<div class="row mt-04rem mr-1rem ml-1rem">
  <!-- Data -->
  <div class="col-12 col-md-7 d-flex align-items-start">
    <div class="row">
      <!-- Type transfer -->
      <div class="col-12 overflow-ellipsis-nowrap">
        <span class="color-dark-green fw-bold fs-2rem">{{mosaicAlias.nameType}}</span>
      </div>

      <!-- Timestamp -->
      <div class="col-12 mt-05rem overflow-ellipsis-nowrap">
        <span class="color-dark-green fs-07rem fw-500">{{mosaicAlias?.timestamp}}</span>
      </div>

      <!-- Fee -->
      <div class="col-12">
        <div class="row">
          <div class="col-3 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-bold fs-1-3rem">Fee: </span>
          </div>
          <div class="col-9 overflow-ellipsis-nowrap">
            <span class="color-dark-green fw-400 fs-1-3rem">{{mosaicAlias.fee}} XPX</span>
          </div>
        </div>
      </div>

      <!-- Namespace Id -->
      <div class="col-12 mt-2rem">
        <div class="row">
          <div class="col-3 overflow-ellipsis-nowrap">
            <span class=" color-dark-green fw-bold fs-08rem">NamespaceId: </span>
          </div>
          <div class="col-9 overflow-ellipsis-nowrap">
            <span class=" color-dark-green fw-400 fs-08rem">
              {{namespaceId}}</span>
          </div>
        </div>
      </div>

      <!-- Namespace Name -->
      <ng-container *ngIf="namespaceName !== ''">
        <div class="col-12">
          <div class="row">
            <div class="col-3 overflow-ellipsis-nowrap">
              <span class=" color-dark-green fw-bold fs-08rem">NamespaceName: </span>
            </div>
            <div class="col-9 overflow-ellipsis-nowrap">
              <span class=" color-dark-green fw-400 fs-08rem">
                {{namespaceName}}</span>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Mosaic Id -->
      <div class="col-12 mt-04rem">
        <div class="row">
          <div class="col-3 overflow-ellipsis-nowrap">
            <span class=" color-dark-green fw-bold fs-08rem">MosaicId: </span>
          </div>
          <div class="col-9 overflow-ellipsis-nowrap">
            <span class=" color-dark-green fw-400 fs-08rem">
              {{mosaicId}}</span>
          </div>
        </div>
      </div>

      <!-- Mosaic Name -->
      <ng-container *ngIf="mosaicName !== ''">
        <div class="col-12">
          <div class="row">
            <div class="col-3 overflow-ellipsis-nowrap">
              <span class=" color-dark-green fw-bold fs-08rem">MosaicName: </span>
            </div>
            <div class="col-9 overflow-ellipsis-nowrap">
              <span class=" color-dark-green fw-400 fs-08rem">
                {{mosaicName}}</span>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
  <!-- Box signer, signature, hash -->
  <div class="col-12 col-md-5" id="boxHashSignerSignature">
    <div class="row gray-color-transparent lh-1em">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <span class="fs-08rem fw-bolder w-w-b-w"><b>Signer:</b></span>
          </div>
          <div class="col-12">
            <span class="fs-07rem fw-bolder w-w-b-w">{{mosaicAlias?.data.signer.publicKey}}</span>
          </div>
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-12">
            <span class="fs-08rem fw-bolder w-w-b-w"><b>Signature:</b></span>
          </div>
          <div class="col-12">
            <span class="fs-07rem fw-bolder w-w-b-w">{{mosaicAlias?.data.signature}}</span>
          </div>
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-12">
            <span class="fs-08rem fw-bolder w-w-b-w"><b>Hash:</b></span>
          </div>
          <div class="col-12">
            <span class="fs-07rem fw-bolder w-w-b-w">{{mosaicAlias?.data.transactionInfo.hash}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
