table,tbody,tr,td {
   // display: block;

   padding: 4px;
   // float: left;
   // clear: both;
   width: 100%

}
.btn-outline-default{
  border: 2px solid #d7b57a !important;
  background-color: transparent !important;
  color: #d5b479 !important
 }

 .btn-outline-default:hover, .btn-outline-default:focus, .btn-outline-default:active, .btn-outline-default:active:focus, .btn-outline-default.active{
  border: 2px solid #d7b57a !important;
  background-color: transparent !important;
  color: #d5b479 !important;
 }
