<div class="container-fluid mt-3rem mb-2rem animated fadeIn">
  <app-header [params]="paramsHeader"></app-header>

  <div class="row">
    <div class="col-11 col-lg-9 mx-auto">
      <div class="row">

        <div class="col-12 col-md-8 justify-content-center">
          <form [formGroup]="mosaicForm" (ngSubmit)="send()">

            <!-- <div class="row mt-1rem">
              <ng-container *ngIf="insufficientBalance">
                <div class="col-12 d-flex justify-content-end">
                  <span class="fs-08rem fw-600 color-error-message">Insufficient balance</span>
                </div>
              </ng-container>
            </div> -->
            <div class="row">
              <div class="col-11 mb-1rem mx-auto box-transparent-border-red" *ngIf="insufficientBalance">
                <div class="txt-a-center">
                  <img src="assets/images/img/icon-restriction-white.svg" style="filter: invert(50%)" alt="" width="30">
                </div>
                <p class="fs-08rem txt-a-center mt-05rem mb-0 lh-1-1em">
                  Insufficient Balance.
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mx-auto">
                <div class="md-form form-sm mt-1rem mb-0rem">
                  <img class="form-control-feedback"
                    src="assets/images/img/icon-namespaces-green-16h-proximax-sirius-wallet.svg" alt="">
                  <input formControlName="divisibility" mdbInputDirective mdbValidate [validateSuccess]="true"
                    [validateError]="true" type="text" id="divisibility" minlength="0" maxlength="1"
                    id="divisibility{{errorDivisibility}}" class="form-control form-control-sm input-border txt-a-right"
                    placeholder="" (keyup)="limitLength($event)">
                  <span class="label-i-icon pl-2rem">Divisibility</span>

                  <!-- VALIDATION -->
                  <mdb-error
                    *ngIf="validateInput('divisibility', '').invalid && (validateInput('divisibility', '').dirty || validateInput('divisibility', '').touched) || invalidDivisibility">
                    <span>Required Field - Only Numbers (0 - 6)</span>
                  </mdb-error>
                </div>
              </div>
              <div class="col-12 mx-auto">
                <div class="md-form form-sm mt-1rem mb-0rem">
                  <img class="form-control-feedback"
                    src="assets/images/img/icon-amount-green-16h-proximax-sirius-wallet.svg" alt="">
                  <input formControlName="deltaSupply" mdbInputDirective mdbValidate currencyMask
                    [options]="optionsSuply" [validateSuccess]="true" [validateError]="true" type="text"
                    id="supply{{errorSupply}}" [maxlength]="maxLengthSupply"
                    class="form-control form-control-sm input-border input-amount" placeholder="Supply">
                  <span class="label-i-icon pl-2rem">Supply</span>

                  <!-- VALIDATION -->
                  <mdb-error
                    *ngIf="validateInput('deltaSupply', '').invalid && (validateInput('deltaSupply', '').dirty || validateInput('deltaSupply', '').touched)">
                    <span>Required Field</span>
                  </mdb-error>
                  <mdb-error *ngIf="invalidSupply">
                    <span>Supply Invalid</span>
                  </mdb-error>
                  <br>
                </div>
              </div>
            </div>

            <!-- FEE -->
            <div class="row">
              <div class="col-12 mx-auto">
                <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
                  <div class="row">
                    <div class="col-12">
                      <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg">
                      <span class="fs-08rem">
                        Unconfirmed/Recommended Fee:&nbsp;
                        <a [innerHTML]="getQuantity(fee)"></a> XPX
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- RENTAL FEE -->
            <div class="row">
              <div class="col-12 mx-auto">
                <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
                  <div class="row">
                    <div class="col-12">
                      <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg">
                      <span class="fs-08rem">
                        Rental Fee:&nbsp;
                        <a [innerHTML]="getQuantity(calculateRentalFee)"></a> XPX
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mx-auto">
                <div class="box-grey pt-1rem pb-1rem d-flex justify-content-center">
                  <div class="row">
                    <div class="col-12">
                      <!-- Transferable -->
                      <mdb-checkbox formControlName="transferable" [inline]="true" class="fs-08rem">Transferable
                      </mdb-checkbox>

                      <!-- Supply Mutable -->
                      <mdb-checkbox formControlName="supplyMutable" [inline]="true" class="fs-08rem">Supply Mutable
                      </mdb-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mx-auto">
                <div class="md-form form-sm mt-1rem mb-0rem">
                  <img class="form-control-feedback"
                    src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
                  <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                    src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
                  <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                    src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
                  <input [maxlength]="configurationForm.passwordWallet.maxLength"
                    [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" required
                    mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" [type]="passwordMain"
                    id="password" class="form-control form-control-sm input-border" placeholder="Enter Wallet Password">

                  <!-- VALIDATION -->
                  <mdb-error
                    *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                    <span>Password Required</span>
                  </mdb-error>
                </div>
              </div>
            </div>

            <!-- BUTTONS -->
            <div class="row pt-1rem">
              <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
                <button [disabled]="insufficientBalance" mdbBtn type="button" rounded="true" mdbWavesEffect
                  class="btn-proximax" size="md" (click)="clearForm()">
                  <span class="fs-1-2em color-white">Clear</span>
                </button>
              </div>

              <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                <button mdbBtn type="submit" rounded="true"
                  [disabled]="!mosaicForm.valid || blockButton || invalidSupply" mdbWavesEffect class="btn-proximax"
                  size="md">
                  <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                    *ngIf="blockSend"></span>
                  <span class="fs-1-2em color-white">Create</span>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-11 col-md-4 description-p-module mt-1-5rem mb-2rem">
          <div>
            <span class="fs-08rem">Maximum divisibility is 6.<br></span>
            <span class="fw-600 fs-08rem">Example: 0.000000</span>
          </div>

          <div class="mt-08rem">
            <span class="fs-08rem"> Maximum supply is 9B.<br></span>
            <span class="fw-600 fs-08rem">Example: 9,000,000,000</span>
          </div>

          <div class="mt-08rem">
            <span class="fs-08rem"> If you tick "Transferable", mosaic can be transferred.</span>
          </div>

          <div class="mt-08rem">
            <span class="fs-08rem"> If you tick "Supply Mutable", supply can be changed.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>