<div class="row">
  <div class="col-12">
    <div class="row">

      <div class="col-12 lh-1em mt-05rem">
        <span class="fw-600 fs-1-2rem">{{addressAlias.nameType}}</span> <br>
        <span class="fs-075rem">Deadline: {{addressAlias?.timestamp}}</span>
      </div>

      <!-- Fee -->
      <div class="col-12 mt-1rem">
        <span class="fw-600 fs-095rem">Fee:&nbsp;&nbsp;</span>
        <span class="fs-095rem fw-600 color-blue-light">{{addressAlias?.feePart.part1}}</span>
        <span class="fs-075rem fw-600 color-blue-light">{{addressAlias?.feePart.part2}}</span>
        <span class="fs-095rem fw-600 color-blue-light"> XPX </span>
        <img class="icono" src="assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg">
      </div>

      <!-- Height -->
      <ng-container *ngIf="addressAlias?.data.transactionInfo.height">
        <div class="col-12 mt-04rem">
          <span class="fw-600 fs-08rem">Height:&nbsp;&nbsp;</span>
          <span class="fs-07  5rem">{{addressAlias?.data.transactionInfo.height.compact()}}</span>
        </div>
      </ng-container>

      <!-- Type -->
      <div class="col-12 mt-04rem">
        <span class="fw-600 fs-08rem">Type:&nbsp;&nbsp;</span>
        <span class="fs-065rem">{{addressAlias?.data['type'].toString(16).toUpperCase()}}</span>
      </div>

      <!-- Action -->
      <div class="col-12 mt-04rem">
        <span class="fw-600 fs-08rem">Action:&nbsp;&nbsp;</span>
        <ng-container *ngIf="addressAlias?.data['actionType'] === undefined">
          <span class="fs-075rem green-c">Link</span>
        </ng-container>

        <ng-container *ngIf="addressAlias?.data['actionType'] !== undefined">
          <span class="fs-075rem color-red">Unlink</span>
        </ng-container>
      </div>

      <!-- Address -->
      <div class="col-12 mt-04rem">
        <span class="fw-600 fs-08rem">Address:&nbsp;&nbsp;</span>
        <span class="fs-065rem">{{addressAlias?.data['address'].pretty()}}</span>
      </div>

      <!-- Namespace Id -->
      <div class="col-12 mt-04rem">
        <span class="fw-600 fs-08rem">Namespace Id:&nbsp;&nbsp;</span>
        <span class="fs-075rem">{{namespaceId}}</span>
      </div>

      <!-- Namespace Id -->
      <ng-container *ngIf="namespaceName !== ''">
        <div class="col-12 mt-04rem">
          <span class="fw-600 fs-08rem">Namespace name:&nbsp;&nbsp;</span>
          <span class="fs-075rem">{{namespaceName}}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>