<ng-container *ngIf="accountToSwap && !showCertifiedSwap;">
  <div class="container mt-3rem mb-2rem animated fadeIn">

    <!-- HEADER -->
    <div class="row">
      <div class="col-12 col-md-11 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 col-md-6 d-flex align-items-end">
            <span class="fs-1rem txt-a-center line-h-1-2em color-grey">Mainnet Swap&nbsp;</span>
            <span class="fs-1rem txt-a-center line-h-1-2em color-grey">></span>
            <span class="fs-1rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">&nbsp;Swap Process</span>
          </div>

          <!-- Go Back -->
          <ng-container *ngIf="showBtnBack">
            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
              <span class="fs-09rem fw-600 txt-a-center line-h-1-2em color-blue-intermedio">
                <a class="color-blue-intermedio" [routerLink]="[goToBackRoute]">
                  <span>{{nameBtnBack}}</span>
                </a>
              </span>
            </div>
          </ng-container>
        </div>

        <div class="row">
          <div class="col-12">
            <hr class="mt-03rem mb-05rem">
          </div>
        </div>
      </div>
    </div>

    <!-- TITLE AND DESCRIPTION -->
    <div class="row">
      <div class="col-11 d-flex justify-content-center pt-2rem">
        <span class="fs-1-2rem fw-500 txt-a-center line-h-1-2em color-black">NIS1 Account Selected</span>
      </div>
    </div>

    <!-- ACCOUNT SELECTED -->
    <div class="row">
      <div class="col-11 col-md-10 col-lg-9 mx-auto">
        <div class="row">
          <div class="col-12 mx-auto box-grey p-1rem">
            <div>
              <span class="color-black fw-bold" *ngIf="!isMultisig">Account Name:&nbsp;</span>
              <span class="color-black fw-bold" *ngIf="isMultisig">Multisig Of:&nbsp;</span>
              <span>{{accountToSwap.nameAccount}}</span>
            </div>
            <div>
              <span class="color-black fw-bold">NIS1 Address:&nbsp;</span>
              <span>{{accountToSwap.address.pretty()}}</span>
            </div>
            <div>
              <span class="color-black fw-bold">NIS1 Balance:&nbsp;</span>
              <ng-container *ngIf="accountToSwap.balances.length > 1"><br></ng-container>
              <ng-container *ngFor="let balance of accountToSwap.balances; let i = index">
                <img src="./assets/images/img/icon-prx-xpx-green-16h-proximax-sirius-wallet.svg" width="20px"
                  alt="logo">
                <span [innerHTML]="getQuantity(balance.amount)"></span>
                <span class="fw-600"> {{balance.assetId.namespaceId}}:{{balance.assetId.name}}</span>
                <ng-container *ngIf="accountToSwap.balances.length > 1"><br></ng-container>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row mt-1rem" *ngIf="isMultisig && !isLogged || isLogged && isMultisig && listContacts.length === 1">
          <div class="col-12 lh-1em">
            <div>
              <span class="fw-bold">Account that will receive swap transfer:&nbsp;</span>
            </div>
            <div>
              <span class="fs-08rem">{{accountToSwap.accountCosignatory.address.pretty()}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-1rem">
      <div class="col-11 col-md-10 col-lg-9 mx-auto">
        <form [formGroup]="formTransfer" (ngSubmit)="createTransaction()" class="mx-auto">
          <div class="row">
            <!-- ACCOUNT TO SWAP -->
            <ng-container *ngIf="isLogged && isMultisig && listContacts.length > 1">
              <div class="col-12 mx-auto mt-1rem">
                <ng-select mdbInputDirective mdbValidate class="selectWrapper" [items]="listContacts" bindLabel="label"
                  bindValue="value" placeholder="Select account that will receive swap transfer"
                  (change)="selectContact($event)">
                </ng-select>
              </div>

              <div class="col-12 mx-auto">
                <div class="md-form form-sm mt-1rem mb-0rem">
                  <img class="form-control-feedback"
                    src="assets/images/img/icon-address-green-book-16h-proximax-sirius-wallet.svg" alt="" width="43"
                    height="43">
                  <input mdbInputDirective mdbValidate [validateSuccess]="true" readonly [validateError]="true"
                    type="text" class="form-control form-control-sm input-border" style="border: 2px solid #7D1416;"
                    placeholder="Account Selected" formControlName="accountRecipient">
                </div>
              </div>
            </ng-container>

            <!-- TITLE SWAP AMOUNT -->
            <div class="col-12 d-flex justify-content-center pt-1rem">
              <span class="fs-1-2rem fw-500 txt-a-center line-h-1-2em color-black">Swap Amount</span>
            </div>

            <!-- RADIO BUTTON SELECT MOSAIC -->
            <ng-container *ngIf="accountToSwap.balances.length > 1">
              <div class="col-12 d-flex justify-content-center pt-1rem">
                <ng-container *ngFor="let balance of accountToSwap.balances; let i = index">
                  <div class="form-check form-check-inline">
                    <input (change)="mosaicChanged(balance)" [(ngModel)]="mosaic"
                      value="{{balance.assetId}}"
                      [ngModelOptions]="{standalone: true}" type="radio" class="form-check-input"
                      id="{{balance.assetId.namespaceId}}:{{balance.assetId.name}}" name="materialExampleRadios"
                      mdbInput>
                    <label class="form-check-label" for="{{balance.assetId.namespaceId}}:{{balance.assetId.name}}">
                      {{balance.assetId.namespaceId}}:{{balance.assetId.name}}
                    </label>
                  </div>
                </ng-container>
              </div>
            </ng-container>

            <!-- INPUT AMOUNT TO SWAP -->
            <div class="col-12 mx-auto">
              <div class="md-form form-sm mt-1rem mb-0rem">
                <img class="form-control-feedback"
                  src="assets/images/img/icon-amount-green-16h-proximax-sirius-wallet.svg" alt="">
                <input pattern="^[+]?([0-9]*[.])?[0-9]+$" currencyMask [options]="optionsXPX" mdbInputDirective
                  mdbValidate [validateSuccess]="true" id="amount{{errorAmount}}" [validateError]="true" type="text"
                  class="form-control form-control-sm input-border input-amount" placeholder="Enter Amount"
                  formControlName="amount" [maxlength]="maxAmount">
                <span class="label-i fw-600 text-cl-m cursor-p pl-2rem" (click)="selectMaxAmount()">Use Max</span>
              </div>
              <mdb-error *ngIf="insufficientBalance">
                <div class="errorText">
                  <span class="fs-08rem color-error-message">Insufficient balance</span>
                </div>
              </mdb-error>
              <mdb-error *ngIf="amountZero">
                <div class="errorText">
                  <span class="fs-08rem color-error-message">Cannot enter amount zero</span>
                </div>
              </mdb-error>
            </div>


            <!-- WALLET PASSWORD -->
            <div class="col-12 mx-auto mb-2rem">
              <div class="md-form form-sm mt-1rem mb-0rem">
                <img class="form-control-feedback"
                  src="assets/images/img/icon-password-green-16h-proximax-sirius-wallet.svg" alt="">
                <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                  src="assets/images/img/icon-show-hide-password.svg" *ngIf="passwordMain === 'password'">
                <img class="form-control-feedback-eye cursor-p" (click)="changeInputType(passwordMain)"
                  src="assets/images/img/icon-show-hide-password-grey.svg" *ngIf="passwordMain === 'text'">
                <input [maxlength]="configurationForm.passwordWallet.maxLength"
                  [minlength]="configurationForm.passwordWallet.minLength" formControlName="password" required
                  mdbInputDirective mdbValidate [validateSuccess]="true" [validateError]="true" [type]="passwordMain"
                  id="password" class="form-control form-control-sm input-border" placeholder="Enter Wallet Password">

                <!-- VALIDATION -->
                <mdb-error
                  *ngIf="validateInput('password', '').invalid && (validateInput('password', '').dirty || validateInput('password', '').touched)">
                  <span>Password Required</span>
                </mdb-error>
              </div>
            </div>
          </div>
          <!-- END ACCOUNT LIST -->

          <!-- BOX SWAP PROCESS -->
          <div class="row">
            <div class="col-12 mx-auto">
              <div class="row">
                <div class="col-12 mb-1rem mx-auto box-transparent-border-orange mx-auto">
                  <div class="txt-a-center">
                    <img src="assets/images/img/icon-transaction-unconfirmed-white.svg" style="filter: invert(50%)"
                      alt="" width="30">
                  </div>
                  <p class="fs-08rem txt-a-center mt-05rem mb-0 lh-1-1em">
                    Swap process may take several hours to complete. If you wish to proceed, you will receive a
                    certificate containing your transaction hash for your records.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- BUTTON -->
          <div class="row mt-05rem">
            <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
              <button mdbBtn type="button" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
                [routerLink]="[routeGoHome]">
                <span class="color-white">Maybe Later</span>
              </button>
            </div>

            <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
              <button mdbBtn type="submit" rounded="true" mdbWavesEffect class="btn-proximax" size="md"
                (click)="spinnerVisibility = true" [disabled]="blockButton || !formTransfer.valid">
                <span class="spinner-border spinner-border-sm text-light mr-sm-2" role="status" aria-hidden="true"
                  *ngIf="processing"></span>
                <span class="color-white">Yes, Swap</span>
              </button>
            </div>
          </div>
          <!-- END BUTTON -->
        </form>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showCertifiedSwap">
  <app-swap-certified [transactionNis1]="transactionNis1" [routeContinue]="routeContinue"></app-swap-certified>
</ng-container>
